[2020-10-29 19:10] pmlopes commented on #1753
Fixed by #1754

[2020-10-29 19:10] pmlopes commented on #1753
That's good, thank you!

[2020-10-29 19:10] #1753 closed

[2020-10-29 19:31] pmlopes opened #1756 "Junit5 tests aren't detected on java8"
Tests using junit5 aren't detected on java8:

@jponge Can you investigate why?

[2020-10-30 12:13] pmlopes commented on #1756
fixed by https://github.com/vert-x3/vertx-web/commit/7984007a86c42d924a546b8a9b81490febf73525

[2020-10-30 12:13] #1756 closed

[2020-10-30 14:40] jponge commented on #1756
I like it when a fix comes before I get a chance to investigate 😆

[2020-10-31 01:15] ex34toway opened #1758 "Vert.x Session issue set-cookie header at per request after session.regenerateId() method invoked"
### Questions

Vert.x Session issue set-cookie header at per request after session.regenerateId() method invoked

### Version

4.0.0.Beta3

### Context

final User user = res.result();
ctx.setUser(user);
if (session != null) {
    session.regenerateId();
    String returnUrl = session.remove(returnURLParam);
    if (returnUrl != null) {
        ResponseUtils.success(ctx, new JsonObject().put("retu

[2020-10-31 14:35] pmlopes commented on #1758
Indeed on flush we should set the control flags and counters like if the data was just loaded from the store.

[2020-10-31 14:42] pmlopes commented on #1748
Session stores are not expected to be transactional. In 4 we have added a new api method: `flush` that can be called by the user and will await for the data to be persisted to the store.

If you have a transactional store then you can handle it at the store, rollback or recover on error.

Perhaps the improvement we can do, is to document this example.

As a good exercise or a pull request from the

[2020-11-02 09:28] pmlopes commented on #1758
@ex34toway I'm having trouble to reproduce your case, can you share a simple project showing the bug?

[2020-11-02 13:02] ex34toway commented on #1758
1. Run the code:
public class HttpVerticleTest extends AbstractVerticle {
    public static void main(String[] args) {
        Launcher.main(new String[] { "run", HttpVerticleTest.class.getName()});
    }

    @Override
    public void start() throws Exception {
        final Router router = Router.router(vertx);

        final SessionHandler sessionHandler =
            SessionHandler.create(Loca

[2020-11-02 18:06] tsegismont commented on #1740
Thanks for letting us know @glassfox

[2020-11-02 18:06] #1740 closed

[2020-11-03 11:20] tsegismont commented on #1742
@pnsantos would you mind sending a PR for the fix?

[2020-11-03 14:19] #1758 closed

[2020-11-03 15:15] pmlopes commented on #1494
@cpdyj could you review the PR above? Like I commented before, having a method with charset is possible, but for consistency of behavior it's decoded value shall not be cached.

[2020-11-03 15:37] cpdyj commented on #1494
Although I think the code has no problem. But I preserve my opinion ( I will try to make another or for that(

[2020-11-03 16:08] pmlopes commented on #1494
Sure, I've prototyped it for discussion. The key takeaway from it is that it should be as backwards compatible as possible.

So users migrating to 4 will not observe strange behavior for something that worked before.

[2020-11-03 16:19] cpdyj commented on #1494
I agree with you. Keep compatible is important ( I will follow it.

[2020-11-04 09:46] pnsantos commented on #1742
@tsegismont done (after messing about with signatures and CLAs I was able to do it commit ended up with two identities - need to create a GPG for this account...).

I hope the solution was the right one :+1:

[2020-11-04 09:56] #1742 closed

[2020-11-04 16:26] SubhamSinghal opened #1766 "FileNotFoundException on MultipartForm Upload"
### Version

3.9.4

### Context

I am trying to upload 2 file as MultipartForm request.
Code
`
              MultipartForm form = MultipartForm.create()
				.textFileUpload("name1", "file1.json",
						"path/file1.json", "application/json")
				.textFileUpload("name2", "file2.json",
						"path/file2.json", "application/json");

		Handler<AsyncResult<HttpResponse>> respHandler = new Handler<AsyncR

[2020-11-04 18:50] #1766 closed

[2020-11-04 18:50] SubhamSinghal commented on #1766
Found out the issue.

[2020-11-05 02:43] jay763190097 opened #1767 "When I query something, it thow an error.java.lang.UnsupportedOperationException: Authentication type 10 is not supported in the client"
dao.findAdminByUsername(username)
[code]

[2020-11-06 05:59] cpdyj commented on #1494
😢 I want to add a method decode it in binary. But looks Vertx use Netty's QueryStringDecoder. And QSD not provide support for it. What should I do? Implement by myself or try to pr for netty?

[2020-11-06 11:31] slinkydeveloper commented on #1205
Ping @pmlopes, is this still relevant?

[2020-11-06 11:32] slinkydeveloper commented on #1269
I think this is solved, right? @pmlopes

[2020-11-06 11:43] lukehutch commented on #1205
Incidentally `computeIfAbsent` is even more useful than `putIfAbsent`, since the former can be used with a `new` constructor reference, ensuring that unnecessary objects are not created, i.e. `Item x = map.computeIfAbsent(key, k -> Item::new);`.

[2020-11-06 12:17] pmlopes commented on #1269
yes. This is fixed, we can do `and` and `or` relations

[2020-11-06 12:17] #1269 closed

[2020-11-06 13:34] #1416 closed

[2020-11-06 19:02] pmlopes commented on #1494
@cpdyj why isn't iso8859-1 safe? It's ascii latin1 so it covers the full range of a byte. Sure it wraps in a string and internally it's wasting space and doing a `getBytes(ISO_8859_1)` should return non corrupted data. Like in the poc PR.

[2020-11-09 10:21] #1579 closed

[2020-11-09 12:31] paulswithers opened #1772 "JsonBodyProcessorImpl, Content-Type but no body"
### Version

4.0.0.CR1

### Context

I encountered an error 500 when processing a request with Content-Type as "application/json" but no body. The handlers use an OpenAPI spec and `io.vertx.ext.web.openapi.RouterBuilder`. The code is going into `io.vertx.ext.web.validation.impl.body.JsonBodyProcessorImpl`. Line 29 is trying to decode the body as JSON https://github.com/vert-x3/vertx-web/blob/6f0de

[2020-11-10 13:31] #1772 closed

[2020-11-11 01:02] doctorpangloss opened #1774 "toWebSocket() throws "Request has already been read" if it is called at any time after the first event loop's take on the HTTP request"
### Version

4.0.0.CR1

### Context

WebSockets will throw on the server for patterns like:

[code]

Observe `ctx.next()` is called at the right place.

The issue seems to be here:

[code]

`msg == LastHttpContent.EMPTY_LAST_CONTENT` is `true` because a `EMPTY_LAST_CONTENT` message is "received" (?) shortly after the wait for the `runOnContext `task.

This behavior was not the case in 3.9.4.

###

[2020-11-11 15:22] #1205 closed

[2020-11-11 16:27] #1774 closed

[2020-11-11 23:27] lukehutch commented on #1205
Awesome, thanks!

[2020-11-12 07:55] pmlopes commented on #1205
I didn't add a `computeIfPresent` because ATM `BiFunction` is not an allowed codegen type. If that is really needed, first codegen must be enhanced to allow it (I don't think it should be extremely complicated as Function is already there) and then we can add it here too.

[2020-11-13 12:16] vietj opened #1775 "Add GraphQL missing CI"
The new GH action for CI provides a vanilla build for Java 8/11.

The GraphQL job needs to be adapted and ported to the script.

[2020-11-15 03:44] anyahelene opened #1776 "SessionHandler doesn't set SameSite cookie attribute when regenerating session id"
#1531 changed the SessionHandler so that it sets the desired [SameSite](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite) policy on the session cookie:

[code]

However, `setSameSite` is missing from the [code that updates the session cookie](https://github.com/vert-x3/vertx-web/blob/042a441ff823b122b83531581ef1c6b307bb6882/vertx-web/src/main/java/io/vertx/ext/web/hand

[2020-11-16 10:46] tsegismont commented on #1775
Fixed in `master`. Also added a job for SockJS writeHandler tests.

[2020-11-16 10:46] #1775 closed

[2020-11-16 11:17] #1776 closed

[2020-11-16 11:19] pmlopes commented on #1767
You're reporting a bug on the wrong project, this should be reported at:

https://github.com/eclipse-vertx/vertx-sql-client

The error is coming from the postgres driver, not from the web framework.

[2020-11-16 11:22] pmlopes commented on #1473
The issue is to be handled in core, so closing this.

[2020-11-16 11:22] #1473 closed

[2020-11-17 03:36] aomsweet opened #1777 "WebClient set proxy server."
#### Describe the feature

Currently, the Webclient can only set a proxy server when it is created. But in some applications, such as: IP proxy connection pool application. This will become very difficult because the same number of WebClients need to be created; and the IP proxy server is sometimes unavailable.

[2020-11-17 11:35] vietj opened #1778 "HTTP server file upload cleanup fail to delete"
The HTTP server file upload cleanup mechanism implemented in `BodyHandler` can fail to delete uploaded files because it does not ensure that the file upload is finished before deleting the file. Fixing this in vertx-web would bring lot of complexity and instead this has been implemented in vertx-core HTTP server file upload that will delete any stream not successfully completed.

[2020-11-17 11:39] aomsweet opened #1780 "Allow custom Proxy-Authorization header when CONNECT request."
#### Describe the feature

Create an HttpRequest and add the `Proxy-Authorization` header, but the proxy server cannot get the Proxy-Authorization header value when `CONNECT` request. Because webClient only supports username and password authentication to connect to the proxy server.

[code]

[2020-11-17 13:10] #1778 closed

[2020-11-17 13:11] vietj opened #1781 "Apollo link GitHub action failure"
The action seems to fail whatsoever.

https://github.com/vert-x3/vertx-web/runs/1412047549?check_suite_focus=true

[2020-11-17 15:01] vietj commented on #1781
The issue was due to the Apollo link IT downloading vertx-web snapshots instead of installing them before running the server

[2020-11-17 15:01] #1781 closed

[2020-11-18 09:02] pmlopes commented on #1780
@aomsweet the current API, allows something like:

[code]

I think we should have a second method:

[code]

That uses: `Proxy-Authorization` as the header instead of `Authorization`

Using the credentials object means it will cover the `Basic`, 'Digest`, `Bearer` out of the box and with custom implementation, also the remaining IANA schemes.

The Fix is simple (add the method to the interface + im

[2020-11-18 09:26] aomsweet commented on #1780
@pmlopes

Thanks for your suggestions and help, I will try to complete this feature and make a pull request.

[2020-11-18 11:16] aomsweet commented on #1777
hi. @pmlopes

[2020-11-18 11:17] aomsweet commented on #1777
hi @pmlopes

Do you have any good suggestions? Is it possible to achieve without violating the design principles?

thanks.

[2020-11-18 11:21] aomsweet commented on #1777
I refer to httpclient and okhttp. They can't change the proxy server. So I guess this feature may violate some principles?

[2020-11-18 13:16] u6f6o opened #1782 "Header fields are not case-insensitive if specified in openapi3 configuration"
### Version

io.vertx:vertx-web-openapi:4.0.0.CR1

### Context

According to https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2, header field names must be case-insensitive. This is not the case though if you specify the Authorization header in the openapi3 configuration file, using the vertx-web-openapi library.

### Do you have a reproducer?

Yes: https://github.com/u6f6o/vertx-web-op

[2020-11-18 13:24] u6f6o commented on #1782
I added another field to the specification (Foo) and it's the same behaviour for this field.

[2020-11-18 13:48] slinkydeveloper commented on #1782
@u6f6o May I ask why are you specifying the Authorization header as request parameter more than as a security requirement?

[2020-11-18 14:22] u6f6o commented on #1782
@slinkydeveloper : Our vertx services are not reachable from the outer world as we use a nginx reverse proxy to verify jwts etc. We decided to not verify the jwt again in the service itself and because of that, I decided back in the days to define it as a "normal" header. Might reconsider this decision though, thx bringing it up!

[2020-11-18 14:41] slinkydeveloper commented on #1782
Yep that was my concern, If you already checked it somewhere probably you don't need to check it here too...

Yeah I think so, seems also an important one.

[2020-11-18 17:10] slinkydeveloper commented on #1782
@u6f6o can you check the #1783?

[2020-11-18 17:52] u6f6o commented on #1782
@slinkydeveloper : wow, that was fast. Yes, will check it 👍

[2020-11-18 19:12] u6f6o commented on #1782
@slinkydeveloper: I built a fat jar on the branch issues/1872 and tested the headers - it worked in all different combinations  👍

[2020-11-18 20:12] #1782 closed

[2020-11-19 06:25] zluo01 opened #1784 "Unexpected result from context.user() with JWTAuthHandler"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

4.0.0 CR1

### Context

Before 4.0.0 CR1, JWTAuthHandler within router handler returns proper Json result for user like

[code]

However, when upgrade to 4.0.0 CR1, the user json object will only be

[code]

I

[2020-11-19 08:03] pmlopes commented on #1784
@zluo01 this is the result of:

https://github.com/vert-x3/vertx-auth/commit/d0591a86d958580e6248383ddf15f2a6e6318ae9

However for the time being the "old" behaviour has been restored on JWT

https://github.com/vert-x3/vertx-auth/commit/091df83b60fc531ef862003b2486710933fcb005

So, in the next releases it shall work but you're advised to see the new code.

The decoded token should now be accessed

[2020-11-19 08:03] #1784 closed

[2020-11-19 22:08] bmatissek opened #1785 "[Web OpenAPI] - UUID format string validation exception"
### Version

4.0.0.CR1 - vertx-web-openapi

### Context

The creation of a Router using `vertx-web-openapi` throws an exception when encountering the `uuid` format for a string. I've seen that this has been discussed and addressed in the past in #1003 and #1035 for `vertx-web-api-contract`, however it does not hold for `vertx-web-openapi`.

### Do you have a reproducer?

https://github.com/bmatiss

[2020-11-20 07:48] slinkydeveloper commented on #1785
@bmatissek can you check this out? https://github.com/vert-x3/vertx-web/issues/1785

[2020-11-21 21:35] hradecek commented on #1751
For a new module `vertx-web-openapi`, I have created PR https://github.com/vert-x3/vertx-web/pull/1787 for the new module `vertx-web-openapi` using route's `Route#order` [1], which should place the most specific routes before the less specific routes, which makes them match first (order = number of params).

[1] https://vertx.io/docs/vertx-web/js/#_route_order

[2020-11-22 07:19] pmlopes opened #1788 "review handlers for async calls"
Handlers that perform asynchronous calls need to be checked if they affect protocol upgrades. In 3.* upgrade was a blocking call now it isn't. This means that a asynchronous call can make core skip the body processing or upgrade.

This should be critical to security related handlers which are usually mounted early in the chain.

[2020-11-23 09:02] tsegismont opened #1789 "GraphQL-Java 16 upgrade"
Check compatibility and upgrade to GraphQL-Java 16

[2020-11-23 10:12] #1785 closed

[2020-11-24 14:17] mabdelfattahm opened #1792 "RouterBuilder fails to create using local files"
### Version

4.0.0.CR2

### Context

I encountered the following exception while trying to create a router based on a local OpenAPI specification file on my Windows 10 machine

[code]

### Extra

I am using a Windows 10 machine using Kotlin 1.4.10 and building to a JVM target 11

[2020-11-24 15:29] slinkydeveloper commented on #1792
Can you provide a reproducer for that?

[2020-11-24 16:36] mabdelfattahm commented on #1792
https://github.com/mabdelfattahm/vertx-router-fail-demo

[2020-11-25 08:43] zenios commented on #1789
16.1 was release today as well.I did a quick compatibility check on my projects and it seems it works fine

[2020-11-25 09:28] tsegismont commented on #1789
Would you mind providing a PR ?

[2020-11-26 07:41] vietj opened #1793 "OpenAPIHolderTest failure on windows"
The following tests are disabled on windows CI:

- loadFromFile
- loadFromFileLocalRelativeRef

[code]

[2020-11-26 07:43] vietj opened #1794 "Redis session store CI on Windows"
It is currently disabled on Windows due to issue with Docker.

[2020-11-26 08:19] vietj commented on #1792
@mabdelfattahm we ported the CI to run on Windows and we fixed this issue that was also happening with local tests, see https://github.com/vert-x3/vertx-web/commit/765fe174ae67fc80b1f7a84cb65dcd3941f54cd6

[2020-11-26 08:19] vietj commented on #1792
can you check with latest master ?

[2020-11-26 08:19] #1792 closed

[2020-11-26 11:21] DemonicTutor opened #1797 "OpenAPI3RouterBuilder with BodyHandler and AuthenticationHandler using HTTP2 cause "java.lang.IllegalStateException: Request has already been read""
### Version

4.0.0.CR2  (caused by this commit https://github.com/vert-x3/vertx-web/commit/937d1e73bda0e90789a9ced17ec2c5a800bdbf0b)

### Context

Using RouterBuilder (swagger file) with HttpServer and ALPN (HTTP2)

### Do you have a reproducer?

https://github.com/DemonicTutor/vertx-web-openapi-http2

### Steps to reproduce

1. Router using RouterBuilder and swagger API definition
2. Authenticati

[2020-11-26 15:41] vietj opened #1798 "Route#respond method should adapt the response content type to the object class"
The implementation of `Route#respond` method will always encode the future result as a JSON payload. When a Buffer is returned then it's base 64 encoded.

Instead we should adapt the type to the object type:

1. buffer : use the buffer as body response and use content type `application/octet-stream` ?
2. string : encode the string and assume it is HTML ?
3. any other should be encoded with JSON#en

[2020-11-26 15:53] pmlopes commented on #1798
@vietj @slinkydeveloper

I propose the following rules:

[code]

Plus we can have the defaults overridden with:

[code]

WDYT?

[2020-11-26 19:31] pmlopes commented on #1798
@vietj here's a less *magic* alternative:

https://github.com/vert-x3/vertx-web/compare/poc/1798

[2020-11-27 08:26] mabdelfattahm commented on #1792
Tested and works fine now

[2020-11-27 11:29] slinkydeveloper commented on #1798
@pmlopes I think we can take both approaches: the rules you proposed are good as defaults, then the user can specify the `ResponseType` for more control.

I disagree with allowing overriding the defaults, if the user don't like the defaults i prefer he/she ends up writing its own `ResponseType` thingy

[2020-11-27 11:46] vietj commented on #1798
we should try by using BodyCodec instead of ResponseTime, because this is
more or less the same.

On Thu, Nov 26, 2020 at 8:31 PM Paulo Lopes <notifications@github.com>
wrote:

[2020-11-27 16:01] pmlopes commented on #1798
I'm looking at `BodyCodec` and it's not that trivial, we need 2 methods:

[code]

Adding the content type is trivial, we add the method and add it the the implementation constructor but there is a problem. HTTP content type header serves 2 purposes:

* content type
* charset

Currently the body codec only deals with charset for String bodies.

Another issue is that the current codecs:

* String
*

[2020-11-27 20:27] vietj commented on #1798
do you mean that

- for 4.0 we fix the current respond method so that it adapts the encoding
according to the type of the object.

- for 4.1 we improve the BodyCodec so we have a respond method with a
BodyCodec argument

?

On Fri, Nov 27, 2020 at 5:02 PM Paulo Lopes <notifications@github.com>
wrote:

[2020-11-28 19:06] pmlopes commented on #1798
@vietj yes.

[2020-11-30 14:49] slinkydeveloper commented on #1797
@pmlopes can you check this one?

[2020-11-30 14:57] slinkydeveloper commented on #1798
`String` is kinda an edge case... It might be `text/plain`, `text/json`, `application/json`, ... For sure, we shouldn't allow `none` as content type.

I like the plan of reworking `BodyCodec` later.

[2020-11-30 18:21] pmlopes commented on #1798
I've updated the javadoc to follow this discussion. In 4.1 we will rework the body codec.

[2020-11-30 18:21] pmlopes commented on #1798
See https://github.com/vert-x3/vertx-web/commit/d0876a9e340fe91d55ad2a258e9ffbea7b136e1f

[2020-12-01 10:34] #1788 closed

[2020-12-01 14:50] #1616 closed

[2020-12-01 14:54] pmlopes commented on #1616
In 4.0.0 we have added automatic modules on most components, for the reproducer to work with the latest code this is the required `module-info.java`:

[code]

[2020-12-03 09:05] zenios opened #1799 "Response predicate"
If we set a ResponsePredicate as .expect(ResponsePredicate.JSON)

and the response is application/json; charset=UTF-8

The the promise fails with the following exception

Expect content type application/json; charset=UTF-8 to be one of application/json

[2020-12-03 10:06] tsegismont commented on #1799
Duplicates #1583 1583

[2020-12-03 10:06] #1799 closed

[2020-12-03 10:54] #1583 closed

[2020-12-04 11:51] zhoudingyun opened #1804 "I have a question about unified exception capture."
### Version
Vertx -> 4.0.0.RC2

    public void start() throws Exception {
        // 创建路由
        Route route = Route.getInstance(vertx, config());
        Router router = route.create();
        router.route().failureHandler(a->{
                **// Only the exception of similar to get method can be caught here,
                // How to uniformly handle exceptions similar to post methods？**

[2020-12-04 14:06] #1789 closed

[2020-12-05 14:19] #1494 closed

[2020-12-07 20:36] vietj commented on #1797
I like your GitHub handle @DemonicTutor :-)

[2020-12-08 09:14] aomsweet opened #1806 "The sendXX method of HttpRequest should be fluent."
#### Describe the feature

[code]

The current interface definition is not used **fluently**.  Is it possible to add the following methods and keep the original definitions to provide better compatibility?

[code]

#### Contribution

I can create a PR for this if possible.

[2020-12-08 09:36] DemonicTutor commented on #1797
@vietj thanks... played a lot [WotC - Magic the Gathering](https://static.cardmarket.com/img/a831528c54b99c06949089f8e79959a7/items/1/JR/428076.jpg) when in school :)

[2020-12-08 14:58] vietj commented on #1806
I don't think it's needed, because `send` is a final method that you call last so you don't need fluency here

[2020-12-08 14:59] vietj commented on #1806
i.e after calling send you should not call anymore a method.

[2020-12-08 15:00] vietj commented on #1797
only a few picked a nickname after a (powerful) card :-)

On Tue, Dec 8, 2020 at 10:37 AM DemonicTutor <notifications@github.com>
wrote:

[2020-12-08 16:17] vietj commented on #1806
you are right, so this is possible with Vert.x 4

On Tue, Dec 8, 2020 at 4:25 PM aomsweet <notifications@github.com> wrote:

[2020-12-08 19:23] DemonicTutor commented on #1797
Haven't met a BlackLotus yet :)

[2020-12-09 02:25] aomsweet commented on #1806
@vietj  ☕

[2020-12-09 02:46] aomsweet commented on #1806
@vietj  I checked the mater branch, Vertx 4 is already supported.

[2020-12-09 03:05] #1806 closed

[2020-12-09 04:07] aomsweet opened #1808 "Overloaded method sendStream must have the same return type"
### Version

vertx: 3.9.4

### Context

I added the `default Future<HttpResponse<T>> sendStream(ReadStream<Buffer> body)` method to the 3.9 version of the `HttpRequest` class to synchronize `4.0`. But I get an error when executing the `mvn package`.

[code]

[code]

[code]

[2020-12-09 07:01] slinkydeveloper commented on #1804
Did you tried the feature `router#errorHandler`?

[2020-12-09 08:53] vietj commented on #1808
we will not add this method in 3.9, future methods are only for 4.0

[2020-12-09 08:53] #1808 closed

[2020-12-09 15:27] kamesh1677 opened #1810 "Memory Leak observed in vertx 3.9.1 version"
### Questions

Hi Team,

Following use case has been performed.

Load test with 50 concurrent users for 1 hour for 3 cycles.

Load test involves following functionalities  :

insert record, get record.

Insert record pay load has an image which will converted to based64 of size 1 MB and inserted to db (postgres)

fetch the same record after insertion successful.

### Version

vertxVersion = '3.9.1

[2020-12-09 16:21] fedinskiy opened #1811 "GraphQL fails on a serialization of special float values"
### Version
3.9.5

### Context

When a Graphql server tries to return a special float value(NaN or one of the Infinites), it fails with the exception "Expected type 'Float' but was 'Float'."

### Do you have a reproducer?
https://github.com/vert-x3/vertx-web/blob/907f4d638a01c00bcb71465c25d79094986204d3/vertx-web-graphql/src/test/java/io/vertx/ext/web/handler/graphql/ReproduceServer.java

### Step

[2020-12-09 16:50] vietj opened #1812 "WebClient HttpRequest.sendStream() hangs when server close connection"
### Version

vertx-core: 3.8.5
vertx-web: 3.8.5
vertx-web-client: 3.8.5

### Context
We have noticed that WebClient HttpRequest.sendStream() hangs when Server close connection

There are a few steps to catch it:
1. Execute WebClient HttpRequest.sendStream (https://vertx.io/docs/kdoc/vertx/io.vertx.ext.web.client/-http-request/send-stream.html) to send body as stream to external server. In our case

[2020-12-09 16:53] tsegismont commented on #1811
According to the [spec](https://spec.graphql.org/June2018/#sec-Value-Completion), `NaN` should be transformed to `null`.

Can you report the issue to GraphQL-Java?

[2020-12-09 20:03] fedinskiy commented on #1811
@tsegismont, yes, will do it tomorrow.

[2020-12-10 11:07] mohamnag opened #1813 "No way to alter/reset caching behaviour in Vertx 4.0?"
### Version

v4.0.0

### Context

in Vertx 3.x we used to have the method `setMaxCacheSize()` on `HandlebarsTemplateEngine` which allowed to somehow reset the cache in template engine. It seems this method is removed without deprecation notice and without replacement. The actual `HandlebarsTemplateEngineImpl` extends `CachingTemplateEngine` which provides a possible way of overwriting a concrete t

[2020-12-10 13:00] docrozza opened #1814 "NPE when userAgentEnabled is set to false"
### Version

4.0.0 (and in previous betas)

### Context

I have a SecretsClient that is based on VaultConfigStore and like that code uses SlimVaultClient to access secrets in Vault. It only uses loginWithAppRole for creating/renewing the client token.

The configuration passed thru to the SlimVaultClient includes the setting `userAgentEnabled  = false`. When attempting to access the vault store, i

[2020-12-10 13:31] tsegismont commented on #1137
Closing, if you can provide a simple reproducer (a few classes) then feel free to reopen.

[2020-12-10 13:31] #1137 closed

[2020-12-10 14:47] fedinskiy commented on #1811
@tsegismont it looks like they already have issues for NaNs (graphql-java/graphql-java#1062) and for infinities (graphql-java/graphql-java#1998). If I understand correctly, the implementation was created before the specification was updated to describe a proper handling of NaNs.
As a side note, there is an ongoing proposal to remove NaNs and Infinities from the specification: graphql/graphql-spec/

[2020-12-10 15:02] tsegismont commented on #1811
@fedinskiy thanks for letting us know. I'm closing the issue as this is something that needs to be handled in either user's code or GraphQL-Java

[2020-12-10 15:02] #1811 closed

[2020-12-10 15:51] vietj commented on #1812
This is actually fixed in the latest 3.9 release:

[code]

[2020-12-10 15:51] #1812 closed

[2020-12-10 19:34] pmlopes commented on #1813
Hi, this was one of the breaking changes. In 3.x the cache is a custom LRU cache, which has some problems on its own.

1. deletes are slow.
2. requires an instance per verticle.
3. adds lots of synchronization.

With 4.0.0 the goal was to use vert.x share data. This means templates are loaded once, not once per verticle/instance.

What is the goal here? Clear the cache? If that is the objective, t

[2020-12-10 22:24] glasser commented on #1811
@fedinskiy I'd describe my proposal as a clarification of the language in the spec rather than a removal.

[2020-12-11 08:18] mohamnag commented on #1813
thanks for clarification. yes the goal is to have a clear cache functionality. we reload some templates from remote and would like to dump the cache as soon as the new template is written on disk.

[2020-12-11 09:30] docrozza commented on #1814
I think the issues arises in this code

[code]

If the user agent is disabled, then the headers is null. Looking at tweaking it to the following

[code]

[2020-12-11 09:57] pmlopes commented on #1814
@docrozza this issue is not related to this repo, it should be: https://github.com/vert-x3/vertx-config/

[2020-12-11 10:01] docrozza commented on #1814
Can reproduce this without vertx-config with a related test in vertx-web

[code]

this also blows with a NPE. Adding in the extra `headers = HeadersMultiMap.httpHeaders();` resolves the issue

PR request incoming but I think it should be in this repo

[2020-12-11 12:28] pmlopes commented on #1814
Ok, thanks. I was just going over the title and reproducer and was assuming it was related to the `SlimVaultClient`.

[2020-12-11 13:58] #1814 closed

[2020-12-11 14:14] #1813 closed

[2020-12-11 14:15] pmlopes commented on #1813
a `.clearCache()` is added to the top level interface. Engines that use the vert.x cache will clear it's cache, templates with their own cache (Thymeleaf) will clear the engine internal cache, and engines who do not work with cache (Rocker) will just do a no-op

[2020-12-12 14:38] milgner opened #1817 "Enable loading OpenAPI YAML from classpath"
#### Feature Description

I'd like to load an OpenAPI YAML for router creation from a file that's bundled in a JAR. However, when using `getResource` to determine the URI to the bundled file, an exception is thrown:

[code]

Ideally [RouterBuilder.create](https://vertx.io/docs/apidocs/io/vertx/ext/web/openapi/RouterBuilder.html#create-io.vertx.core.Vertx-java.lang.String-) should be adapted to be

[2020-12-12 19:03] pmlopes commented on #1817
If the builder uses the vertx filesystem to access the file, then this should be already possible. All classpath resources are visible just by their path.

[2020-12-13 08:11] idontusenumbers opened #1818 "sendForm(MultiMap) does not include Content-Length header leading to hung request"
### Version

4.0.0

### Context

I have a vertx+rxjava webclient trying to POST to a PHP application

Vertx WebClient > Docker (Caddy > PHP-FPM)

Caddy config:
[code]

### Do you have a reproducer?
[code]

Results in this HTTP request as seen from Wireshark:
[code]
I never get a response, wireshark never logs a response, the Single never completes, an XDEBUG breakpoint on the first line is never h

[2020-12-14 04:26] sagaxu opened #1819 "TemplateHandler can't find the template file in subdirectory"
### Context

I upgraded my project from 3.9.4 to 4.0.0, and the template not working.

#### request path: /report/today.ftl

code not working
[code]
got the bad template pathname: templateDirectory + "/today.ftl"

---
workaround
[code]
got the good pathname: templateDirectory + "/report/today.ftl"

### Version

4.0.0

### Problem
io.vertx.ext.web.impl.Utils
[code]
the pathParam("*") of /report/tod

[2020-12-14 07:57] slinkydeveloper commented on #1817
Yep this should just work and it's tested, can you provide a reproducer?

[2020-12-14 09:28] milgner commented on #1817
Thank you for checking this - I'll try to come up with a minimal reproduction, yes :+1:

[2020-12-14 13:19] ylemoigne opened #1820 "Incorrect BodyProcessorException: [Bad Request] Validation error for body application/json: More than one schema valid"
### Version

4.0.0

### Context

Given an openapi schema like :
[code]

And a body :
[code]

I expect vertx to be able to match the correct type but I got :
[code]

### Do you have a reproducer?

No

### Others

The specification (https://swagger.io/specification/#discriminator-object) say that the implementor `MAY` use discriminator, so it's questionnable, but I think that when the discriminator

[2020-12-14 17:43] UglyHobbitFeet opened #1821 "Vertx 4.0.0 returns 500 for GraphQL calls"
I have working GraphQL code in v3.9.4.  When I make the change in jars from 3.9.4 to 4.0.0 I now get 500 errors with no real detail. No other code is being modified in the project except for the vertx versions in gradle.

Relevant packages are shown below (before being updated to 4.0.0):
[code]

Relevant code is shown below:
[code]

[2020-12-14 18:28] UglyHobbitFeet commented on #1821
It looks like the fix is to add a BodyHandler before the Apollo/GraphQL route calls.
[code]

[2020-12-15 09:07] tsegismont commented on #1821
Thanks for letting us know. Yes indeed it is now required. I believe
there's a word about it in the migration guide.

[2020-12-15 10:30] hantsy opened #1822 "rxjava2: ValidationHandlerBuilder `build` method should return a rxjava2 specific ValidationHandler"
I added web validaiton and rxjava 2 in my Rxjava project.

I used the ` io.vertx.reactivex.ext.web.validation.ValidationHandler`.

[code]

But the `build()` method returns `io.vertx.ext.web.validation.ValidationHandler`. I think it should be ` io.vertx.reactivex.ext.web.validation.ValidationHandler`.

Before applying it to the routing handlers, I have to [wrap it again](https://github.com/hantsy/v

[2020-12-16 06:06] zhoudingyun commented on #1804
@slinkydeveloper
I can't try it, have you tried it?

[2020-12-16 09:03] slinkydeveloper commented on #1804
Well, it should just work :smile: It's not clear to me what you're trying to do TBH

[2020-12-16 09:04] ThomasXY commented on #252
I use the version of vertx is 3.8.5, is there any limitation of the routing context?

[2020-12-16 09:47] slinkydeveloper commented on #1820
tl;dr discriminator is ignored from the vertx-json-schema validator, on each field type definition use `enum` to match the type name:

[code]

The long story here is that the discriminator is still not supported, there is a WIP PR [here](https://github.com/eclipse-vertx/vertx-json-schema/pull/18), where I still have some concerns about it, but in general the discriminator is a weird feature of ope

[2020-12-16 09:50] slinkydeveloper commented on #1822
The DSL for creating a validation handler doesn't support RxJava atm. Are you willing to provide a PR to fix it?

[2020-12-16 10:04] ylemoigne commented on #1820
I use the workaround you provided (more exactly, I have added the property `@type` to each subtype, with the enum and only value possible for this type).

I think that discriminator is very usefull, there is this use-case of course (type discrimination), but also, in another project, the business model was event sourced with almost 200 type of event and in this case discrimator is a shortcut to de

[2020-12-16 10:40] slinkydeveloper commented on #1820
Well you can have both discriminator and the add-property-with-enum way, they certainly don't exclude each other. I see how the discriminator works very well for serde tools, but they make more complex the validation, because in json schema validation keywords are meant to be independent but discriminator creates a "bond" between different keywords, hence my issue with supporting it properly.

I s

[2020-12-16 11:39] ylemoigne commented on #1820
Great News ! (easy to say when you're not the maintainer).
Thanks again for all vertx's team great work.

[2020-12-17 10:20] hantsy commented on #1822
@slinkydeveloper I am not sure how the codegen is handled in Vertx.

[2020-12-17 12:50] gsmet opened #1824 "Provide MediaType constants"
Hi,

I'm using Reactive Routes in Quarkus which relies on Vert.x Web and, as someone familiar with JAX-RS, I miss my MediaType constants.

See https://github.com/jax-rs/api/blob/master/jaxrs-api/src/main/java/javax/ws/rs/core/MediaType.java#L77 . I'm talking about the String constants specifically so that I could use them when declaring `@Route` annotations (for `consumes` and `produces`).

Would

[2020-12-18 09:36] EmadAlblueshi commented on #1819
Hi @sagaxu I have tested your sample and it works perfectly without any issues I even tested it with sub folders inside **templates**

[2020-12-18 09:42] slinkydeveloper commented on #1820
I've opened an issue in json schema to discuss about that: https://github.com/eclipse-vertx/vertx-json-schema/issues/31

[2020-12-19 05:59] sagaxu commented on #1819
demo to reproduce

http://127.0.0.1:9001/sub/index.ftl

[code]

[2020-12-19 07:34] EmadAlblueshi commented on #1819
I have tested you scienario as below

[code]

Resources folder as below
[code]

http://localhost:9090/sub/index.ftl
http://localhost:9090/sub/report/index.ftl
http://localhost:9090/sub/report/today.ftl
http://localhost:9090/sub/report/a/a.ftl

All the above works

[2020-12-19 11:54] sagaxu commented on #1819
[demo.zip](https://github.com/vert-x3/vertx-web/files/5719348/demo.zip)

1. change to router.mountSubRouter("/report", Router.router(vertx));
2. try http://localhost:9090/report/index.ftl

[2020-12-20 19:28] FrederikS opened #1825 "RoutingContext.isFresh() returns false for IF-NONE-MATCH single value Header"
Hi,

while trying to use e-tag header for HTTP caching - I noticed the following behavior.

### Version

4.0.0

### Context

Given a simple HTTP server sample using `ctx.isFresh()` method:

[code]

When sending IF-NONE-MATCH header with value that is matching the ETag:

[code]

I expect `ctx.isFresh()` to return `true` and my server to respond with Not Modified.

Inspecting the [code](https://gith

[2020-12-24 06:10] Antony-Jia commented on #1821
I met same questions. It's better to modify https://github.com/vert-x3/vertx-examples and https://vertx.io/docs/vertx-web-graphql/java/ document

[2020-12-25 14:44] LouizFC opened #1826 "When"
### Questions

Greetings. I have a minor problem that I think is worth opening an issue, but I am having trouble about classifying it as a Bug Report here (`vertx-web`) or a Feature Request at vertx-core.

There are times with query parameters that you want to distinguish between `null` and `""`. In the case of null, most implementations uses an "name only" parameter, like so:
[code]
When trying t

[2020-12-25 22:44] thced opened #1827 "RouteToEBServiceHandlerImpl should consider ServiceException/HttpStatusException code"
### Questions

Should we not expose the response code if we, in a service, throw a ServiceException or a HttpStatusException?

### Version

4.0.0

### Context

In vertx-web-api-service;
When a service proxy throws a `ServiceException`/`HttpStatusException`, then the reply handler simply "ignore" the exception, and fails the RoutingContext with a 500 Internal server error and the error message.

IM

[2020-12-27 18:12] trho opened #1830 "SockJS websocket connections initially fail when combined with clustered infinispan-backed sessions"
### Version

4.0.0.Beta3 - 4.0.0

Version 3.X.Y, 4.0.0.Beta1 and 4.0.0.Beta2 are not effected.

### Context

Since vert.x stack version 4.0.0.Beta3 SockJS websocket connections are not established
for load-balanced verticles until the same verticle processes the initial sockjs "/info" request and the websocket upgrade.
After the first successful websocket upgrade the problem vanishes.
This only oc

[2020-12-30 13:37] pendula95 opened #1831 "Json.decodeValue throws Exception and should explain that jackson-databind is missing"
### Version
4.0.0 reproduced
3.9.5 test and is working with this version

### Context

Calling `Json.decodeValue(routingContext.getBodyAsString(), SomeClass.class)` throws exception:
[code]
I was not able to reproduce this while using String that I make manualy, tried on vert.x core repo with simple String json. I assume there is some issue with routingContext.getBodyAsString()

### Do you have a

[2020-12-30 14:10] vietj commented on #1831
do you have jackson-databind on your classpath ?

[2020-12-30 14:54] pendula95 commented on #1831
As I have just forked vertx-web repo and checkout 4.0.0 tag it has everything the same. In the pom.xml there is https://github.com/pendula95/vertx-web/blob/719fba96cb2f6a47d074197c77b42b9023fc8707/vertx-web/pom.xml#L95 `mvn -Dtest=BodyHandlerTest#testBodyJsonDummy test`

[2021-01-01 13:48] yaronel opened #1832 "NPE - io.vertx.ext.web.client.impl.HttpContext.handleSendRequest (HttpContext.java:469)"
### Version
4.0.0

### Context
When sending a client request using the form submission method of `io.vertx.ext.web.client.impl.HttpRequestImpl<T>`
[code]
I get a `java.lang.NullPointerException: null`
[code]
This is because of this call to `requestOptions.getHeaders`:
[code]
which assumes that `requestOptions.headers` is not null, but it can be.

### Steps to reproduce

1. Create a WebClient with

[2021-01-01 20:54] centoria opened #1833 "Vertx-web-templ-handlebar 4.0.0 does not support {{block "name" }} correctly. So layouts does not work"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

Which version(s) did you encounter this bug ?

### Version 4.0.0

I encountered an exception while simply using an handlebar layout with tag {{ block}}

Layout cant be used with handlebars template engine in v

[2021-01-04 09:14] vietj commented on #1826
Would on `MultiMap` this make sense `set("allow", Collections.emptyList())` ?

[2021-01-04 09:24] vietj commented on #1831
this is expected, you need to have jackson-databind on the classpath to work, however I thiink we could have a bette error message for this

[2021-01-04 10:42] tsegismont commented on #1821
@Antony-Jia right, I'll update both

[2021-01-04 10:47] tsegismont commented on #1821
Examples are fixed: https://github.com/vert-x3/vertx-examples/commit/be4a5ddac93c4a143e4b09386ecc3d1b285e7b44

[2021-01-04 12:31] LouizFC commented on #1826
@vietj of course. I think it would make even more sense than passing null. Also it would not break the actual method contract.
The only problem I see is with multiple `null` parameters in the same query (e.g. `?foo&value=0&foo`), but I don't think it is a case with enough relevance to break the actual `MultiMap` contract.

I made a specialized `MultiMap` called `ParameterMap` in Kotlin, it ~~ab~~u

[2021-01-04 13:03] #1821 closed

[2021-01-04 13:41] vietj commented on #1826
I believe that what we would need is the current `MultiMap` vertx implementation support empty-ness efficiently and make sure that WebClient / HttpClient handle it properly.

However I'm not sure how this would behave on the server.

[2021-01-04 21:11] #1825 closed

[2021-01-06 16:13] vietj commented on #1831
it seems that the issue is that the test does not seee Databind from the classpath

[code]

I modified the test to be

[code]

so it looks like a maven configuration issue, if you can resolve this first then it should work

[2021-01-07 06:15] riikack opened #1836 "HttpServerResponse Message BUG"
if I call something like this
context.response().setStatusMessage(msg).end()
and the msg string contains '\n'
end will never callback

my version is <vertx.version>4.0.0</vertx.version>

[2021-01-07 11:38] pmlopes commented on #1836
@riikack I think (at least I believe it did in the past) setting a status with invalid characters will throw an exception. Can you confirm that, by adding a `try` `catch` block?

[2021-01-07 16:26] ryougizhou opened #1837 "route().produces("application/json") didn't work. (version : 4.0.0)"
I use route().produces("application/json") , but there is no "Content-Type: application/json" in response.

[2021-01-07 16:59] tsegismont opened #1838 "NullPointerException in OpenAPIHolderImpl with relative path"
In https://github.com/vert-x3/vertx-web/commit/765fe174ae67fc80b1f7a84cb65dcd3941f54cd6, the `loadOpenAPI` implementation was changed to use the File API instead of Path API.

To compute the `initialScopeDirectory`, we need the parent path of the OpenAPI `File` object. But that `File` object may be relative and in this case `f.getParentFile()` returns `null`.

If we replace:

[code]

With:

[code]

[2021-01-08 07:22] #1837 closed

[2021-01-08 08:14] #1838 closed

[2021-01-08 19:58] kaushik-Das commented on #1576
Even after flushing the session to the store before the response is sent, I am facing the same issue as earlier --> Infinite Redirection. Attached is a reproducer of the same issue with google oauth as example. The google redirection url is set as "http://localhost:8121/callback" and I had enabled the scopes "openid email profile". You would have to set google clientId and clientSecret. Below are

[2021-01-08 20:02] kaushik-Das commented on #1576
Even after flushing the session to the store before the response is sent, I am facing the same issue as earlier --> Infinite Redirection. Attached is a reproducer of the same issue with google oauth as example. The google redirection url is set as "http://localhost:8121/callback" and I had enabled the scopes "openid email profile". You would have to set google clientId and clientSecret. Below are

[2021-01-10 02:22] riikack commented on #1836
I changed my code to

response().setStatusMessage(msg).
.exceptionHandler {cause-> response().close()}
.end()

if still exception here, this connection will never close

[2021-01-11 07:13] kaushik-Das commented on #1576
Hi @tsegismont / @pmlopes did you get a chance to reproduce this issue at your end?

[2021-01-11 12:06] u6f6o opened #1840 "vertx-web-openapi does not handle multiple authentication types correctly"
### Version

4.0.0

### Context

The openapi spec allows us to define [multiple authentication schemes](https://swagger.io/docs/specification/authentication/) and to "link" them with AND/OR:

![image](https://user-images.githubusercontent.com/1176370/104179422-1bf03580-540c-11eb-8451-8b56b82b022f.png)

In my case, there are two jwts I need to verify. One jwt resides in the authorization http heade

[2021-01-11 16:15] ferakpeter commented on #1819
Hi, I found the described problem inside the "pathOffset" method when using a **StaticHandler** with a sub folder. Do you want me to add a reproducer for that?

[2021-01-11 16:18] vietj commented on #1819
yes please

On Mon, Jan 11, 2021 at 5:15 PM Peter Ferak <notifications@github.com>
wrote:

[2021-01-12 09:05] ferakpeter commented on #1819
StaticHandler reproducer project is created here: https://github.com/ferakpeter/vertx4-subfolder-issue

[2021-01-12 17:20] slinkydeveloper commented on #1840
@u6f6o I tried your repro adding 2 jwt handlers and they are properly created in a `ChainAuthHandler.all`, @pmlopes can you check that repro?

[2021-01-12 19:40] u6f6o commented on #1840
@slinkydeveloper Did you have a look on[ this one](https://github.com/u6f6o/web-and-openapi-howto/blob/bug/openapi-and/src/test/java/OpenApiAndTest.java)? I can confirm, that both handlers are added to the chain auth handler, but the authenticate method of the underlying authentication providers is only triggered once.

[2021-01-12 19:53] #1833 closed

[2021-01-12 20:01] pmlopes commented on #1824
Internally in core there's the `MimeMapping` class that has many of these values. Perhaps an alternative suggestion would be to expose those values as constants?

[2021-01-12 20:01] pmlopes commented on #1824
@vietj wdyt?

[2021-01-13 08:56] vietj commented on #1824
it could be also achieve in reactive routes integration layer, so I think the concern is that beside using in reactive routes, would it make sense to have in vertx-web itself for users not using reactive routes?

[2021-01-13 09:20] pmlopes commented on #1824
ok, @gsmet would an interface like:

[code]

Be enough?

Using this approach, users can still use the string notation for custom types, for example: `application/json+myextension` or use the constant from the interface which avoids `typpo` kind of errors.

[2021-01-13 09:45] gsmet commented on #1824
Yes, I'm all to keep them simple strings.

[2021-01-13 13:16] hantsy opened #1841 "Jackson 2.12 compatibility"
I have written some examples to test against the newest Vertx 4.0.

* Vertx 4.0
* Java 11

Check the info in PR: https://github.com/hantsy/vertx-sandbox/pull/12

The HttpClient is incompatible with Jackson 2.12.

[2021-01-13 14:29] pmlopes commented on #1824
@gsmet, let's start small, I'll just dump the same list we have in core but as constants for now and users are welcome to do later pull requests for missing types.

Now the trick is name things. How should we encode the constant names, for example there are:

[code]

Should we just replace all not allowed variable name characters as `_` ?

[code]

Or have a group like the `IANA` registry: http://w

[2021-01-13 14:54] gsmet commented on #1824
I would keep it simple and have an approach similar to the RESTEasy code I posted above.

[2021-01-13 14:55] gsmet commented on #1824
Also I think having the ones listed in RESTEasy would probably be a good start. No need for all of them.

[2021-01-13 15:14] centoria commented on #1833
Ok il will give it a try

Thanks a lot !

Great job.

[2021-01-13 21:47] docrozza commented on #1832
This might have already been fixed in #1814

[2021-01-13 22:53] mwm-twx commented on #1817
@slinkydeveloper I moved from web-api-contract to web-openapi and my create call for "openapi.json" (on classpath) now throws an NPE. Changing to get the resource URL and passing that in leads to the "cannot load spec" error referred to here. Something seems broken with classpath loading.

[2021-01-14 01:19] centoria opened #1842 "Vertx 4 fat jar with shade plugin and statichandler work strangely"
### Questions

I think its a beug because so simple use case

### Version

4.0.0

### Context

I simply make a web site with vertx-web, java, maven shade plugin for making a fat jar.
when i compile in eclipse 202012 with openjdk 11 and run the main its ok
but when i run in command line the fat jar with the same jdk
some static are found but others are not found in 404 HTTP error.

bootstrap.min.cs

[2021-01-14 12:26] slinkydeveloper commented on #1817
@mwm-twx are you using windows? We recently fixed a bug that should solve a similar issue for windows and we also merged this https://github.com/vert-x3/vertx-web/pull/1839

Maybe can you try to check if the latest snapshots still have the same bug?

[2021-01-14 14:57] mwm-twx commented on #1817
@slinkydeveloper Trying with 4.0.1-SNAPSHOT resolves the NPE, but then I get this "cannot load spec" issue; with the root cause being a NoSuchFileException.

[2021-01-14 16:23] Traderjoe95 opened #1843 "Give more context about validation path on `ValidationException`"
#### Describe the feature

When validating properties of an object or items of an array (in a request body), add more context on where the validation failed. That information should preferably returned in form of a `JsonPointer`.

At the moment, the property path taken in validation can't be derived from the `ValidationException` as it never carries that information, not event in the `scope` prope

[2021-01-14 16:51] mwm-twx commented on #1843
The current vertx-web-openapi implementation is lacking compared to the prior vertx-web-api-contract.  There is no indication of what field in the body caused the validation error, and no way to obtain it from the underlying `ValidationException`.

api-contract produced this error:  "$.field1: must be at least 1 characters long"
openapi produces this error:  "[Bad Request] Validation error for bod

[2021-01-14 17:32] slinkydeveloper commented on #1843
The nesting of error system in the new validation library is:

1. `BadRequestException` is the parent exception for anything wrong that happens in `ValidationHandler`: https://github.com/vert-x3/vertx-web/blob/master/vertx-web-validation/src/main/java/io/vertx/ext/web/validation/BadRequestException.java
2. Depending on where the error happened, the cause is `ParameterProcessorException` or `BodyPr

[2021-01-14 17:39] Traderjoe95 commented on #1843
As far as I have observed (correct me if I'm wrong), the JSON pointer in the `ValidationException` does only point to the root schema, but not to the concrete element failing the validation. Perhaps that is because of the `SchemaImpl` class catching any `ValidationException` instances and setting the scope to its own scope.

[2021-01-14 17:41] mwm-twx commented on #1843
I'm admittedly not familiar with the code, but I tried to pull information from the `ValidationException` using the `scope()` and `schema()` and wasn't able to get the necessary information.  I think `scope().traceQuery(...)` would provide similar information to the `$.field1` in the old API, but I think `traceQuery` needs the complete JsonObject from the body, and the `input()` on the exception i

[2021-01-14 19:08] pmlopes commented on #1842
@centoria can you list the contents of your shaded jar?

[code]

Are you launching the jar in the same working directory as the jar?

And can you share the snippet of how you're setting the static handler?

[code]

[2021-01-14 20:08] Traderjoe95 commented on #1843
I am adding the custom response body in an error handler on the router, so I am having access to the `RoutingContext` which also gives me access to the JSON body. So it's no problem to acquire the whole body JSON. However, the problem that the JSON pointer returned by `.scope()` only points to the root object (i.e. the pointer is empty) and therefore, a call to any of the `...query()` methods of i

[2021-01-15 13:02] centoria commented on #1842
Hi

I tested the fat jar in windows 10 with this command :

![image](https://user-images.githubusercontent.com/40384228/104722840-b616ed00-572e-11eb-8847-ec8ae57e6476.png)

And it worked. So i have to check again my Debian 10 workstation. Do not closed wait for me to test again in Debian.

jar tf result
[jartfcommand.txt](https://github.com/vert-x3/vertx-web/files/5820598/jartfcommand.txt)

In deb

[2021-01-18 08:27] vietj commented on #1832
can you have a look @yaronel ?

[2021-01-18 09:02] yaronel commented on #1832
@vietj - Yeah, looks good now.

[2021-01-18 09:16] re-thc opened #1844 "Support Automatic persisted queries in GraphQL"
#### Describe the feature

As per [Apollo's docs](https://www.apollographql.com/docs/apollo-server/performance/apq/). Automatic persisted queries requires minimal change on the client (if supported) and boosts performance by not having to resend potentially large queries.

A simple cache needs to be used to avoid DoS or similar.

Urql also supports this [feature](https://www.apollographql.com/docs

[2021-01-18 09:40] vietj commented on #1818
shouldn't this issue be moved to vertx-web ?

[2021-01-18 09:46] idontusenumbers commented on #1818
@vietj This was originally in eclipse-vertx/vert.x but you asked for it to be moved to vert-x3/vertx-web so I moved it to vert-x3/vertx-web which as far as I can tell is the repo you are commenting on.

[2021-01-18 09:54] vietj commented on #1818
ah this is the right repo sorry :-)

[2021-01-18 15:32] pmlopes opened #1845 "We need XFrame Handler from yoke"
Backport:

https://github.com/pmlopes/yoke/blob/develop/middleware/helmet/src/main/java/com/jetdrone/vertx/yoke/middleware/XFrame.java

Reference:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

[2021-01-19 12:37] tsegismont commented on #1844
Are you interested in contributing this feature?

[2021-01-19 13:27] tsegismont commented on #1818
@idontusenumbers the absence of content-length is not a problem when the `chunked` transfer encoding is used.
But then each chunk should be preceded by the length of the current chunk in hexadecimal format, which isn't the case according to your packet capture.

I'll look into this.

[2021-01-19 13:34] slinkydeveloper commented on #1843
`ValidationException#scope` points to the scope of the schema and then through `keyword()` you can figure out which keyword failed the validation. `ValidationException` doesn't carry the information of where, in the input, the validation failed, but it returns the input part that failed the validation with `input()`. Is that what you're looking for?

[2021-01-19 13:35] slinkydeveloper commented on #1817
@mwm-twx can you provide a reproducer? There might be some bug not caught by our tests

[2021-01-19 15:17] tsegismont commented on #1818
@idontusenumbers I tried to reproduce with both 4.0.0 and 4.0.1-SNAPSHOT without success.
When I run your snippet, `chunked` transfer encoding is used indeed, but the chunk sizes are present.

[2021-01-19 16:10] tsegismont commented on #1818
@idontusenumbers can you verify again if chunk sizes are missing?

[2021-01-19 19:07] mwm-twx commented on #1843
In the case of failing a minimum-length constraint, for example, input is `""` and keyword is `minLength`; there's nothing that indicates what was empty.

[2021-01-19 19:16] Traderjoe95 commented on #1843
The schema scope also doesn't help in that case. If I am working with a simple schema, I could try to derive the location of the validation failure by matching the keyword in the validation schema. But if we suppose that the schema is more complex (like in my case) the keyword, input and schema scope alone may not be sufficient to distinguish the concrete location of the error. (like when, for exa

[2021-01-19 19:42] mwm-twx commented on #1817
@slinkydeveloper I tried to make a separate reproducer and it looks to be a change in the implementation of loading resources.  The old api-contract library didn't use the vertx filesystem API to load resources, while the new library does.  Since I have classpath-resolving and file-caching disabled on the `Vertx` instance, the same setup doesn't work for the new library.

[2021-01-19 19:44] slinkydeveloper commented on #1817
That's probably the issue then. The new library heavily relies on classpath resolution provided by the Vertx instance.

[2021-01-19 20:12] slinkydeveloper commented on #1843
Ok I get your concerns, so I guess what we miss on the vertx-json-schema side is the ability to "trace" the execution of the validator, so when it fails, it's able to return a json pointer expliciting where it failed. I've opened an issue for that https://github.com/eclipse-vertx/vertx-json-schema/issues/32

[2021-01-19 20:25] idontusenumbers commented on #1818
I still don't see the chunk sizes:
[code]

Here's my full reproducer:
[vertxtest cleaned.zip](https://github.com/vert-x3/vertx-web/files/5838406/vertxtest.cleaned.zip)

[2021-01-20 08:20] vietj commented on #1836
The code throws an exception:

[code]

When you set an invalid message.

@riikack you should change your code to sanitize the status message and/or add a try/catch block around the `setStatusMessage` method

[2021-01-20 08:20] #1836 closed

[2021-01-20 08:20] vietj commented on #1836
I'll add a test for this case to ensure the behavior.

[2021-01-20 08:29] vietj commented on #1836
https://github.com/eclipse-vertx/vert.x/commit/a7b7214c58b85703613cd658c7f32d339a842566

[2021-01-20 08:34] vietj commented on #1832
thanks for confirming @yaronel

[2021-01-20 08:34] #1832 closed

[2021-01-20 08:34] vietj commented on #1832
thanks @docrozza for the investigation

[2021-01-20 12:54] centoria commented on #1842
Hello

Know its works i dont know how it was corrected.
But know its ok on windows and linux perhaps some cache behavior in firefox debian

Sorry the issue can be closed.

[2021-01-21 10:25] tsegismont commented on #1818
I tried the reproducer and I see the chunk sizes

[2021-01-21 17:18] #1842 closed

[2021-01-21 17:18] centoria commented on #1842
Everything ok now but i dont know really why.

Perhaps strange cache behavior on firefox debian 10

[2021-01-21 18:33] idontusenumbers commented on #1818
Oh my, face palm, wireshark omits the chunk size from the followed stream window.

[code]

Now I'm at a loss regarding why the caddy server isn't logging the request nor anything sending a response =(

[2021-01-21 19:27] idontusenumbers commented on #1818
Created https://caddy.community/t/no-log-or-proxy-pass-for-chunked-transfer-encoding/11203 on caddy forum.

[2021-01-21 21:29] tsegismont commented on #1818
Ok, thank you confirming

[2021-01-21 21:29] #1818 closed

[2021-01-22 08:15] mohamnag opened #1849 "StaticHandler conflicting with sub-router"
### Version

4.0.0

### Context

Having a sub-router mounted on same path as a directory which is to be served by StaticHandler (as fallback for paths that do not exist) breaks the functionality. It seems that sub-router adds a path param `*` with value `/` which then causes `io.vertx.ext.web.impl.Utils#pathOffset` to interpret any path under it as `/`. these lines changed [recently](https://githu

[2021-01-22 17:36] tsegismont commented on #1830
I've found the cause of this issue. In the session handler implementation, there's an async operation:

https://github.com/vert-x3/vertx-web/blob/197f6164eefe7412d83777b70102becf7bcb2954/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/SessionHandlerImpl.java#L284

In Vert.x 4, it is now mandatory to pause the request before doing such operations if you want to be able to manage things like c

[2021-01-25 11:03] slinkydeveloper commented on #1820
I close this and mark it as wontfix, as discussed in https://github.com/eclipse-vertx/vertx-json-schema/issues/31

[2021-01-25 11:03] #1820 closed

[2021-01-25 12:37] LarsEckart opened #1851 "clientRequest not available in Interceptor"
### Version

vertx 4.0.0

### Context

In my interceptor, I want to know (once the request was done) what the request method was. To me it looks like I should retrieve the clientRequest from the HttpContext and from that object i can ask getMethod(). But the clientRequest method always returns null (although according to documentation, this should only happen during PREPARE_REQUEST phase, not in l

[2021-01-25 14:03] #1845 closed

[2021-01-25 18:40] #1830 closed

[2021-01-27 15:32] jo5ef opened #1853 "mountPoint problems with hierarchical routers"
### Version

4.0.0

### Context

When using a hierarchy of router handlers (min depth 3) with `handleContext`, routing fails because the `RoutingContextWrapper` instances end up with duplicate slashes in their `mountPoint`. The reason is that it no longer checks if the `parentMountPoint` ends with a `'/'` (like it did before Vert.x 4).

### Reproducer

[This test](https://gist.github.com/jo5ef/34b

[2021-01-27 15:51] sirianni commented on #1841
I created https://github.com/swagger-api/swagger-parser/issues/1524 for this issue as well.

We are seeing this error
[code]

[2021-01-28 08:20] vietj commented on #1851
the HttpContext will set the client request to null when the request has been sent in several places

[2021-01-28 08:26] vietj commented on #1851
it is actually not a race but a regression due to the fact that we changed how HttpClient works, I will see what can be done here.

[2021-01-28 10:01] vietj opened #1855 "Web client HTTP context create request phase"
The web client `HttpContext` _send_ phase interception no longer provides access to the `HttpClientRequest` since the refactoring of the HTTP client. We need a new phase _create_ between _prepare_ and _send_ that creates the `HttpClientRequest` from the request options.

[2021-01-28 10:21] #1851 closed

[2021-01-28 10:21] #1855 closed

[2021-01-28 12:22] pmlopes commented on #1853
Fixed by #1854

[2021-01-28 12:22] #1853 closed

[2021-01-29 12:50] pmlopes opened #1858 "OpenAPI: implement oidc discovery support"
Currently, there are a couple of limitations known to `openapi` module.

It is not possible to combine `oauth2` config with `oidc discovery`
Scopes required per route are not checked.

This issue is a tracking issue to address this issues and more.

This is a follow up to: https://github.com/vert-x3/vertx-auth/issues/450

[2021-02-02 16:03] pmlopes commented on #1849
@mohamnag indeed the problem with static handler (or any other handler that relies on `*`) and sub routers is that the parameter `*` gets overwritten by the sub-router.

There is no quick fix for 4.0.1 however you can use one of the following workarounds:

1. Mount the `StaticHandler` before any sub router
2. If you must mount the `StaticHandler` after, then do it at the sub router level.

These o

[2021-02-03 09:27] #1831 closed

[2021-02-03 09:28] pmlopes commented on #1819
I'm moving this issue to the next bugfix release as it seems to be related to the way `*` is handled. Applications can workaround the issue by mounting the template handler and/or static handler before any sub router is mounted. If this isn't possible then instead of mounting the template handler at the root router, mounting it at the sub router will also address the issue.

[2021-02-03 10:08] mohamnag commented on #1849
thanks for feedback. unfortunately for now non of the options you mentioned is feasible for us. fortunately we have a very limited number of static resources, so for now hardcoding them before subrouter is possible. will keep an eye on this issue to remove those hardcoded parts.

[2021-02-04 15:50] #1849 closed

[2021-02-04 19:49] #1819 closed

[2021-02-05 10:11] DemonicTutor commented on #1797
@vietj @slinkydeveloper @pmlopes

Hey!

Got any insight on this one?

Also.. if you can provide me your view on the issue - how to approach it - i could take a stab at it.

But from my point of view its not a good idea to allow a Handler to change state of a shared resource (the Request) so i am at a loss where you want to go with this.

[2021-02-05 15:14] therockstorm commented on #1797
We're waiting on this fix too, it's preventing us from updated to 4.0.0.

[2021-02-05 15:57] pmlopes commented on #1797
@DemonicTutor @therockstorm could you have a check on this with 4.0.2 as many fixes have been added, and pause/resume on auth handlers too.

[2021-02-05 16:36] therockstorm commented on #1797
Maybe this is a different issue, but updating to `4.0.2` breaks are file upload tests, they just hang. So we're stuck on `4.0.0.CR1`.

[2021-02-05 19:20] pmlopes commented on #1797
@therockstorm that must be another issue. I just run @DemonicTutor reproducer: https://github.com/DemonicTutor/vertx-web-openapi-http2 replacing the version from `4.0.0.CR2` to `4.0.2` makes the test pass.

@therockstorm I'll close this issue as it is fixed, but please open a new one for your upload case. Check the reproducer from @DemonicTutor and see if you can add your case with the failure, so

[2021-02-05 19:20] #1797 closed

[2021-02-05 23:24] DemonicTutor commented on #1797
@pmlopes thanks for checking! :)

[2021-02-06 23:31] thced commented on #1858
I have a bit of a struggle to understand how I could be able to add a SockJSHandler (really, the bridge), when using the Vert.x v4 RouterBuilder from `vertx-web-openapi` module. The SockJSHandler is "deprecated" and I am not allowed to call `Router::handleContext` on the routerBuilder's operation. Are there any thoughts about adding the possibility to add a Router to an operation, or some other me

[2021-02-07 18:14] cescoffier opened #1862 "WebClientSession should be annotated with VertxGen"
Related to https://github.com/smallrye/smallrye-reactive-utils/issues/244.

[2021-02-08 06:37] slinkydeveloper commented on #1858
@thced more than adding a Router, you can add more than one handler to each operation.

[2021-02-08 06:55] slinkydeveloper commented on #1817
Is this still an issue?

[2021-02-08 10:08] pmlopes opened #1863 "redis session store doesn't implement service loader"

[2021-02-08 13:45] ebadta81 opened #1864 "4.0.0 vertx-web createHttpServer supress exceptions"
### Version

4.0.0

### Context

**Even if I try to catch vertx exceptions, I cannot.**

Symptom: createHttpServer doesn't start to listen on the given port, and no messages appear in the log.
The failure occured, because my certificate does not exist in the given path.

I read numerous articles about vertx error handling, and I understand your concept, swallowing exceptions. It is ok, but I need

[2021-02-08 14:38] vietj commented on #1864
in Vert.x 4, the issues will be reported through the returned future so you should do in this code `listen().await()` to be correct

[2021-02-08 14:38] #1864 closed

[2021-02-08 14:51] mwm-twx commented on #1817
It may be worth a note on migrating from the older library, but otherwise it's resolved.  Thanks.

[2021-02-08 15:10] slinkydeveloper commented on #1817
@mwm-twx can you please add this note to https://github.com/vert-x3/vertx-4-migration-guide? Thanks!

[2021-02-08 15:10] #1817 closed

[2021-02-08 15:52] ebadta81 commented on #1864
Thank You!

.onFailure {throw it} did the trick, so I don't need to start a coroutine for this.

[2021-02-08 20:06] vietj commented on #1864
if you are in a coroutine you can use the await() extension method on
Vert.x future that will throw an exception for you or return the result

On Mon, Feb 8, 2021 at 4:52 PM ebadta81 <notifications@github.com> wrote:

[2021-02-11 11:33] #1862 closed

[2021-02-12 08:34] pmlopes commented on #967
These templates are added in 4.0.0

[2021-02-12 08:34] #967 closed

[2021-02-12 13:05] pmlopes opened #1869 "Unify template engine behavior across engines"
Currently, we support several template engines, but there are a few behavior changes that are not consistent. This umbrella issue is about unifying them.

### template reference should use the engine default naming conventions

Engines need to know the template default file extension and are `appending` or `removing` them from the requested filename to allow the rendering with or without extension

[2021-02-12 14:39] #3 closed

[2021-02-12 14:39] pmlopes commented on #3
It only took 6y 3m 10d to fix ;-)

[2021-02-17 11:46] romero opened #1871 "Add method to get URLEncoded version of HttpRequest"
Surprisingly, it is not possible to get string representation of HTTP request.
I need to do simple thing - log my requests, but have no idea how to achieve this.
WebClient built in logging is not working for me (3.8.4).

[2021-02-17 15:58] slinkydeveloper opened #1872 "OpenAPI 3.1"
OpenAPI 3.1 is out, we need to support it https://www.openapis.org/blog/2021/02/16/migrating-from-openapi-3-0-to-3-1-0

The vertx-json-schema package already supports the latest json schema _Draft 2019-09_, so we need to just wire it up with vertx-web-openapi

[2021-02-17 15:59] slinkydeveloper commented on #1858
Is there any action to take here @pmlopes ?

[2021-02-17 18:55] lggmonclar opened #1873 "vertx-web-openapi's RouterBuilder implementation doesn't find $refs external to the specification's directory"
### Version

`vertx-web-openapi:4.0.2`

### Context

Attempting to create a `RouterBuilder` using an open api spec that has `$ref`s contained outside of the spec's directory always fails to load, even though the files are available in the classpath.
Example, given the following project structure:
[code]
`openapi-spec.yaml:`
[code]
Attempt to load the spec:
[code]
Looking at the code, this seems to

[2021-02-18 00:05] MeYoGui commented on #1871
Just throwing an idea here but what I actually do for that purpose is to extract useful information from the `HttpRequest` itself (you can get the `HttpRequest` from the `Webclient.request()` or any `get()` / `post()`... methods).

So I can use these information (http method, query params, headers, url, etc.) in the logs.
Hope it can help.

[2021-02-18 16:42] HuiiBuh opened #1874 "Inconsistent exception handling"
### Version

Vertx Version 4.0.2

### Context

I have a problem with the exception handling vertx . makesEvery time I use the evetbus to connect to another verticle the exception does not get handled the way I expect it to get handled.

My goal is for example to write a `errorHandler(500)` which prints *i want this to be displayed* every time an uncaught exception happens. And if I try `curl "http

[2021-02-18 17:34] thced commented on #1858
Yes, I understand the handler chaining, but the operation does not take a Router instance. In essence, it does not allow you to mount a subRouter to an operation.

[2021-02-23 09:05] vietj commented on #1670
Closing this issue as there is no reproducer, need more info.

[2021-02-23 09:05] #1670 closed

[2021-02-23 19:12] MeYoGui commented on #1873
Hello, same situation here and it's blocking us to move the new module actually.
I've been trying to find workarounds but nothing.

[2021-02-24 08:57] tsegismont commented on #1873
@slinkydeveloper can you please take a look?

[2021-02-24 14:49] pantinor opened #1875 "OPEN API web validation with query parameter using string Enum fails with exception"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

4.0.2

### Context

Observing a web validation parameter YAML parsing issue when using an ENUM with a query param like below.
Web validation fails on the request.
Debugging down into it seems to stop at the va

[2021-02-24 20:02] paolodedios opened #1876 "OpenAPI 4.0 module validates requests against the wrong schema and fails with a BodyProcessorException"
### Version

vertx-web-openapi:4.0.2

### Context

A deployed OpenAPI application using ```vertx-web-api-contract:3.9.6``` encounters schema validation problems after porting to ```vertx-web-openapi:4.0.2```.

An OpenAPI schema with nested $ref and property overrides causes the schema validator to incorrectly validate an incoming request against the wrong schema specification.  Additionally, the s

[2021-02-25 09:53] romero commented on #1871
@MeYoGui This is wrong way for several reasons:

1. You should write boilerplate code each time you use WebClient.
2. We create inconsistency between actual request string and your string from log.
3. It runs counter to OOP paradigm because we violate encapsulation principle.

I want to know what exactly will be sent over the network. So we need something like this:

`HttpRequest::toQueryString()`

[2021-02-25 13:52] adamsz-lume opened #1877 "Vertx OpenAPI server response validation on the server-side"
#### Describe the feature

OpenAPI allows to specify a response format expected to be send to the client. There is a validation for requests implemented but it would be useful as well if the server itself would validate its own responses and somehow highlight it is not conforming to the OpenAPI specification.

#### Use cases

The server can self-sanitise itself if it is implemented accordingly to

[2021-02-25 13:59] MeYoGui commented on #1871
Hey @romero

1. I don't have any boilerplate that I need to write each time I use the WebClient. The WebClient needs to be created only once per event loop, so the dependency injection is taking that into account. I'm using an abstraction layer that is wrapping the WebClient so it enables me to use a decorator pattern to hook myself before or after the request is made. One of these decorators is h

[2021-02-25 14:20] romero commented on #1871
@MeYoGui

I don't want to create decorators or another abstractions of any kind.
All I want (and other developers too) is to implement my domain logic.
When we talk "Query String" everybody knows what it means - encoded url of request.
So I think no problems to add this method.

[2021-02-25 14:27] MeYoGui commented on #1871
I may disagree a bit here. For me a "Query String" is not only the "encoded URL" : what do you do with the headers, the HTTP method or the eventual request body that you may want to display in the logs (using MDC way for some of them maybe) ?

All I'm saying is that it can be hard for an "unopinionated" framework like Vertx to choose what needs to be displayed in the logs. They choose to give us t

[2021-02-25 14:32] romero commented on #1871
@MeYoGui

I agree, sometimes we need additional info about request.
For this there should be method "HttpRequest::toString".

[2021-02-25 15:07] vietj opened #1878 "Make vertx-web-api-service optional in vertx-web-openapi"
When people don't use vertx-web-api-service, they should not have to have it on the class path so we should have this being an optional dependence.

[2021-02-25 15:07] vietj commented on #1878
See https://github.com/vert-x3/vertx-rx/issues/248

[2021-02-26 01:59] ikstewa opened #1880 "JWTAuthHandler cannot support multiple issuers"
### Version

4.0.2

### Context

As a webservice I want to be able to support JWT tokens from different issuers provided as bearer tokens. It's not possible with the current interfaces. In theory I should be able to use a 'ChainAuth' to combine JWTAuth providers however this cannot be used in conjunction with a JWTAuthHandler as it requires the provider to be of type JWTAuth.

One would think you

[2021-02-26 15:36] st-h commented on #1774
@doctorpangloss did you ever find out what is/was going on? I seem to be running into the same issue with vertx 4.0.2

[2021-02-26 15:44] st-h commented on #1830
@tsegismont Thanks so much for sharing a solution. I've spent hours trying to migrate an auth handler to v4, when I finally came across this issue. 👍

[2021-02-26 15:55] doctorpangloss commented on #1774
You have to `.toWebSocket()` in the earliest possible task, or it doesn't work. When I say task, I mean "execution of a lambda" called by vertx, for example, the first "scope" inside your route handler.

[2021-02-26 17:03] st-h commented on #1774
@doctorpangloss Thanks for the reply. I can probably see why this is working, but I also came across a related issue, which requires to pause the request with vertx 4: https://github.com/vert-x3/vertx-web/issues/1830

This actually did resolve the issue for us.

[2021-03-01 08:39] slinkydeveloper commented on #1877
Hi, this was already discussed in past: https://github.com/vert-x3/vertx-web/issues/1459

[2021-03-01 08:39] #1877 closed

[2021-03-02 07:41] domoran opened #1883 "ErrorHandler fails to print exception on null message"
### Version

4.0.2

### Context

We were getting empty 500 Internal Server error pages, while trying to figure out failures of our route handlers. Setting "show exception details" did not help.

We debugged into the issue and found that the default ErrorHandler contains a bug - when an exception with a "null" message is thrown the errorhandler fails to print exception details. We debugged into the

[2021-03-02 08:36] slinkydeveloper commented on #1875
Can you try to create a full reproducer?

[2021-03-02 08:42] slinkydeveloper commented on #1876
@paolodedios could this be similar to https://github.com/vert-x3/vertx-web/issues/1751?

[2021-03-02 09:55] milgner commented on #1874
Related: I was looking into having a generic handler for dealing with "Record Not Found" exceptions. In order to avoid repetition, my services would only throw a `RecordNotFoundException` and then a centralized error handler would pick it up and format it consistently.
But in the error handler the `failure()` method only returns `ServiceException` without its `cause` being available.

[2021-03-02 15:08] pantinor commented on #1875
Oddly I could not reproduce it with this attached, even tho it is the same thing we are doing in the production server.  Changing the query param value to something not allowed in the enum returns a 400 in this test as expected.  We are getting a 500 rejection when it is correct enum in our own tests as described above.

[repro.txt](https://github.com/vert-x3/vertx-web/files/6069551/repro.txt)

[2021-03-02 15:26] pantinor commented on #1875
The issue can be reproduced with attached test.

[repro.txt](https://github.com/vert-x3/vertx-web/files/6069689/repro.txt)

io.vertx.json.schema.NoSyncValidationException: Trying to execute validateSync() for a Validator in asynchronous state
	at io.vertx.json.schema.common.BaseMutableStateValidator.checkSync(BaseMutableStateValidator.java:59)
	at io.vertx.json.schema.common.RefSchema.getDefaultVa

[2021-03-02 19:03] paolodedios commented on #1876
The request is associated with the proper ```operationId``` by the time the exception is thrown, which leads me to believe that this bug is encountered after successful routing.

Additionally, [#1751 ] can be reproduced in both versions 3.9.x and 4.x.  This particular issue can only be reproduced with ```vertx-web-openapi: 4.0.*```.  The routing and schema validation executes as intended with ```v

[2021-03-02 19:57] paolodedios commented on #1876
I updated the reproducer to use two different route paths in the OpenAPI description to ensure that path matching is not in the critical path of this issue as in #1751

[code]

The above change results in the same exception for a ```POST``` request to ```http://localhost:8080/manager/12345/members```

[code]

[2021-03-03 09:16] #1878 closed

[2021-03-03 10:01] slinkydeveloper commented on #1873
I've managed to reproduce the issue here: https://github.com/vert-x3/vertx-web/pull/1884

[2021-03-03 17:17] slinkydeveloper commented on #1873
The PR https://github.com/vert-x3/vertx-web/pull/1884 should be ready and should fix the issue, @MeYoGui @lggmonclar can you check it out and, if you can, try the patch in your codebases? To try the patch: checkout my branch, run `mvn install -DskipTests` and then in your projects add the dep to `4.0.3-SNAPSHOT`

[2021-03-04 08:42] slinkydeveloper commented on #1875
@pantinor the test you provided is passing to me :smile:

[2021-03-04 08:44] slinkydeveloper commented on #1875
Ahhhhh i see now. This might be already solved with https://github.com/vert-x3/vertx-web/pull/1816. Can you try to use 4.0.3-SNAPSHOT in your project to check if you see the problem?

[2021-03-04 10:23] slinkydeveloper commented on #1876
I've managed to reproduce the issue https://github.com/vert-x3/vertx-web/pull/1885 Now I'm trying to figure out what's wrong with it

[2021-03-04 12:13] slinkydeveloper commented on #1843
@mwm-twx @Traderjoe95 I've drafted an implementation in json schema, do you want to try out? https://github.com/eclipse-vertx/vertx-json-schema/pull/37

[2021-03-05 06:17] estet90 opened #1886 "Custom logging handler"
If I want log requests/responses in WebClient, I might use [it](https://vertx.io/docs/apidocs/io/vertx/ext/web/client/WebClientOptions.html#setLogActivity). But I can't custom this logger, I can't set own log category or pretty format.
Need the ability to add your own log handler.

[2021-03-05 08:26] #1213 closed

[2021-03-05 08:27] slinkydeveloper opened #1887 "OpenAPI3 Validation error for required binary field in multipart/form data with content type != application/octet-stream"
Like https://github.com/vert-x3/vertx-web/issues/1213

[2021-03-05 08:31] drakkan commented on #1887
Setting

[code]

within the OpenAPI schema fix the issue, I'll use this workaround for now, thank you

[2021-03-05 09:10] drakkan commented on #1887
This is what works now (4.0.2):

[code]

and this is what worked before (3.8.x-3.9.x):

[code]

for the label_map application/octet-stream seems accepted even without using the `\Qapplication/*` hack, while if I send a `text/plain` content-type defining `text/*` seems to cause a validation error, I have to explicitly add `text/plain`

[2021-03-05 12:04] slinkydeveloper commented on #1876
@paolodedios can you check it out the fix and try to test the patch? After some intensive debugging sessions, i've found out the very deep mutability bug here...

[2021-03-05 13:13] rgmz opened #1888 "[bug] WebClientSession duplicates headers when re-using request"
[bug] WebClientSession duplicates headers when re-using request

### Version

4.0.2

### Context

This may be a case of me ['holding it wrong'](http://www.cnn.com/2010/TECH/mobile/06/25/iphone.problems.response/index.html), however, when interacting with paginated APIs I tend to construct a single request and then re-send it until a particular criteria is met.

For example:

[code]

However, I rec

[2021-03-07 00:53] paolodedios commented on #1876
@slinkydeveloper I will try to test the patch. Thanks for turning it around so quickly.

[2021-03-08 14:48] vietj commented on #1886
can you try looking at the internal interceptors ?

[2021-03-08 14:52] vietj commented on #1888
thanks for the reproducer, this looks like a bug

[2021-03-08 15:23] #1883 closed

[2021-03-08 22:45] pk-work commented on #1888
Hi,
I was able to reproduce it and will pick the issue.

[2021-03-08 23:30] vietj commented on #1888
thanks Pascal

On Mon, Mar 8, 2021 at 11:45 PM Pascal <notifications@github.com> wrote:

[2021-03-09 10:05] AlliageSphere opened #1889 "HTTPAuthorizationHandler cannot be accessed from outside package."
#### Describe the feature
"HTTPAuthorizationHandler" class seems it could be turned to a public class.
Since the base implementation is public too it should not make any difference to have it package private.

#### Use cases
I would like to create an alternative to the default JWT authentication system. The only difference will be that instead of using the HTTP Authorization Bearer<my jwt> the JWT

[2021-03-09 11:44] pmlopes commented on #1889
@AlliageSphere if you sign the Eclipse ECA you can also make a pull request for this! :wink:

https://www.eclipse.org/legal/ECA.php

[2021-03-09 11:46] pmlopes commented on #1889
Here's some link describing the contribution process:

https://github.com/eclipse-vertx/vert.x/blob/master/CONTRIBUTING.md

[2021-03-09 14:41] AlliageSphere commented on #1889
Hi !
Sorry, I have just seen the GitHub notifications in my emails.
I will read your links.

And thanks for your help !

[2021-03-09 15:09] lggmonclar commented on #1873
Hi @slinkydeveloper, I've tested a bit further and I see that with your changes, `OpenAPIHolderImpl` doesn't search for the reference only in the file cache anymore, which is good for the case where the reference is in the same module, but now the issue is that the file loader it is assuming that the file is in that module's resources at all, which isn't always the case.

My issue (and the one I'v

[2021-03-09 15:16] pmlopes commented on #1858
@slinkydeveloper I think we need an overload to allow sub routers like we allow handlers, the tricky part is getting the order right and see if the subrouter doesn't shadow the remaining of the router.

Alternatively we may need to define a specific `sockjs` support .

[2021-03-09 16:14] slinkydeveloper commented on #1858
That is a huge breaking change :smile: Can this be done before the user starts dealing with openapi at all? Can we move this somehow to `create` where the openapi loader does some async things to load the contract? I could just go through the whole contract and figure out the required parameters...

Also can you show a sample contract for that?

I guess that answers my above proposal... Can we giv

[2021-03-09 19:06] pmlopes commented on #1858
Following offsite discussion to avoid breaking the API we may achieve the same result by adding an extra static factory:

[code]

Now the `switch` does feel unnatural here, so we could introduce a new intermedia type to "provide" the `AuthenticationHandler`:

[code]

Which would be usable as:

[code]

This option would allow adding an arbitrary number of providers, avoiding the switch statement. M

[2021-03-10 06:23] estet90 commented on #1886
I figured out how to use interceptors
[code]
But I can't get the request body =(

[2021-03-10 15:55] slinkydeveloper commented on #1873
I don't think so, because vert.x file loader is able to try searching first in the classpath, then in the local FS, here is a test: https://github.com/vert-x3/vertx-web/blob/master/vertx-web-openapi/src/test/java/io/vertx/ext/web/openapi/impl/OpenAPIHolderTest.java#L100

TBH I didn't had much time, I'm sorry, I'll try to do it soon. I've used your repro to extract a test case which exactly looks l

[2021-03-10 20:48] pk-work commented on #1888
Hi,

yesterday I wrote a unit test [1] to reproduce the bug and I think I also found the problem.

Class: SessionAwareInterceptor
[code]
The comment in this class clearly says that we have to reset the headers for every "send", but we don't do it. At least in my test scenarios `context.get(HEADERS_CONTEXT_KEY)` always returned `null`. Because of this the current headers of the request (`context.re

[2021-03-10 23:21] jwvmarkus opened #1890 "SessionHandler doesn't set SameSite cookie attribute when destroying the session and expiring the session cookie"
### Questions

When the session cookie needs to be removed on session logout, the SameSite attribute is not set.

### Version

3.9.2

### Context

If SameSite.None is set on the cookie while setting it for the duration of the session, It should also be present when the user sends a logout and the expiration of the cookie is set.
The logout can be called from different locations where the SameSite.

[2021-03-11 10:25] vietj commented on #1793
@slinkydeveloper can we consider this as closed ?

[2021-03-11 10:25] #1793 closed

[2021-03-11 19:01] lggmonclar commented on #1873
I've gone through the new included tests for `vertx-web` and indeed it works in that case, but the test case is not **exactly** like our project. There's seems to be one key difference:

We aren't loading the initial spec from a .jar file, which means that the scheme of the scope for building the solvedURI is not a `jar`, but rather a `file` here: https://github.com/vert-x3/vertx-web/blob/master/v

[2021-03-11 19:31] pmlopes commented on #1890
I'm a bit confused, if you remove the cookie from the context, shouldn't the `getCookie` right after always be `null`? marking the added block never reachable?

[2021-03-11 20:45] vietj commented on #1888
thanks @pk-work I worked on a fix and reused your tests.

as you suspected the root cause was related to the internals of the HttpContext and you can check the changes in https://github.com/vert-x3/vertx-web/pull/1891

[2021-03-11 20:56] #1888 closed

[2021-03-11 22:36] pk-work commented on #1888
Hi @vietj , thank you for the fix. I'm happy that I was able to help. In my test I set the timeout for await to 200 seconds, to be able to debug. Now your change is already merged, but I would suggest to change 200 seconds back to 200 milliseconds.

`await(200, TimeUnit.SECONDS);`

[2021-03-11 22:55] paolodedios commented on #1876
Verified that patch #1885 fixes this issue.

Tested against my original reproducer and our migrated codebase.

Any chance that this fix can make it to the next 4.0.3 patch release?

[2021-03-12 06:40] thced opened #1892 "LoggerHandler could expose RoutingContext when custom format is used"
### Version

4.0.2

### Context

The LoggerHandler has the feature to do custom format logging, but while doing this, one is restricted to only the request, not the whole RoutingContext. In this specific case we needed the route name that was unavailable.

[2021-03-12 08:03] pmlopes commented on #1892
We should update the `LoggerHandler` to take a custom formatter instead of a `Function`. For example:

[code]

This should deprecate the old `Function` formatter.

There the formatter interface should receive the timed time of the request, so the user doesn't need to compute that.

[2021-03-12 08:08] pmlopes commented on #1892
@thced I'm not sure that the route name usage will give you the desired result.

Each route has a name (btw this was supposed to be an internal method for tracing) so if you have:

[code]

Depending on where the process will end you will have a different route name.

[2021-03-12 08:47] vietj commented on #1888
right 200ms is I think a little to low as this might fail in the CI or with
a debugger.

On Thu, Mar 11, 2021 at 11:36 PM Pascal ***@***.***> wrote:

[2021-03-12 09:03] pmlopes commented on #1871
@romero @MeYoGui, could you tell an example string representation? I'm not sure if I follow the full request here. Are you looking for something like?

[code]

This IMHO will not inform me what kind of HTTP verb is/was used, or if there's a body.

[2021-03-12 09:48] #1889 closed

[2021-03-12 10:30] AlliageSphere commented on #1889
@pmlopes
I am sorry for that.
I wasn't able to participate correctly to solve this little issue. :/
I haven't understood the contributing process.

[2021-03-12 10:30] thced commented on #1892
@pmlopes Interesting, I didn't know about that.
Either way, I think this will be solved by metrics in our case.
But either way, the suggested approach still stands. I will put up a proposal.

[2021-03-12 10:58] pmlopes commented on #1892
Yes I agree. The handler should still be improved.

[2021-03-12 17:58] romero commented on #1871
@pmlopes, yes, we are looking for this string.
The job could be done by method `HttpRequest::toQueryString()`.
Method `HttpRequest::toString()` could return all info (HTTP method, body, etc.).

[2021-03-12 19:30] MeYoGui commented on #1871
I still have the feeling that VertX is already providing everything needed with the "accessors" on the `HttpRequest,` and it's on us to display it the way we want (some of us may don't want the body to be displayed by default for security reasons for example).

What we've been using is this format though :

[code]

[code]

We omitted the query parameters as we put them in MDC (Mapped Diagnostic Co

[2021-03-13 06:07] pskarthic commented on #1874
I am also having similar issue, where I couldn't send error to front-end/client, instead waiting for timeout to occur and sending timeout exception. I would be good if this can be addressed.

[2021-03-13 06:09] pskarthic commented on #1874
I am also having similar issue, where I couldn't send error to front-end/client, instead waiting for timeout to occur and sending timeout exception. I would be good if this can be addressed.

[2021-03-15 09:59] #1892 closed

[2021-03-16 08:05] slinkydeveloper commented on #1793
Now we have proper tests for all the different cases (loading from files, from classpath, from jars)

[2021-03-16 11:57] pmlopes opened #1895 "Check scopes/authz before invoking user handler/evetnbus address"
OpenAPI module creates a router with security setup, however the way oauth2 works is that the requested scopes may be not be granted by the IdP so the returned token doesn't necessarely contain the required scopes.

We need to use the `AuthorizationHandler` before the user handler is called to ensure that the requested scopes are allowed.

[2021-03-16 12:04] pmlopes commented on #1858
Renamed the issue to reflect the discussion in the comments.

This issue shall track the implementation of `oidc` support to openapi. When this value is present, it shall be used to configure the `oauth2` handler

[2021-03-16 14:09] pmlopes commented on #1858
@thced I've repurposed this issue to track OpenID Connect support, perhaps we should create a different one for sockjs bridge.

Maybe we could define a template openapi document with all the sockjs endpoints? and have some way to mount a sub router instead of a handler? However mounting a subrouter is tricky because it can shade the generated router so I'm inclined to say we need to carefully see

[2021-03-16 16:55] roegi opened #1896 "StaticHandler index-page redirection is not working correctly (trailing slash)"
### Version

- vertx-core: 4.0.0
- vertx-web: 4.0.0

### Context

While using the StaticHandler to serve an "index.html" file by providing a path pointing to its parent directory, the redirection is done incorrectly. There is a trailing slash at the end of the location-header value.
e.g.:
Calling an endpoint like "http://localhost:8080/static/dir/" the server responds with HTTP 301 and "location:

[2021-03-16 17:26] romero commented on #1871
@MeYoGui
1. Using accessors is procedure way, not OOP.
2. I don't want to repeat the same logic each time I use WebClient.
3. It is very important to be sure that what we see in log is what we send by network.
4. Maybe we just need fix logging for WebClient.

[2021-03-17 09:50] pmlopes commented on #1896
Have you tested against 4.0.3?

This commit should have fixed it:

https://github.com/vert-x3/vertx-web/commit/ed955e67e19f21b46251ab3805795c998c260d12

[2021-03-17 10:12] rjaros commented on #1896
I have the same issue with 4.0.3. Works fine with 4.0.2.

[2021-03-17 10:54] pmlopes commented on #1858
I've been reviewing the OpenAPI module regarding security, currently we lack support for `openIdConnect`. After reading the spec and going over the forums and support ticket, I think I understand the way it is supposed to work.

When a API document defines:

[code]

The router generator should perform a "discovery" call to configure the `OAuth2Handler`. There are a few things missing here. In orde

[2021-03-17 11:04] roegi commented on #1896
No, I had only tested it with 4.0.2 as 4.0.3 was not existing in maven-central, last week at the time of my testing. I can confirm the redirection is working correctly now using 4.0.3.

[2021-03-17 11:04] #1876 closed

[2021-03-17 14:43] vietj commented on #1871
I think we could have this static util method in vertx-web-client if you can make a PR.

[2021-03-17 16:05] #1875 closed

[2021-03-17 16:05] slinkydeveloper commented on #1875
Cool! Reopen if you need it

[2021-03-17 16:18] romero commented on #1871
@vietj Oh no!
So many weird words in one place)
Can we achieve this by using `WebClientOptions::setLogActivity`?

[2021-03-17 16:19] rjaros commented on #1896
Please do not close this issue yet. This is my sample project: https://github.com/rjaros/vertx-web-1896
Before 4.0.3 opening http://localhost:8888 returned the content of the `index.html` file from `resources/webroot`. With 4.0.3 the browser is redirected to `/index.html/` (with traling slash).

[2021-03-17 16:59] roegi commented on #1896
I also checked it again using my Reproducer class mentioned above. The issue seems to be solved for deeper paths, while it persists for the root-path.
I was able to reproduce it by replacing

`router.route("/static/*").handler(StaticHandler.create());`

by

`router.route("/*").handler(StaticHandler.create());`

in my sample class above and doing a curl like: `curl -v http://localhost:8080/`

[2021-03-17 18:37] mohamnag opened #1897 "OpenAPI router builder ignores $ref in responses"
### Version

v4.0.3, bug also present on current master branch

### Context

In search of why the `RouterBuilder` does not add content type handler, I found out that operations' responses defined as `$ref` are totally ignored as the code (observable [here](https://github.com/vert-x3/vertx-web/blob/9a9d3db0b6cd908967fbe4d38d6643904a9c71c2/vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/imp

[2021-03-18 10:32] tsegismont opened #1898 "ServiceConfigurationError with Redis Session Store"
When creating Redis Session Store in a generic way (with Java Service Loader)

[code]

The app fails with `java.util.ServiceConfigurationError`:

[code]

[2021-03-18 13:06] pmlopes commented on #1858
Task breakout to accomplish this feature:

* [ ] Create the interface `AuthenticationHandlerFactory` which should be annotated with `@VertxGen`
* [ ] The interface should have a factory `static` method `create()` to follow the vert.x conventions
* [ ] The interface should have a method `add(String id, Function<JsonObject, Future<AuthenticationHandler> provider)`
* [ ] The implementation should sto

[2021-03-18 13:36] #1896 closed

[2021-03-18 13:37] pmlopes commented on #1896
@rjaros @roegi indeed the root case was not being properly marked as a resolution. I've added a unit test to verify that case too and fixed it.

[2021-03-18 14:14] roegi commented on #1896
Thank you very much, @pmlopes.

[2021-03-18 16:43] thced commented on #1858
That is perfectly fine; to be honest, we can wait till this issue arise again, and then take it to the drawing board.

[2021-03-19 09:43] #1898 closed

[2021-03-19 14:56] tsegismont opened #1900 "sl4j-api dependency missing for Thymeleaf"
sl4j-api dependency is marked as provided for the Thymeleaf engine.

So when `vertx-web-templ-thymeleaf` is added to a project with Maven/Gradle or others, the slf4j-api JAR is not resolved transitively and the application cannot run.

As a workaround, users must either add the `sl4j-api` manually or an slf4j binding (e.g. `org.slf4j:slf4j-log4j12`).

[2021-03-22 09:51] slinkydeveloper commented on #1843
The PR in vertx-json-schema was merged, I can close this one

[2021-03-22 09:51] #1843 closed

[2021-03-23 08:29] M4ikT opened #1903 "webclient .as(BodyCodec.pipe(HttpServerResponse)) does not handle cookies and redirect codes"
### Version

* vert.x core:4.0.3
* vert.x web:4.0.3

### Context

Using `BodyCodec.pipe` with `HttpServerResponse` gives 200 OK, even if the response code is 301 or 302.
Cookies are also ignored.

Is this behavior expected or a bug?

Example:
[code]

[2021-03-23 09:42] tsegismont commented on #1903
This is expected. The Web Client is designed to _buffer_ the body before invoking the callback (or completing the returned future).

When using the `pipe` codec this means sending the whole content through the pipe before invoking the callback.

If you want to get a failure early, you could use Vert.x Web Client [response predicates](https://vertx.io/docs/vertx-web-client/java/#response-predicates

[2021-03-23 09:42] #1903 closed

[2021-03-23 10:43] pmlopes commented on #1858
To avoid OpenAPI to handle the clone of OAauth2Handler's because of different scopes see: https://github.com/vert-x3/vertx-web/pull/1905

[2021-03-23 13:35] pmlopes commented on #1858
This issue should also be compatible with: JWTAuth as used here:

https://github.com/heremaps/xyz-hub/blob/80f93330d447c2ff7610407026494058a211f199/xyz-hub-service/src/main/java/com/here/xyz/hub/XYZHubRESTVerticle.java

[2021-03-23 14:23] #1900 closed

[2021-03-23 16:05] pmlopes opened #1906 "APIKey Handler"
We should have a simple `APIKeyHandler` to address the requirements of OpenAPI:

https://swagger.io/docs/specification/authentication/api-keys/

The handler should extend `AuthenticationHandler` and have configurable source of API Keys

[2021-03-23 16:07] roostapour opened #1907 "How to have customized security handlers in vertx4?"
### Questions

How to have a customized security handler in vertx4?

### Version

vertx4

### Context

I am migrating to vertx4 and have a question about securityHandler (using openapi security scheme). In version 3.9.0 I was using `OpenAPI3RouterFactory` and with calling `addSecurityHandler` was able to pass my own customized security handler like:

[code]
where `permission1`, `permission2`, `per

[2021-03-24 08:10] MartinKersten opened #1908 "Upgrading Individual Request to WebSocket Fails due to Request already Read"
### Problem
Using a single HTTP GET (Connect) endpoint to only upgrade a GET request to a WebSocket failed due the request is already read. After hours of debugging, reading and giving up and used another solution involving more work and afford. The solution was able to connect the first websocket request which worked fine but every other connection attempt blocks and the request returned request.

[2021-03-24 08:28] MartinKersten opened #1909 "Use a global HTTP server to support multiple verticles contributing routes independently"
#### Current Situation

Currently creating two HttpServer instances listening to the same port are not supported. Having multiple instances of the very same Verticle results in alternating choosing a individual instances HttpServer server to let one instance answer the request allowing multiple instances of the same Verticle to contribute routes to the same port.

#### Use cases

Being able to mod

[2021-03-24 08:43] pmlopes commented on #1908
@MartinKersten I've created the following reproducer:

[code]

with the HTML:

[code]

Using vert.x 4.0.3 and my console doesn't print any exceptions only:

[code]

[2021-03-24 09:24] vietj commented on #1909
that's a long known issue, perhaps we can revisit this in Vert.x 4

[2021-03-24 09:25] vietj commented on #1909
@MartinKersten I think the main issue currently is that an HTTP server request is couple to a given event-loop and it would work if we are able to dissociate an HTTP server request from an event-loop and associate to another event-loop. Did you find that in your investigation ?

[2021-03-25 14:12] pmlopes commented on #1907
@roostapour what is the API signature of your permission handlers?

The choice of `AuthenticationHandler` was to ensure that you would be using one of the provided handlers:

* OAuth2
* JWT
* Basic
* HTDigest
* ...

If you're creating a custom handler, perhaps you're not implementing that interface but just going to the parent of all interfaces `Handler<RoutingContext>`. Can you detail more about

[2021-03-25 23:05] roostapour commented on #1907
Thanks for your answer @pmlopes.

Here is what I have in vertx3 for the customized security handlers:
In `api.yaml` file:
[code]

In `MainVerticle.java`:
[code]

This design and implementation give us flexibility in having different customized security schemes(and handlers) and easily assign them to different apis as needed.

With what you are suggesting for vertx4, not using security handler anym

[2021-03-26 08:38] pmlopes commented on #1907
@roostapour I think we made a wrong decision here, perhaps we should switch back from `AuthenticationHandler` back to `Handler<RoutingContext>` (technically it's an API change that would require a recompile but not break anyone already using the new mode. Otherwise we could attempt to make `AuthenticationHandler` also a `@FunctionalInterface` and then your previous code would be able to work too.

[2021-03-26 10:42] pmlopes commented on #1907
I'm going over the OpenAPI 3 spec and I am reading the section:

http://spec.openapis.org/oas/v3.1.0#security-requirement-object

This says that each "name" must correspond to a security scheme declared in the security schemes under the components object.

Jumping to the section:

http://spec.openapis.org/oas/v3.1.0#security-scheme-object

there's a list of required "type" values:

1. `apiKey`
2.

[2021-03-26 18:32] MeYoGui commented on #1873
Hello :) Thank you for taking care of that.

Let us know if you need any further information. We're waiting for this fix to be able to use the new OpenApi module 👍

Thanks.

[2021-03-28 18:55] MartinKersten commented on #1909
@vietj Julien I use a different approach but with limitations I do not care for at the moment.
(1) A GlobalHttpServer wraps an actual HttpServer instance
(2) The HttpServer instance is created + listens to port  and lives in the context that first requests it
(3) Each registered handler is stored along with its context in a list of handlers with similar routes (map for pathParameter names)
(4) The

[2021-03-28 18:58] MartinKersten commented on #1909
The global server allowed me to get others on board with the whole vertx train as it eliminates the need for reverse proxies or extensive configuration to just transparently map different ports to a the same port or maintain an API layer all teams will have to sync on. So I guess its worth it to make something like the GlobalHttpServer available to people but saying where the current limitations a

[2021-03-30 01:52] roostapour commented on #1907
Thanks @pmlopes . I think we are struggling to understand the new flow of authentication and what we need to override. Here I'll attempt to explain our use case and would like to get your input on it:
- We are using just bearer token (JWT) for authN/authZ for the API. No sessions/TLS/etc.
- The JWT provides a list of services and permissions that this token authorizes:
Think of it as somewhat simi

[2021-03-30 06:45] vietj commented on #1909
@MartinKersten I think that what you do can introduce data races because you are using fully an http server request/response from another context

[2021-03-30 10:55] pmlopes commented on #1858
OpenAPI 3.1.0 also states:

http://spec.openapis.org/oas/v3.1.0#patterned-fields-2

This means that JWT auth should also consider validating the claims. We need to add an `AuthorizationHandler` for security related tasks.

[2021-04-01 08:58] pmlopes commented on #1907
@roostapour Thanks for your feedback, you're right that it's hard to create an `AuthenticationHandler` so I'd like to propose the following: https://github.com/vert-x3/vertx-web/pull/1905/files#diff-f09b957cd15304aefd31a7ef4272e763af7c9415f3d681430c37a7823ce90757

The important here is that we have now a composition form to create `AuthenticationHandler`s. for example, looking at your examples I'd

[2021-04-01 09:09] pmlopes commented on #1872
Security wise `http` security may use the scope list as `role`s required for execution. This means we need to be able to link both authentication with authorization.

While in `oauth2/oidc` scopes are more or less easy to handle as they are returned as part of the token exchange, for `http` and `bearer` token authentication the `scope/role` may be anywhere in the token which may require custom han

[2021-04-01 09:11] pmlopes opened #1912 "Make webauthn handler extend Authentication handler"
Currently webauthn doesn't implement authentication handler. By doing so we could even use it with a chain auth if needed.

[2021-04-01 21:56] jareddellitt opened #1913 "OpenAPI3RouterBuilder w/o BodyHandler and w/AuthenticationHandler causes "java.lang.IllegalStateException: Request has already been read" when consuming request as ReadStream"
### Version

4.0.0.CR2 (caused by this commit 937d1e7)

### Context

We're consuming `HttpServerRequest` as a `ReadStream` for file uploads because we can't bring large files into memory and we can't store the files on disk. We stream the bytes through to another service that handles storage.

Before the referenced commit this was working great, but since the `ctx.request().resume()` calls were in

[2021-04-02 15:58] pmlopes commented on #1913
@jareddellitt I've looked at the reproducer and I'm not sure if I agree that it is a bug. I think this is working as per design. Let me explain. Vert.x core mandates that anyone interested to read the body of a request must do it during the initial handling of the request or if asynchronous operations are to take place, the request must be paused to avoid loss.

We were breaking protocol upgrades

[2021-04-03 10:42] jareddellitt commented on #1913
@pmlopes Well I feel silly now. Pausing the request in the handler and resuming before piping did the trick. Thank you for taking the time to look and for your contributions.

[2021-04-03 10:42] #1913 closed

[2021-04-06 03:23] roostapour commented on #1907
@pmlopes That is great. Thanks for adding this. I think this will make our implementation way simpler.

Looking into your PR and the example you have provided I have a couple of questions:

1) Do we need to pass `User.create()` in case of `succeededFuture`? What exactly is the purpose of this user instance? We didn't use this in our design.

To make sure that I get your example correctly, lets say

[2021-04-06 06:59] mohamnag opened #1914 "User information passed inside ServiceRequest are insufficient"
#### Describe the feature

While using the OpenAPI module combined with Web API Services, it seems that things need to be done twice if any useful information about user is required on the service side.

Assuming OpenAPI spec is loaded and mounted to eventbus on `MainVerticle` and the service instance is created and bound to eventbus on `ServiceVerticle`, when a security schema is defined on OpenA

[2021-04-06 07:11] pmlopes commented on #1907
@roostapour let me try to anwser your questions:

#### 1.

The `User.create()` is the factory method to create `User` objects. A user object is then attached to the `RoutingContext` so when you do `context.getUser()` is returns that value. This value is important and has a special meaning (just like in many other frameworks). The existence of a `User` means that this request is authenticated and v

[2021-04-06 08:24] pmlopes commented on #1914
@mohamnag this idea makes sense when the services are all in the local even bus. If you're deploying in a cluster, nothing forbids other nodes to join the cluster, and then it's a question of trust. Do you trust all nodes? Then indeed we may just pass the full user, if not the user must be rechecked.

We could, however, make that distinction:

If we do send local, then you're 100% right just send

[2021-04-06 08:47] mohamnag commented on #1914
@pmlopes you are right, I was mainly talking about local setup. However I don't know how would I think about a clustered setup where nodes are not trustworthy. This will have a broader impact as nobody is forbidding other nodes listening to/manipulating all the information going over the bus. But if you consider that a valid setup, then you are right, wen need token validation and parsing on both

[2021-04-06 17:28] roostapour commented on #1907
Thanks for you answers @pmlopes, 2 and 3 are clear and they perfectly cover our usecases.

About 1, `User.create()`, does that mean for any `SimpleAuthenticationHandler` we have to do `Future.succeededFuture(User.create())`. Then if we have multiple permissions and consequently multiple  `SimpleAuthenticationHandler`, we create multiple user instances (for the same user). Am I correct or I am miss

[2021-04-06 18:19] pmlopes commented on #1907
The creation of the user is per handler. When there's just one security handler in the route then the user in the context is the same object identity of the user created in the handler.

When there are more it's the merge of all properties until the chain is true. But this is taken care inside the chain auth handler used by the route builder.

[2021-04-06 20:17] roostapour commented on #1907
Thanks for the clarification. It seems that this will support our usecases. But I think we can be sure if we test it. Let us know if we can test this before your release and we will let you know how it goes.

[2021-04-07 20:11] mohamnag commented on #1914
so basically you mean for now there is no way of enforcing authZ on the `RouterBuilder` right? I was hoping of being able to add a simple Handler after AuthenticationHandler and before rest of logic, but it seems impossible. According to [this](https://vertx.io/docs/vertx-web-openapi/java/#_router_builder_handlers_mount_order) I can only add handlers *before* AuthenticationHandler.

[2021-04-07 20:16] mohamnag commented on #1914
I think its more proper if I close this issue here and open a new one with more details as now what I need is a bit different.

[2021-04-07 20:16] #1914 closed

[2021-04-07 20:29] mohamnag opened #1915 "It is impossible to add (custom) authorization when using OpenAPI module"
### Version

v4.0.3

### Context

While trying to add authorization after authentication to all operations that are mounted from an OpenAPI spec file, I realised that this is impossible.

### Do you have a reproducer?

Given an spec file name `api.yml`, following code will load spec and mounts all operations to services over bus (mounted using Web API Service module).

[code]

lets say the whole A

[2021-04-08 07:57] aruis opened #1916 "When setCachingEnabled (TRUE), the 404 page should be cached?"
### Version

4.0.3 and previous versions

### Context

When using StaticHandler, if the files in the folder do not exist, returning 404 (Resource Not Found), which is completely correct. But there is a problem, if setCachingEnabled (true), the status of this 404 will be cached, even if I later provide accessible files, StaticHandler does not help me return this file.
This is very disadvantage that

[2021-04-08 08:20] romero opened #1917 "HTTP status 500 without description when using several handlers for one route unchunked"
### Description

If I use more than one handler for a route client get 500 error in response while there is no error message on server.

### Version

4.0.3

### Code sample

`
  @Override
  public void start(Promise<Void> startPromise) {

    final HttpServer server = vertx
        .createHttpServer(
            new HttpServerOptions()
                .setLogActivity(true)
        );

    final Ro

[2021-04-08 10:57] romero opened #1918 "Store context data as JsonObject"
For now we have to manually check that required parameter exists:

[code]

This code is obviously a mess. If we need `Integer` it become even messy:

[code]

Using `JsonObject` it could look like:

[code]

[2021-04-08 11:07] romero opened #1919 "Server eats exception and simply responds 500"
### Description

Server log doesn't contain any info about NPE error. I think it happens for other errors too.

### Version

4.0.3

### Code sample

[code]

### Log sample

[code]

[2021-04-08 11:24] pmlopes commented on #1919
Does the exception happen inside the handler created by: `ResponseContentTypeHandler.create()` ?

[2021-04-08 11:58] pmlopes commented on #1918
I think we should introduce a `getOrDefault(String key, T defaultValue)` variant instead.

The reason we use a `Map` instead of `JsonObject` is because we want to allow any object in the context without going over the json type validation

[2021-04-08 13:02] romero commented on #1918
Ok, looks nice!

[2021-04-08 13:04] romero commented on #1919
Sorry)

Exception happens here:

[code]

Because context has no value with this key.

[2021-04-08 13:17] #1906 closed

[2021-04-08 14:13] #1912 closed

[2021-04-08 14:49] pmlopes commented on #1907
@roostapour I've merged the branch where the changes were being done. If you're using maven you can enable the snapshot repository and test it:

in your `~/.m2/settings.xml` ensure you have:

[code]

And you can try updating your vertx versions to `4.1.0-SNAPSHOT` to test

[2021-04-08 20:37] roostapour commented on #1907
@pmlopes I am using gradle. I tried:
[code]
And I am getting this error:
[code]

So I checked [https://oss.sonatype.org/content/repositories/snapshots/io/vertx/vertx-stack-depchain/](url) and `4.1.0-SNAPSHOT` is not there. Assuming the same for jitpack.

Any way I can test it with gradle?

[2021-04-08 22:27] roostapour commented on #1907
@pmlopes I am using gradle. I tried:

repositories {
	mavenCentral()
        maven { url "https://oss.sonatype.org/content/repositories/snapshots"}
	maven { url "https://jitpack.io" }
}

dependencies {
	implementation enforcedPlatform("io.vertx:vertx-stack-depchain:4.1.0-SNAPSHOT")
}
And I am getting this error:

     Searched in the following locations:
       - https://repo.maven.apache.org/mave

[2021-04-09 08:55] pmlopes commented on #1907
@roostapour I think the snapshots repository has changed to:

[code]

Otherwise I think you could try:

[code]

And checkout this code and build with `mvn -Dmaven.test.skip=true clean install`

[2021-04-10 01:42] roostapour commented on #1907
@pmlopes thanks, I used the correct snapshots repository and it works. I tested our code with your changes and everything works fine. Thanks a lot for working on it, appreciate your help. When are you going to release this?

[2021-04-13 01:40] aruis commented on #1916
I found an attribute: FileSreadOnly. I thought it would notify StaticHandler not to use the cache, but there is no success. I don't understand this code, why use || instead of &&?

https://github.com/vert-x3/vertx-web/blob/451ed7d9aa4e80924298bb9fb76b51fb589c1871/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/StaticHandlerImpl.java#L163-L170

[2021-04-14 07:53] romero commented on #1919
I have the same issue when trying to do this:

[code]

Server responds with 500 and logs are empty.

[2021-04-14 08:04] romero opened #1923 "If request has empty body any attempt to read it will cause 500 error"
### Version

4.0.3

### Sample code

[code]

### Sample log

[code]

[2021-04-14 09:08] pmlopes commented on #1923
@romero there are 2 things here:

1. the 500 comes from a NPE on the `toString()` call.
2. That `body()` method is the core body parser handler, in fact you should be using `BodyHandler()` in your route first and then just use the context to access the parsed body:

[code]

This seems to work as intended. The confusion here is that the context exposes the "original" vertx-core interfaces and there

[2021-04-14 09:12] romero commented on #1923
I just want to see all errors in application log.
For now I have to spend a lot of time in debugging.

[2021-04-14 09:17] romero opened #1924 "BadRequest when submitting url encoded form"
### Version

4.0.3

### Context

I try to submit a form with type 'application/x-www-form-urlencoded' and get 400 response with no description and no logs.

### Sample code

[code]

[code]

### Sample log

[code]

[2021-04-14 09:48] #1919 closed

[2021-04-14 10:25] pmlopes commented on #1923
A work around until a new release is out, try to lower the level to TRACE on the class RoutingContext

[2021-04-14 11:01] romero commented on #1924
I have found that this issue is related to body size.

[2021-04-14 11:11] romero commented on #1923
Ok, thank you!

[2021-04-14 13:04] #1918 closed

[2021-04-14 13:05] pmlopes commented on #1918
In order to keep it consistent with other APIs, the method `.get()` is overloaded with a 2 args variant.

[2021-04-14 13:54] pmlopes commented on #1916
@aruis I think this is a not well documented behavior, not a bug, for example, what you're looking can be reproduced like this:

[code]

If you're planning to have a fully dynamic webroot but still cacheable, you need:

[code]

Perhaps we should have a utility method to invalidate the cache on demand?!

[2021-04-14 14:08] tsegismont opened #1926 "WebClient swallows MalformedURLException cause when using requestAbs"
If the `WebClient` is a given an invalid absolute `URL`, it swallows the `MalformedURLException` cause:

https://github.com/vert-x3/vertx-web/blob/8f8243702efa0b85d28b5e03c6d711e1e390a67a/vertx-web-client/src/main/java/io/vertx/ext/web/client/impl/WebClientBase.java#L233-L237

Troubleshooting would be simplified by creating the `VertxException` using the `MalformedURLException` cause.

[2021-04-14 20:32] pmlopes commented on #1915
Hi @mohamnag the current development branch will assert that the requested scopes are returned with the new token, however if this isn't enough, the right way is to add an authorization handler after the open id one performing the right validation.

[2021-04-15 01:30] aruis commented on #1916
Thank you for your reply.  @pmlopes
Cache-Control in the HTTP protocol, originally used to constrain the browser end behavior.
But in the StaticHandler of Vert.x, SetCacheEntryTimeout is available at the same time as the front end and the backend. Does this agree?
I think if a switch can be set to set whether the front-end cache and the backend cache are strongly associated.
If set to true, it is

[2021-04-15 07:20] vishu184 opened #1928 "Issues with FileUpload"
### Version

Which version(s) did you encounter this bug ?
4.0.3

### Context
i am uploading file through any library or package (RestTemplate , okHttp or any other ) i am getting different size of file than actual file size .

[code]

[code]
whenever i tried to upload file from any of the resttemplate or any module i am getting this behavior.

com.amazonaws.SdkClientException: Data read has a dif

[2021-04-15 11:32] pmlopes commented on #1916
@aruis I'm not sure I fully understand your comment. Are you suggesting to "merge" the two:

* setCacheEntryTimeout()
* setMaxAgeSeconds()

As a single configuration? It does seem to make sense if they are the same.

When someone says that the IO cache should only keep entries for say 1sec, then we probably should inform the browser that the cache max age should also be 1sec.

[2021-04-15 11:54] pmlopes commented on #1928
@vishu184 can you create a example file + the html form how you upload the file? I'm looking at our tests and we do check if the upload length does match the file length and they seem to be ok.

So I think it could be something related to the way the form is being sent and processed.

[2021-04-15 13:36] pmlopes commented on #1880
@ikstewa I can confirm this is a bug:

[code]

[2021-04-15 14:18] ikstewa commented on #1880
The current work around is to use a `ChainAuth` with two `JWTAuth` instances having different issuers. That chain auth is then wrapped in a delegating `AuthenticationProvider` that implements `JWTAuth`. This enables it to be used within a `JWTAuthHandler`.

The alternative is to change the implementation of `ChainAuthHandler` such that it will fallback to the next handler for parsing credentials a

[2021-04-16 01:36] aruis commented on #1916
@pmlopes , thank you for your reply, I haven't fully understood the meaning of SetCacheenTryTimeout, and now I have read your reply, I understand that I have been stupid before.
As for whether you have just discussed whether setMaxAgeSeconds with setCacheEntryTimeout, I have no idea, may keep the status quo, and leave freedom to developers.
Now I am going to close this Issue, and I will wish you t

[2021-04-16 01:36] #1916 closed

[2021-04-16 05:17] vishu184 commented on #1928
If upload length does not match file length i am not getting issue at vertx side but whenever i am uploading file to s3 there i need to set content-length as object metadata which is useful to create MD5 and for actual file content i am sending byte array of file. at that time i am getting both size is different.

even at client side check content-length is same but at vertx server if i am checkin

[2021-04-16 08:48] pmlopes commented on #1880
@ikstewa I've reworked the internals of `ChainAuth` which turns out to simplify a bit the internal code and now we can chain multiple JWTs so the test above will pass.

[2021-04-16 08:57] pmlopes commented on #1874
There's a `scope` problem with the example code:

[code]

Maybe an alternative to solve this is to rewrite the code as:

[code]

This way exceptions on user code are handled by the user as the user so wants. Also note that the same should be done for the eventbus to be totally complete:

[code]

[2021-04-16 08:58] pmlopes commented on #1840
This issue will be fixed by #1880

[2021-04-16 09:28] pmlopes commented on #1928
@vishu184 I've tryed to create a reproducer like your comments:

[code]

I still get the right sizes. I find it quite odd when you say if you use `cURL` and `postman` it works, can you use https://start.vertx.io/ to create a simple project with one of the non working clients you just described so I can try to debug what is going on?

[2021-04-16 09:59] vishu184 commented on #1928
non working client is not from vertx it is from spring boot and kotlin.
And i am also quite odd because if fileupload happening through the postman then file size is right but if it is from other client then it is different.

i am not sure how vertx will calculate FileUpload.size() it is from setting from some request param or it is actually calculating file size or it is calculating from metadata

[2021-04-16 14:33] pmlopes commented on #1872
This issue addresses the "scope" support for bearer authn: https://github.com/vert-x3/vertx-web/pull/1929
This issue ensures that chain will work with any combinations: https://github.com/vert-x3/vertx-web/pull/1930

[2021-04-16 14:35] #1840 closed

[2021-04-16 14:35] #1880 closed

[2021-04-19 11:40] LouizFC commented on #1872
@pmlopes @slinkydeveloper

Greetings

Sorry about the double ping, but this is a blocking issue at one of my pet projects. Is there any issue I could help with?

[2021-04-19 14:09] pmlopes commented on #1872
@LouizFC the required changes on jwt/oauth2 are already merged to the main development branch. I'm planning to start implementing the oidc improvement discussed in: https://github.com/vert-x3/vertx-web/issues/1858

[2021-04-19 14:11] pmlopes commented on #1872
So this will implement the required changes regarding security. After this, we still need to work the remaining changes which are more now level, like the "everything is a jsonschema now".

[2021-04-21 20:17] MeYoGui commented on #1873
Hello, coming back on this issue, did you find a way to fix the issue ?

[2021-04-22 08:01] lukasjelonek commented on #1915
I have a similar problem with vertx 4.0.3.

I want to use a security chain with two security handlers. In the openapi spech I defined them on a path as follows.

[code]

I want to check if a user is available from a bearer token and if not the user should be set to anonymous.

Then I register the OAuth2AuthHandler and another handler to the security names.

[code]

When I start the application it

[2021-04-22 08:10] mohamnag commented on #1915
I'm not also sure if there a proper way of adding another authN handler after `OAuth2AuthHandler`. At least could not find any on docs and neither by taking a short look at the code.

In case of authZ handler its even worse, I cant find any hint on this in docs. In my case however, I decided to move authorization to my domain logic, so its enough for me to get the token validated and decomposed.

[2021-04-22 08:13] lukasjelonek commented on #1915
In my case I found a workaround. As anonymous access will be without any Authorization-Header I rewrote my AlwasySuccessAuth-Handler as a FailWhenAnAuthorizationHeaderIsPresentAuth-Handler. Not the best way, but in my case it works.

[2021-04-22 09:51] pmlopes commented on #1915
@lukasjelonek I think we need to relax the rule and verify if it can be possible. The current rule is that if a handler **may** perform a redirect during the authentication step then we just don't allow it to be a non-terminal handler as we cannot ensure that the authentication chain will complete.

Now, we probably should only do that if the handler doesn't set up a callback, in this case, it jus

[2021-04-22 09:56] pmlopes commented on #1915
@mohamnag openapi documents only define authentication, they don't cover authz per se. The scopes you can use with oauth/oidc and jwt (in openapi 3.1) are token request scopes.

The current master branch allows you to validate properly the scopes, however, if you really want to perform `authz` then at the operation level, you should be able to chain handlers to achieve this result. For example:

[

[2021-04-22 10:01] pmlopes commented on #1915
@lukasjelonek I do believe that the comment I made above would solve your issue, as since we're not considering the redirect anymore as there's no callback installed, then the missing of the `authorization` header would signal a failure and allow us to proceed to the next authentication scheme which in your case in the "anonymous" one which always succeeds.

[2021-04-22 11:18] lukasjelonek commented on #1915
Another point that fits here well:

In openapi you can specify an empty handler with

[code]

I tried it out before I created my own anonymous handler. Unfortunately it did not work. A check in the debugger revealed that in the security handler setup this entry should be replaced by a internal alwayssuccess handler. In my example this was not the case as for some reasons this call does not what I

[2021-04-22 12:07] pmlopes commented on #1915
@lukasjelonek  Yes I see, I think we missed the optional security feature that was clarified in openapi 3.0.3.

So basically what it should do is add a NO-OP always authenticated handler right?

[2021-04-22 12:15] lukasjelonek commented on #1915
@pmlopes Exactly. It simply passes. The code in `AuthenticationHandlerStore.orAuths()` already looks as if it implemented, but unfortunately it is not registered correctly.

Your patch looks as if will solve the previous problem. Are pre-build snapshots available? Or should I build it myself to test if it works?

[2021-04-22 13:19] pmlopes commented on #1915
@lukasjelonek With this latest commit it should correctly handle `{}`. The rules are the same, an optional auth is always moved to the end of the chain, otherwise it always asserts true. But I've added a test to verify the behavior.

[2021-04-22 13:26] pmlopes commented on #1915
Once CI is green, the PR is approved to be merged. I'll merge it and again, once CI get's green, snapshot artifacts should land on sonatype. See the comments here how to get it work on your local maven/gradle:

https://github.com/vert-x3/vertx-web/issues/1907#issuecomment-815886525

[2021-04-22 13:39] pmlopes commented on #1915
All commits referended here have been merged.

[2021-04-22 13:39] #1915 closed

[2021-04-22 13:40] pmlopes commented on #1907
All commits referenced here have been merged.

[2021-04-22 13:40] #1907 closed

[2021-04-22 13:41] pmlopes commented on #1858
OIDC + JWT scopes have been merged to master.

[2021-04-22 13:41] #1858 closed

[2021-04-22 13:42] pmlopes commented on #1872
All security related tasks have been merged. We shall now focus on the yaml/schema changes

[2021-04-23 13:07] LouizFC commented on #1872
@pmlopes does this includes draft 2020-12 support? I think I could help with that.

Taking a brief look, vertx json schema implementation already uses a pseudo-vocabulary for OpenAPI (I took a brief look, I could be wrong), I will take a look and see if I can help.

[2021-04-23 13:16] pmlopes commented on #1872
@LouizFC I don't think so. All json schema support is handled in another repo:

https://github.com/eclipse-vertx/vertx-json-schema

If you want to help, please checkout that code and implement a pull request for the latest spec.

[2021-04-25 21:56] jerojasro opened #1933 "CORS handling fails with "Origin: null" header"
### Version

Which version(s) did you encounter this bug ?

4.0.3

### Context

When issuing an HTTP request with the `Origin: null` header, the CorsHandler generates an HTTP 500 error (`CORS Rejected - Invalid origin`), even though it should allow the request to continue its normal processing.

This happens whenever one creates a CorsHandler with either https://vertx.io/docs/apidocs/io/vertx/ext/

[2021-04-26 12:17] vietj commented on #1908
ping @MartinKersten

[2021-04-26 15:23] javadevmtl opened #1935 "Log (LoggerHandlerImpl) swallows/loses log if client closes connection."
As discussed from: https://github.com/eclipse-vertx/vert.x/issues/3902

Version
3.9.x

Context
Log is not logged

Do you have a reproducer?
No.

Steps to reproduce
This is coming from conversation here: https://groups.google.com/g/vertx/c/CZaPXYk2MA0

Add LoggerHandlerImpl to your route as early as possible. Make sure immediate is false, so that the log gets loged at the end of the request to ensu

[2021-04-27 07:57] HuiiBuh commented on #1874
Thanks for your reply. That is the solution I am currentely using. It is just not very elegant to surround everything with a try catch block

[2021-04-28 15:06] javadevmtl commented on #1935
So I tested this on my own  handler with the suggestion of using `ctx.addEndHandler()`

1- addBodyEndhanlder fires only after success of `ctx.response().end()` this allows to create true "filter" style handler. For example: A handler that tracks how long the request/response took. But this doesn't work as indicated if the connection is closed or if  `ctx.response().end()` fails.

2- `ctx.addEndHan

[2021-04-29 07:59] jwvmarkus commented on #1890
Removing a cookie from the browser means sending a new cookie with expired date/time. That cookie also needs the SameSite setting.

[2021-05-01 14:48] therockstorm commented on #724
This still appears to be an issue, @pmlopes @slinkydeveloper. We're using version 4.0.3. with `Content-Type: application/vnd.api+json`, everything works fine. Adding the charset, we get a `BodyProcessorException`: `[Bad Request] Body application/vnd.api+json; charset=utf-8 parsing error: Null body`.

[2021-05-03 13:47] ashertarno opened #1936 "Http file upload doesn't work with 4.0.3"
### Version

4.0.3

### Context

I'm trying to upload a file to a http server with the same code working on 3.9.5. The upload is stuck, the file size doesn't change.

### Do you have a reproducer?

A simple http server that demonstrates the issue, change relevant parameters to fit your environment

https://gist.github.com/ashertarno/8a10272b9e02a224f52bdfd2954ec0f8

### Steps to reproduce

Run the

[2021-05-04 05:57] ashertarno commented on #1936
the example above works fine on windows. the issue seems to be os dependent.

[2021-05-04 06:46] ashertarno commented on #1936
ok, i am closing this. the issue doesn't seem to be with the upload itself.
1. the upload seems to take a longer time with v4.
2. for some reason making ls -l on the upload directory doesn't show the file size growing in the process of the download. but once the download is done - the file is there and of the right size.

[2021-05-04 06:46] #1936 closed

[2021-05-04 14:44] ashertarno opened #1937 "Http file upload became extremely slow"
### Version

4.0.3

### Context

http file upload in 4.0.3 became extremely slow vs 3.9.5.
for example, it takes 6 minutes(!) to upload a 130M file on v4 vs 5 seconds  on v3 (same machine, same client)

another thing i paid attention to that  might be related: with v3 the uploaded file size is growing during the upload. (tracking running ls -l on a linux box recurrently or applicatively using peri

[2021-05-04 16:53] ashertarno commented on #1928
@vishu184 does this https://github.com/vert-x3/vertx-web/issues/1937 look related?

[2021-05-05 07:21] njacinto opened #1938 "RoutingContextImpl requires a request of type HttpServerRequestInternal and not HttpServerRequest as defined on the constructor"
On version 4.0.3, the constructor of the class RoutingContextImpl requires an HttpServerRequest object but this one will be cast later to HttpServerRequestInternal throwing a ClassCastException.

[2021-05-05 07:59] vietj commented on #1938
how does the CCE happens ? do you have a strack trace ?

[2021-05-05 08:31] vietj commented on #1937
I can indeed observe that, it seems an issue in vertx-core, I'm investigating

[2021-05-05 08:54] vietj commented on #1937
it *seems* related to Netty `HttpPostRequestDecoder` implementation.

[2021-05-05 08:57] slinkydeveloper commented on #1873
Sorry for being late, I've just managed to reproduce the issue: https://github.com/vert-x3/vertx-web/pull/1940

I'll try to fix it before 4.1 is released.

[2021-05-05 09:05] #1926 closed

[2021-05-05 09:35] slinkydeveloper commented on #1873
Ok so the #1940 should fix once for all this issue :smile: @MeYoGui @lggmonclar can you double check it?

[2021-05-05 09:38] vietj commented on #1937
here is a reproducer with only Netty

[code]

[2021-05-05 09:43] vietj commented on #1937
for a 22mb file (vertx-hr-demo.zip)

- with Netty 4.1.49.Final it takes 122ms to complete
- with Netty 4.1.60.Final it takes 9698ms to complete
- with Netty 4.1.63.Final it takes 9497ms to complete

[2021-05-05 09:43] vietj commented on #1937
I'll open an issue in Netty for this performance regression concern.

[2021-05-05 10:00] franz1981 commented on #1937
@vietj this seems related to https://github.com/netty/netty/issues/11175

[2021-05-05 10:35] vietj commented on #1937
alright, I did not spot this issue. There is a reproducer that proves the issue.

[2021-05-05 12:02] vietj commented on #1937
latest Netty 4.1 branch makes the issue go away, so this shall be resolved with an upgrade to 4.1.64.Final

[2021-05-05 12:05] ashertarno commented on #1937
@vietj thanks, julien. are you planning such an upgrade?

[2021-05-05 12:56] vietj commented on #1937
indeed @ashertarno , we will release 4.1 beta1 with no upgrade and then address the upgrade in another beta

[2021-05-05 14:13] franz1981 commented on #1937
@vietj

...
with Netty 4.1.64.Final-SNAPSHOT it takes 117ms to complete

I was expecting and even further improvement, looking at other users results, see https://github.com/netty/netty/issues/11175#issuecomment-828000345

[2021-05-05 15:14] vietj commented on #1937
the test depends on the data.

e.g if you run the same test with a file that only contains 0, all will
perform equally well.

On Wed, May 5, 2021 at 4:13 PM Francesco Nigro ***@***.***>
wrote:

[2021-05-05 15:19] franz1981 commented on #1937
@vietj Yep suppose it depends by the amount of parts to be parsed, indeed, but still surprised unless parts are < 32 bytes long

[2021-05-06 12:01] #1873 closed

[2021-05-06 12:02] slinkydeveloper commented on #1873
Hey, I've merged the fix to include it in 4.1.Beta, let me know if it works for you.

[2021-05-06 13:55] lggmonclar commented on #1873
Hey @slinkydeveloper. Thanks for the update. I'll see if the fix works for us as soon as I can.

[2021-05-06 16:30] ashertarno commented on #1937
@vietj do you have any eta for that second beta or 4.1 in general? this issue is actually the only one blocking us from upgrading to 4.

[2021-05-06 21:23] vietj commented on #1937
I think we can fork Netty code temporarily in Beta1 until we upgrade.

On Thu, May 6, 2021 at 6:30 PM Asher Tarnopolski
***@***.***> wrote:

[2021-05-06 23:09] #1937 closed

[2021-05-08 14:55] aianta opened #1944 "Web Client MultipartForm not computing content length"
### Version

Which version(s) did you encounter this bug ?
3.9.7

### Context

I'm not sure if this is a bug or feature request, my apologies in advance. I was told on discord to submit a reproducer and open an issue.

I was working on a project where user files (sometimes 'text/csv', other times 'application/netcdf') had to be uploaded to [Dataverse](https://github.com/IQSS/dataverse). For refere

[2021-05-09 12:31] ashertarno commented on #1937
@vietj thanks, julien. so generally it is pending netty's release of 4.1.64?

[2021-05-10 08:18] vietj commented on #1937
4.1.0.Beta1 (released) comes with a fork of the 4.1.64 HTTP post request
decoder and fixes this issue until 4.1.64.Final is available.

On Sun, May 9, 2021 at 2:31 PM Asher Tarnopolski ***@***.***>
wrote:

[2021-05-10 09:20] #1933 closed

[2021-05-10 10:04] vishu184 commented on #1928
@ashertarno  Nope

[2021-05-11 21:58] hosuaby opened #1946 "Vertx 4.0.3, Http 2 client fails by timeout if user makes request to server that was unavailble but became available again"
### Version

Problem concerns Vertx `4.0.3`. `4.0.2` have no problem

### Context

Scenario leading to the bug:

1. User makes request to available server (request succeeds)
2. Server becomes unavailable (shutdown, network problem, etc)
3. User makes request to unavailable server (request fails)
4. Server becomes available again
5. User makes request to returned server
6. Request fails by timeout

[2021-05-12 08:54] pmlopes commented on #1890
@jwvmarkus my question was more about the API usage. For completion, it should be safer to set the attributes on the return reference of the `removeCookie` call as the cookie may be removed from the internal map in between.

I've added a test and resolved the issue in the same lines as your comment.

[2021-05-12 09:19] #1890 closed

[2021-05-12 09:31] pmlopes commented on #1935
@javadevmtl so you're saying that the endHandler triggers before the end() completes? If that is the case, then the bug is that the `endHandler()` should be only after it completes but we need to check how feasable that is.

[2021-05-12 09:36] pmlopes commented on #1935
Chasing down the endHandler call, it goes to vertx-core. There is is called once the final `buffer` is send to the network usually right after the `bodyHandler`.

Once the data is passed to the network layer (netty) we don't have more control, that is why you can't really account for the download time.

[2021-05-19 04:34] nickbreen-lmax opened #1948 "`@WebApiServiceGen` fails annotation processing when using futures even with `@ModuleGen(useFutures = true)`"
### Version

4.1.0.Beta1

### Context

Annotating a futures-based service proxy interface, with `@ModuleGen(useFutures = true)` , `@WebApiServiceGen` fails annotation processing with a GenException:

### Do you have a reproducer?

[code]

### Extra

it appears to be because `io.vertx.ext.web.api.service.generator.model.WebApiProxyModel#createMethodInfo` is not checking `baseInfo` for `useFutures`

[2021-05-19 09:22] vietj commented on #1948
do you mind contributing a test and a fix ?

[2021-05-19 22:46] nickbreen-lmax commented on #1948
Will do!

[2021-05-20 13:42] willisjtc opened #1950 "Google Firebase Library Prevents Web Routes from Handling Requests"
### Which version(s) did you encounter this bug ?

vertx - 4.0.3

### Do you have a reproducer? yes. Clone this repo: https://github.com/willisjtc/intellij-scala-highlight-error-1 and add this line:

  implementation("com.google.firebase:firebase-admin:7.3.0")

Run GameApp.scala and no routes will be handled. localhost:8888/graphiql/ won't be handled. Remove the firebase dependency and it works ju

[2021-05-20 15:03] pmlopes commented on #1950
@willisjtc this seems to be related to a version alignment. 4.0.3 is using netty 4.1.60 while firebase pulls some netty libs as 4.1.63. This misalignment is troublesome.

Let's wait for 4.1.0.CR1 to be in central, and we can try again as it will probably pull all versions to 4.1.64

[2021-05-21 08:50] vietj opened #1952 "Template engine shaded jar regression"
The shaded version of the template engine jar classes does not contain the engine classes anymore.

[2021-05-21 08:51] vietj commented on #1952
also I found that the shaded classes are actually not repackaged under a new prefix

[2021-05-21 08:52] vietj commented on #1952
e.g

[code]

vs

[code]

[2021-05-21 08:53] vietj commented on #1952
[code]

I believe that we should repackage org.slf4j under a new package name to avoid issues.

[2021-05-21 08:53] vietj commented on #1952
ping @tsegismont

[2021-05-21 12:25] tsegismont commented on #1952
I'll look into this, thanks for the heads-up @vietj

[2021-05-25 14:48] vietj commented on #1946
it seems that this happens not with `h2` but with `h2c` upgrade on an HTTP/1 stream, can you confirm that this is the case @hosuaby ?

[2021-05-25 16:02] vietj commented on #1946
actually it is an upgraded connection that does not get upgraded to HTTP/2

[2021-05-25 16:08] vietj commented on #1946
in theory this server should response with a 400 bad request because the HTTP request contains a Upgrade header

[2021-05-25 16:46] vietj commented on #1946
I was able to reproduce and fix the bug, thanks for the detailed instructions

[2021-05-25 18:27] hosuaby commented on #1946
Hello @vietj
Sorry to not be able to answer sooner. The problem happens with client created as following:

[code]

Looks like you already found and fixed the problem. Thanks for that.

[2021-05-26 05:27] #1946 closed

[2021-05-26 05:28] vietj commented on #1946
keep in mind that with the server you are using, the client is actually using HTTP/1 because you are not using SSL and the server does not support HTTP/2

[2021-05-26 14:59] vietj commented on #1938
ping @njacinto

[2021-05-26 15:53] ShahmirAhmed opened #1954 "“Normal scoped producer method may not return null” error when Injecting RoutingContext into Service class and testing Service class with InjectSpy"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

vertx-web:3.9.6

### Context

I have a Quarkus application with a basic Service class that injects RoutingContext in order for me to retrieve IP Address and Host information from my client. I have a test class

[2021-05-27 00:18] rmtmckenzie opened #1956 "Cookies are not removed due to CORS - allow specifying same-site and secure in remove cookie"
### Version

Found in 4.0.3. This could also be classified as a feature request.

### Context

Cookies set with same-site and secure flags are not removed by BuildContext::removeCookie(name).

### Reproducer

No, sorry. It isn't particularly difficult to reproduce, but you do need two separate servers.

The setup I have that's not working is a front-end client which does requests to a backend serv

[2021-05-27 09:16] #1952 closed

[2021-05-28 03:25] ghost opened #1957 "Allow loading OpenAPI specifications from other sources"
#### Describe the feature

Currently `io.vertx.ext.web.openapi.RouterBuilder#create(io.vertx.core.Vertx, java.lang.String, io.vertx.ext.web.openapi.OpenAPILoaderOptions)` requires a URL to load the OpenAPI spec from.

It would be useful to also be able to process an OpenAPI specification from other sources.

#### Use cases

- Read the spec from an existing `JsonObject`
  E.g.  io.vertx.ext.web.ope

[2021-05-29 14:09] dazraf commented on #1415
Hi @tsegismont
I'm not sure if there's something that I can help with .. but I'm definitely interested in seeing this feature supported. Apparently, according to their documentation, the current version of graphiql (1.4.2) fully supports subscriptions. I have most saturday mornings available - is it worth me hacking with vertx-web and graphiql (1.4.2) to see if I can get it to work? Or am I missin

[2021-05-31 07:17] pmlopes commented on #1956
fixed in: https://github.com/vert-x3/vertx-web/commit/48c3ede6747d7a65cb00478a57478b44125e59a0#diff-6e96a0478b63382fcfcde5608884607e76100cdedd6721f9ebb9e9c4a45ee811

@rmtmckenzie can you test with 4.1.0.CR2 ?

[2021-05-31 07:27] vietj commented on #1944
I think we could have an option to buffer the content in memory and avoid chunked encoding

[2021-05-31 07:28] vietj commented on #1944
are you interested to contribute @aianta ?

[2021-05-31 07:29] vietj commented on #1944
the WebClient could buffer the `MultipartForm` could used content-length when the form contains only buffers too

[2021-05-31 07:41] slinkydeveloper commented on #1957
Hi @nickbreen-lmax thanks for proposing yourself to contributing!

I'm wondering how this could be implemented. Let me go through each case one by one:

* `io.swagger.v3.oas.models.OpenAPI`: I prefer to avoid it, since we would need to depend on swagger-models/swagger-parser, which is a quite costly dependency to mantain (we had it in vertx-web-api-contract, the old openapi integration)
* `JsonObj

[2021-05-31 08:18] tsegismont commented on #1415
Hi @dazraf . Thank you for offering your help!

When this issue was filed, GraphiQL already supported subscriptions (parsing queries and displaying data), but the problem was to have a fetcher that implemented the transport (here's the fetcher setup https://github.com/vert-x3/vertx-web/blob/master/vertx-web-graphql/vertx-web-graphiql/src/index.js#L60-L75)

Do you know if now they provide data fetc

[2021-05-31 08:31] tsegismont opened #1959 "GraphQL over Websocket protocol support"
See https://github.com/apollographql/subscriptions-transport-ws#graphql-ws

Protocol basic documentation: https://github.com/enisdenjo/graphql-ws/blob/master/PROTOCOL.md

[2021-05-31 09:11] vietj commented on #1959
should we scope this to a version ?

[2021-05-31 09:19] tsegismont commented on #1959
Maybe 4.1.1

[2021-05-31 09:31] vietj commented on #1938
can you give more context @njacinto ?

[2021-05-31 09:31] #1938 closed

[2021-05-31 09:55] vietj commented on #1944
after looking at the current implementation I found than the Netty encoder used by Vert.x will actually set the transfer encoding to chunked and sometimes set the content-length:

[code]

a multipart form will always use chunked encoding and whether that is correct or not (i.e I must be missing something here).

[2021-05-31 10:51] #1887 closed

[2021-05-31 12:27] #1950 closed

[2021-05-31 12:27] #1956 closed

[2021-05-31 12:30] pmlopes commented on #1924
Logging has been improved in the RC releases.

[2021-05-31 12:30] #1924 closed

[2021-05-31 12:30] #1923 closed

[2021-05-31 12:32] #1767 closed

[2021-05-31 12:33] #1601 closed

[2021-05-31 12:34] pmlopes commented on #1522
Please re-open this issue if still present in 4.1.0

[2021-05-31 12:34] #1522 closed

[2021-05-31 12:36] pmlopes commented on #1511
Closing for inactivity.

[2021-05-31 12:36] #1511 closed

[2021-05-31 12:36] pmlopes commented on #1507
Removed.

[2021-05-31 12:36] #1507 closed

[2021-05-31 12:39] pmlopes commented on #1320
In vert.x 4.x the handling of slashes has been reworked. If the issue persists, please re-open.

[2021-05-31 12:39] #1320 closed

[2021-05-31 12:40] pmlopes commented on #1270
@shenzhou-6 vert.x web is a simple web application development library for vert.x, it will not expose the internals of vert.x core or even netty. If you need to go so low level you need to interact with just vert.x core.

[2021-05-31 12:40] #1270 closed

[2021-05-31 12:42] pmlopes commented on #924
A new composable API is now available where authentication handlers can be created with the public API.

[2021-05-31 12:42] #924 closed

[2021-05-31 12:42] pmlopes commented on #498
slashes has been reworked in the 4.x release.

[2021-05-31 12:42] #498 closed

[2021-05-31 13:19] OndrejValenta commented on #1320
We are not using Vert X anymore, switched to Elexir/Phoenix so I won't tell you if it works or not.

[2021-05-31 14:12] pmlopes commented on #1024
We don't generate docs for polyglot anymore.

[2021-05-31 14:12] #1024 closed

[2021-05-31 14:13] pmlopes commented on #786
End slashes have been addressed in 4.x

[2021-05-31 14:13] #786 closed

[2021-05-31 15:29] guss77 commented on #786
@pmlopes - can you explain how was this issue addressed? I'm asking because the test case at https://github.com/guss77/vertx-web-bug-786 still fails after updating to Vert.x 4.0.3 with the same configuration.

To summarize, the `vertx-web` [`Router` configuration](https://github.com/guss77/vertx-web-bug-786/blob/master/src/main/java/coil/geek/vertx/web/simple/App.java#L31) sets up two similar hand

[2021-05-31 16:02] #1948 closed

[2021-05-31 16:51] guss77 commented on #786
The reproducer completes successfully with Vert.x-web patched with PR #1960

[2021-06-01 22:11] idontusenumbers opened #1961 "Handlebars template engine doubles hbs extension"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

4.1.0.CR2

### Context

When trying to render a handlebars template, the template engine doubles the default extension resulting in attempts to locate `template.hbs.hbs`

### Do you have a reproducer?

[handle

[2021-06-02 07:37] wang007 commented on #1909
about this issue, I have an idea.
1.  add VerticleGroup (or other name) class extends Verticle interface to support add sub Verticle.
2. VertilceGroup add sub Verticle about http server, but only one sub Vertilce listen port and shared Router (not  data races in the same eventLoop)
3.  deploy VerticleGroup

[2021-06-02 07:38] wang007 commented on #1909
@vietj about this issue, I have an idea.

1. add VerticleGroup (or other name) class extends Verticle interface to support add sub Verticle.
2. VertilceGroup add sub Verticle about http server, but only one sub Vertilce listen port and shared Router (not data races in the same eventLoop)
3. deploy VerticleGroup

[2021-06-02 07:56] vjystva opened #1962 "Redirection is not working correctly in case of large response data"
**Version**

- vert.x core: 4.0.3
- vert.x web-client: 403

**Context**
I can see an issue with redirection . Details of the issue is given below:

**Prerequisite(web-client):**
Default connection pool: 5
Default max number of redirection: 16

**Url detail(Redirection):**
This url(https://redirect.cfapps.eu10.hana.ondemand.com/api/redirect)  is redirecting to same url and this also having a respon

[2021-06-02 10:28] wang007 opened #1963 "Route add metadata used for saved extra data"
#### Describe the feature

Route add metadata used for saved extra data, such as mark route input and output type and some component according to
metadata do something.

#### Use cases

[code]

#### Contribution

I haved create a pull request

[2021-06-02 12:50] pmlopes commented on #1963
Hi @wang007 what do you mean with `metadata`? How different is this from the context `data`? Can you describe a concrete example for this feature?

I'm guessing that your goal is to avoid passing references to objects all around, and you can attach them to the route, so the handler code can be isolated on a separate file without the need to pass all accessory objects around, however I may be inter

[2021-06-02 13:01] wang007 commented on #1963
Hi @pmlopes.   metadata is attributes for Route,  like context data but that scope is Route scope.( context data is request scope),  just like vietj said that the means like attachments.
refer to spring cloud gateway route#metadata.  https://cloud.spring.io/spring-cloud-gateway/reference/html/

[2021-06-02 13:10] pmlopes commented on #1963
Ok, so let's say that you want to connect to a database in a specific route but don't have lots of references around you could do:

[code]

Then in another file:

[code]

So you don't need to pass reference to the redis client around?

[2021-06-02 13:31] wang007 commented on #1963
ummm...  That's either way to use it and how to use it without restrictions.
[code]
so when haved matadata to describe the Route,  we can do something according to it.

[2021-06-02 14:03] pmlopes commented on #1963
Ok, your use case is to "annotate"/"decorate" the route and an interesting use case is to generate an OpenAPI document out of it.

[2021-06-02 14:18] wang007 commented on #1963
yes,  I create the pr about this issue.
I never use OpenAPI and then I  will learn about OpenAPI to how connected it

[2021-06-03 09:15] #1798 closed

[2021-06-03 09:26] vietj commented on #1826
I think we should avoid multi map for this case because it does not allow this use case and also prevents to have two query parameters with the same name and a different case

[2021-06-03 09:26] vietj opened #1965 "Rewrite WebClient query parameter map to use Map<String, List<String>>"

[2021-06-03 09:29] #1965 closed

[2021-06-03 09:30] vietj commented on #1827
@slinkydeveloper any opinion on this one ?

[2021-06-03 09:51] #1908 closed

[2021-06-03 10:14] slinkydeveloper commented on #1963
@pmlopes I see how that might be useful... But then I suggest the router too has such methods, for example:

* Router -> Has attacched the main openapi (OpenAPIHolder)
* Route -> Has attached the Operation model (JsonObject) and operationId (string)

I think what this feature "requires" is the ability to access such metadata from the `RoutingContext`.

[2021-06-03 10:21] slinkydeveloper commented on #1827
https://github.com/vert-x3/vertx-web/pull/1829#issuecomment-758798885

[2021-06-04 03:18] wang007 commented on #1963
Hi @slinkydeveloper.  it is an interesting approach about to access router#metadata from the RoutingContext.
But the problem is that the current router is uncertain because of mountSubRouter.
So it should look something like this:
1. Route has a method called currentRouter that accesses the nearest router.
2. The router has a method called parent to access the parent router
3. Or if the router has

[2021-06-04 03:24] wang007 commented on #1963
Hi @pmlopes. I have a suggestion to expose the consumes and produces methods directly on the Route interface and their return values are immutable.

If necessary, I will submit a PR first

[2021-06-04 09:36] KWatzal opened #1966 "Changed encapsulation of AuthenticationHandlerImpl#processException"
### Version

Which version(s) did you encounter this bug ?
4.1.0

### Context

We have a custom Authentication Handler, which extends the [JWTAuthHandlerImpl](https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/JWTAuthHandlerImpl.java#L38).
In the custom handler we override the method [processException](https://github.com/vert-x3/vertx-web/blame/3

[2021-06-05 03:53] richard20200101 opened #1968 "Resource not found"
I'm developing a web application base on Vertx-v4.0.3，
It is normal when running in the development environment of Intelli idea, but after packaging it into a jar, it reports an error Resource not found. The following is my configuration and package detail

router.route("/web/*").handler(StaticHandler.create("webroot"));

![image](https://user-images.githubusercontent.com/61450147/120879055-3ca36c

[2021-06-05 18:03] pmlopes commented on #1968
Can you show one url that returns 404?

[2021-06-06 15:16] dazraf commented on #1415
Hi @tsegismont
I worked through graphiql for a while before then trying out graphql-playground. Works beautifully with no change in the websocket protocol. I also read that playground and graphiql will be merging. Playground has all the same features, slightly prettier UI and appears to be a better long term investment. Would you like a PR for it?

[2021-06-07 04:26] dazraf commented on #1415
Correction: I read this blog article and it looks like GraphiQL will become the core of a future playground (as a preset). https://graphql.org/blog/2020-04-03-web-based-graphql-ides-for-the-win

[2021-06-07 07:21] pmlopes opened #1969 "web-validation codegen fails to fully generate the module"
See: https://github.com/reactiverse/es4x/issues/537

There are missing top-level annotations which end up producing APIs of type `any` (`Object` in Java)

[2021-06-07 08:36] tsegismont commented on #1415
Hi @dazraf . I have used Playground myself, as a desktop app. It worked well with Vert.x Web GraphQL. I liked the fact I wasn't forced into shipping an IDE as part of the app code. Perhaps that's why we didn't have requests to include it so far.

But if you'd like to send a PR, please go ahead

[2021-06-07 09:07] pmlopes commented on #1968
@richard20200101 I'm looking at the screenshot, what's the `BOOT-INF` directory? A regular jar usually doesn't have it.

[2021-06-07 09:48] alfrrredo opened #1970 "AllowForwardHeaders not available in 3.9.x packages"
### Questions

Why AllowForwardHeaders is not available in any maven artifacts but exists is the source code!?

### Version

vertx-web 3.9.x

[2021-06-07 09:49] alfrrredo commented on #1970
I can find here but not in repo packages
https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/AllowForwardHeaders.java

[2021-06-07 09:52] goerge commented on #1966
I'd vote for opening for extension.

[2021-06-07 11:26] DemonicTutor opened #1971 "Breaking change in handling JWT Tokens - Padding now rejected as 400 Bad Request"
### Version

4.1.0.Beta1 -> [this commit](https://github.com/vert-x3/vertx-web/commit/65d78aa9eab8f7a4284d734e8234455c89340958)

### Context

Incoming JWT Token Validation.
According to the JWT Spec it should not be padded and VertX up to 4.0.3 accepted this.
It would be nice to put this into Breaking Changes for the upgrade to 4.1.0.

### Steps to reproduce

1. execute a HTTP-Request against a ro

[2021-06-07 12:03] DemonicTutor commented on #1971
The description could be better:

The JWT spec says -> no padding
VertX up to 4.0.3 *accepted* tokens containing padding.
VertX 4.1.0 rejects these tokens.

IMHO its fine to reject them - but put a note about it into Breaking Changes.

[2021-06-07 12:49] pmlopes commented on #1971
@DemonicTutor It wasn't done on purpose, as you noted it came from a change to allow validation of the input and we never noticed that we allowed non conformant input before.

Before I add a note to the breaking changes, I've a question: How did you get that token? if there are broken IdP servers out there we may relax the validation to keep the old "but not really correct behavior"

[2021-06-07 12:50] pmlopes commented on #1970
This feaure was a 4.0.0 feature. Because it was a feature/not a bug fix it didn't got backported to the 3.9 branch.

https://github.com/vert-x3/vertx-web/blob/3.9/vertx-web/src/main/java/io/vertx/ext/web/AllowForwardHeaders.java

[2021-06-07 12:50] #1970 closed

[2021-06-07 15:32] dazraf commented on #1415
That's interesting ... I found it basically the same functionality as GraphiQL, but with prettier UX.
But then, I took a look and it does look large at ~ 2.3MB. Much larger than graphiql's 872K!
Will continue to have a look at means of using GraphiQL if you prefer.

Btw, my test repo is here: [https://github.com/dazraf/vertx-graphql-blockchain](https://github.com/dazraf/vertx-graphql-blockchain).

[2021-06-07 21:42] DemonicTutor commented on #1971
@pmlopes

I only found this because we use hardcoded tokens to authenticate/authorize some bootstrapping for us and these tokens have been generated with padding.

(eg: bash scripts for setting up a developers local environment or our services requesting their first certificate use a hard-coded token)

For us the fix was quite easy... for the 2 web-methods we need i added a routing handler before

[2021-06-08 13:52] #166 closed

[2021-06-08 16:55] tsegismont commented on #1415
The price of nice UI perhaps ;-)

Seriously, if GraphiQL and Playground are to merge eventually, I would prefer that we wait for the first merged version to be released and then support it.

In the meantime, an updated GraphiQL version would be great!

And thanks for your kind words!

[2021-06-09 07:00] vietj commented on #1937
no, 3.9.8 will be released soon with Netty 4.1.65.Final that fixes the
issue.

On Tue, Jun 8, 2021 at 9:37 PM bfreuden ***@***.***> wrote:

[2021-06-09 09:06] pmlopes commented on #1963
The current routing context object does hold a private `router` final instance, every time you jump into a sub router, the context get's wrapped to adapt to the new router, so, I think that we could expose it.

If I'd assume the router is exposed maybe we could have an API like:

[code]

While this seems to work at runtime, I still need to see if we can do initialization time work.

[2021-06-09 09:07] pmlopes commented on #1963
I think this is a different issue. While you could use attachments to define produces/consumes, this request seems to be aboud adding a "getter" to the existing route state.

[2021-06-09 10:38] wang007 commented on #1963
yes，It's really a different issue

[2021-06-09 10:46] wang007 commented on #1963
[code]
If we do that, what is the value of value0, It's 123 or 456?

[2021-06-09 11:22] pmlopes commented on #1963
@wang007 as `rc` is created with the request, during the evaluation it will change to the closest router, for example:

[code]

[2021-06-09 11:36] wang007 commented on #1963
I agree with during the evaluation it will change to the closest router.
But there are other cases where you want to have access to the attachment for the previous Router.
for example:
[code]

[2021-06-09 13:07] pmlopes commented on #1963
@wang007 let me then ask. If we're saying that the attachments are hierarchical, then shouldn't we just have a `attachment(String)` method in the routing context that would do a walk from `Route` -> `Router` -> `Parent Router` -> ... `Root Router` ?

Because if we're doing a walk in the tree, it seems that the api `.currentRouter().attachment()` isn't really describing correctly what should happen

[2021-06-10 02:50] wang007 commented on #1963
Actually, yes. Do you have a better suggestion?

[2021-06-10 08:51] pmlopes commented on #1963
I had a look at expressjs, and noticed that they use the name `local` to refer to this data. I think that `attachment` can be confusing with a http response, I think the API coud look like this:

[code]

Storing is trivial just add a map to Router and Route state. Fetching, should be from the context itself, so we have the context wrapper instance, so we can do crawling from `Route -> Router -> Pa

[2021-06-10 09:22] wang007 commented on #1963
Just keep using the name **metadata**.
I think it is necessary to know clearly that metadata comes from the Router or Route.
When a user needs to use metadata from route:
[code]

When a user needs to use metadata from router:
[code]
So going back to the original question, How do define the method signature for an automatic lookup to a parent router?

[2021-06-10 11:43] wowselim opened #1973 "Multipart form with no files interpreted as form with one file"
### Version

3.9.X - 4.1.X

### Context

When submitting a multipart form **via the browser**, `RoutingContext#fileUploads` has a size of 1, even if no files were selected. I couldn't reproduce this with a test because I don't know any http client that allows you to emulate this scenario.

### Do you have a reproducer?

* https://github.com/wowselim/upload-reproducer

### Steps to reproduce

1. Ru

[2021-06-11 17:36] pmlopes commented on #1963
This one would require to be defined in the context object itself because the context impl, can do:

[code]

[2021-06-12 07:44] pmlopes commented on #1973
Looking at the html and dump, there's a form field of type "file" so I'm inclined to say that I'd expect the upload list to have size 1.

[2021-06-12 10:05] wowselim commented on #1973
This was something that tripped me up when I first encountered it and I couldn't find any meaningful search results about this. Since I didn't select any files I was expecting no files on the backend side either. Out of curiosity I built a micronaut version and it shows the same behavior:

<details>
<summary>Micronaut sample</summary>

[code]
</details>

If this is fine then this issue can be clos

[2021-06-14 08:14] franz1981 opened #1974 "Event loop thread affinity"
Allow users to define Netty event loop threads cores affinity.

Given that Vert-x use long-living threads bound to specific selectors, being able to bind it to a specific core can increase performance (and its stability) of both I/O and non I/O tasks because of a reduced amount of context-switches and a better usage of cache, given that the event loop data won't "migrate" across cores (and caches)

[2021-06-14 14:10] julien3 commented on #1380
Still happening on release v4.1.

A quick reproducer based on https://github.com/vert-x3/vertx-examples/tree/4.x/web-examples/src/main/java/io/vertx/example/web/realtime:

[code]

### Steps to reproduce

* Run the Server verticle
* Open your browser to http://localhost:8080
* Refresh the page within 5 seconds
* What the server will print out to the console:

* What the browser shows:

* What's exp

[2021-06-14 17:52] wang007 commented on #1963
That seems to work.

But sometimes I expect to get the metadata of the previous Router exactly. like this:
[code]
In fact, the Router can be mounted multiple times, so its parent is indeterminate. That is, we cannot define a parentRouter() method.
So how do we solve this need?

[2021-06-16 13:04] d-william opened #1975 "infeerPrimitiveParser method should handle null type [bug]"
https://github.com/vert-x3/vertx-web/blob/468ec9283d573039f8bf3d06aae8ee9fff5d6b16/vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/ValueParserInferenceUtils.java#L24

When the type of the SchemaBuilder is null (GenericSchemaBuilder) it's produce a NullPointerException

[2021-06-16 18:27] MeYoGui commented on #1966
We are as well relying on this method to customize our error handling. I'd vote for opening for extension as well.

[2021-06-16 19:38] LouizFC commented on #1826
@vietj I don't know if this would be the correct place to post this, but:

What if we take a different approach for headers? Camel allows a custom header factory (see https://www.javadoc.io/static/org.apache.camel/camel-api/3.10.0/org/apache/camel/spi/HeadersMapFactory.html).

Maybe vertx would benefit from having such mechanism. This would solve this niche issue by supporting it indirectly and op

[2021-06-16 20:09] pmlopes commented on #1966
Can someone please make a pull request making the method protected? I'll merge it as it affects many users. Do note that code in impl packages doesn't require to follow the deprecation cycles needed on the public apis.

[2021-06-16 21:34] MeYoGui commented on #1966
Here it is: https://github.com/vert-x3/vertx-web/pull/1976

[2021-06-16 21:58] MeYoGui commented on #1966
Here it is : https://github.com/vert-x3/vertx-web/pull/1977

Please let me know if I can be of any other help

[2021-06-17 07:50] vietj commented on #1380
can you investigate this @pmlopes it looks related to a websocket potential leak

[2021-06-18 07:25] pmlopes commented on #1380
@julien3 I've created PR to address the issue. Like you researched, this is a timing issue, given that the interceptor is run as an asyncrhonous call, it can happen that the call completes the socket state has changed. The map that holds the data is still valid, there are no issues there, so the fix, is about asserting that the socket state (more exactly, the presence of it) is the same at the beg

[2021-06-18 10:29] pmlopes commented on #1380
@vietj I believe that the issue is fixed in the referred PR. I don't think there's any leak as it turned out that it was a timing bug.

[2021-06-18 10:45] #1966 closed

[2021-06-19 00:37] EXTERNALCOREWORKS opened #1979 "Route chained handlers not working when using BlockingHandler and ProxyHandler as next handler (though if its the first in order it works)"
### Version

4.1.0

### Context

I encountered an exception which looks suspicious whilesetting the ProxyHandler in the same route that has a BlockingHandler, BlockingHandler does its job correctly, but the ProxyHandler (the next handler after BlockingHandler) eventually closes the HTTPClientConnection against the origin server (a 3rd party).
The SSL Handshake seems to be properly finished but for

[2021-06-19 00:40] EXTERNALCOREWORKS commented on #1979
@pmlopes @vietj I highly suspect that its a bug since Vertx does supports chaining of handlers and ProxyHandler was recently introduced in Version 4.1.0. Essentially what Im achieving is using a custom auth layer in the BlockingHandler to then use a reverse proxy to resolve an underlying 3rd party component (behind the proxy handler).

[2021-06-19 02:19] EXTERNALCOREWORKS commented on #1979
Or any workarounds in the interim are greatly appreciated

[2021-06-19 05:54] miere opened #1980 "HttpServerRequestWrapper is not Liskov-compatible with HttpServerRequest"
### Version
Vert.x Web version 4.1.0

### Context
I was unit testing my routers when I first stumbled upon the following exception. It turns out that I can't create a mock from the `HttpServerRequest` interface alone, as internally the `HttpServerRequestWrapper` will manually cast to `HttpServerRequestInternal`. This would force me to mock the `HttpServerRequestInternal` class intead, which (as fa

[2021-06-20 13:43] hantsy opened #1981 "Add Vertx Future, RxJava3 API to Vertx DataLoader Helper"
There are several helpers in Vertx 4.1.0 to build GraphQL DataLoader / BatchLoaders.

[code]
But there is no helpers to use `Future` or `Flowable` when building a DataLoader.

Hope there are some interfaces to use  `Future` or `Flowable` directly.

[code]

or

[code]

[2021-06-20 14:40] hantsy opened #1982 "Cached keys cast exception in the DataLoader at runtime"
I have created a Vertx 4.1 [GraphQL project](https://github.com/hantsy/vertx-sandbox/tree/master/graphql).

The `Dataloader` is usually used to improve the performance in the per-request case to decrease the backend accessing.

But this time in Vertx, it does not work as expected.

[code]

And create a `DataFetcher` like this.

[code]

And register it in the `RuntimeWiring`.

[code]

When running

[2021-06-20 15:28] hantsy commented on #1982
Found this is pgClient related issue, it seems the SQL is not accepted by PgClient.  Got the solution from the Vertx pgClient Github pgClient issues.

Changed `in ($1)` to `=any()` , worked.

But personally I do not understand why this happened,  `in` is a standalone SQL clause, I also used it in the same version of Pg with Jdbc, it worked.

[2021-06-20 15:28] #1982 closed

[2021-06-21 07:30] slinkydeveloper commented on #1975
Can you provide a sample code that generates this NPE?

[2021-06-21 09:11] d-william commented on #1975
[code]
[code]

[2021-06-21 09:19] d-william commented on #1975
In the `infeerPrimitiveParserFromSchemaProperty` method, the NPE is catch but it returns null.
https://github.com/vert-x3/vertx-web/blob/7a8c6550ee5f4fdd9755ebfabb326765a6e52f3a/vertx-web-validation/src/main/java/io/vertx/ext/web/validation/impl/ValueParserInferenceUtils.java#L90

But at :
https://github.com/vert-x3/vertx-web/blob/7a8c6550ee5f4fdd9755ebfabb326765a6e52f3a/vertx-web-validation/src/m

[2021-06-21 12:27] #1380 closed

[2021-06-21 12:41] vietj commented on #1979
I think proxy handler should not be behind a blocking handler

[2021-06-21 12:43] vietj commented on #1980
I think you should mock the internal, such interface are internal because they expose stuff we want to change or the user should not care about. I don't see how else it could be possible

[2021-06-21 12:43] #1980 closed

[2021-06-21 13:27] EXTERNALCOREWORKS commented on #1979
Hi @vietj thanks a lot for looking into this, what would be then your recommended combination of handlers to satisfy my use case (custom Auth handler that protects a resource behind a proxy) ? By the way as noted, it also happens when having BodyHandler before the Proxy Handler in the chain... So it doesn't seem specific to BlockingHandler + ProxyHandler. So far the only handler that doesn't cause

[2021-06-23 08:17] pmlopes commented on #1979
@EXTERNALCOREWORKS, @vietj  I think having a body handler before proxy is an "anti-pattern" because it means the body will be ready by the body handler and not streamed by the proxy. We need to define some behavior here.

1. Should we trigger an error when the body handler is present before the proxy handler?
2. Should we try to allow having a body handler and the proxy will write the parsed body

[2021-06-23 10:02] vietj commented on #1979
yes it should never be in front of the proxy.

shall we document this ?

On Wed, Jun 23, 2021 at 10:17 AM Paulo Lopes ***@***.***>
wrote:

[2021-06-23 11:51] synth3 opened #1983 "Pause/Resume missing in AuthorizationHandlerImpl? IllegalStateException: Request has already been read"
### Version

4.1.0

### Context

When using async operations in implementations of `AuthorizationProvider.getAuthorizations` then a `BodyHandler` added after an `AuthorizationHandler` that uses that `AuthorizationProvider` (created with `AuthorizationHandler.create`) causes that requests with body may fail due to:

[code]

I have noticed that counter measures have been taken in `AuthenticationHand

[2021-06-23 12:14] pmlopes commented on #1983
We need the same checks for pause/resume for authz

[2021-06-24 20:06] ikstewa opened #1986 "EventBusBridge does not cleanup if websocket is terminated exceptionally leading to memory leak"
### Version
4.0.3, 4.1.0

### Context

When using the SockJSBridge, if a websocket is terminated without a close message the idle timeout timer is never cleaned up. As a result the SOCKET_IDLE events will be dispatched indefinitely.

### Do you have a reproducer?

I'm unable to create a reproducer as it requires an unhealthy termination of the socket.
Possibly similar to reproducer here: https://g

[2021-06-24 20:13] ikstewa commented on #1327
I believe the root cause of this is the bridge not cleaning up when a socket is closed exceptionally: https://github.com/vert-x3/vertx-web/issues/1986

[2021-06-25 11:33] pmlopes commented on #1872
Depends (maybe) on: https://github.com/eclipse-vertx/vertx-json-schema/issues/43

[2021-06-25 14:57] pmlopes commented on #1986
@ikstewa @vietj it seems we miss an `enum` value for `BridgeEventType.SOCKET_EXCEPTION` as a type of event, as `SOCKET_CLOSED` assumes that the socket was closed properly, right?

[2021-06-25 15:15] pmlopes commented on #1986
@ikstewa can you verify if the fixes proposed in the PR's above solve the bug? I think they should but like you said it's hard to automate.

[2021-06-25 16:25] ikstewa commented on #1986
Yes. The changes from #1987 will cleanup the resources as we were expecting.

Can we confirm that a SOCKET_EXCEPTION always means the socket is closed? I.e. the terminal state for a socket is either SOCKET_CLOSED or SOCKET_EXCEPTION?

[2021-06-25 16:37] pmlopes commented on #1986
Ok we can disambiguate the state by keep using close but we pass "exception" : true in the event body

[2021-06-26 05:43] hantsy opened #1988 "Add GraphQLRequest and GraphQLResponse to simplify GraphQL request"
I have tried to create [a sample project](https://github.com/hantsy/vertx-sandbox/tree/master/graphql) using Vertx Web GraphQL, but I found there is no a GraphQL special client to send GraphQL requests to the GraphQL server.

When writing a test, I have to use  HttpClient/WebClient to handle the GraphQL request and response,  it is a little tedious, I also encountered an issue when handling subscr

[2021-06-27 08:24] zekronium opened #1989 "Webclient: If BodyCodec.none() is used, complete the request sooner"
In testing I have noticed that BodyCodec.none() does not really do much. It simply saves on piping the response.

Maybe its possible without braking any logic to complete the request sooner, once HttpResponseHead is received from the stream (h2).

This would save a good chunk of time when visiting slower endpoints who might also return larger content.
If possible, reduce memory usage by not alloca

[2021-06-27 12:59] hantsy commented on #1822
In the new `vertx-rx-java3` version, the problem is still there.

[2021-06-28 09:15] #1986 closed

[2021-06-28 11:55] #1975 closed

[2021-06-28 12:30] tsegismont commented on #1988
Hi @hantsy , we do not plan to support a GraphQL Java client. There are some out there.

1. Smallrye GraphQL Client
2. Apollo Java Client
3. Netflix DGS Client

Note that DGS client is pluggable so it should be feasible to write a minimal wrapper for Vert.x Http Client: https://netflix.github.io/dgs/advanced/java-client/#http-client-wrapper

[2021-06-28 12:30] #1988 closed

[2021-06-28 13:03] tsegismont commented on #1988
About SmallRye GraphQL Client, you can take a look at https://github.com/smallrye/smallrye-graphql/blob/main/client/README-dynamic-client.adoc

They have a Vert.x Http Client engine: https://github.com/smallrye/smallrye-graphql/blob/896c178ca7176f5637fdcda3ddd32e53cd01e9ee/client/implementation-vertx/src/main/java/io/smallrye/graphql/client/dynamic/vertx/VertxDynamicGraphQLClientBuilder.java

[2021-06-28 13:28] hantsy commented on #1988
Thanks @tsegismont , I think I have tried SmallRye GraphQL Client in my [Quarkus GraphQl example project](https://github.com/hantsy/quarkus-sandbox/tree/master/graphql-client/src/main/java/com/example/demo).

For simple Http request/response, although the pure Curl, Java 11 HttpClient, it is easy.

But for File Upload(esp, input type includes Upload) and Subscription, there are varied options, I a

[2021-06-28 13:33] hantsy commented on #1988
Thanks to the Vertx Web GraphQL project.

I have to assembly every thing of GrpahQL Java from scratch, which helps me to understand more about GraphQL Java APIs,  here is  [my example project](https://github.com/hantsy/vertx-sandbox/tree/master/graphql/src/main/java/com/example/demo).

[2021-06-28 21:18] codingchili commented on #1658
With these changes I now get a needless redirect,

* index page is configured as "index.html"
* Static handler serves resources from the web-root.
* browser navigation to '/' redirects to '/index.html

I don't like this because

* An additional render-blocking round-trip request is made.
* The URL is now ugly, I don't want '/index.html' to appear in the URL for a SPA.

Possible to work around this

[2021-06-28 23:05] al744 opened #1991 "BaseValidationHandler Does Not Respect bodyRequired=false For JsonContentType Or XMLContentType"
In my open api v3 swagger file, I have
[code]
However, it seems like the `required: false` is ignored when making a POST request with `Content-Type: application/json` header without a POST body, `io.vertx.ext.web.api.validation.ValidationException: Json should not be null` is thrown. The relevant stack trace is
[code]

https://github.com/vert-x3/vertx-web/blob/4.1.0/vertx-web-api-contract/src/main

[2021-06-29 07:03] #1983 closed

[2021-06-29 08:12] vietj commented on #1989
if the response breaks in the middle (network error), the response is still considered as non received and the error should be reported to the application.

[2021-06-29 08:12] #1989 closed

[2021-06-29 14:58] vietj commented on #1962
it does not look correct to close the response when a redirection happen.

you can provide your own redirection handler that would close the response directly with `HttpClient#redirectHandler` if that is what you need

[2021-06-29 14:59] vietj commented on #1962
I think what we can do here is modify the current redirect handler to wait until the current response is finished to start a new HTTP request

[2021-06-29 15:11] vietj commented on #1962
I believe this is what we should do by default in the default redirect handler and I'll update it.

[2021-06-29 15:12] vietj commented on #1962
note you can also modify this handler to close the response immediately. I think it *should* work the way you expect.

[2021-06-30 08:38] vietj opened #1992 "HTTP client redirection should perform redirect after the response has been received"
The current HTTP client redirection performs the HTTP redirection immediately after the response headers have been received. In some situation (server sends a redirection with a large response body) the client will consume more requests than the pool defines and lead to timeout situations.

We should perform the redirection after the response has been received instead, it will improve this situati

[2021-06-30 09:03] vietj commented on #1992
wrong repo see https://github.com/eclipse-vertx/vert.x/issues/3991

[2021-06-30 09:03] #1992 closed

[2021-06-30 09:03] vietj commented on #1962
see https://github.com/eclipse-vertx/vert.x/issues/3991

[2021-06-30 09:03] #1962 closed

[2021-06-30 16:05] wienczny opened #1993 "Openapi Schema with type: string and format byte causes Illegal base64 character 2b"
Vertx switched from Base64 to Base64url between 3.x and 4.x. (@see io.vertx.core.json.impl.JsonUtil and vertx.json.base64)

When using an Openapi schema with
[code]

inside the responseBody this causes problems as Openapi does not use Base64url.
The generated FooConverter is used  to convert the posted Json into my Java class.
This fails if the Base64 string contains characters from the regular Ba

[2021-07-02 11:43] mitkama commented on #334
@vietj @pmlopes

Can you please check this topic.

https://stackoverflow.com/questions/68210050/support-for-content-encoding-and-content-decoding-with-vert-x-webclient

[2021-07-07 11:25] mitkama commented on #334
@vietj @patton73 @pmlopes

Is this feature now available in vert.x client ? if it is how can I use this feature ?

If I add below piece of code while create client.

[code]

Content-Encoding to GZIP does not work with this.

[2021-07-07 12:05] pmlopes opened #1995 "OpenAPI eventbus operations should include the access_token in the message header"
To create a "secure" by default application, openapi generator should include the `access_token` in the eventbus message header so at the final endpoint, if a security interceptor is present, it can be evaluated before calling the handler.

In `RouteToEBServiceHandler`: https://github.com/vert-x3/vertx-web/blob/36bf548a7362336a9838e8260c40b543fc032cc6/vertx-web-api-contract/src/main/java/io/vertx/

[2021-07-08 07:09] vietj commented on #334
@mitkama it is not implemented and an issue should be opened in vertx-core and somebody should contribute it, that is why this issue is closed in this project

[2021-07-08 08:28] Vorimo commented on #1995
Does not the user object usually contain the access token?

[2021-07-08 09:10] pmlopes commented on #1995
@Vorimo yes it does. However, there are cases when the user object may be `null`.

* a route is defined without a security handler, in this case no `user` object will be created, however the request may contain the HTTP header `Authorization`. This was the reason I open the question, what should we do then? Only forward if the user object exists? Always try to forward by inspecting the header?
* t

[2021-07-08 10:56] Vorimo commented on #1995
@pmlopes in my opinion, as far as I can follow the flow now, the HTTP header is the primary point we need to check. And that will be more flexible to don't get attached to the `routingContext` structure. And regarding the 2nd case you mentioned, the interceptor implementation can be expanded later for that. What do you think?

[2021-07-08 16:59] MikeEdgar opened #1996 "Hosted OpenAPI document relative `$ref` values replaced with absolute file paths"
### Version

4.1.0

### Context

When hosting an OpenAPI document using `io.vertx.ext.web.openapi.RouterBuilder` with `io.vertx.ext.web.openapi.RouterBuilderOptions#setContractEndpoint`, the hosted document has absolute paths in `$ref` attribute values. It appears the relative references (i.e. to `#/components/...`) were replaced for the purposes of validation. However, the relative paths should s

[2021-07-08 18:19] pmlopes commented on #1995
@Vorimo I agree. I think from a security point of view, passing the `Authorization` header down the stream is more appropriate. I can think that if a user accidentally forgets to protect an openapi operation, then it would "assume" the downstream endpoint is unprotected.

We should just pass the header then. Regarding the second question, if we pass the header verbatim, you're right, we can perfor

[2021-07-09 06:55] pmlopes commented on #1993
@wienczny could you make a simple project reproducing the error. It would be very useful to track and verify any future regressions

[2021-07-09 07:16] pmlopes commented on #1993
The issue atm is that codegen by default uses base64url encoding to conform to the ijson rfc. However, openapi doesn't conform to that RFC and still uses the regular base64 encoding. With a test case, we can try to see how we could handle the switch at the codegen level without introducing any major breaking change.

[2021-07-10 14:26] wienczny commented on #1993
I've created a small sample at https://github.com/wienczny/vertx-openapi-base64-sample
In doing that I found a related problem: The validation fails on base64 url characters ;-( See the second unit test.

[2021-07-10 16:04] shihb opened #1997 "x-vertx-event-bus may have a DeliveryOptions missing"
### Questions
 OpenAPI x-vertx-event-bus  may have a   DeliveryOptions missing

### Version

vertx-web-openapi 4.2.0-SNAPSHOT

### Context
openapi.yaml
[code]

OpenAPI3RouterBuilderImpl.java   mountServicesFromExtensions

[code]
So I have to add methodName
openapi.yaml
[code]

[2021-07-11 07:13] pmlopes commented on #1997
@shihb can you make a pull request with a fix, and add a small test to check it?

[2021-07-11 07:14] pmlopes commented on #1993
Thanks! I'll be on PTO so don't worry if nothing happens in the coming days.

[2021-07-12 09:55] pendula95 opened #1999 "Add oAuth2 to WebClientSession"
#### Describe the feature

In many cases before sending requests via web-client authentication should be done. With current implementation there is primitive WebClientSession operations where cookies and headers can be stored and used. The process of obtaining the authentication is usually quite general and can be abstracted for some oAuth2 flows. I propose to enrich the WebClientSession with oAut

[2021-07-12 13:57] vietj commented on #1999
@pmlopes can you ahve a look ?

[2021-07-12 15:14] pendula95 commented on #1999
Initial work was done here https://github.com/pendula95/vertx-web/commit/7af899c9ba12be4728cd7e92b17e1cd12fc3916a
But it has more work to be done. Also I am not sure if this approach is vertx like so before submitting any PR for review I will need some input.

[2021-07-12 15:21] vietj commented on #1999
Paulo is currently on PTO, let's wait until he comes back and comments @pendula95

[2021-07-13 21:51] ikstewa commented on #1986
@pmlopes  Apologies I didn't notice this earlier. The PR fixed the issue however it is logging an 'error' when this occurs. I don't believe this should be considered an error as we can't always assume a client closes the websocket connection properly.

[2021-07-14 13:45] wienczny commented on #1993
Used
[code]
to mitigate the validation problem for now

[2021-07-14 14:01] ckoutsouridis opened #2001 "allow customizing handleSocketException in EventBusBridge"
### Context
after updating vertx to 4.4.1 we started getting to many

[code]

### Extra

with previous versions i was able to supress this error by registering a `Handler<BridgeEvent>`, for example:
[code]

this is no longer possible as in current version this exception handler is overridden by `EventBusBridge` and more particularly in method
[code]

i am not sure what is the best option here.. bu

[2021-07-14 15:20] haizz opened #2002 "Can't easily detect CSRF validation error in failure handler in Vert.x 4.1.1"
#1258 and #1264 provided a way to find out if there was a CSRF validation error by comparing failure error message to `CSRFHandler`'s `ERROR_MESSAGE` constant.

This is broken in Vert.x 4.1.1 because CSRFHandlerImpl now fails with common Java exceptions like IllegalArgumentException with hard-coded strings:

[code]

On the other hand, `setResponseBody` method of `CSRFHandler` was removed in 4.x so

[2021-07-15 05:36] jmaicher commented on #2001
We also see lots of `SockJSSocket exception` errors with cause `io.vertx.core.VertxException: Connection was closed` after the upgrade from 4.1.0 to 4.1.1. These kinds of network errors are unavoidable with any real traffic, so we also need an option to mute these errors or to replace them with a metric. So +1 for a custom exception handler.

What would be the right place to add/register a custom

[2021-07-15 13:19] vietj opened #2003 "Fix failing test"
There is a failing test in vertx-web since https://github.com/vert-x3/vertx-auth/commit/9084cf3df261e1232e556d1eb5c7a578ae2a1f36

It is either an incorrect test in vertx-web or a regression.

[2021-07-15 15:27] vietj opened #2005 "HTTP client form encoding"
Add support for HTTP client to encode `multipart/form-data` or `application/x-www-form-urlencoded` forms (although it is discouraged for this encoding, it can be useful for integrating with some systems that require it) with a specific charset.

[2021-07-15 19:45] #2005 closed

[2021-07-16 04:06] zero88 commented on #1122
sorry, I'm using IE.
2 years then almost forget this ticket

[2021-07-16 04:09] zero88 commented on #1122
This issue is still here.
It might related to https://github.com/vert-x3/vertx-web/issues/2001

[2021-07-16 04:43] zero88 opened #2007 "SockJS WebSocket security issue"
### Version

4.4.1 and previous version

### Context

Currently, `permitted rule validation step` is run once after `BridgeHandler.handle` success.
Then it is able to leak data from server to client by customized `BridgeHandler` with no permitted address or unauthorized/unauthenticated

https://github.com/vert-x3/vertx-web/blob/ebefc4bcf0596cfc1bcbd8846e1200625ca67831/vertx-web/src/main/java/io/ve

[2021-07-19 12:08] pmlopes commented on #2007
@zero88 I don't think we're really dealing with a security issue here. The event handler is a filter that allows users to perform custom checks before a message is passed to the eventbus. In your example, during the filtering (before the message attempts to reach the eventbus) you're sending a message back to the client using the sockjs socket directly. Technically, the validation of the destinati

[2021-07-19 12:12] pmlopes commented on #2003
Fixed https://github.com/vert-x3/vertx-web/commit/4b319f4a3e1240bc4b4c71b166cb78f71e3aaf9a

[2021-07-19 12:12] #2003 closed

[2021-07-19 12:16] pmlopes commented on #2002
@haizz you can add an error handler right after the CSRF in the same route and catch the error by it's code:

[code]

[2021-07-19 12:22] #1997 closed

[2021-07-19 13:10] zero88 commented on #2007
@pmlopes hmm, yes.
Might be I misunderstand how to use `WebSocket sockjs` and `BridgeEventHandler`. It is likely pre-check as Vertx design.

Currently, I'm developing my lib uses `BridgeEventHandler` is main processor. `Inbound` and `outbound` is just register address for Vertx permitted. Then I have another address for handling incoming request from client.
I will re-think and re-check my impleme

[2021-07-19 13:16] zero88 commented on #2007
@pmlopes I thought at least 2 "problems" for current code:
- Need more open class in `EventBusBridgeImpl`. For example: `checkAndSend` should be `protected`
- The code seems bug, 2 different behaviors with "similar action"
https://github.com/vert-x3/vertx-web/blob/ebefc4bcf0596cfc1bcbd8846e1200625ca67831/vertx-web/src/main/java/io/vertx/ext/web/handler/sockjs/impl/EventBusBridgeImpl.java#L436
http

[2021-07-20 06:08] jmaicher opened #2008 "SockJS SOCKET_CLOSED event dispatched twice in case of connection errors"
### Version

4.1.1

### Context

We observe that the SOCKET_CLOSED event is dispatched twice in case of connection errors. We noticed this because we use these events for custom metrics.

The following logs illustrate the issue:

[code]

It appears that this issue has been introduced by https://github.com/vert-x3/vertx-web/pull/1987.

Is that the desired behavior? If we want to handle the SOCKET_C

[2021-07-20 06:51] vietj commented on #2008
what do you mean by connection error ? an abrupt close of the socket supporting the transport ?

[2021-07-20 07:00] jmaicher commented on #2008
Yes, the underlying error is "Connection was closed", so my guess is that a write attempt failed because the socket was closed unexpectedly for some reason (e.g. network issue). I can try to create a minimal reproducer.

[2021-07-20 07:02] vietj commented on #2008
I think the issue isn't in the bridge itself but instead in the SockJSSocket which should have a `closeHandler` and the bridge should use this handler to relay the event.

A reproducer would help to check that such modification would work.

[2021-07-20 07:04] vietj commented on #2008
what is the transport used ?

[2021-07-20 07:20] jmaicher commented on #2008
In this case websocket transport.

[2021-07-20 07:20] pmlopes commented on #2008
the 2 messages are dispatched by 2 different events:

When the message is `null` it's comming from a "clean" close (end handler).
When the message is type `err` it's comming from the exception handler.

The question now is, it looks like a "clean" close is triggering an "exception" so both get called. Can we get a reproducer, so we can inspect the stacktrace and see what is happening?

[2021-07-20 07:29] pmlopes commented on #2007
@zero88 can you detail why do you need `checkAndSend` to be protected? If there's a good use case, perhaps the best option it to add some extra extension point with a new handler in the public interface to be run at specific places/events

[2021-07-20 07:38] jmaicher commented on #2008
It's actually the other way around: First, the one from the exception handler is logged, then the "clean" close from the end handler. I messed up the order in the issue description (sorry, my bad, corrected).

Here is a full log of events:

[code]

[2021-07-20 07:46] jmaicher commented on #2008
Wait, the order of the `SOCKET_CLOSED` events is not deterministic. Here is another example including timestamps where the exception handler event is logged later:

[code]

[2021-07-20 09:26] vietj commented on #2008
here is a fix for the issue with a new test added https://github.com/vert-x3/vertx-web/pull/2009

[2021-07-20 11:31] #2008 closed

[2021-07-20 12:46] jmaicher commented on #2008
Thanks for the quick fix :+1:

[2021-07-20 15:37] zero88 commented on #2007
@pmlopes I will recheck my implementation first then feedback to you in end of this week

Basically, I want more control on each event. For  example: after SOCKET_CREATED, I want server  push back some information to client for showing a list of backend address and their functions.