[2017-03-16 19:34] pmlopes opened #556 "Improve auth documentation"
See: https://github.com/vert-x3/vertx-auth/issues/16#issuecomment-287145197

[2017-03-17 14:52] msollecito-import opened #557 "Add HTTP_2 switch case inside LoggerHandlerImpl."
### Version

* vert.x core: 3.4.0
* vert.x web: 3.4.0

### Context
The LoggerHandler adds information about HTTP requests served by the server. As part of the returned information, it includes the HTTP version used for the request. In case of ```HttpVersion.HTTP_2``` the version returned is ```-```.

### Do you have a reproducer?

* Link to github project/gist
https://github.com/vert-x3/vertx-web/

[2017-03-18 16:25] sandipsahoo2k2 commented on #313
I still see the same issue persists even after a year of my coming back and trying this with 3.4.1 ! Just run the code from github link.

[2017-03-18 17:26] pmlopes commented on #313
@sandipsahoo2k2 as you could see from the previous messages, we can't reproduce your issue, unless you can provide an example plus the steps to reproduce it we can't seem to face it and therefore we can't fix it!

[2017-03-18 20:47] pmlopes commented on #557
Fixed by #558

[2017-03-18 20:47] #557 closed

[2017-03-19 03:42] yunyul opened #559 "Support something that's not regex for PermittedOptions"
Regex and exact matches are currently the only available address validators for PermittedOptions. Regex is painful (stuff like `news\\..+`), and a functional interface that takes a String and outputs a boolean would result in making filters much easier. The problem with putting one directly in PermittedOptions, however, is that the object needs to be decode-able from JSON, so I don't know what the

[2017-03-20 03:58] T-baby opened #561 "How do I set up the 404 Handler ?"
### Version

* vert.x core:3.4.0
* vert.x web:3.4.0

### Context

How do I set up the 404 Handler ?

[2017-03-20 10:47] EmadAlblueshi commented on #561
This is not an issue. It's better to ask questions in  [Vert.x Google Group](https://groups.google.com/forum/m/#!forum/vertx) Thanks!

[2017-03-20 11:15] #561 closed

[2017-03-20 15:07] #553 closed

[2017-03-21 05:28] zella commented on #166
I migrated from play framework and stay use twirl template engine with vertx. And it's very comfortably to have flash in template:

[code]

[2017-03-21 07:02] svenjacobs opened #563 "Web Client: Query parameters missing for SSL requests"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

I noticed that query parameters are lost when the request is SSL encrypted. For instance this is a request which works:

[code]

I created a test endpoint at my backend and logged the query parameters so I can confirm that they are incoming. However once I switch to SSL I can see that the query parameters are missing:

[code]

I'm

[2017-03-21 22:36] vietj commented on #563
would you mind to create a test case ? that would help to find the issue :-)

[2017-03-22 09:33] svenjacobs commented on #563
I found the problematic [line](https://github.com/vert-x3/vertx-web/blob/a64068c8f9bf02f4d4b22dc51482bffdb3ccff5d/vertx-web-client/src/main/java/io/vertx/ext/web/client/impl/HttpRequestImpl.java#L279) in `HttpRequestImpl`. I believe it should be `.setUri(requestURI)` at line 279. Luckily there's already the PR #562 open addressing this.

[2017-03-22 15:15] pcholder opened #565 "vertx-web-client osgi manifest records"
Is it planned to add osgi bundle records to vertx-web-client ?

[2017-03-23 13:07] twasyl opened #567 "Can't run embeded Vert.x under JDK9"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

Hello,

I'm currently trying to migrate [SlideshowFX](https://github.com/twasyl/SlideshowFX/tree/feature_23) to JDK9 (build 161 with Jigsaw).
The application embeds Vert.x in order to provide a WebServer. Until now I have been using Vert.x 3.3.3 and the application was running _well_. Now I'm trying to use versions 3.4.0 and 3.4.1

[2017-03-23 13:10] vietj commented on #567
Have you tried to remove the `META-INF/services/org.codehaus.groovy.runtime.ExtensionModule` file from the jar to see if it fixes the problem ?

I'm wondering also how this is related to the issue you are reporting. Not saying it's not related, but I don't see much the relationship right now.

[2017-03-23 13:29] twasyl commented on #567
I tried your suggestion and it leads me to this message now:

[code]
So I removed the `META-INF/services/org.codehaus.groovy.runtime.ExtensionModule` file from the `vertx-auth` JAR and I am now able to start a server.

I don't really now how it is related to the issue as I don't understand the use of the `org.codehaus.groovy.runtime.ExtensionModule` files from a Vert.x point of view. Seeing this f

[2017-03-23 13:31] vietj commented on #567
thanks for investigating it.

can you provide a small reproducer ?

Vert.x uses vanilla Groovy extension modules, so I think we need to investigate Groovy extension modules and Java 9

[2017-03-23 14:16] twasyl commented on #567
Here is a simple reproducer ([vertx-jdk9.zip](https://github.com/vert-x3/vertx-web/files/864981/vertx-jdk9.zip)) that can be imported in IDEA EAP and using a [JDK 9](https://jdk9.java.net/jigsaw/) EA build. Trying to start the `Application` class will lead to the errors.
Cleaning the JARs to remove the `META-INF/services` folders will let the application boot.

[2017-03-23 14:23] vietj commented on #567
thanks, I hope it's easy to investigate :-)

[2017-03-24 10:49] #434 closed

[2017-03-26 06:22] zero4he opened #568 "More friendly API"
### Version

* vert.x web:any

### Context
 I need a more friendly API when rendering pages.

like this:
[code]

[2017-03-27 07:40] cescoffier commented on #565
We definitely should, I will add them.

[2017-03-27 12:13] rogelio-o opened #571 "Session version problem"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

When I make two AJAX calls at the same time, two routes are called at the same time, so both of them get a session with the same version. When the first one has finished, it saves the session with a new version. Finally, when the second one tries to finish, it finds that the session version have changed and it can not save the ses

[2017-03-28 15:14] pmlopes opened #572 "run sockjs-protocol test suite 3.3.3"
Currently we run a modified version, it would be better if we would run the vanilla version.

[2017-03-28 18:42] pmlopes commented on #571
This is a complex subject that needs a good discussion before actions are taken. The reason why sessions are serializable is because before they could get corrupted when working with many concurrent updates. What you're suggesting to merge and save can in fact mean that the state got corrupted, it is just a matter of point of view.

Since I also understand that this could be a desired behaviour, w

[2017-03-28 19:08] pmlopes commented on #571
Or we could drop the check totally in the replace method (see attached pull request)

[2017-03-29 10:40] axlider commented on #140
@purplefox
Thanks for the information so far.
But let me ask one more question.
You say:

But what if I want to update a service behind a route but I don't want to have a downtime for the other services?

[2017-03-29 17:52] pcholder commented on #565
Thank you. For now, i rebuilt **vertx-web-client** and **vertx-web-common** with updated poms (i took maven rulers from **vertx-web** module). Seems it works correctly.

[2017-03-30 18:31] pmlopes commented on #539
This issue is a bit more complex than the referenced one since many validations are required even before the real authentication takes place.

[2017-04-01 09:15] ashlanderr opened #583 "Allow slashes in last parameter"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

I have path with parameter like this:

`/kv/keys/:key`

and I want this parameter to have slashes, for example:

`/kv/keys/foo/bar`

I know that it can be done using regex, but I need to get parameter by name.
Is it possible to have such behavior?

### Do you have a reproducer?

Can be shown using this code:

[code]

### Steps to

[2017-04-02 13:08] yunyu commented on #583
Use an asterisk and substring instead of parameter binding.

[2017-04-02 14:02] elad-yosifon commented on #462
@pmlopes we rely on this feature in one of our backend API servers.
It gives us the ability to create a tree like routers with authorization hierarchy (recursive ACL of some sort).

(this is just an illustration... not a real life example)
Lets say I want to expose a property of a user..
Given this route : /user/{:user_id}/account/{:account_id}/property/{:property_id}

the router is configured thi

[2017-04-02 14:17] elad-yosifon commented on #28
@serphacker @purplefox  @pmlopes I'm actually implementing a similar solution on a private project..
I might consider writing it as a PR to the vertx-web repo..
Can you clarify what is the needed spec?

[2017-04-03 06:06] vietj opened #584 "Document that web client responses 4xx are still valid results"
Currently some may think  that 4xx responses may have failed results although those are succeeded with a 4xx response status code

[2017-04-03 07:50] pmlopes opened #585 "Vertx-web getWithRegex with named capture groups"
@andrewwh commented on [Wed Dec 21 2016](https://github.com/vert-x3/issues/issues/222)

It would be nice to use getWithRegex with named capture groups such as `/(?<section>[^/]+)/?`. Such that you can use context.request().getParam("section") rather than context.request().getParam("param0").

[2017-04-03 07:51] pmlopes opened #586 "Add optional argument to Router.blockingHandler to call setEnableMultipart(true)"
@InfoSec812 commented on [Thu Sep 01 2016](https://github.com/vert-x3/issues/issues/186)

Currently, to use multipart POST submissions with blockingHandler(), you have to do something like:

[code]

It would be great if we could have an optional parameter like:

[code]

Such that we continue to disable parallel processing of blocking handlers, but allow the option to handle multipart form data. Th

[2017-04-03 09:44] pmlopes opened #587 "CSRFHandler"
@pcholder commented on [Sun Apr 02 2017](https://github.com/vert-x3/vertx-auth/issues/130)

### Context

CSRFHandler generates token from local variable **salt + current time** on each GET request (and some others, besides POST) and protects POSTs. Even the token is stored in cookies, this handler successfully validates any token from any alive session.
Consequently:
1. if pair SessionA + tokenA i

[2017-04-03 10:21] pcholder commented on #587
But please, make the CSRFHandler.generateToken method to be public.

[2017-04-03 10:55] pmlopes commented on #587
@pcholder what is the use case for getting access to the token generation method?

[2017-04-03 10:59] pmlopes commented on #583
allowing slashes would introduce a strange usage, for example:

[code]

if we allow slashes on the last variable there is no way to differentiate the two routes above. Also it would be strange that sometimes you could use slashes and other times you wouldn't.

As @yunyu wrote, using a wildcard will allow you to capture the end of the path.

[2017-04-03 11:00] pmlopes commented on #572
see: https://github.com/sockjs/sockjs-protocol/

[2017-04-03 11:01] pcholder commented on #587
Generate it once after login, forexample. Or i doing something wrong?

[2017-04-03 11:17] pmlopes commented on #587
If you have logged in, the token is already in your cookie so it should be consumable from the browser.

[2017-04-03 11:25] pcholder commented on #587
My static files served on another domain. I use CORS and send login request to api server.

[2017-04-03 13:00] pcholder commented on #587
Or it may be useful to have something like HashStrategy (which in JDBCAuth)

[2017-04-04 12:14] pmlopes opened #590 "vertx3-eventbus-client callback function not called when access is denied"
@thurber commented on [Fri Dec 16 2016](https://github.com/vert-x3/vertx-stack/issues/64)

Hi, thanks for your library, I have enjoyed using it!

I've found the following issue has hampered me in certain use cases, and I think it might be a bug:

When attempting to send a message from a vertx3-eventbus-client to a Vertx EventBus bridge, if the bridge does not allow the message, the callback functi

[2017-04-05 09:17] tsegismont opened #591 "Intermittent failure in io.vertx.ext.web.templ.HandlebarsTemplateTest.testTemplateJsonArrayResolverError"
[code]

[2017-04-05 09:19] #591 closed

[2017-04-05 12:44] pmlopes commented on #545
Firefox is making a preflight request which is a HTTP `OPTIONS` call, your code only answers to `POST` so this will end up in a 404 error.

[2017-04-05 12:48] pmlopes commented on #568
An alternative with less API changes would be:

[code]

This could be added to the `TemplateEngine` and be self contained. Also since the implementation is trivial anyone could provide such pull request as a good introduction to the project ;)

[2017-04-05 13:18] CraigStuntz opened #593 "CSRFHandlerImpl should allow customization of error response"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

We use HTTP 403 to indicate when a user attempts to do something their account is not authorized to do. The `CSRFHandlerImpl` handler uses it to indicate that the token is missing or expired. Both seem like appropriate uses of the status code. We would like to customize the response body.

The [specification for HTTP 403](https://

[2017-04-05 13:29] pmlopes commented on #593
I'd say that the 2nd approach is better to support the polyglot aspect of the framework. Are you willing to make a pull request for it?

[2017-04-05 13:30] CraigStuntz commented on #593
Sure, I can do that.

[2017-04-05 15:17] pmlopes opened #594 "Add automatic OPTIONS response to the Router"
When dealing with CORS preflight requests a HTTP `OPTIONS` call is made to the server, most frameworks can generate these responses automatically if there is no handler for it.

This should solve issues like: https://github.com/vert-x3/vertx-web/issues/545

And requires that https://github.com/vert-x3/vertx-web/issues/456 issues are fixed.

[2017-04-06 12:06] #417 closed

[2017-04-06 12:22] #593 closed

[2017-04-06 17:54] #514 closed

[2017-04-06 18:16] pmlopes commented on #504
@haochun could you verify if this is still the case with 3.4.1?

[2017-04-06 22:33] vietj commented on #567
we should reach out the Groovy community to see if they are going to support Java 9 actually, it seems more like a Groovy issue than a Vert.x issue

[2017-04-07 07:21] pmlopes commented on #567
Sure, but we need some action on our side since this will block us from running on JDK9 once it's out aprox end September.

[2017-04-07 08:07] twasyl commented on #567
I don't know if you're interested in knowing it but it seems `asciidoctorj` which uses `jruby` underneath has similar issues as I also use it in SlideshowFX. It seems the `META-INF/services` folder will have a key role under JDK9.

[2017-04-07 12:41] karianna commented on #567
You can join OpenJDK's quality outreach programme (https://wiki.openjdk.java.net/display/quality/Quality+Outreach) to work directly with Oracle to resolve issues.

[2017-04-09 09:05] glassfox opened #599 "TimeoutHandler stop working property when reroute occured"
### Version

* vert.x core: v3.4.0
* vert.x web: v3.4.0

### Context

After fix [#429](https://github.com/vert-x3/vertx-web/commit/99a2dfc7add1195686a87cb7649d24c6b326f73c) TimeoutHandler and all logics based on bodyEndHandler stop working property in case of reroute.

1. Add TimeoutHandler to route
2. Add reroute rule in custom handler below
3. Timeout error occurred constantly

[2017-04-10 09:24] jaceksokol opened #600 "OAuth2AuthHandler & OAuth2Auth (provider) shouldn't be separated into different projects"
### Version

* vert.x core: 2.4.1
* vert.x web: 2.4.1

### Context

Interface ```OAuth2AuthHandler``` is placed in ```vertx-web``` and references another interdaces - ```OAuth2Auth``` (auth provider) which is part of different maven project - ```vertx-auth-oauth2```. However that second project is specified as optional. These two should be in one place (eg. ```vertx-auth-oauth2```). Currently usin

[2017-04-10 18:04] pmlopes commented on #600
Although this would be a nice refactor to reduce the amount if optional dependencies and isolate the blocks that are really meant to work together if done now will introduce a huge API breaking change without a real benefit.

The message you're seeing is a warning not a real blocker or bug and is due to the way the current groovy load modules. I'll mark this issue as wontfix for the 3.x series and

[2017-04-10 18:04] #600 closed

[2017-04-11 12:18] #440 closed

[2017-04-12 13:27] tsegismont opened #602 "Intermittent failure in FreeMarkerTemplateTest#testCachingDisabled"
This test fails randomly on Cloudbees.

[code]

I am not able to reproduce on my machine with `@Repeat`

I recently added this check to make sure the config is correct (4d4d00fa0af26e552a3fa4c4841d95302a4cfd0c):

[code]

So it's not an issue with config.

[2017-04-12 13:30] tsegismont opened #603 "JWTAuthProviderTest.testGenerateNewToken fails consistently"
[code]

It fails since 4fe47159ce1437b4320b6f70d4ccc4e6a5adc020

[2017-04-12 13:31] tsegismont commented on #603
Wrong repo, sorry

[2017-04-12 13:31] #603 closed

[2017-04-12 18:25] pmlopes commented on #602
it is a file resolver issue since the config is static the order the test gets executed matters, maybe this could fix it: https://github.com/eclipse/vert.x/pull/1515

[2017-04-13 17:28] svenjacobs commented on #563
Closing since PR has been merged

[2017-04-13 17:28] #563 closed

[2017-04-13 18:10] Mart-Bogdan commented on #497
I think this change should go to existing method `RoutingContext#removeCookie`, as it's most logical thig it should do, and I was really surprised today, when noticed that it don't.

[2017-04-13 18:25] pmlopes commented on #497
That is a behaviour change which means we would break the API in order to consider it I'd suggest to discuss it first in the user group before we consider it:

https://groups.google.com/forum/#!forum/vertx

Please present the reason behind it not just we would like it to be different. Confusion is a good reason though but the community should be allowed to give their input.

[2017-04-17 16:46] #583 closed

[2017-04-18 18:27] vegegoku opened #607 "Question about using Vert.x web-client from within GwtRpc service implementation on the server."
### Version latest

* vert.x web:

### Context

I have a gwt application that uses GwtRPC to call the server, the RPC service implementation is something like this

[code]
what i need to do is to call a restful service using Vert.x web-client, but the since the web-client is asynchronous the RPC service will return before i get the response from the Vert.x client. while i need to build the SomeRes

[2017-04-18 18:31] yunyu commented on #607
Use vertx-sync: https://github.com/vert-x3/vertx-sync

This section covers how to get one-shot results: http://vertx.io/docs/vertx-sync/java/#_getting_one_shot_async_results

[2017-04-18 18:41] vegegoku commented on #607
Thank you very much
that was a very quick reply, i think this answers my question.
Thanks

[2017-04-20 06:43] vegegoku opened #609 "Question, why the Request handler executed twice?"
### Version LATEST

* vert.x web:

### Context

I am having a problem of executing a request twice in a very simple sample:
i have the following verticle :

[code]

and i run it from intellij from a main method like this :

[code]
the problem is when ever i open the browser and point it at `http://localhost:8080` the string `request served` is printed twice. the same when i click refresh button. w

[2017-04-20 06:58] pmlopes commented on #609
@vegegoku did you try to see what your browser is doing? Normally browsers will make 2 requests:

* the request you asked
* `/favicon.ico` to put a fancy icon on the status bar

Most likely you're seeing both, since you did not make any distinction in your handler for different requests you will see it printed twice.

To avoid this, you should try to test with `cURL`, `wget` or using the `RESTClie

[2017-04-20 06:58] #609 closed

[2017-04-20 07:00] vegegoku commented on #609
Thank you
you were one minute faster than me, i just figured it out, /favicon is exactly the reason of the second execution.

[2017-04-20 09:42] vietj opened #610 "VirtualHostHandler does not work with HTTP/2"
The current `VirtualHostHandler` uses `ctx.request().getHeader("host")` to determine the host.

This does not work with HTTP/2 and instead `ctx.request().host()` should be used.

An HTTP/2 test for the VirtualHostHandler should be added.

[2017-04-20 09:49] EmadAlblueshi commented on #610
I will take care of it

[2017-04-20 14:27] u3r opened #611 "Path parameter decoding is wrong for "+" and space"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

When receiving a request with an (encoded) path parameter that contains plus "+" and space " " the parameter that can be extracted using `routingContext.pathParams().get("parameterName")`
contains "+" for the spaces as well as for the encoded plus signs (%2B).
I have tracked this down to `RouteImpl.matches(RoutingContext context,

[2017-04-20 17:43] chefhoobajoob commented on #542
@pmlopes:

This same issue surfaces during cluster formation between `3.4.1` and `3.3.3` apps. I have a `3.3.3` app which, after joining a cluster containing `3.4.1` nodes, attempts to send a clustered event bus message and gets the failure below. Is this a known issue? Should I open a new issue for this problem?

[code]

[2017-04-20 17:46] pmlopes commented on #542
@chefhoobajoob that is a different issue it is related to the hazelcast cluster changes i guess.

Note that the cause of the error is:

[code]

While the issue here was:

[code]

[2017-04-20 17:47] chefhoobajoob commented on #542
Whoops - you're right. New issue?

[2017-04-20 17:49] pmlopes commented on #542
@chefhoobajoob yes but not here ;) You should report here: https://github.com/vert-x3/vertx-hazelcast

[2017-04-20 17:50] chefhoobajoob commented on #542
Right - thanks!

[2017-04-21 03:36] yunyu commented on #420
This is very similar to https://github.com/vert-x3/vertx-web/issues/514. https://github.com/vert-x3/vertx-web/pull/608 should allow us to provide a proper fix.

[2017-04-21 21:12] vegegoku opened #613 "Question : Serving static resources is not working?"
### Version

* vert.x web:

### Context

i have a very simple httpServer verticle like this one :

[code]

according to the documentation if i have static resources - html, css...etc - in a folder named `webroot` then the server should be able to serve static resources from this folder, and if the folder contains a page named index.html it will be used the site index page by default.

now i have t

[2017-04-21 22:54] vegegoku commented on #613
it was a problem of my directory structure, the resources should go under the main folder and the webroot goes directly under the resources folder and then it works.

[2017-04-21 22:54] #613 closed

[2017-04-23 19:24] vegegoku opened #614 "Question : GWT RPC mapping."
### Version

* vert.x web:

### Context

In GWT we can use RPC to make calls from the client side code -javaScript- to the Server side, a GWT RPC service implementation on the server extends from classes that wraps a normal servlet, and its actually mapped to requests exactly like any normal request from the web.xml.

My question is, is there any way to use Vert.x web to map requests to GWT RPC im

[2017-04-24 13:00] yunyu commented on #614
Check out https://github.com/ef-labs/vertx-httpservlet

[2017-04-26 21:31] ranjitkollu opened #616 "UserSessionHandlerImpl doesn't work in a particular use case because of change in version 3.4.1"
### Version

* vert.x core:3.4.1
* vert.x web:3.4.1

### Context

I encountered an exception which looks suspicious while ...
In our product we have a requirement where we have a REST call that needs to login, get the session and return the session info (all in the same call). In Vertx 3.4.1 version a change was made in the UserSessionHandlerImpl class (in the handle method) where  the following c

[2017-04-26 23:20] doctorpangloss opened #617 "ServerWebSocket doesn't allow you to check if it's connected"
### Version

* vert.x core: 3.3.3
* vert.x web: 3.3.3

### Context

`io.vertx.core.http.impl.ServerWebSocketImpl` doesn't expose its `closed` property. Since I use `vertx-sync`, I can't just catch an exception when `checkClosed` throws, because it's not marked as `@Suspendable`. I need to be able to check if the socket is closed before I write to it.

Exception:
[code]

### Steps to reproduce

Wri

[2017-04-27 13:38] yunyu commented on #617
I'm not sure if this is a viable workaround for you, but you can add an endHandler that keeps track of the status for the socket: https://github.com/vert-x3/vertx-web/blob/b60d42c8d8605e18a33f37e4838719b689be9b70/vertx-web/src/main/java/io/vertx/ext/web/handler/sockjs/impl/EventBusBridgeImpl.java#L311

[2017-04-29 23:46] doctorpangloss commented on #617
@yunyu thank you, your suggestion worked!

[2017-04-29 23:46] #617 closed

[2017-05-02 10:21] #611 closed

[2017-05-02 15:41] u3r commented on #611
Hi @pmlopes
This fixes only one direction: `RouteImpl` and `StaticHandlerImpl` still call this with
`Utils.urlDecode(group, false)` so it gets decoded to `"ein+verr+++ückter+text+mit+Leerzeichen,+Plus+und+Umlauten"`
which again can not be decoded correctly

[2017-05-02 19:21] pmlopes commented on #611
@u3r you need to check what your test is doing:

[code]

so when it decodes with:

[code]

makes sense.

Note that under a path, `+` is does not mean space as per the RFC.

* Percent encoding in the path section of a URL is expected to be decoded, but
* any `+` characters in the path component is expected to be treated literally.

To be explicit: `+` is only a special character in the query compon

[2017-05-03 02:49] yunyu commented on #616
I guess the workaround is to implement a dummy User class that also implements ClusterSerializable#writeToBuffer, and setUser in your context handler?

[2017-05-03 04:41] Swasthikashree commented on #113
@gdrte - If the services are defined in the way Jooby asks for, vertx wont be able to recognize it. Has anyone tried it?

[2017-05-03 06:42] pmlopes commented on #616
You're relying on internal details of the implementation, while the contract with the API versioning is to not break the public API all internals can change without notice and it is accepted to be so.

For example, `SESSION_USER_HOLDER_KEY` is an implementation detail: https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/UserSessionHandlerImpl.java

[2017-05-03 06:42] #616 closed

[2017-05-03 06:52] #567 closed

[2017-05-03 06:52] pmlopes commented on #567
Issue moved to [vert-x3/vertx-lang-groovy #50](https://github.com/vert-x3/vertx-lang-groovy/issues/50) via [**ZenHub**](https://www.zenhub.com/)

[2017-05-03 07:38] aesteve commented on #113
Hi,

I'll give my 2 cents on Swagger documentation auto-generate.

I think for now, it'd be really hard to generate a full Swagger doc with vertx-web as is. A lot of the "doc" is borrowed within the implementation (expected parameter types, etc.).

So the only solution would be to "annotate" the routes to generate the Swagger documentation. But this is not polyglot-friendly, and I agree with that.

[2017-05-04 04:24] wem opened #619 "Add fail function as possible reply on vertx-eventbus.js"
* vert.x core: 3.4.1
* vert.x web: 3.4.1

First, nice library! Unfortunately i miss a way to send a RECIPIENT_FAILURE event to the server in the Vert.x "standard" fashion.

Regards

[2017-05-04 11:02] pmlopes commented on #619
@wem could you detail more the issue, it is a bit unclear to me what you're trying to achive.

[code]

Are you saying that the reply will only work for success, not errors? or are you pointing some other problem?

[2017-05-04 18:49] wem commented on #619
@pmlopes

I mean the counterpart of the io.vertx.core.eventbus.Message#fail method on the client side.

What i think about anything like this on the client side:

(Need some work on io.vertx.ext.web.handler.sockjs.impl.EventBusBridgeImpl too i think)

[code]
So we get a way to notify the sender for client consumer failures in the common way.

I hope it's more clear now?

Regards

[2017-05-04 19:02] pmlopes commented on #619
Clear, you would like to have the counter part of:

http://vertx.io/docs/apidocs/io/vertx/core/eventbus/Message.html#fail-int-java.lang.String-

[2017-05-04 19:09] wem commented on #619
Exactly :)

Regards

[2017-05-05 08:27] slinkydeveloper commented on #113
Hi to everybody! I've been selected to work on it during GSOC 2017. Check it out: https://groups.google.com/forum/?fromgroups#!topic/vertx-dev/rU4FOhMBkFU

[2017-05-05 16:32] tsegismont commented on #614
@vegegoku GWT RPC is designed to work with servlet containers, so it won't work with Vert.x. You could try to emulate a servlet layer but you'd better create simple rest endpoints (super easy with Vert.x Web) and consume them with something like https://resty-gwt.github.io/

[2017-05-05 16:32] #614 closed

[2017-05-05 19:16] yunyu commented on #599
I can think of a hackfix while leaving the clear behavior (make an actual class for the bodyEndHandler in TimeoutHandlerImpl and do an instanceof check when clearing), but the real question to ask is, should the bodyEndHandlers be cleared in the first place?

[2017-05-05 19:28] yunyu commented on #599
Hackfix: https://github.com/yunyu/vertx-web/commit/958fb63af414ecc51058df4fab4c3bf8a962040f

[2017-05-06 16:10] vegegoku commented on #614
@tsegismont i have done exactly that, now i am using restyGwt with vertx, actually i have been using one generic RPC service that with an implementation that looks up the request handler from a some sort of registry, then pass the request object to the handler to execute the it.
moving to vertx endpoint i had to do very small modification almost nothing to my application code, all i needed to do i

[2017-05-06 16:17] vegegoku opened #621 "Question: How can i define my web context root?"
### Version

* vert.x core:
* vert.x web: latest

### Context

How can define the web context root with vertx httpServer?
for example i want the root URL for my application to be
`http://localhost:8080/myapp` where all request mapping is now relative to this url  instead of just `http://localhost:8080`

[2017-05-06 16:50] pmlopes commented on #621
Prefix your routes with that value or add a sub router on that prefix. In terms of http protocol there is no such thing as web context root, just paths or resources if you like.

[2017-05-06 16:50] #621 closed

[2017-05-06 18:37] fperie commented on #420
This problem is always present (even after the merge of # 608) when the application is executed in a fat jar (the same problem with windows and linux os)

In my case, the static directory is included in the root of my jar.

[2017-05-06 18:38] yunyu commented on #420
#608 doesn't solve it, it allows for a solution to be written. I'll look into it in a few days.

[2017-05-06 19:31] vegegoku opened #622 "Question : How can i make a block of code executed only once in a vertical when i run with -instances parameter"
### Version

* vert.x core:
* vert.x web: latest

### Context

I have a Verticle like this

[code]

now when i run with `-instances 10` that block of code is executed 10 times, is there a way to make executs only once?

[2017-05-06 19:34] yunyu commented on #622
A hack would be to set a static and atomic boolean or int that stores the number of times run.

[2017-05-06 19:45] vegegoku commented on #622
I would prefer a more clean solution, so now i wonder what the -instances means ..does it mean multi vertx instances ..or multi verticle instances ..and in case it means multi verticle instances ..is the there a method in the launcher that get executed after verticles deployment and can be overriden?!

[2017-05-06 20:23] aesteve commented on #622
One way to have "full control" on the number of instance would be a simple main function, responsible for instanciating vertx and then deploying your verticles.

[code]
Remember that Launcher is just a commodity, a main method just achieves the same goal.

Another way would be to have your code you want to execute only once to be in a separate Verticle. If both verticles need to "share" data, you

[2017-05-07 06:40] vegegoku commented on #622
I am sorry for this, i will move the discussion to the google group and i will post the url here since i was able to make it work, so those who might face the same thing will find the solution.

[2017-05-07 06:49] #622 closed

[2017-05-08 13:32] orre opened #623 "StackOverflowError when parsing long HTTP Headers"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

I've managed to crash my Vertx app when it receives a particular HTTP request from an Apache HTTP client. I've managed to locate the problem to the class io.vertx.ext.web.impl.HeaderParser and the COMMA_SPLITTER regexp pattern used there.
As I see it, if the header value becomes to long (but still not very long) you will get an St

[2017-05-08 16:07] elad-yosifon commented on #623
[code]
which is invoked via :
[code]
This is the implementation.. and you can see how it might be a performance/security issue (heap attacks).

I'm suggesting 2 changes that will improve performance and will remove this exploit:
1. lazy loading (parsing/sorting) these headers only if they are used in a request context - and not on every initialization.
1. streaming the header parts with an interna

[2017-05-08 17:34] vegegoku commented on #607
I have been trying to make this work for some time without sucess so far, i cant also find any clear solid example of how to do this.

Isnt there anyway to obtain the response of a webclient synchrously.

[2017-05-08 18:08] alexlehm commented on #623
I would guess that the regexp can fixed by changing the . patterns to [^,] to avoid unnecessary recursion

[2017-05-08 18:12] alexlehm commented on #623
Pattern COMMA_SPLITTER = Pattern.compile(",(?=(?:(?<!\\\\)\"(?:(?!(?<!\\\\)\").)*(?<!\\\\)\"|\\\\.|[^\",])*$)");

works

[2017-05-08 18:16] elad-yosifon commented on #623
Using a regex when it is not a MUST during high concurrency is pretty bad..
compiling one on every call is worse.

On Mon, 8 May 2017 at 21:12 Alexander Lehmann <notifications@github.com>
wrote:

--
תודה,
אלעד יוסיפון

[2017-05-08 18:18] yunyu commented on #623
compiling one on every call is worse.

I agree, but as it's static, it's only compiled once.

[2017-05-08 18:26] elad-yosifon commented on #623
you are right..  but shouldn't it be "event-loop static" and not java runtime static?

I never got into the internals of java Regex.. is it thread safe?
does Pattern.split() creates an internal matcher and iterates it?

nevertheless.. I'm convinced that using a regex here is not a good idea.

[2017-05-08 18:35] yunyu commented on #623
Regexes are thread safe, created matcher instances aren't, but that's not an issue in this use case: http://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html

That said, I agree:

![](https://imgs.xkcd.com/comics/perl_problems_2x.png)

[2017-05-08 18:41] rogelio-o commented on #571
Because we need it in order to update the Vert.x version, we have done a simple solution that works for us:
- We track the put keys and removed keys. Of course, it is not the best way to track it. It doesn't work with complex objects that change "outside" put and remove, so the updated object isn't serialized and sent to other nodes.
- The clustered sessions are not saved if they aren't changed (a

[2017-05-08 18:57] pmlopes commented on #571
@rogelio-o did you had time to look at the proposed change?

[2017-05-08 19:03] pmlopes commented on #607
@vegegoku you're better getting support on the project forum:

https://groups.google.com/forum/#!forum/vertx

Rather than the bug issue tracker. We use this for tracking issues not support. Also note that if you use the forum you will get more exposure and probably faster help!

[2017-05-08 19:03] #607 closed

[2017-05-08 19:05] alexlehm commented on #623
I wonder what the performance benefit of a roll-your-own string splitter is instead of .split.

[2017-05-08 19:28] rogelio-o commented on #571
Yes, we tried something similar but the problem is the following: if the oldSession is updated, it is completely replaced by the newSession, so the changes are removed. For this reason, we chose merge it. Also, if we don't put the modified sessions, there are less traffic in the cluster because the remote map isn't updated.

[2017-05-08 19:33] elad-yosifon commented on #623
I'm convinced that there is some overhead..   will be easy to benchmark.
The true benefit of not using a regex in this case is the resolution of implementation and control over it.
This issue need a specific optimized ad-hoc splitter..  not a generic regex that would be called on EVERY incoming request.

[2017-05-08 19:35] elad-yosifon commented on #623
BTW..  anyone knows why there are HTML comments syntax in the regex?

[2017-05-08 20:14] alexlehm commented on #623
(?<!X) is a capturing group, that's not related to HTML comments

[2017-05-08 20:23] elad-yosifon commented on #623
LOL... my bad.. never really got to understanding lookahead and lookbehinds .
I'm gonna make a PR with tests and a simple benchmark..
just making sure I understand the regex..
the idea is to split commas and capture values between them without quotes ?

[2017-05-08 20:54] alexlehm commented on #623
yes, I think so

[2017-05-09 04:42] krishnarb3 commented on #496
Can I take up this issue?

[2017-05-09 06:40] orre commented on #623
Why is there no length-control kicking in on the header length? There used to be one at 400 bytes but was removed apparently since Netty does this (https://github.com/vert-x3/vertx-web/commit/aab820735fe973f7f60f40b90852f8be3b91a890). But this header is almost 2k and no length restriction kicked in. What is Nettys length restriction at?

[2017-05-09 07:20] pmlopes commented on #623
@orre the restriction was removed because the check was too restrictive for many common headers.

[2017-05-09 07:26] pmlopes commented on #496
@krishnarb3 yes you can. All issues marked as `Quick Win` are issues that are not that complicated and that we core developers do not consider urgent so the community is more than welcome to propose the implementation/fixes for these.

If you're interested (and I guess you are) make an announcement on the issue that you will work on it and propose a pull request and we will then assist you with a

[2017-05-09 07:43] krishnarb3 commented on #496
Awesome, I had gone through the Development process wiki link, just wanted to confirm that no one else is working on the issue at the moment.
I'll work on the issue and propose a pull request as soon as possible.
Thanks.

[2017-05-09 09:24] pmlopes commented on #571
@rogelio-o I'm looking at your proposal but it does not address all cases, for example, create a session with a timeout of a minute, every 10 seconds or so read it but do not write to it, since you're assuming that there are no changes the user will be loggout after one minute since you're not allowing the lastAccess to be propagated.

Also there is an assumption that the session entries are flat,

[2017-05-09 09:56] pmlopes commented on #623
@alexlehm sadly the proposed regex fails for: `"text/html,text/plain;q=0.9,application/json;q=0.8"`

[2017-05-09 10:00] rogelio-o commented on #571
@pmlopes, you are right. I propose the following solutions:
- For the first one: we can split the session last access and the other data in two different remote maps. In this case, only a map with long types will be exhaustively updated (we save a lot of data transaction between nodes).
- For the second one there are two alternatives:
     * Saving as "updated key" each key that accesses through g

[2017-05-09 10:14] pmlopes commented on #571
The first item seems feasible without any API breakage which is good. We could remain backwards compatible, the second one is more tricky because it would mean that we would break the API. The breakage is not trivial, although one can claim that its session data, so a simple migration can be done on the ephemeral data, the problem is with users that store non trivial (but allowed) objects such as

[2017-05-09 10:41] pmlopes commented on #623
@orre @alexlehm @elad-yosifon @yunyu I might me forgetting something but the simple approach of `String.split(",")` does pass the existing tests, plus the reported header with 4x more entries than the reported issue...

Could you guys see if there's any corner case that this solution does not cover?

[2017-05-09 10:49] elad-yosifon commented on #623
@pmlopes  existing tests?

[2017-05-09 11:10] yunyu commented on #623
Example from SO covers Date: http://stackoverflow.com/questions/39054741/header-values-with-commas

[2017-05-09 11:13] pmlopes commented on #623
@yunyu this code is only applied to the following headers:

* Accept
* Accept-Charset
* Accept-Encoding
* Accept-Language
* Content-Type

The case you looked up does not apply ;)

[2017-05-09 11:16] yunyu commented on #623
Ah ok, but it seems like that in:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Charset
etc...

A space is allowed after the comma (but is optional).

[2017-05-09 11:31] yunyu commented on #623
See Apache HttpCore implementation: https://github.com/apache/httpcore/blob/83e825f882e070cd004273702b1170d48afe2d82/httpcore/src/main/java/org/apache/http/message/BasicHeaderValueParser.java#L221

[2017-05-09 11:38] elad-yosifon commented on #623
@alexlehm @orre @yunyu @pmlopes @jponge @cescoffier  do you think we need a custom optimized string splitter in this case or not?
IMO this is a super busy part of the framework, and every optimization here is crucial.
In any case, I think we should parse these headers only when explicitly needed and not by default.

[2017-05-09 11:39] yunyu commented on #623
I think we should just use HttpCore, it's well-tested and is what other frameworks (spark namely) use.

[2017-05-09 12:14] u3r commented on #611
Hi @pmlopes,

your reply seems cut short. But regarding the first part:
I would expect the path variable to decode the %2B instances to space ' ' instead of '+'.
That part still seems wrong to me.

[2017-05-09 16:08] MerlinFeng commented on #140
what should I do? I have the same trouble with this issue.

[2017-05-09 16:56] alexlehm commented on #623
If the values may be quoted and there may be commas in the quoted part, split(",") is not enough, I have to read the spec though.
I assume a custom splitter is not really necessary, even though this is in every request received, it will not add much to the processing time, which will be mostly fileio.

[2017-05-09 16:57] alexlehm commented on #623
might be worth to look how netty does that (assuming they support Accept-Language for example)

[2017-05-09 18:09] pmlopes commented on #623
@alexlehm I've replaced the regular expressions with a simple char iteration, all previous test pass plus new ones added for corner cases like quoted strings, can you have a look:

https://github.com/vert-x3/vertx-web/pull/624

[2017-05-10 07:30] #623 closed

[2017-05-11 14:23] tsegismont commented on #140
Just my own personal view but if I had to change the logic behind a route,
I'd name this a new version of the app :)

I would put a load balancer in front of my Vert.x servers and redirect
traffic to the nodes with the new version.

2017-05-09 18:08 GMT+02:00 MerlinFeng <notifications@github.com>:

[2017-05-15 11:05] pmlopes opened #627 "Add Rocker template support."
_From @jmilagroso on May 15, 2017 10:52_

https://github.com/fizzed/rocker

_Copied from original issue: eclipse/vert.x#1988_

[2017-05-15 11:05] pmlopes commented on #627
@jmilagroso this could be an interesting task for a 1st contribution. All you need to do is implement the following interface: https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/templ/TemplateEngine.java

Which basically means implement 1 method.

[2017-05-16 08:00] pavanshetty05 opened #628 "Resource unavailable"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1
          Hi Team  i am using below code and URL to hit . But it works some time and other time it thrown an error in UI as Resource not found .  Will you please let me know what is missing ?
Some time it works some time it throw an error "Resource not found ". Below is the URL which i  am using
localhost:8080/api/query/

public class WebEPICVe

[2017-05-16 08:23] tsegismont commented on #628
It sounds like another verticle has started another http server listening
on 8080, but without a route handler for "/api/query"

Can you please follow-up on the user forum? (see vertx.io/community). We
(the community) don't use GitHub issues for questions. Thanks.

2017-05-16 10:00 GMT+02:00 pavanshetty05 <notifications@github.com>:

[2017-05-17 01:06] jmilagroso commented on #627
This is great! Hope this will get integrated soon!

[2017-05-17 07:39] enrcor01 opened #632 "RoutingContext.vertx() returns null after reroute"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

I need to redirect inside my application to create some kind of state machine based on handlers.
But when I try to delay the execution of the next context after rerouting using
`ctx.vertx().setTimer(500, t -> ctx.next());`

RoutingContext.vertx() returns null.

Any idea why?

[2017-05-18 05:54] #632 closed

[2017-05-18 19:39] tsegismont commented on #610
Fixed via 767f5b1

Thanks @EmadAlblueshi

[2017-05-18 19:39] #610 closed

[2017-05-22 06:50] cescoffier commented on #628
Mark the issue as invalid as it's a question. Follow-up happening on the mailing list.

[2017-05-22 06:50] #628 closed

[2017-05-22 12:30] pmlopes commented on #599
The issue with `reroute` is that it makes the execution not linear, it introduces a fork. For example if you have a logger in a route and reroute to another path where the logger is also installed if we don't reset the handlers, the single request will be logged twice. Same with timeout although timeout is not an issue per se since after the first one the response is closed and the second will jus

[2017-05-22 17:23] leolux commented on #148
The issue still exists in version 3.3.3. Haven't checked 3.4.1 yet, because the core class AsynResultHandler has been removed which breaks the build

[2017-05-22 18:17] pmlopes commented on #477
There are 2 things here:

1. We were wrongly accepting a url as a reroute path
2. The documentation explicitly states that reroute is path based and the test uses a query string

As per documentation, If you want to pass state to the new route, the proper way of storing stated in vertx-web is to put data into the context e.g.:

[code]

This is more expressive than query strings since you can store

[2017-05-23 12:15] #477 closed

[2017-05-23 12:30] pmlopes commented on #504
Since there is no update on the issue, I'll close it for now.

[2017-05-23 12:30] #504 closed

[2017-05-23 12:35] pmlopes commented on #480
I can't reproduce the issue. If there is a reproducer we can reopen this.

[2017-05-23 12:35] #480 closed

[2017-05-24 15:58] kshep92 commented on #463
I started chipping away at this problem on my own to test the viability. I came up with [his little bit of "sugaring"](https://gitlab.com/kshep92/apex/blob/master/src/main/groovy/com/reviselabs/apex/routing/ApexRoutingContext.groovy) thus far. Particularly of interest to me is the `render()` method that takes a template name; it would be a nice improvement to bring the `RoutingContext` API to some

[2017-05-24 18:02] pmlopes commented on #463
@kshep92 I believe that some of this can be integrated, the only thing we need to be careful is the polyglot aspect that limits which types we can use.

[2017-05-24 18:21] kshep92 commented on #463
@pmlopes Indeed. I guess I'll stay tuned to this conversation or any other discussing future API changes. I'd love to contribute.

[2017-05-25 09:02] leopard7777777 opened #635 "[3.4.1] io.vertx.core.impl.NoStackTraceThrowable: Version mismatch"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

* Link to github project/gist

### Steps to reproduce

1. class Users extends AbstractUser
2.
[code]

3. use HazelcastClusterManager
4.
[code]
5. login one
6. console logs
[code]

### Extra

* Anything that can be relevant

[2017-05-25 10:43] castarco commented on #362
Hi, as far as I know, the issue is not solved. I have configured the body handler to accept payloads with 0 bytes, but when I receive a POST request (having a handler or not for POST requests)... the directory is created anyway.

In certain circumstances this could imply stability problems.

[2017-05-25 15:29] cmlanche commented on #148
how to solve this problem, it is verty inconvenient！

[2017-05-25 15:46] pmlopes commented on #362
@castarco the issue hasn't been worked on, so we still need to add a enable disable feature for upload, multipart data and raw body. Only then we can configure to create or not the directory.

Since this isn't really a blocker we've been working on other issues first. Of course we welcome pull requests too if you would like to help.

[2017-05-26 07:33] downgoon commented on #405
@pmlopes in nginx, it is allowed to append a parameter (http query string) when url rewriting

[code]

[2017-05-26 20:08] pmlopes commented on #405
You can use the context to pass state this gives you more expressiveness of types and avoid encoding and decoding of the data passed to the target route.

[2017-05-27 12:01] pmlopes commented on #635
This means that since the moment your request arrived to the server and until it was complete a second request did arrive and caused the session state to change causing your session data to be in an invalid state.

[2017-05-27 12:05] pmlopes commented on #635
Also your read/write to buffer methods​do not save restore the metadata, see: https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/sstore/impl/SessionImpl.java

[2017-05-29 04:02] leopard7777777 commented on #635
It's not fatal bug and my code is working normally, but always print logs. can i ignore it ?

[2017-05-29 06:59] pmlopes commented on #635
This log is just telling you that the state of the session can not be computed by the session handler so it is not storing the state for you. If you're doing it yourself you might ignore it, but on the other hand, you should investigate if you really need to use the session handler since you're handling it yourself...

[2017-05-30 08:18] pmlopes commented on #602
This has been fixed by: https://github.com/eclipse/vert.x/pull/1999

[2017-05-30 08:18] #602 closed

[2017-05-30 13:01] VladimirKravtsov commented on #148
In 3.4.1 the issue still reproduciable.

[2017-05-30 14:57] pmlopes commented on #148
@VladimirKravtsov could you verify with the current 3.4.2-SNAPSHOT version, several fixes have been done in core and web to address this.

[2017-05-30 14:57] pmlopes commented on #148
If it still happens please provide a simple example showing the issue so we can work on it.

[2017-05-30 17:13] CraigStuntz opened #636 "CSRFHandlerImpl uses non-fixed cookie path, resulting in cookie proliferation"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

`CSRFHandlerImpl` does [not set the path of the cookie](https://github.com/vert-x3/vertx-web/blob/989d8d321e5316fa8358d3eff931f35a9ef2ee72/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/CSRFHandlerImpl.java#L156) it creates. In practice, this results in a proliferation of cookies on the user agent:

![image](https://cloud.g

[2017-05-31 08:41] #636 closed

[2017-06-03 12:02] Dimous opened #638 "TimeoutHandler throws exception when rerouting"
### Version

* vert.x core: 3.4.1/3.4.2-SNAPSHOT
* vert.x web: 3.4.1/3.4.2-SNAPSHOT
* language: kotlin

### Context
[code]
---
When I request "/test" I get "test" response, when I request "/" I get file contents, but with exception in console:
[code]

[2017-06-03 12:31] Dimous commented on #638
Well, I removed router.route().handler(TimeoutHandler.create(10000)) and it works without exceptions.

[2017-06-04 09:38] pmlopes commented on #638
Duplicate: #599

[2017-06-04 09:38] #638 closed

[2017-06-05 20:04] kaush opened #639 "produces() ignores Accept: */* when charset is present"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context
When using
[code]
the route is not matched if the request has `Accept: */*`

[2017-06-07 06:25] umanggoel commented on #425
Facing this same issue while accessing hystrix dashboard:
2017-06-06 23:18:05,926,Type=ERROR,Category=io.vertx.ext.web.impl.RoutingContextImplBase,Thread=vert.x-eventloop-thread-0,MDC=,Text=Unexpected exception in route
io.vertx.core.VertxException: java.io.FileNotFoundException: .vertx/file-cache-fd8127f8-c6a1-4468-9301-52d9f82dc321/lib/standalone-hystrix-dashboard-1.5.6.jar (No such file or dire

[2017-06-07 13:00] tsegismont commented on #639
Can your provide a reproducer? There is an automated test for this use case and it runs without failure:
https://github.com/tsegismont/vertx-web/blob/22e8306d87bf4be859dd29560f44cb140f85dd91/vertx-web/src/test/java/io/vertx/ext/web/RouterTest.java#L1123-L1130

[2017-06-08 09:24] pavolloffay commented on #523
Some thoughts about this.. In order to make tracing possible in vert.x we need to figure out two things:

1. context propagation, e.g. propagate span context through handlers. In vert.x core the context object (http://vertx.io/docs/vertx-core/java/#_the_context_object) is an event loop object so we cannot store it there. In vert.x web (http://vertx.io/docs/vertx-web/java/#_context_data) it is shar

[2017-06-08 12:13] vietj commented on #523
@pavolloffay event loop and context (there is a PR for that) only provides limited support for this. Actually any usage of Netty should be covered, for instance Vert.x code creates a Netty Bootstrap and then connects, there is a continuation in this case that should be followed and the Vert.x Context is not related to that.

[2017-06-08 23:23] kaush commented on #639
Let me correct myself.
The issue is when there is charset directive in produces
  router.get("/foo").produces("application/json; charset=UTF-8")

Reproducer:

    public void start() {
      Router router = Router.router(vertx);

      router.get("/foo")
        .produces("text/xml;charset=UTF-8")
        .handler(ctx -> ctx.response()
            //.putHeader("Context-Type", "text/xml;charset=UTF

[2017-06-09 08:34] pavolloffay commented on #523
Do you mean this https://github.com/eclipse/vert.x/pull/1787 for the context?

[2017-06-09 08:38] vietj commented on #523
@pavolloffay yes, there is also a recent discussion on the vertx group about MDC logging

[2017-06-09 08:39] vietj commented on #523
my whole point is that with event loop you lose activity correlation implicitly done by thread and it's not obvious to rebuild one when it's needed

[2017-06-09 14:30] tsegismont commented on #639
This is unexpected:

[code]

This is expected:

[code]
This is expected:

[code]

[2017-06-09 16:38] whitingjr opened #644 "Performance Enhancement: Improve performance of path normalization."
3.3.2

* vert.x core: 3.3.2
* vert.x web: 3.3.2

 Running the techempower benchmark operation PLAINTEXT with a profiler shows >600GB char allocations in a short period of time. During the [Utils.normalisePath(String, boolean)](https://github.com/vert-x3/vertx-web/blob/3.3.2/vertx-web/src/main/java/io/vertx/ext/web/impl/Utils.java#L47) method. This method is a good candidate to be optimized.

- avo

[2017-06-12 08:20] #639 closed

[2017-06-13 09:13] pmlopes commented on #425
@umanggoel can you provide an small example showing the issue

[2017-06-14 02:49] greyseal opened #646 "Not able to handle Media Type Unsupported HTTP Status"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

Not able to handle Media Type Unsupported in Vertx Web.

### Do you have a reproducer?

* https://github.com/greyseal/vertx-soap-consumer

### Steps to reproduce

1. Run the application
2. Browse to GET: http://localhost:8080/vertx-soap/v1/geoip/69.89.31.226 and do not set the Content-Type:application/json

Expected 415 but got 40

[2017-06-14 14:17] whitingjr commented on #644
So I've done changes that will eliminate allocations. In the situation where normalising is not necessary.
 In the case of normalising then allocations will happen as before.
 Changes are here on a branch called [issue-#644](https://github.com/whitingjr/vertx-web/commit/acbc3adb56e08906cf2685fe0940f169a75a7e9b)

 I've checked the changes by running the testsuite. There are no additional failures d

[2017-06-16 03:03] yunyu commented on #644
Tangentially related, but hopefully somebody can fix the normalize/normalise spelling inconsistencies

[2017-06-16 07:16] vietj commented on #644
we are also looking at the throughput of the method, allocation should not be the main driver

[2017-06-19 14:08] tsegismont commented on #646
@greyseal I didn't realize your were talking about GET requests when I asked to file that bug. Are you sure the problem is with "Content-Type" header? Not "Accept" header?

[2017-06-19 16:37] tsegismont commented on #646
At first I thought we could do the following:

- update `io.vertx.ext.web.impl.RouteImpl#matches` so that when there's a route which does not match because of content type, the routing context is flagged.
- in `io.vertx.ext.web.impl.RoutingContextImpl#checkHandleNoMatch` if the flag is set, instead of 404 return 415.

But then if you have "technical" handlers (logging, auth, ... etc), the flag wou

[2017-06-20 03:35] shiprabehera opened #647 "Support required parameter for API request"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

The path parameter is retrieved using `routingContext.request().getParam("whatever_id")`. It can be checked if this parameter is null and depending on that, we can throw a `400`. But this can create lot of boilerplate code in case of multiple required parameters.
Currently, is there any way to make request parameters required or o

[2017-06-20 09:44] aesteve commented on #647
Not that I know of, but a lot of side-projects gravitate around this idea of "automatic parameter checking" (required / optional, but also the parameter type : int, date, etc.).

You can have a look at the Google Group (and the different discussions around Swagger-Gen for example).

But for sure, vertx-web definitely needs an "official" way of reducing the "checking boilerplate". I do agree.

[2017-06-20 10:48] whitingjr commented on #644
@yunyu thanks for highlighting those spelling errors. I've pushed a change to make the class consistent again.

[2017-06-20 10:59] whitingjr commented on #644
@vietj allocations have a direct affect on throughput. Is that not evident from the jmh output ?

[2017-06-20 16:36] vietj commented on #644
yes, but I mean that we look at both and we don't use allocation as main driver

[2017-06-20 17:19] yunyu commented on #644
@vietj I don't know much about JMH, but https://github.com/vert-x3/vertx-web/issues/644#issuecomment-308445280 suggests a 9981953.245/6649239.653=50% increase in throughput (ops/sec).

[2017-06-21 11:17] wu-lee opened #648 "WebClient doesn't persist cookies, and therefore doesn't support sessions"
I mentioned this on the google group. Julien Viet confirmed that it does not support sessions, but since the WebClient is meant to be a rich client which makes these things easy, suggested I open an issue to request that some mechanism to support cookie persistence be added.

### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

Unit testing vertx HttpServer session authentication do

[2017-06-22 14:37] wu-lee commented on #648
Come to think of it, testing websocket authentication as per the vertx [Angular realtime example](https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/angular_realtime/Server.java) is still problematic. (This is in fact what I am doing, more or less.)

This is because:
- WebClient would support sessions but not the websocket API
- HttpClient would s

[2017-06-22 14:56] vietj commented on #648
@wu-lee you can create a `WebClient` by wrapping an `HttpClient`

[2017-06-22 15:41] wu-lee commented on #648
Would that then allow websockets with session authentication? I confess I don't see how, unless the HttpClient persisted cookies.

[2017-06-23 07:34] bripkens opened #649 "Vertx SockJS handler always transmits CORS headers"
### Version

* vert.x web: 3.4.2

### Context

When using a `SockJSHandler` as per [the docs](http://vertx.io/docs/vertx-web/java/#_sockjs), then every request will have CORS headers (`Access-Control-*`). This is not a desirable behavior when trying to ensure that the browser same-origin policy mechanism is protecting your users' credentials.

This is especially problematic as the server by defaul

[2017-06-26 08:55] pmlopes commented on #648
@wu-lee a cookie is just a header that you need to add to each request, it all depends on your application logic. For example you can define http only cookies, set expiration time, etc... and this is quite specific to your application logic. I think all you should do is handle the cookie yourself since what does it mean if a cookie is `httpOnly` in this case? or that the expiration is `-1`? even i

[2017-06-26 09:00] pmlopes commented on #646
Related to: https://github.com/vert-x3/vertx-web/pull/606

[2017-06-26 10:32] pmlopes commented on #649
The hardcoded `Access-Control-Allow-Credentials=true` is defined on the sockjs server protocol level. If we make this configurable we might drift from the expected implementation.

[2017-06-26 12:00] bripkens commented on #649
I'd say this is acceptable considering that disabling CORS is only something you would do if you know the effects. Still curious why this is in the spec. I didn't know this. Thank you!

[2017-06-26 12:11] tristancaron opened #650 "Vert.x not deploying on windows 10"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

I have a server which is running fine from built-in ubuntu bash, but not from powershell.

I use `gradle run`  with
[code]

![capture](https://user-images.githubusercontent.com/9624669/27538596-14d5b814-5a79-11e7-8080-ac7f7c885f7e.PNG)

[2017-06-26 14:31] chrisjleu opened #651 "Rxified DeliveryOptions missing"
### Version

* vert.x core: 3.4.3
* vert.x web: 3.4.3

### Context

There appears to be no RXJava equivalent of `io.vertx.core.eventbus.DeliveryOptions`. Therefore, the `MultiMap` from obtained from (an RXified) `io.vertx.rxjava.ext.web.RoutingContext` request is incompatible with the `MultiMap` required by `DeliveryOptions`

[code]

Can we have an RXified `DeliveryOptions`?

Right now I can resor

[2017-06-26 14:48] vietj commented on #651
Hi, you can get the original headers with `new DeliveryOptions().setHeaders(routingContext.request().headers()).getDelegate()`

[2017-06-26 17:11] wu-lee commented on #648
For now I've implemented my cookie persistence in the app logic, yes. I did try wrapping the WebClient library, and then the HttpClient, but eventually decided this was intractable.  Too many private methods combined with my intention to use the RxJava API made things especially difficult.

I've seen persistent cookies implemented in other HTTP client libraries I've used, to useful effect.

True,

[2017-06-27 06:19] debashisdeb commented on #113
@slinkydeveloper is there any progress made on this yet ? Is the annotations support to generate dynamic api docs coming up for Vert.x any soon ?

[2017-06-27 12:20] pmlopes commented on #647
@shiprabehera no currently there is no support for this, you can however declare simple validation handlers like:

[code]

and now just refer to it before the routes that require it. There is a PR in review to allow multple handlers per route so your code would be something like:

[code]

[2017-06-27 13:03] #545 closed

[2017-06-28 14:25] marcottedan opened #653 "Expose the HttpMethod in the Route interface"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

Hello, When using the Router, it's possible to get a List<Route> but the only way to print the HTTP Method is by using the `toString()` method. Is it possible to expose a getter to the `private final Set<HttpMethod> methods` in RouteImpl through the interface so we can, for a route, print its method as well please?

### Do you hav

[2017-06-30 00:23] shiprabehera commented on #647
@pmlopes Thank you. That is exactly how I am handling it, just wanted to confirm if we have or plan to support this feature.

[2017-06-30 00:23] #647 closed

[2017-07-01 18:26] alexlehm commented on #650
I mean to check this issue, but didn't get to it yet.

I would guess that the ubuntu layer in Windows 10 will run the gradle bash script, while powershell will run the bat or cmd file, which might cause a different behaviour.

@tristancaron the screenshot is missing the error message at the bottom (I guess), could you post the text instead of a screenshot please?

[2017-07-04 12:10] pavolloffay commented on #523
Hi,

we would like to move tracing in vertx forward. I have created PR with tracing server requests using OpenTracing handler. PR is here https://github.com/opentracing-contrib/java-vertx-web/pull/2. Could somebody from vertx team have a quick look? We would like to merge it and release the first version soon. Thanks.

[2017-07-04 15:56] vietj commented on #523
can you give a description of what the PR does ? I would happily review it then.

[2017-07-04 16:52] pavolloffay commented on #523
It creates span for each request hitting the server (with the assumption that handler is registered for all endpoints). Span should be started as the first thing in the request processing and finished as the last one.

[2017-07-05 15:49] bripkens opened #654 "Async handler before SockJS handler results in "Request has already been read""
### Version

* vert.x web: 3.4.2

### Context

SockJS XHR transport tries to register a body handler (`rc.request().bodyHandler(buff -> {})`). This doesn't work when using an async handler before the SockJS handler. I tried adding a `BodyHandler` as the first handler, but unfortunately SockJS doesn't leverage this

### Do you have a reproducer?

[code]

### Steps to reproduce

1. Connect to the se

[2017-07-08 10:43] mystdeim opened #658 "Could not initialize class io.vertx.ext.web.templ.ThymeleafTemplateEngine"
My gradle.build has
[code]
Verticle:
[code]
I checked dependencies, everything is ok. Why I get this error?

[code]

[2017-07-08 11:03] mystdeim commented on #658
I found how to fix it.
Just add compile "org.slf4j:slf4j-api:1.7.25" in dependencies
But anyway there is a very confusing message `Could not initialize class io.vertx.ext.web.templ.ThymeleafTemplateEngine` No message about logging

[2017-07-10 11:17] cescoffier commented on #658
It's the JVM message. The class was not initialized correctly because of a static dependency to a class that cannot be loaded.

[2017-07-10 11:17] #658 closed

[2017-07-11 13:36] yunyu commented on #587
Just another reason to provide access to the token generation method: with the current approach, clients cannot submit CSRF-protected forms without JS. Laravel has a helper function for this case: https://laravel.com/docs/5.2/routing#csrf-protection

[2017-07-14 13:46] sziep opened #661 "Typo: VertxWeb::LoggerHandler does not log 'referer' header"
### Version

* vert.x web: 3.4.2 (master)

### Context

I noticed that the content of ther HTTP 'Referer' header is not logged by the LoggerHandler.
This is because of a simple typo: Instead of 'referrer' it needs to be 'referer'.

https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/LoggerHandlerImpl.java#L112

### Steps to reproduce

1. log a req

[2017-07-17 11:43] pavolloffay opened #662 "BodyEnd handler is not always called [tracing]"
For tracing integration it's necessary to know when the request finished. For this purpose BodyEnd handler could be used, however it's not called in all situation for example when a client breaks the socket connection (`Connection Reset`).

See https://github.com/opentracing-contrib/java-vertx-web/pull/2#discussion_r126614212

[2017-07-17 15:05] vietj commented on #662
you should rather use the `HttpServerResponse#endHandler` that shall always be called.

[2017-07-17 15:06] vietj commented on #662
That's expected, you should setup an exception handler to handle this case as well.

[2017-07-18 08:27] pmlopes opened #664 "Vertx-web-js : SockJSHandler error while calling bridge function"
_From @Wano-k on July 15, 2017 2:58_

I'm on Windows and tried to launch a `server.js` in command line and in IDE with maven dependencies, but both failed with the same error.

Here is the server:

[code]

The command lines (using vertx 3.4.2 full version):
[code]

[code]

The server is perfectly working until I use `.bridge(options);`.

_Copied from original issue: eclipse/vert.x#2054_

[2017-07-18 08:27] pmlopes commented on #664
_From @Wano-k on July 15, 2017 17:44_

I tried with vertx 3.3.2 and my code is working.

[2017-07-18 10:26] #654 closed

[2017-07-18 11:06] pavolloffay commented on #662
@vietj do you mean failure handler? Tracing handler should be mapped as handler and failure handler see https://github.com/opentracing-contrib/java-vertx-web/#configuration.

Then there is a logic which distinguishes failure https://github.com/opentracing-contrib/java-vertx-web/blob/master/opentracing-vertx-web/src/main/java/io/opentracing/contrib/vertx/ext/web/TracingHandler.java#L44

and logs so

[2017-07-18 13:49] #661 closed

[2017-07-19 10:19] #539 closed

[2017-07-21 20:16] imran-a-hasan opened #667 "Support pattern URLs for SockJS routing"
### Version

3.3.2

### Context

I am attempting to create a SockJS connection that lives at a variable URL. My client will connect to my server using their own personal numeric ID. So if their ID is 10, they would write:

`var sock = new SockJS("localhost:4100/sock/10");`

On the server-side, I want to set up a route such as:

`router.routeWithRegex("/sock/\\d+").handler(SockJSHandler.create(vert

[2017-07-26 09:50] Addvilz commented on #462
Yeah, nested routers is super useful, I am using them to compose the app of multiple routers mainly because there are so... many... routes and endpoints. I also use them for modularity, because it allows me to choose which services will be exposed on which deployment.

[2017-08-01 05:37] blueberrynotblue opened #669 "ResponseContentTypeHandler logical problem?"
### Version

* vert.x core:3.4.2
* vert.x web:3.4.2

### Context

ResponseContentTypeHandler does not work as expected with ResponseTimeHandler. **Content-Type:text/plain** dismissed**

### Do you have a reproducer?

* Link to github project/gist

### Steps to reproduce

[code]
I get **Content-Length:4** and **Content-Type:text/plain** in response header.

[code]

only **Content-Length:4** and **x

[2017-08-01 08:12] tsegismont commented on #669
Looking

2017-08-01 7:37 GMT+02:00 blueberrynotblue <notifications@github.com>:

[2017-08-01 08:36] InfoSec812 opened #670 "Documentation For Using Service Proxies From Browser is wrong..."
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context
The documentation on the [Vert.x SockJS Service Proxy](http://vertx.io/docs/vertx-sockjs-service-proxy/java/) shows using a `require` statement in the browser-based JavaScript, and this is not possible. Require statements are not valid in browsers.

### Do you have a reproducer?

Example Project [HERE](https://github.com/InfoSec812

[2017-08-01 12:04] yunyu commented on #670
I think the docs should recommend using a bundler like Webpack or Rollup, and thus have a require() or ES6 import for the EventBus script as well.

[2017-08-01 13:14] lopesmcc opened #672 "UserHolder cannot serialise an inner static User class"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

The `UserHolder` class cannot serialise an User implementation that is an inner static class.
At line 51, the class name is being retrieved using the `getCanonicalName` method. When using `getCanonicalName` with inner static classes, the returned name will not be in a valid format for reflection.
I believe `getName` could be used

[2017-08-01 13:47] InfoSec812 commented on #670
I would recommend the least-common-denominator, that way anyone can use it and people who want to use a bundler can go to the extra effort. That said, a reasonable compromise would be to show BOTH methods.

[2017-08-01 13:50] InfoSec812 commented on #670
Also, I was overcomplicating things by thinking that I needed to call either `create` or `createProxy` on the client-side. Once I modified my code to just call the constructor for the Service Proxy, everything started working.

[2017-08-01 19:57] pmlopes commented on #670
Yes from the typescript branch I also noticed that the create and createProxy do not make sense and are probably wrong.

[2017-08-02 07:41] tsegismont commented on #669
We can't close it yet, there's an open PR #671

[2017-08-02 10:19] #669 closed

[2017-08-02 13:00] slinkydeveloper commented on #113
If you want to give a look at my progress: https://github.com/vert-x3/vertx-web/pull/666

[2017-08-04 09:21] pmlopes opened #675 "Static Handler should not return 404"
Currently static handler will stop the processing of the handler chain if a file is not found. This should not be the desired behaviour because with modern web app frameworks (single page applications) some paths are virtual and should point to the single html file.

Since the default status code when reaching the end of the handler chain is 404 the static handler should call `next()` instead of `

[2017-08-05 08:49] pmlopes opened #676 "Investigate vertx auth support to web client"
Vertx auth is not server specific, for example we could use jwt auth to encode and set the right header on a request.

Same for basic/digest auth and eventually oauth2 password flow too.

[2017-08-09 13:16] pmlopes opened #678 "Refactor Router to handler routes internally in a tree in order to reduce the regex evaluations and improve performance"
This is a project that @slinkydeveloper would like to research

[2017-08-09 13:56] slinkydeveloper commented on #678
I'm going to do some investigation and I'll write a blog post with it

[2017-08-09 13:57] vietj commented on #678
so the tree would be a bit like a Trie ?

[2017-08-09 13:58] vietj commented on #678
one thing you could also investigate for performance is regex `Matcher` reuse with `Matcher#reset()` method

[2017-08-09 14:04] slinkydeveloper commented on #678
@vietj as Paulo recommended to me, it will be a [ctrie](https://en.wikipedia.org/wiki/Ctrie) like, but with some changes to workaround common problems like a path with param and another path without param (/some/path and /some/:parameter) or other things.
Thank you for interesting, I will also check performance of `Matcher` with `reset()`

[2017-08-09 15:29] pmlopes commented on #678
For reference a poc of a ctrie router that requires no regular expressions:

https://github.com/pmlopes/yoke/tree/experiments/small-yoke/framework/src/main/java/xyz/jetdrone/yoke/impl/tree

[2017-08-09 20:17] vietj commented on #678
@pmlopes it does not seem concurrent though

[2017-08-10 08:08] pmlopes commented on #678
@vietj it is a pure experiment it is not complete

[2017-08-12 17:27] vitalif commented on #462
I also have another concern about sub-routers: you should make sure that your "normal" router is hierarchical before deprecating sub-routers. I.e. if it just runs a regex for each route that's a super-dump approach - what if you have 2000 routes - do you run 2000 (ok, 1000 in average) regexes for each HTTP request?

[2017-08-12 17:42] pmlopes commented on #462
I will close this issue for now. It seems sub routers are widely used even though there are issues with it. It was a constructive discussion and we can incorporate the discussion in future improvements.

[2017-08-12 17:42] #462 closed

[2017-08-13 09:48] de1001 opened #679 "OAuth2AuthHandlerImpl ignoring extraParams"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

OAuth2AuthHandlerImpl doesn't seem to include extraParams when building authorizing url. This is required to pass parameters like "prompt" to enable account selection on every verification (that is, as per the google documentation [here](https://developers.google.com/identity/protocols/OpenIDConnect#prompt)).

[2017-08-14 18:45] #679 closed

[2017-08-14 21:52] EmadAlblueshi commented on #675
+1

[2017-08-18 03:36] milo2005 opened #681 "Android Client for Vertx SockJs EventBus"
Hello !

I would like to know if it is possible to connect an android client to an EventBus -SockJSHandler, is there a client to perform the exchange of information ?, is there any plan to do it in the future?

Thank you

[2017-08-18 07:03] pmlopes commented on #681
While there are tcp bridge clients for android on the awesome page, there are no sockjs ones. I guess the reason is that there is no sockjs java library that I know. However it should be possible to have such a client using pure web sockets since sockjs does handle these as the default.

[2017-08-20 17:04] greyseal commented on #646
Thanks for the explanation. Will try this.

[2017-08-21 12:50] pmlopes commented on #681
Marking as invalid since its not an issue, but a question

[2017-08-22 12:03] #675 closed

[2017-08-28 09:45] blueberrynotblue opened #683 "Multi Route not work when containing path param"
### Version

* vert.x core:3.42
* vert.x web:3.42

### Steps to reproduce
[code]
When I have these routes above, I try to visit **/app/:appid/cashier**  only second handler will be called.

If I change
`router.route('/app/:appid').handler(AppHandler.&OAuth)  `
to
`router.route('/app/:appid/cashier'').handler(AppHandler.&OAuth)  `
This will behave as expected. **OAuth** called then **cashier**

[2017-08-29 06:52] pmlopes commented on #683
You are not using a wildcard on the first oauth handler so it is expected to be an exact match. You should have a '/*' suffix to state that you want to handle all sub paths

[2017-09-01 03:08] avkonst opened #685 "How to get all established connections to vertx based http server?"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

I have got https server run by vertx http server stack. Is there a way to get client IP addresses for all established connections (i.e. for audit, security, monitoring, QoS and other purposes). Ideally, I would like to have event (callback) driven API notifying about established and closed connections. How can I achieve it?

Curre

[2017-09-01 06:30] vietj commented on #685
you can use the HttpServer connection handler and manage it yourself easily:

[code]

[2017-09-01 07:29] avkonst commented on #685
Thanks. If I set handler this way, will it replace default handler which
takes care of managing http flow? Or will it add new callback in addition
to the default?

On 1 Sep 2017 6:30 p.m., "Julien Viet" <notifications@github.com> wrote:

[2017-09-01 09:08] vietj commented on #685
no, it's a different handler than the request handler.

[2017-09-04 10:54] cassman42 opened #686 "invalid URL causes NumberFormatException in io.vertx.ext.web.impl.Utils"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

I encountered an exception which looks suspicious while a security scanner was scanning our site

### Do you have a reproducer?

On a running vertx instance call a URL with %NE in it.

### Steps to reproduce

1. ... Start vertx site
2. ...  call URL "/%INVALIDURL%/"
3. ...
4. ...

### Extra

* Anything that can be relevant
Utils c

[2017-09-10 18:04] mkulak opened #691 "WebClient: downloading url to file signals completion prematurely"
### Version

* vert.x core: 3.4.1
* vert.x web: 3.4.1

### Context

When I download file using `BodyCodec.pipe(file)` and try to read it right after completion, I sometimes read empty file (the data is not here).

### Steps to reproduce
Following code reproduces bug (it's not 100% reproducible, for me it fails only on heavily loaded CI):
[code]
(this code is in Kotlin)

### Extra

I believe the pr

[2017-09-11 19:25] mkulak commented on #691
Apparently the root problem is that WriteStream has only synchronous `end()`. There is no way for `AsyncFile` to signal completion of `close()` to `StreamingBodyCodec`. I.e. in order to properly fix this we need to also patch vertx-core.

[2017-09-12 09:53] leolux opened #692 "Pebble obscure exception instead of NoSuchFileException"
### Version

* vert.x core: 3.3.3
* vert.x web: 3.3.3
* pebble: 3.5.0-SNAPSHOT

### Context
Given the following router implementation:
`
 engine.render(ctx, "templates/index.peb", res -> {
        if (res.succeeded()) {
          ctx.response().end(res.result());
        } else {
          ctx.fail(res.cause());
        }
      });
`
The exception produced and logged at debug level does not give a

[2017-09-12 10:49] pmlopes commented on #672
@lopesmcc where do we have a user that is a inner static class?

[2017-09-12 11:07] lopesmcc commented on #672
@pmlopes my own implementations of `io.vertx.ext.auth.User` were inner static classes. Moved them to their own classes and now its fine, but I believe this limitation should not exist.

My use-case was that when implementing custom `AuthProvider`'s, each had it's own implementation of `User`, as a inner static class.

[2017-09-12 18:44] pmlopes commented on #692
You will get a `com.mitchellbosecke.pebble.error.LoaderException` which is part of pebble that is not something we can "fix". One might think that we could check if the file exists before calling the engine and throw the simple `NoSuchFileException` exception however we can't really do that since many engines support partials and that is an implementation detail we can't parse the template for tho

[2017-09-13 08:30] leolux commented on #692
Ok, thanks!
I switched back to pebble version 3.4.1 because the obscure exception didn't went away even if the referenced file exist. In this case the AbstractMethodError goes out of the scope of this issue anyway..

[2017-09-13 08:30] #692 closed

[2017-09-13 19:26] mkulak commented on #691
Corresponding issue in core: [#2123](https://github.com/eclipse/vert.x/issues/2122)

[2017-09-14 06:52] vietj commented on #691
your case seems indeed right, we should be able to specify a completion handler when ending a `WriteStream` so we can guarantee that the resource has been properly handled or it could even fail actually.

[2017-09-14 07:00] vietj commented on #691
I've renamed the issue to be more accurate

[2017-09-14 21:59] #554 closed

[2017-09-14 21:59] pmlopes commented on #554
Fixed by #682

[2017-09-15 08:58] swimmesberger opened #694 "Expose properties in HttpRequest"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

It would be nice if the host, port, method, uri, ssl, timeout, followRedirects properties could be exposed in the HttpRequest interface. Currently there is know way to know with which HttpRequest object you are working currently (what is the url? what is the method which will be used?)
I would use the information to calculate OAut

[2017-09-15 09:28] swimmesberger opened #695 "HttpRequest ssl property is lost on copy"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context
I have just noticed a potential bug in the HttpRequestImpl class:
When the copy() method is called on a HttpRequest object the private constructor of the HttpRequestImpl class is called. In this constructor every property is copied except the ssl property so the setting will get lost when copy() is called.

https://github.com/vert-

[2017-09-16 06:51] #627 closed

[2017-09-18 13:12] tsegismont opened #696 "EventBus bridge doc says reconnection is not supported"
When #660 got merged, the doc wasn't updated.

It still indicates that the EventBus bridge does not support reconnection.

See https://github.com/vert-x3/vertx-web/blob/4b7211afd26b5065d94c0742e4d3d52373ca1230/vertx-web/src/main/java/io/vertx/ext/web/package-info.java#L1689-L1702

[2017-09-18 13:13] tsegismont commented on #696
@yunyu would you mind to take care of this?

[2017-09-19 14:06] yunyu commented on #696
I will try to PR this weekend

[2017-09-19 15:43] tsegismont commented on #696
Awesome, thanks!

2017-09-19 16:06 GMT+02:00 Yunyu Lin <notifications@github.com>:

[2017-09-20 14:31] vic1982 opened #698 "PebbleTemplateEngine does not render variables put in context"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

I encountered an issue while trying to create Pebble templates as per the [documentation](http://www.mitchellbosecke.com/pebble/documentation/guide/basic-usage).

Items put into the context object are not passed to the template engine, rather the context object itself is, so the documented method of passing variables:

`context.pu

[2017-09-22 09:43] pmlopes commented on #698
Fixed by #699

[2017-09-22 09:43] #698 closed

[2017-09-22 09:48] #388 closed

[2017-09-25 09:26] slinkydeveloper commented on #678
This is my small analysis https://slinkydeveloper.github.io/articles/Routing-Tree-vs-SkipList/

[2017-09-25 20:08] dm532 opened #701 "SockJSSession.isClosed and SockJSSession.shutdown blocking eventloop"
### Version

* vert.x core: 3.3.3
* vert.x web:3.3.3

### Context

We have written a SockJSServer, and are trying to load test it. This is a [link](https://groups.google.com/forum/#!topic/vertx/_lX7k_zZtFY) that provides some background.
Intermittently, we're getting one of the two Exceptions pasted below.

Although this is warning, the Server basically hangs up, does not accept new connections an

[2017-09-26 09:05] tsegismont commented on #648
@pmlopes I think a simple cookie manager like curl has would be fine: it dumps cookies to a file after a request, and you can provide the file path when sending the next one. Of course persisting to disk is not necessary for us.

[2017-09-26 11:56] dm532 commented on #701
This is the Thread state as shown in Jconsole when EventLoop Thread is blocked -

Name: vert.x-eventloop-thread-0
State: BLOCKED on io.vertx.ext.web.handler.sockjs.impl.SockJSSession@7564fe4f owned by: vert.x-worker-thread-18
Total blocked: 60  Total waited: 0

Stack trace:
[code]

[2017-09-26 17:04] #696 closed

[2017-09-26 17:27] pmlopes commented on #648
isn’t that the same as adding a header then?

[2017-09-26 20:07] tsegismont commented on #648
Well, it is true that managing cookies is all about parsing and adding
headers :-)

But the parsing is not that trivial. Nor is the re-sending. At least from
my experience using the web-client for testing session persistence with the
Infinispan CM. I spent quite some time to get it right (admittedly because
I don't know much about cookies), but doing the same with curl and its
cookie manager was a

[2017-09-26 20:29] pmlopes commented on #648
👍 if someone wants to work on this

[2017-09-27 07:11] vietj commented on #648
+1 too, WebClient is the right place for this.

[2017-09-27 07:11] vietj commented on #648
we should change the title and turn it from a defect to a feature

[2017-09-27 08:49] pmlopes opened #703 "RoutingContext.removeCookie probably should also expire the cookie"
Currently it only removes the cookie from the cookie set but most users want to invalidate cookies.

We probably should change the behavior to invalidate the cookie instead and if a user wants to remove a cookie then use the cookies() set.

[2017-09-27 10:28] philrykoff commented on #703
I also tripped into this trap.

What I ended up doing was

`context.addCookie(Cookie.cookie(this.cookieName, "").setPath("/").setMaxAge(0L));`

[2017-09-27 12:37] bhowell2 commented on #703
I can make a pull request for this if no one else has it.

Also, what the preferred approach to removing the cookie? Set cookie value to empty and set expires on the unix time start date (i.e., Jan 1 1970)?

https://stackoverflow.com/questions/5285940/correct-way-to-delete-cookies-server-side

[2017-09-28 15:32] ckoutsouridis opened #704 "extensive "WebSocket is closed" logging"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

There is an extensive logging of `java.lang.IllegalStateException: WebSocket is closed`.

1st issue is that it is logged twice. once in the `HandlerRegistration` and once in `ContextImpl`

for example:
[code]

2nd issue is that is considered an error flow only for RawWebSockets.

### Extra

* This is occurring only for RawWebSocke

[2017-10-03 03:41] Sergey80 commented on #600
would be nice to have at least one working example with OAuth2AuthHandler

[2017-10-03 04:44] vietj commented on #600
@Sergey80 can you open an issue to the example repository ? I can't see one here https://github.com/vert-x3/vertx-examples/tree/master/web-examples/src/main/java/io/vertx/example/web

[2017-10-03 08:08] pmlopes commented on #600
there's already an example coming up with 3.5 (on the 3.5 branch)

[2017-10-03 11:09] #556 closed

[2017-10-06 10:48] StephenFox1995 opened #707 "No way to access HttpServerResponse body"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

Hi, I need to do some validation for all `HttpServerResponse`'s however, there seems to be no way to read the body from the response. For example `response.bodyEndHandler(e -> ...)` doesn't pass in the body that has been sent for the response.  Is there another way to do this?

[2017-10-06 16:24] tsegismont commented on #707
The bodyEndHandler does not provide the body itself on purpose: otherwise
it would have to retain all the buffers set to the client in memory. If you
don't use chunk responses, just check the response buffer before sending it
over the wire.

2017-10-06 12:48 GMT+02:00 Stephen Fox <notifications@github.com>:

[2017-10-06 18:22] vietj opened #708 "StaticHandler can set content encoding identity for already compressed files"
The `StaticHandler` could set the `content-encoding` header to `identity` when serving already compressed files and the http server is configured for compression using a configurable suffix matching, e.g `foo.zip` or `foo.jpg` responses are sent without compressing the content.

[2017-10-06 21:13] cazacugmihai opened #709 "Compression over the EventBusBridge"
This issue brings attention to [an old one](https://bugs.eclipse.org/bugs/show_bug.cgi?id=415437).

I've seen that there is already a [PR](https://github.com/eclipse/vert.x/pull/2045) that enables compression on the server (only for websocket protocol).

Thanks!

[2017-10-07 12:48] #703 closed

[2017-10-07 12:50] #571 closed

[2017-10-09 02:33] Sergey80 opened #710 "Handling the Query Params in web seems breaks another thing in auth"
### Version The latest 3.5 SNAPSHOT

* vert.x web:
* io.vertx.ext.auth

### Context

https://stackoverflow.com/questions/46593946/vertx-missing-get-parameters-while-securing-route-using-oauth2

### Steps to reproduce

1.
[code]

2.
[code]

3.
[code]

I did print the correct params,
 but then it fails on `githubAuth2.authenticate()` like that:

### Extra

* https://stackoverflow.com/questions/46555

[2017-10-09 08:23] pmlopes commented on #710
Given your example you seem to be passing a null vertx object when you create the `githubAuth2` object

[2017-10-09 08:43] pmlopes commented on #710
Please provide a full wrorking example to reproduce the issue as I cant reproduce it.

[2017-10-09 14:11] Sergey80 commented on #710
It's not null.

On Mon, Oct 9, 2017, 04:23 Paulo Lopes <notifications@github.com> wrote:

[2017-10-09 14:24] pmlopes commented on #710
@Sergey80 Please provide a full example showcasing the issue.

[2017-10-09 19:17] Sergey80 commented on #710
will try try provide,
 but for now just double checking that it is not null. print out it like:

[2017-10-14 15:04] vietj opened #711 "SockJSSession needs to use the transport thread when using the transport"
Currently the SockJSSession uses the transport for write/close operations from any thread. This can cause deadlocks when used from external threads or because the transport thread has changed (for instance a session reconnection with an scaled http server).

It can be fixed by recording the transport context when the transport is associated with the session (register method) and doing a runOnConte

[2017-10-17 06:46] vietj commented on #567
this should be fixed in 3.5.0

[2017-10-17 16:25] slinkydeveloper commented on #678
I'm working on it. I have a question: I have to organize the routing process code all inside a new package (for example io.vertx.ext.web.router)?

[2017-10-17 18:57] JohnRudolfLewis opened #713 "StaticHandler does not work with regex routes"
### Version

* vert.x core: 3.4.2
* vert.x web: 3.4.2

### Context

StaticHandler does not return expected content with regex routes.

### Do you have a reproducer?

* https://gist.github.com/JohnRudolfLewis/f97e3debb55688c411df4a9ec8c98ce5

[code]

### Steps to reproduce

1. Place a file named test.json at /src/main/resources/test/test.json
2. Run the application
3. Make a get request to http://l

[2017-10-20 17:31] leolux opened #717 "RedirectAuthHandlerImpl always fails the context back"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
I am wondering why the method parseCredentials() [1] always results context fail. I can see only one way where a route handeled by a RedirectAuthHandlerImpl would not fail: When the client sets the Authorization header (preflight). This way  the RedirectAuthHandler would not get invoked because the authentication would be valid alr

[2017-10-23 10:44] adamdickmeiss opened #718 "Can't preserve params after RoutingContext reroute"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

Using reroute in 3.4.1, we can change path and preserve params. That is no longer necessary with commit f168d4f86e25a4ffc4a9c6f86364515d3805c507 in vertx-web . At the very least, the params should NOT be cleared in this case ( request.params().clear(); ).

### No reproducer

But can make one if that is necessary.

[2017-10-23 10:49] adamdickmeiss commented on #718
Another way to remedy the situation is to have another variant of reroute that takes 3 arguments with the last one being arguments / params.

[2017-10-23 16:52] leolux commented on #717
I guess the implementation is totally correct. The only issue left is the name of the class.
As the implementation does not check for authentication or authorization the current class name is a bit confusion to me. I would suggest to to rename the class to `RedirectUnauthorizedAccessAuthHandlerImpl`

[2017-10-23 16:52] #717 closed

[2017-10-24 07:40] pmlopes commented on #717
@leolux that would break the existing code bases so the name remains as it was. We could however mark it as deprecated and introduce a new class with better naming

[2017-10-24 22:10] nevenr opened #719 "vertx 3.5.0, issue with SockJS event bus bridge and websockets"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I encountered an exception which looks suspicious while trying to use SockJS event bus bridge over websockets.

Oct 24, 2017 11:45:41 PM io.vertx.ext.web.impl.RoutingContextImplBase
SEVERE: Unexpected exception in route
io.vertx.core.VertxException: Connection was closed

Connection is still established but not over websocket but

[2017-10-25 03:46] jtaylor10 opened #720 "3.5.0 OpenApi3RouterFactory raises: java.lang.IllegalStateException: Result is already complete: failed"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

Trying to use the new OpenApi3RouterFactory and tried loading a spec file but gave the wrong path. Vertx then prints out:

[code]

### Steps to reproduce
Simply call `OpenApi3RouterFactory.createRouterFactoryFromFile(vertx, "badPath.yaml", event -> {..})`

### Extra

Problematic line: https://github.com/vert-x3/vertx-web/blob/mast

[2017-10-25 04:01] jtaylor10 commented on #720
Looking at the code further, I don't think lines 93-95 should even be there. This forces the URL provided to be a file on disk which really limits what the SwaggerParser object supports. The SwaggerParser handles bundled resources and external (http) urls.  Lines 93-95 should be removed and the url/filename provided should be passed directly to the SwaggerParser since the code to handle that failu

[2017-10-25 07:38] vietj commented on #720
that would be awesome, don't forget a test

[2017-10-25 17:10] jtaylor10 opened #722 "3.5.0 OpenApi3RouterFactory doesn't set media types (consumes, produces)"
Not too sure if I'd classify this as a bug or maybe a feature request - either way it's rather simple so I'll open a PR for the solution soon. Opening issue for record keeping/classification.

### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

The OpenApi Specification requires when `content` is specified for a request body and response(s), then a media type is identified. When th

[2017-10-26 09:46] patton73 commented on #334
This feature should be implemented. Automatic decrompression of header and body is really needed.
Do we have any chance to see this feature in next vertx -web releases?

[2017-10-26 11:00] vietj commented on #334
so we are talking here of a vertx-web router handler that decompresses content ?

[2017-10-26 13:44] patton73 commented on #334
Well i would say yes. If the header contains the "Content-Encoding: gzip" or similar, content should be deflated automatically so that context.getBodyAsString() returns uncompressed body string.

[2017-10-26 13:56] vietj commented on #334
I think thats something we should I think do in vertx-core rather, what's your opinion @pmlopes ?

[2017-10-26 14:03] patton73 commented on #334
Right now is only supported encoded responses from the server. We need both ways.
Thanks.

[2017-10-26 14:16] vietj commented on #334
yes that's what I meant

[2017-10-26 20:45] pmlopes commented on #334
@vietj I would agree to do it in core so not just web would benefit but also other modules. This needs however to be very well thought because of:

http://www.unforgettable.dk/

And also we need to stream the decompression because web, for example, also has a way to abort a request if the body reaches a certain threshold in bytes...

[2017-10-26 21:12] jtaylor10 opened #724 "3.5.0 web-api-contract BaseValidationHandler doesn't handle Content-Type headers properly"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

Using the OpenApi3RouterFactory with endpoints that send JSON request bodies and Rest Assured testing framework I noticed I was always getting a HTTP 400 back before any handlers are being hit. I stepped through the code to see that in `BaseValidationHandler` it's doing `equals` checks against a raw `Content-Type` header value ign

[2017-10-26 23:00] vietj commented on #334
good point about the threshold, we must take care of a certain limit, it seems less problematic on the client response

[2017-10-27 06:26] takeseem opened #726 "StaticHandler(filesReadOnly=false, cachingEnabled=true) cache dirty when file deleted AND 304 not work if cacheEntry.isOutOfDate()"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Steps to reproduce

`StaticHandler set filesReadOnly=false,  cachingEnabled=true`

* case 1: cache is dirty when file **deleted**
1. chrome get http://127.0.0.1:8080/a.html , 304 working.
1. shell: `mv a.html b.html; curl -v http://127.0.0.1:8080/a.html ` , it's 404.
1. but chrome refresh http://127.0.0.1:8080/a.html , **it's still 304**.

[2017-10-27 08:31] takeseem commented on #708
In the Tomcat:
* **compression**: on | off
* **compressibleMimeType**: The value is a comma separated list of MIME types for which HTTP compression may be used. The default value is text/html,text/xml,text/plain,text/css,text/javascript,application/javascript .
*  **compressionMinSize**: If compression is set to "on" then this attribute may be used to specify the minimum amount of data before the

[2017-10-27 14:40] jtaylor10 opened #728 "3.5.0 OpenApi3 does not support $ref at all (doc refs, relative file refs, url refs)"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

Have a `requestBody` specified as a JSON schema and if I inline the schema it works, if I point it to an in-doc ref using `$ref` it doesn't do any validation. Looking at the code it appears all `$ref` are not handled/ignored. Ideally the code should log a warning saying not supported or error out so the caller knows their file is

[2017-10-27 14:53] mouse256 opened #729 "java.lang.IllegalStateException: Request has already been read"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

A handler on a router can be called twice under heavy load.
We've seen in our system when trying to upstep to 3.5.0 that our bodyhandler sometimes got executed twice. It only happened sporadic under heavy load, so it seems like a racecondition.

What I've been able to debug:
* The bodyhandler is called again when calling context.n

[2017-10-28 15:09] takeseem commented on #726
the cache-control max-age is too long time one day.
I think 5 or 10 min is a good default.

[2017-10-29 21:00] paulbakker opened #730 "Split package with Java 9 when using both vertx-web and vertx-web-client"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
vertx-web-client has a dependency on vertx-web-common, which has a package `io.vertx.ext.web`. The same package also exists in vertx-web.

This is a split package, and makes it impossible to use both as automatic modules in Java 9.

[2017-10-29 23:10] vietj commented on #730
can you elaborate ? the vertx-web-common component only contains classes in `io.vertx.ext.web.codec`. Is it because of the package-info class ?

[2017-10-29 23:23] paulbakker commented on #730
I think the package-info is creating the problem.  Besides that there's also `groovy.ext.web` which does contain code.

[2017-10-30 08:52] pmlopes commented on #728
@slinkydeveloper @phiz71 could you have a look into this?

[2017-10-30 08:52] pmlopes commented on #724
@slinkydeveloper @phiz71 could you have a look into this?

[2017-10-30 08:53] pmlopes commented on #722
@slinkydeveloper @phiz71 could you have a look into this?

[2017-10-30 08:53] pmlopes commented on #720
@slinkydeveloper @phiz71 could you review?

[2017-10-30 08:59] nevenr opened #731 "SockJS event bus bridge connection unique identification"
Hi,

is there are a way to uniquely identify SockJS event bus bridge connection (regardless underlying protocol) in bridgeEventHandler in order to make relation between events.

One use case could be to cleanup all in memory objects related to this connection when SOCKET_CLOSED event happen.

Thanks.

Regards,
N.

[2017-10-30 10:15] vietj commented on #730
we plan to remove generated groovy code from plain jars in the next iteration of Vert.x (i.e create separate stack of jars like for Scala and Ceylon).

so it means we need to solve the package-info case by trying to move it in a separated folder.

WDYT ?

[2017-10-30 10:44] slinkydeveloper commented on #720
Solved with https://github.com/vert-x3/vertx-web/pull/715 and https://github.com/vert-x3/vertx-web/pull/714

[2017-10-30 10:44] slinkydeveloper commented on #722
I will give a look!

[2017-10-30 10:44] slinkydeveloper commented on #724
I will give a look!

[2017-10-30 10:44] slinkydeveloper commented on #728
I will give a look!

[2017-10-30 14:43] slinkydeveloper commented on #724
https://github.com/vert-x3/vertx-web/pull/732 This PR solves the bug entirely.

[2017-10-30 15:07] slinkydeveloper commented on #720
I've also done the change @jtaylor10 suggested to load remote specs. @jtaylor10 join your tests in my pr :)

[2017-10-30 15:18] jtaylor10 commented on #728
I dug further into this, the issue is cause because the code only passes the schema block in `requestBody` to the Json Schema validator. This block has a relative doc ref but the "doc" that it's given is simply `$ref: '#/components/schemas/Pong'`.

It does work if the $ref points to an external URL: `$ref: 'http://example.com#/components/schemas/Pong'`.   Somehow the code must combine all schema's

[2017-10-30 15:30] jtaylor10 opened #733 "3.5.0: OpenApi3 Parameter handling doesn't work if $ref points to non #/components/schema"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

Parameter handling code expects that the schema is either defined inline or is a ref to a schema within the `#/components/schemas` section of the doc. It also assumes that the `#/components/schemas` section of the docs exists which can Null Pointer since it's optional by spec standards.

Examples of the error:
[code]

### Extra

*

[2017-10-30 15:58] slinkydeveloper commented on #722
Fixed! https://github.com/vert-x3/vertx-web/pull/734

[2017-10-30 16:04] slinkydeveloper commented on #733
I'm working on both bugs

[2017-10-30 16:11] slinkydeveloper commented on #728
@jtaylor10 the spec you declared above is invalid. It should throw an error during the validation. You can also try it with this tester: http://openapi-converter.appspot.com

The correct spec is:
[code]

[2017-10-30 16:41] paulbakker commented on #730
For several reasons I think that's a great idea!

* It solves the split package problem :-)
* It's cleaner in general, if not using Groovy you shouldn't see any Groovy related code
* The other model has already proved to work well

I assume this is Vert.x 4 work? Is Vert.x also going to include module-info's in that version? I would be happy to help that effort. Can you give me pointers to already

[2017-10-30 16:56] vietj commented on #730
we don't know yet the scope of this, i.e we could make this happen in a 3.x series where we change that or it could be a Vert.x 4 as well.

we don't have yet formal written discussions, that's the kind of things that will discussed at the F2F meeting in January. That being said it does not preclude discussions on vertx-dev list

[2017-10-30 17:17] jtaylor10 opened #735 "3.5.0 OpenApi3RouterFactory doesn't add route error handlers to the failure branch"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I encountered while doing some route specific error handler testing. When a route specific failure handler is added to the factory, it adds these to the `handlersToLoad` list instead of the `failureHandlersToLoad` thus they get applied to the "positive" path and never get invoked when the `routingContent.fail(...)` is invoked.

Th

[2017-10-30 17:20] jtaylor10 commented on #728
@slinkydeveloper ah yeah sorry about that - I had a few different ones I was working with and clearly pasted the wrong schema.

[2017-10-30 22:26] slinkydeveloper commented on #728
Ok I've found a way to start solving all bugs related to refs, but It can take me some time. If my plan is right, it also solves #733

[2017-10-31 09:28] steven-aerts commented on #729
I think the problem here is a race condition in the `RouteImpl`, and has nothing to do with the body handler.

In 6a1da30 two counter were introduced to keep track of the current handler: `actualHandlerIndex` and `actualFailureHandlerIndex`.  The problem is however that these counters were defined in the `Route` and a route can handle requests/RoutingContexts in parallel.

This causes a race condi

[2017-10-31 09:29] steven-aerts commented on #729
Looping in @slinkydeveloper who developed this feature.

[2017-10-31 12:13] slinkydeveloper commented on #729
Working on it!

[2017-11-01 08:16] ieugen commented on #729
We have noticed that pages don't load after moving to vertx 3.5.0 from 3.4.2 . We did some investigation and we believe it has something to do with this.

@vincentDAO wrote this code to reproduce the issue. I only have image, Maybe he can paste the code.

I hope it helps.

![hang_page_reproduce](https://user-images.githubusercontent.com/1050920/32265871-a529f71c-beed-11e7-9c3e-ed374ef0ec84.png)

[2017-11-01 13:45] avkv1 opened #737 "java.lang.NumberFormatException on vert.x 3.5.0"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I got an error when I have requested url /%7B%channel%%7D on vert.x 3.5.0

### Extra

[code]

[2017-11-02 22:52] slinkydeveloper commented on #733
Ok so I've investigated a bit about how to solve that problem. I've found that there's a class inside the swagger-parser `ResolverFully` (that can be activated with a flag during spec parsing). This class automatically solves all $ref when spec is parsed (and also solves circular dependencies!). The fact is that it has some bugs and some of tests of vertx-web-api-contract doesn't pass. When I solv

[2017-11-02 23:14] visualage opened #740 "Thread-safety problem in RouteImpl"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

The current RouteImpl implementation has thread-safety issues if the RouteImpl instance is used across multiple requests in multiple threads concurrently. The problem lies with the actualHandlerIndex and actualFailureHandlerIndex. These two fields are currently associated with RouteImpl. They should be part of the request state si

[2017-11-03 11:56] dankristensen opened #741 "OpenAPI3RouterFactory does not handle loading"
Vertx web 3.5

The OpenAPI3RouterFactory.createRouterFactoryFromURL,  does not work since the code simply delegates operation to createRouterFactoryFromFile which checks if a File exists. That is hard for a non downloaded URL to check.

[2017-11-03 13:58] bripkens opened #742 "BodyHandlerImpl does not call RoutingContext#next for WebSocket upgrade requests"
### Version

* vert.x core: 3.5.1-SNAPSHOT
* vert.x web: 3.5.1-SNAPSHOT

### Context

When using a BodyHandler like so, it does not forward the request via `RoutingContext#next` to subsequent handlers.

[code]

Based on what I debugged, the request `endHandler` is never executed:

https://github.com/vert-x3/vertx-web/blob/ffab16663216e2a892577e25da8ed34bbc637256/vertx-web/src/main/java/io/vertx/ex

[2017-11-04 11:16] slinkydeveloper commented on #741
Solved https://github.com/vert-x3/vertx-web/pull/715

[2017-11-05 10:05] vegegoku opened #743 "Optional CSRF handler"
### Version 3.4.2

* vert.x core:
* vert.x web:

### Context

I have a case where i need to protect from CSRF attacks, and i want this protection to be the default behavior in my application, so i simply defined `router.route().handler(CSRFHandler.create("some secret goes here"))` which works great for requests coming from the browser.

the issue is if i am using the vertx web client from the a tr

[2017-11-06 09:50] aspecialkey commented on #567
I have the following error:

`java.lang.module.ResolutionException: Modules vertx.web.common and vertx.web export package io.vertx.ext.web to module vertx.core
Process finished with exit code 1`

(ubuntu intellij java9 vertx 3.5.0)

[2017-11-06 10:26] vietj commented on #567
can you provide a reproducer project ?

[2017-11-06 11:36] aspecialkey commented on #567
I had vertx-core and vertx-web in my pom.xml. When comment it out, it works! (only vertx-web-client)

<dependencies>

        <dependency>
            <groupId>io.vertx</groupId>
            <artifactId>vertx-web-client</artifactId>
            <version>3.5.0</version>
        </dependency>

    </dependencies>

    <build>
        <plugins>
            <plugin>
                <groupId>org.apache

[2017-11-06 12:29] vietj commented on #567
thats odd

[2017-11-06 13:30] javathought commented on #743
My opinion :
You should not have the csrf handler optional  on the same path, this will be unsecure, as attacker will be able to make requests as none browser requests. The problem is "How do you will identify trusted requests ?"

so you should use different path, and so use something like :

-  `router.route("/client").handler(CSRFHandler.create("some secret goes here"))` for browser
-  and use a

[2017-11-06 13:54] vegegoku commented on #743
what i wanted to do is have CSRF for all requests by default, so i defined the CSRF handler for all requests, but since i am exposing an auth2 endpoints, which handles the CSRF using the state parameters, for endpoints like token endpoint which is called from the backend will not have any-means to know what is the CSRF token the CSRFHandler is expecting, and in this case CSRF handling by the CSRFH

[2017-11-06 21:35] javathought commented on #743
I think you should extend CSRFHandler, and it should be rather simple :
- override the handler function :
[code]

Your OAuth2 endpoints are specific to your app, so the `if` condition code is specific to you.

It could be difficult to implement a generic optional CSRFHandler as many different use cases could exist.

The current SRFHandler is part of "core" vertx-web. Your use case is for API, so i

[2017-11-07 09:52] llfbandit opened #744 "3.5.0 OpenApi3RouterFactory adds a default BodyHandler"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

When calling getRouter(), the default implementation adds a global BodyHandler on top of next routes to load.
This can be unnecessary because it's not filtered on POST and PUT methods but more importantly it does not take advantage of the potential configuration for this handler (i.e. body size limit). Both points could lead to se

[2017-11-07 11:09] llfbandit opened #745 "3.5.0 OpenAPI3 contract - Validation is broken with fake content types"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

From the main example provided with sources, the "createPets" operation ID expect a Content-Type set to application/json. The factory does not add the consumes requirements.

Since BaseValidationHandler relies on sent headers, this becomes mandatory to not let any content passing to the validation steps.

### Steps to reproduce

1

[2017-11-07 11:39] llfbandit opened #746 "3.5.0 OpenAPI3 contract - Validation is broken with json body"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

From #745
I was trying to test the petstore from the main example with the "createPets" operation ID.
The id field is missing from my json document and is required from the API description.

The json body is not parsed at all in json-schema-validator, resulting in a validated status from BaseValidationHandler.

By the way, instanc

[2017-11-07 12:09] vegegoku commented on #743
It seems we both reached the same conclusion, what i implemented actually is a WhiteListCSRFHandler that extends the default CSRFHandler, this handler will look for any registered white-list handler -using service loader- and match the request with each one, if the request matches then it will ask if the handler should white-list the url or not, only if all matched handlers white-listed the reques

[2017-11-07 13:09] warchildmd commented on #746
`$ref`s are not handled (#728).

If you set up the schema directly in the `requestBody` object, the validation works.

[2017-11-07 13:12] warchildmd commented on #745
Duplicate of #722

[2017-11-07 21:25] shikhovmy commented on #742
I'm also facing this issue
It's broken since 3.5.0

[2017-11-08 00:12] sfitts commented on #742
@bripkens thanks much for the workaround

[2017-11-08 15:54] #745 closed

[2017-11-08 15:57] llfbandit commented on #746
Ok, I did not see it...

Please keep it open for the instanciation of ObjectMapper s in JsonTypeValidator.

[2017-11-09 02:19] vincentDAO commented on #729
In our case (at @ieugen comment); the cause of hang page is caused by another library VertxBeans; not relate to Vertx Web;

I reported a bug to them https://github.com/rworsnop/vertx-beans/issues/12

[2017-11-09 06:50] mscofy opened #747 "The close of Websocket returns a status code of 1005 instead of 1000"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

From MDN docs, status code 1005 or 1006 should be used when the websocket abnormally closed (ref: https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent)

But calling the close method from the client results in a status code of 1005，when i used  vertx-web 3.4.2 serverside return 1000.

### Do you have a reproducer?

* Link to

[2017-11-09 13:41] whitingjr commented on #644
The code has changed since this issue was raised. Going to close this.

[2017-11-09 13:41] #644 closed

[2017-11-09 14:55] llfbandit opened #748 "3.5.0 OpenAPI3 - External components"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

The 'json-schema-validator' library should be updated to 0.1.11 to be able to reference external components as described in OpenAPI 3 specs like the samples below.

[code]

[2017-11-09 16:41] vietj commented on #747
can you explain which part of vertx should return this code ?

[2017-11-09 18:12] dfalci commented on #695
+1

[2017-11-10 02:37] mscofy commented on #747
client receive code 1000,i have no idea which part of vertx should return this code

[2017-11-10 20:37] slinkydeveloper commented on #746
Yes there's a problem with refs generally. I'm working to solve it. Also external components are involved https://github.com/vert-x3/vertx-web/issues/748

[2017-11-13 07:20] trisight opened #750 "validation with pattern is not work"
There is a bug in HTTPRequestValidationHandlerImpl.java when using pattern matching:

the code is following (including master)

  public HTTPRequestValidationHandler addFormParamWithPattern(String parameterName, String pattern, boolean required) {
    this.addFormParamRule(ParameterValidationRuleImpl.ParameterValidationRuleFactory
      .createValidationRuleWithCustomTypeValidator(parameterName, P

[2017-11-14 02:34] abcfy2 opened #751 "Vert.x 3.5.0 doesn't allow `*` CORS anymore?"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
I find the source of `CorsHandlerImpl.java`:

[code]

If cors is `*`, will throw exception `wildcard origin with credentials is not allowed`. But in this [doc](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin), `*` is an valid argument. I know `*` is unsafe, but it's useful for development envir

[2017-11-14 15:49] javathought opened #752 "3.5.0 OpenAPI3 - Unable to add 'additionalProperties: false' on a schema"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I encountered an exception which looks suspicious while trying to validate body request with OpenAPI3 : I don't want a client to inject a property in a request body if that is not defined in the schema (for better security), so I want to put the parameter 'additionalProperties: false' on the schema.

But when I run the server, it

[2017-11-14 19:16] fugui commented on #140
I think it is a common use-case. every verticle focus on its business logic and share one server endpoint.  putting a load balancer in front of servers is a very heavy solution.

[2017-11-15 02:36] jameswagnerjr opened #753 "SessionHandler expiring session cookies"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I noticed that when running a HttpServer, responding to a request with a status code of 500 expires the session cookie.

### Do you have a reproducer?

Sadly, my work NDA prevents me from writing a reproducer without significant amounts of time & paperwork.

The relevant line that's causing this issue is [here](https://github.com/

[2017-11-15 21:31] slinkydeveloper commented on #752
I'm investigating!

[2017-11-16 10:00] llfbandit opened #755 "3.5.0 OpenAPI3 - Add operationId in RoutingContext data"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

Since, we don't use directly the pathes but operationId to register routes it could be good to put the operationId in the routing context data to keep a reference.

I think of a cache interceptor for example where pathes could be changed in specification without notice.

[2017-11-16 11:42] llfbandit commented on #755
OpenAPI3RouterFactory setup a validation handler and put "parsedParameters" to the routing context. This handler has all the pieces to insert this operationId tag.

[2017-11-16 13:01] pellmann opened #756 "Give specific HTTP status code on error in AuthProvider.authenticate() and not always 401"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I use an own AuthProvider implementation. In the authenticate() method another service will be called to get the actual credentials, which will then be authenticated locally. If there is an error with this other service like it is not available, the authentication should fail with e.g. a 503.

The implementation in io.vertx.ext.we

[2017-11-16 19:44] javathought commented on #755
As is the handler has not all pieces, as operationId is no more available in the context of the ValidationHandler (if I don't make a mistake). Some refactory seems needed to maintain reference to the id.

But I don't see a use case of having the operationId in routeContext.

As you call the factory to associate a handler to the id, you know implicitly the operationID :
[code]

Do you want to use t

[2017-11-17 05:26] hadielmougy opened #757 "Running Vert.x on java 9 issue"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I encountered an exception java.lang.module.ResolutionException: Modules vertx.web and vertx.web.common export package io.vertx.groovy.ext.web to module vertx.bridge.common

[2017-11-17 10:20] javathought commented on #724
Is the list of content types complete  ?
text/xml and application/xml are the same (https://www.iana.org/assignments/media-types/media-types.xhtml) but only application/xml will be accepted

[2017-11-17 13:27] slinkydeveloper commented on #724
Added! https://github.com/slinkydeveloper/vertx-web/commit/f4081eeeae54cf5adf5f76e9a59c2c3fb8ef714d

[2017-11-17 13:34] vietj commented on #757
seems to be a duplicate of this : https://github.com/vert-x3/vertx-web/issues/730

[2017-11-17 13:35] vietj commented on #757
closing this issue as it seems a duplicate

[2017-11-17 13:35] #757 closed

[2017-11-17 14:31] slinkydeveloper commented on #755
The BaseValidationHandler is generic, not related to openapi but also useful for custom validation handlers and, most important, it only cares about validation. In fact the BaseValidationHandler don't know if it's built by router factory or by user.
The OpenAPI3ValidationHandler only construct the BaseValidationHandler. It has the Operation model of course and I've tried to encapsulate this inside

[2017-11-17 17:56] kagof opened #758 "OpenApi: JsonTypeValidator does not check for null string"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

On a route created by the OpenApi spec with a required request body of content-type "application/json, a `NullPointerException` occurs if the request has a content-type header of "application/json" but a null body. This null pointer arises from the `JsonTypeValidator` class passing the request body to the validator without first c

[2017-11-17 20:26] slinkydeveloper commented on #758
I'm investigating!

[2017-11-18 11:14] #743 closed

[2017-11-18 13:37] Sergey80 opened #759 "switching to 3.5 - StaticHandlerImpl.isFileExisting"
I have a web-static handler in one of my verticle.
It used to work.

@override
public void start(Future startFuture) {
configureHttpServer(startFuture);
...

where

private void configureHttpServer(Future future) {

int PORT = config().getInteger("http.port");

// TODO: for tests
router.route("/*").handler(StaticHandler.create());

vertx.createHttpServer()
    .requestHandler(router::accept)
    .

[2017-11-19 17:17] slinkydeveloper commented on #752
I've created a simple project that loads (with same version of swagger-parser that we use) this contract: https://github.com/javathought/vx-api/commit/9c97ea046fa96c57db002871a6274f919a519b6f#diff-b08a9bec00240b137ceaaa381a17f334 . It gives me the same error above during loading of contract: `attribute paths./bottles'(post).requestBody'.content.schema'.additionalProperties is not of type object`.

[2017-11-19 20:31] javathought commented on #752
You're right : the bug is already opened https://github.com/swagger-api/swagger-parser/issues/499

[2017-11-20 15:18] pellmann commented on #756
It would be also great to have the option to overwrite `processException(RoutingContext ctx, Throwable exception)` to handle own exception types (make it protected).

[2017-11-20 16:08] bripkens opened #760 "Event loop can cause applications to run out of memory"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

An application using vert.x web and more specifically the SockJS implementation can run out of memory easily due to clients on slow networks. This happens because tasks are queueing up on the event loop, specifically `NioEventLoop`.

### Do you have a reproducer? / Steps to reproduce

Regular vert.x web application which puts a lo

[2017-11-20 16:34] u3r opened #761 "Body handler checks size limit only after upload is complete"
### Version

* vert.x core: 3.5
* vert.x web: 3.5

### Context

The default body-handler (`io.vertx.ext.web.handler.impl.BodyHandlerImpl`)
a) per defaults *keeps* uploaded files indefinitely `boolean DEFAULT_DELETE_UPLOADED_FILES_ON_END = false;`
b) checks uploaded file size only after it has been streamed to disc.

Both issues (even individually) allow an attacker to fill the servers disc and cau

[2017-11-20 16:39] llfbandit commented on #755
BaseValidationHandler is an abstract class, at least it has the modifier, so calling an additional method for sub-classes could be a way to achieve this.

[2017-11-20 19:11] vietj commented on #760
you should use the `MessageProducer` to get back-pressure in your case.

[2017-11-20 21:02] bripkens commented on #760
I was going via the event bus to allow concurrent writes. Do you have some docs pointers that mention how I could write to the socket from (non-vertx) threads?

[2017-11-20 22:28] vietj commented on #760
@bripkens it makes sense indeed, you can write in SocketJSSocket from non Vert.x thread (we improved it in 3.5, as anyway a SockJSSocket might be running on a different loop in case of reconnection)

[2017-11-21 07:58] bripkens commented on #760
Thank you for the update @vietj. I'll give this a try in our next release. Looks promising as it completely avoids the event loop. Do you know how an blocked socket write delays populate throughout the system? I am specifically curious whether this can result in the same issue, just in a different location.

[2017-11-21 08:33] bripkens commented on #760
Upon closer inspection, doesn't `Vertx#runOnContext` actually put the task onto the event loop? This would then result in a similar situation if I am not mistaken:

- non Vert.x thread writes to SockJSSocket
- SockJSSocket identifies that is not running in a Vert.x context and therefore does a `Vertx#runOnContext`
- This puts the task onto the event loop
- The event loop gets stuck because of a bl

[2017-11-21 09:37] vietj commented on #760
@bripkens you need to use the socket as a `WriteStream`, see how you can propagate back-pressure with it, in the Vert.x manual.

[2017-11-21 14:48] slinkydeveloper commented on #755
I will give a deeper look to port the entire `Operation` schema through `RoutingContext`, maybe with a new handler prebuilt like `OpenAPI3MetadataHandler`. IMHO this makes more sense :smile:

[2017-11-21 15:31] llfbandit commented on #755
I agree, my original thought is quite limited. I filled the issue when thinking about designing an API, a featured handler to transport this kind of data is more relavant in this context ; OpenAPI3MetadataHandler seems right and self explanatory.

My only concern now is to be careful to not bloat the context with redondant or nearly useless data.
To clarify this, for example, parsedParameters are

[2017-11-21 16:53] vroy commented on #759
In case this helps. I was seeing the same exception and after some debugging, I found that `vertx` was null in `Router.router(vertx)`.

[2017-11-22 08:10] YidanWang commented on #756
I met the same issue when using a broken jwt token. The detailed error message is lost if authentication fails. I have registered a failureHandler on the private routes and hope the failedFuture/throwable could be passed to it.

[2017-11-22 23:32] slinkydeveloper commented on #728
To create a good quality solution for refs problems I've created a spec to test all edge cases of refs: https://github.com/slinkydeveloper/vertx-web/blob/161ef213e9a1c22797774914ac61847ccef65a0a/vertx-web-api-contract/src/test/resources/swaggers/schemas_test_spec.yaml

[2017-11-23 09:34] czterocyty commented on #724
This might be worth also to support MIME suffixes: https://tools.ietf.org/html/rfc6839

[2017-11-23 10:11] skylas opened #762 "IgniteCheckedException: Failed to serialize object"
### Version 3.5.0

* vert.x core:
* vert.x web:
        store = ClusteredSessionStore.create(vertx);

        router = Router.router(vertx);
        router.route().handler(CookieHandler.create());
        router.route().handler(SessionHandler.create(store));

### Context
2017-11-23 18:09:16 ERROR i.v.e.w.h.impl.SessionHandlerImpl - Failed to store session
javax.cache.CacheException: class org.apac

[2017-11-23 23:20] ahanin opened #763 "Load OpenAPI spec from an arbitrary content"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I'd like to load OpenAPI spec from an arbitrary content:

[code]

[2017-11-23 23:22] azagniotov opened #764 "Default 404 message is returned"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

As per subject, I encountered a weird behavior where the default 404 message is returned (`RoutingContextImpl.DEFAULT_404  => <html><body><h1>Resource not found</h1></body></html>`) under a concurrent load.

In my application, I have only one `regular`, non-worker verticle which configures the HTTP server & a route. I deploy `16`

[2017-11-23 23:30] ahanin commented on #763
there is a pull request #765

[2017-11-24 00:26] azagniotov commented on #764
I had a look at https://github.com/vert-x3/vertx-web/pull/739 and I am wondering that fix will resolve the behavior I described here

[2017-11-24 06:40] zella opened #766 "BodyHandler: Partially uploaded file not removes when client closes connection"
### Version

* vert.x core: 3.5
* vert.x web: 3.5

### Context
If client closes connection while uploading file, file stay remain partially uploaded and not removed.

### Do you have a reproducer?

### Steps to reproduce
Official [example](https://github.com/vert-x3/vertx-examples/blob/master/web-examples/src/main/java/io/vertx/example/web/upload/Server.java)
1) Start uploading file
2) Press "stop

[2017-11-24 16:24] patton73 opened #767 "JWTAuthHandler interface create cannot skip multiple paths"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

The  interface JWTAuthHandler create method
static JWTAuthHandler create(JWTAuth authProvider, String skip)

lacks the possibility to skip completely different path routes (for example /path1  /path2)
Could be very useful to add this possibility.
You can pass an ArrayList of String to be skipped.

Thank you very much for your help.
Andrea.

[2017-11-27 08:26] patton73 commented on #767
Posted in the right project. https://github.com/vert-x3/vertx-auth

[2017-11-27 14:28] pmlopes commented on #767
Actually this is the right project as the auth project only contains the low level jwt code, parse validation.

[2017-11-27 14:29] pmlopes commented on #767
@patton73 wouldn't it make more sense to have a generic skip auth handler? that would apply not just for JWT but for any Auth handler?

I believe it is easier to implement even as a first contribution/pull request and the whole ecosystem would benefit from it

[2017-11-27 16:01] patton73 commented on #767
I agree that a generic skip is a lot better. I need to see if I have time to provide a pull request for this feature.
Thanks.

Andrea.

[2017-11-27 16:30] Xophe opened #769 "Sending client request before reading server request body throws "Request has already been read" exception"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I have a handler for a route that receives a payload. When I receive a request :
- I send a request to a client,
- I read the body of the response,
- I read the body of the request,
- I send the response.
A "java.lang.IllegalStateException: Request has already been read" is thrown when I try to read the body of the request.
If I r

[2017-11-27 18:20] tipok opened #770 "Validation error on Content-Type with encoding"
https://github.com/vert-x3/vertx-web/blob/50be4b78f93349a0233da15a32e3a8c28e33e135/vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/BaseValidationHandler.java#L71

it's common to add an encoding to the content type, but this part is failing the validation if an encoding is specified e.g.:

[code]

[2017-11-28 09:31] pmlopes commented on #767
@patton73 in vertx-web add a new interface that extends `Handler<RoutingContext>` that defines the methods to manage the ignore paths. Then on the `impl` package implement the interface, in the `handle` method verify if the request path patches the ignore then go to next, otherwise we need to route through a auth provider

[2017-11-28 09:34] pmlopes commented on #762
@skylas can you verify what is the content of the session so we can try to reproduce the issue.

[2017-11-28 10:36] kgarlikowski opened #772 "RxJava2 WebClient error handling not working as expected"
### Version

* vert.x core: 3.5.0, 3.5.1-SNAPSHOT
* vert.x web: 3.5.0, 3.5.1-SNAPSHOT

### Context

I encountered an exception which looks suspicious while passing illegal argument to RxJava2 WebClient. I would expect to receive an error in subscribe, not an exception thrown out of the Observable. Looks like error handling is broken in RxJava2.

### Do you have a reproducer?

I've added testcases

[2017-11-28 11:34] vietj commented on #772
what does it fail with ?

[2017-11-28 11:40] kgarlikowski commented on #772
Here is the full stacktrace
`java.lang.NullPointerException: subscribeActual failed
	at io.reactivex.Single.subscribe(Single.java:2705)
	at io.reactivex.Single.subscribe(Single.java:2686)
	at io.vertx.ext.web.client.Rx2Test.testErrorHandling(Rx2Test.java:144)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.jav

[2017-11-28 11:43] skylas commented on #762
Test demo : vertx-examples-master -> web examples -> java -> AuthJdbc demo ,
change LocalSessionStore to ClusteredSessionStore and use ignite instead of hazelcast~
Thx

[2017-11-28 11:54] vietj commented on #772
thanks

[2017-11-28 12:04] vietj commented on #772
it is a behavior difference between RX1 and RX2 to handle runtime errors at subscription time. Probably indeed the exception should be caught in RX2 and rerouted to the single

[2017-11-28 12:05] vietj commented on #772
I will open an issue in vertx RX java project for this

[2017-11-28 12:05] vietj commented on #772
btw your tests are cool, can you contribute them to Vertx ?

[2017-11-28 12:40] vietj commented on #772
fixed by https://github.com/vert-x3/vertx-rx/issues/119

[2017-11-28 12:40] #772 closed

[2017-11-28 13:35] avasilev opened #773 "vertx-web-common should not export package io.vertx.ext.web"
### Version

* vert.x web: 3.4.2 and above

### Context

Both vertx-web and vertx-web-common exports io.vertx.ext.web package. Depending on the osgi package resolver it may resolve empty package from the common project, then all classes that have to be resolved from vertx-web will result in ClassNotFoundException.

### Do you have a reproducer?

* no

### Steps to reproduce

1. Create osgi bundle

[2017-11-28 14:26] kgarlikowski commented on #772
Thanks for the quick fix! Feel free to pull the tests to master 👍

[2017-11-28 14:59] tipok commented on #770
fixed by #732

[2017-11-29 05:51] #770 closed

[2017-11-29 09:49] blandger commented on #767
@pmlopes
Will it be correct only adjust logic inside:
io.vertx.ext.web.handler.impl
public class JWTAuthHandlerImpl extends AuthorizationAuthHandler implements JWTAuthHandler {
to
private final List<String> skipList;
add:
public JWTAuthHandlerImpl(JWTAuth authProvider, String... skip) {...

@Override
  public void parseCredentials(RoutingContext context, Handler<AsyncResult<JsonObject>> handler) {

[2017-11-29 19:03] Jotschi opened #775 "Vert.x 3.5.0 Websocket / BodyHandler regression"
### Version

* Vert.x core: 3.5.0
* Vert.x web: 3.5.0

### Context

I noticed that having a `BodyHandler` "infront" of a `SockJSHandler` route will cause connection issues to that endpoint. I was unable to establish an active connection between the client and server in that situation.

I debugged the client calls:
The exception handler of the WebSocketStream is not invoked and no error is being lo

[2017-11-30 09:47] orangeyts opened #777 "how to get Scalability"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I use spring tech stack,and
`router.get("/person/key").blockingHandler(this::getkey);`

as I understand, blocking will execute in Work thread,  Yes ,When I debug application, I see "**vert.x-worker-thread-17 RUNNING**", But I  pause this Thread, And  I  make a  other request, I am Blocking until the first thread over can continue,

[2017-12-01 00:25] slinkydeveloper commented on #733
After some work, I've managed to get new tests working, now in this branch there's all code that fixes the refs: https://github.com/slinkydeveloper/vertx-web/tree/ref_fix Test it if you want.

[2017-12-01 20:13] pmlopes commented on #761
The first item is not a bug per se, probably it would be best to make the default:
[code]

[2017-12-02 15:44] Mogztter commented on #708
Hello @vietj, I'm interested in submitting a pull request for this feature.

How should we determined that the file is already compressed ? Do we consider that, if the file suffix does not match the file suffix configuration for compression, that the file is already compressed ?
Do we need to add a new configuration option in `HttpServerOptions` to configure the list of file suffix ? or only in `S

[2017-12-04 22:51] malte-behrendt commented on #775
Thanks for sharing! I was stuck with this issue for a few hours. Moving the body handler setup after the SockJSHandler indeed solved the problem.

[2017-12-05 15:11] nevenr commented on #731
Hi @pmlopes, would you have any tip?

Thanks.
N.

[2017-12-07 07:23] musketyr opened #783 "Vert.x application runs out of PS Old Gen Heap thanks to rogue char buffers"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I encountered an exception which looks suspicious while processing large amount of messages incoming over WebSocket (around 10k rpm, 300 messages processed per second over WebSocket).

### Steps to reproduce

1. Create Vert.x application with SockJS eventbus bridge
2. Send large amount of large text frames over the web socket
3. P

[2017-12-08 00:31] mliberato commented on #777
Hi @orangeyts, you need to pass `false` as a last argument.

[2017-12-08 06:02] kasunwg commented on #719
I'm also facing this issue in vertx 3.5.0. Will it be fixed?

[2017-12-08 08:16] vietj commented on #719
assigned to you Thomas, can you have a look ?

[2017-12-08 12:52] MartinNowak opened #784 "OpenAPI request validator does not support referenced parameters"
### Version

* vert.x web: 3.5.0

### Context

OpenAPI request validator lacks support for `$ref` parameters.

### Do you have a reproducer?

[code]

### Steps to reproduce

1. Load the above YAML file with [OpenAPI3RouterFactory.createRouterFactoryFromFile](http://vertx.io/docs/apidocs/io/vertx/ext/web/api/contract/openapi3/OpenAPI3RouterFactory.html#createRouterFactoryFromFile-io.vertx.core.Vert

[2017-12-08 12:56] slinkydeveloper commented on #784
Duplicate of https://github.com/vert-x3/vertx-web/issues/733

[2017-12-08 12:56] #784 closed

[2017-12-08 14:44] MartinNowak commented on #733
Thanks @slinkydeveloper, currently testing.

[2017-12-10 11:23] orangeyts commented on #777
thank you, I have fixed problem,  blockingHandler was used wrong way,  should use vertx.executeBlocking,and set as worker  verticel.

[2017-12-10 11:23] #777 closed

[2017-12-11 14:04] guss77 opened #786 "RouteImpl trailing slash handling discriminates between patterned routes and simple routes"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

When configuring routes that have a trailing slash (for example for CRUD to REST integration with a data store), such as:

1. `/entity/` (list entities)
2. `/entity/:id` (retrieve entity)
3. `/entity/:id/subentity/` (list sub-entities contained in a specific entitiy)

The first route works when requesting `/entity` or `/entity/` b

[2017-12-11 15:46] guss77 commented on #786
Added a reproducer with failing unit test: https://github.com/guss77/vertx-web-bug-786

[2017-12-11 18:16] mliberato commented on #777
@orangeyts please be aware that even using executeBlocking, you should use `false` as `ordered` argument to avoid blocking other threads (if you don't have an ordered chain of handlers).

[2017-12-12 18:04] slinkydeveloper commented on #758
Fixed inside branch `contracts_fix`

[2017-12-13 22:10] jtaylor10 commented on #751
Rather then `*` simply give it `.*` for the same result. It's a regular expression so `.*` will match any Origin header provided.

[2017-12-14 01:30] AlxGDev commented on #719
Facing the same issue. The sockjs event bridge is critical to a project of mine, a fix would be greatly appreciated.

[2017-12-14 02:02] AlxGDev commented on #775
Big thanks for finding this out, the workaround does indeed fix the problem with the SockJS eventbus bridge

[2017-12-14 08:58] tsegismont commented on #775
Duplicates #742

[2017-12-14 08:58] #775 closed

[2017-12-14 09:04] tsegismont commented on #719
Looks like a duplicate of #742. Can you try the workaround described in the other ticket?

[2017-12-14 15:12] pmlopes commented on #742
Http upgrade header

[2017-12-14 22:03] #737 closed

[2017-12-14 22:04] #761 closed

[2017-12-15 10:17] musketyr commented on #783
I was able to track down this problem to `WebClient`. When I use `WebClient` even for couple of calls, this issue starts happening.

[2017-12-15 13:01] pjpradeepjha opened #788 "is it possible to serve static resources from AWS S3 bucket."
### Version

* vert.x core:
* vert.x web:

### Context
As mentioned in the vertx-web documentation, it serves static files from the webroot folder which can is resolved to be on either the filesystem or classpath. Is there a way to setWebRoot() to a **S3 Bucket instead of a folder on my file system**.

thanks in advance.

[2017-12-15 13:38] tsegismont commented on #788
No it's not possible. I would recommend to use the [Vert.x Web Client](http://vertx.io/docs/vertx-web-client/java/) for your S3 requests.

Please note that we do not use GitHub issues for questions. You can post messages to Vert.x user forum (see http://vertx.io/community)

[2017-12-15 13:38] #788 closed

[2017-12-15 14:15] pjpradeepjha commented on #788
thanks for the answer and apologies for posting here.

[2017-12-15 19:28] tsegismont commented on #788
No problem. By the way, this project from community might help you
https://github.com/hubrick/vertx-s3-client

2017-12-15 15:15 GMT+01:00 Pradeep Jha <notifications@github.com>:

[2017-12-18 12:46] #742 closed

[2017-12-18 13:48] tsegismont commented on #719
Duplicates #742

[2017-12-18 13:48] #719 closed

[2017-12-18 21:58] #766 closed

[2017-12-21 13:47] marcban commented on #694
I have the same issue, as I want to add an interceptor to sign requests for Azure, with the `addInterceptor` method of `WebClientImpl`.

The code of HttpContext would be also cleaner, as it would use public methods rather than protected fields.

It would be also nice to publish the `addInterceptor` method on `WebClient`

[2017-12-21 14:48] marcban opened #791 "Expose addInterceptor in WebClient"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

The test https://github.com/vert-x3/vertx-web/blob/master/vertx-web-client/src/test/java/io/vertx/ext/web/client/InterceptorTest.java is extremely interesting, as it allows to implement custom retry policies or request signing operations on outgoing requests

But the method `addInterceptor` is not declared on `WebClient` (only `We

[2017-12-21 14:50] marcban commented on #694
I created a specific issue  #791  for exposing  `addInterceptor` method in `WebClient`

[2017-12-21 18:09] vietj commented on #791
@marcban it's rather internal for  the moment, use it with `WebClientInternal` and look at the examples

[2017-12-21 18:09] #791 closed

[2017-12-22 11:40] bripkens commented on #760
Thank you for the comment & suggestion @vietj. I tried it the way you described it and it is working without problems in production for us. Therefore closing this ticket.

[2017-12-22 11:40] #760 closed

[2017-12-22 12:22] vietj commented on #760
thanks @bripkens

[2017-12-22 19:37] codepitbull opened #792 "Update docs to mention PKCS12 instead of JCEKS"
Copied from https://github.com/vert-x3/vertx-lang-scala/issues/58

The [docs show examples](https://github.com/vert-x3/vertx-lang-scala/blob/master/vertx-lang-scala-stack/vertx-auth-jwt/src/main/asciidoc/scala/index.adoc#generate-a-new-keystore-file) of how to generate keystore files. Running the suggested `keytool` commands yields the following warning:

[code]

Seems that modifying the examples

[2017-12-26 03:42] yh3434 opened #793 "Failed to store session with IgniteClusterManager but succeed with HazelcastClusterManager。"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
hello, when i use IgniteClusterManager , Failed to store session ，but change HazelcastClusterManager,it works right。

with IgniteClusterManager  ,excption message is:
javax.cache.CacheException: class org.apache.ignite.IgniteCheckedException: Failed to serialize object: {87851d06-3e06-4418-9131-f884123adbf6=io.vertx.core.impl.Deplo

[2018-01-03 08:35] kgarlikowski opened #794 "3.5.0 OpenAPI3 - enumerated query params are not validated propertly"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I encountered an exception which looks suspicious while trying to force my query parameters to be properly validated.

Example api definition:

[code]
when sending request with query parameters `?param1=foo&param1=baz` it passes validation but should not. Opposite order (`?param1=baz&param1=foo`) ends up in `ValidationException` a

[2018-01-03 09:04] slinkydeveloper commented on #794
The parameter you have defined should be an array. If you pass two parameters with the same name, only first parameter is validated, the second one is discarded. If you want both parameters, you should define it as:
[code]

[2018-01-03 10:51] tsegismont commented on #792
@codepitbull the link points to an Oracle ESB document. That does not make OpenSSL the generally recommended tool :-)

Also, I believe this issue belongs to `vertx-auth-jwt`

[2018-01-03 11:36] tsegismont commented on #793
@yh3434 moved your issue to the Ignite Cluster Manager project

[2018-01-03 11:36] #793 closed

[2018-01-03 14:12] Lakshmihm opened #795 "Setting the timeout on eventBus send in javascript"
### Version

* vert.x core: 3.5
* vert.x web: 3.5
*vertx3-eventbus-client

### Context
I am using vertx3-eventbus-client in node js to communicate to a java application through event bus.
Wanted to check if there is a way to set timeout on eventBus send in javascript?. In java there is DeliveryOptions to set the timeout at the sender end. How do we set it in javascript?

[2018-01-03 14:27] kgarlikowski commented on #794
Actually my initial idea was to have it as just enum - not array - and if case anybody sends more than one value it will not validate as API defines expectation of a single value.
I've noticed that it's not the case, it only validates first value. In the end - is this a correct approach?

I've also tested your suggestion and it does not work exactly as you described - with `in: query` the `style`

[2018-01-03 15:40] slinkydeveloper commented on #794
When you send more than one parameter with the same name (formally an array with style form exploded) it should throw a ValidationException, but it doesn't. This is a bug and I will fix that :smile:

The new version of swagger-parser will be included in 3.5.1 of vertx-web-api-contract, and it has this fix swagger-api/swagger-parser#569

[2018-01-03 20:25] erycson opened #796 "NullPointerException -> SockJSSession.writePendingMessages() on high load"
### Version
vert.x core: 3.5.0
vert.x web: 3.5.0

### Description
Intermittent erro generated when  there are too many concurrency connections.

### Trace
[code]

[2018-01-04 16:30] yunyu commented on #795
This doesn't seem to be supported by the SockJS client library with the WebSocket transport: https://github.com/sockjs/sockjs-client/blob/master/lib/transport/websocket.js#L61

The timeout for WebSocket send seems to be browser-specific.

[2018-01-04 16:35] yunyu commented on #796
This is likely a race condition between writePendingMessages and resetListener (which is called on client disconnect).

[2018-01-04 20:36] erycson commented on #796
This is very serious because Vert.x is leaving when this occurs

[2018-01-05 06:14] vietj commented on #796
do you have a reproducer ? @erycson

[2018-01-05 06:15] vietj commented on #796
@yunyu how is it related to _too many connections_ as described in the issue ?

[2018-01-05 10:50] slnowak opened #798 "Duplicated response body when using vertx-web 3.5.0"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

Recently we've upgraded vertx-web (alltogether with vertx-rx-java and vertx-mongo-client) from 3.4.1 to 3.5.0.
After that, we've encountered some weird issues, especially during load tests. From time to time we were getting duplicated json response body (actually there were cases where json paylod was added more than 2 times).

I

[2018-01-05 11:22] slinkydeveloper commented on #798
Maybe you are affected from this bug: https://github.com/vert-x3/vertx-web/pull/739

[2018-01-05 11:30] slnowak commented on #798
That might be the case, thanks for quick response. When can we expect it to be merged? I wonder if there were any major changes between 3.4.1 and 3.5.0 that caused this?

[2018-01-05 11:32] slinkydeveloper commented on #798
The PR is tagged as critical, it will be merged ASAP. It's caused by https://github.com/vert-x3/vertx-web/pull/652

[2018-01-05 11:37] slnowak commented on #798
@slinkydeveloper could you point me to the exact repo/branch where this fix is applied? I will check if that fixes my our issue.

[2018-01-05 12:17] slinkydeveloper commented on #798
Just clone https://github.com/deal/vertx-web.git , then use `mvn install` to load it in your local mvn repo

[2018-01-05 12:29] slnowak commented on #798
Right, sorry about that.
@slinkydeveloper I can confirm it works with the fork.
I've added 'potential-fix-from-deal-vertx-web-fork' branch with vertx-web built from that fork if you're curious.

I hope this fix will be applied soon.

[2018-01-05 14:07] erycson commented on #796
About 600 to 900 connections (using eventBus, I do not know if it interferes with anything). Another error appeared:

[code]

[2018-01-05 21:14] slinkydeveloper commented on #724
@czterocyty fixed with MIME suffixes!

[2018-01-08 12:07] vietj commented on #792
@codepitbull can you reopen this issue to the appropriate repo ?

[2018-01-08 12:07] #792 closed

[2018-01-10 17:08] tsegismont commented on #759
As @vroy said, it seems you do not setup your `Router` correctly.

[code]

Here the `vertx` instance should be the one you get from the verticle.

[2018-01-10 17:08] #759 closed

[2018-01-10 17:27] tsegismont commented on #764
@azagniotov now that #739 is merged, can you confirm this one is fixed?

[2018-01-11 08:23] vietj commented on #762
@tsegismont any opinion on this ?

[2018-01-11 08:23] vietj commented on #762
@skylas can you provide a reproducer ?

[2018-01-11 08:25] vietj commented on #751
@pmlopes shall we close this issue ?

[2018-01-11 08:26] vietj commented on #753
@pmlopes what's your opinion on this ? is it a bug or side effect ?

[2018-01-11 08:28] vietj commented on #747
can you provide a way to reproduce it ?

[2018-01-11 08:45] santo74 opened #799 "failureHandler never called after upgrade to v3.5.0"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

After I upgraded from v3.4.1 to v3.5.0 I noticed that failureHandlers are never called.
Router is defined like this:
[code]

A call to http://localhost returns "Welcome to the homepage", but a call to e.g. http://localhost/test returns the default "Resource not found" instead of "Routing failure!"

### Do you have a reproducer?

N

[2018-01-11 08:57] slinkydeveloper commented on #799
Maybe you are affected from this? https://github.com/vert-x3/vertx-web/pull/739

[2018-01-11 09:07] santo74 commented on #799
Thanks for the pointer to that issue.
However, I doubt that's the cause of my problem.
As I understand, that issue is related to concurrency while I experience the issue all the time, even when running a simple Webserver with simple routing (as per the code above) and firing a single request.

[2018-01-11 09:34] ylemoigne opened #800 "3.5.0 OpenAPI3 - Operation order should be preserved"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

With mapping like :
[code]
The declaration order is important to get the bar operation correctly handled, it should be declared first.
The `OpenAPI3RouterFactoryImpl` doesn't preserve order, so if `/foo/{id}` is declared first, then the `bar` operation is never called.

[2018-01-11 09:39] tsegismont commented on #769
It's too late when you set the body handler on the original request. If you don't want buffers to be lost, you must pause the request, and resume buffer processing when the body handler is set.

[code]

You don't need this dance if you set the body handler when you get notified of the request but... your example is kind of fabricated :-)

[2018-01-11 09:39] #769 closed

[2018-01-11 10:20] slinkydeveloper commented on #800
Already solved with https://github.com/vert-x3/vertx-web/pull/787

[2018-01-11 10:48] tsegismont commented on #708
using a configurable suffix matching

The suffixes configuration should indicate which files are supposed already compressed, IIUC

Only in `StaticHandler`

Yes

@vietj please correct if I'm wrong

[2018-01-11 10:59] tsegismont commented on #783
@musketyr can you provide a reproducer?

[2018-01-11 13:14] pmlopes commented on #751
Requests with credentials do not accept wildcards

[2018-01-11 13:15] #751 closed

[2018-01-11 14:13] vietj commented on #796
this seems related to ping messages as the stack-trace is similar to the one in this issue that has been fixed yesterday https://github.com/eclipse/vert.x/issues/2255

it seems to only affect logs (i.e the message fails but does not affect the other messages).

[2018-01-11 14:13] #796 closed

[2018-01-11 20:59] slinkydeveloper commented on #799
I just tried to configure an [empty project with version 3.4.1 with your code](https://github.com/vert-x3/vertx-web/files/1624061/vertxbug799.zip) and It throws the default 404.
The failure handler is called when another handler throws a failure with `routingContext.fail()`. In vert.x router the 404 failure is never thrown by an handler, is created directly by the routing algorithm
Give a look at

[2018-01-12 12:45] santo74 commented on #799
You're right, I'm afraid my example code above was not complete. Sorry about that!
Apparently there was also a StaticHandler involved:

[code]
And guess what? It's a change in that StaticHandler that explains the behaviour I'm experiencing.
More specifically this commit:
https://github.com/vert-x3/vertx-web/commit/3a0005d6141ade1db834e95e2274c1665600df23#diff-1ebbcde17b4a2cabb90c51567ae716aa
Befor

[2018-01-12 14:42] slinkydeveloper commented on #799
If you are interested I've created a PR to add to Router an handler that manages 404 error https://github.com/vert-x3/vertx-web/pull/801

[2018-01-12 15:00] tsegismont commented on #799
@pmlopes shouldn't the new behavior of `StaticHandler` be added to https://github.com/vert-x3/wiki/wiki/3.5.0-Breaking-Changes#vertx-web ?

[2018-01-12 15:24] santo74 commented on #799
@slinkydeveloper sounds interesting
@tsegismont Before an upgrade I always look at the breaking changes for that release to get an idea of the impact of the upgrade, so yes I think this definitely belongs in that document

[2018-01-12 15:25] tsegismont commented on #793
@yh3434 this will be fixed in 3.5.1

[2018-01-15 21:45] Mogztter commented on #708
Thanks for you reply.
I will try to work on this feature next week :smile:

[2018-01-16 09:40] vietj commented on #799
what's the status of this issue ?

[2018-01-16 09:41] vietj commented on #798
can we close this issue ?

[2018-01-16 09:48] santo74 commented on #799
I think it's just a matter of clearly documenting the new behaviour in the breaking-changes document.
The PR https://github.com/vert-x3/vertx-web/pull/801 for a custom 404 handler might be a welcome addition, but not a blocker for this issue.

[2018-01-16 10:07] vietj commented on #747
Why are you saying it is abnormally closed ?

[2018-01-16 10:07] slnowak commented on #798
I guess as soon as the fix gets released?

[2018-01-16 10:07] vietj commented on #747
i.e 1000 is a normal closure, so can you explain the case in which you see this happening and why it is abnormal ? is it a timeout disconnection ?

[2018-01-16 10:16] vietj opened #804 "EventBus bridge websocket transport should send meaningful status code when closing"
Currently the EventBus bridge websocket transport sends a close frame with a `1000` status code (normal closure).

When the transport is closed for a specific reason (invalid protocol, timeout), the socket should be closed with the appropriate status code.

[2018-01-16 10:16] vietj commented on #804
Depends on https://github.com/eclipse/vert.x/issues/2276

[2018-01-16 10:21] vietj commented on #798
in a few weeks (around early february)

[2018-01-16 10:22] vietj commented on #798
@slinkydeveloper is there a PR or work done for this ?

[2018-01-16 10:25] vietj commented on #799
@slinkydeveloper can you take care of providing a PR for this as it is related to #801 ?

[2018-01-16 11:28] #740 closed

[2018-01-16 11:28] slinkydeveloper commented on #740
Fixed by #739

[2018-01-16 11:29] slinkydeveloper commented on #798
Fixed by #739

[2018-01-16 11:29] #798 closed

[2018-01-16 11:34] slinkydeveloper commented on #799
I think that beahviour added by https://github.com/vert-x3/vertx-web/commit/3a0005d6141ade1db834e95e2274c1665600df23#diff-1ebbcde17b4a2cabb90c51567ae716aa is right. For example let's say you have a router like:

[code]

And a webroot dir like:

[code]
In this situation, without https://github.com/vert-x3/vertx-web/commit/3a0005d6141ade1db834e95e2274c1665600df23#diff-1ebbcde17b4a2cabb90c51567ae716a

[2018-01-16 11:34] #799 closed

[2018-01-16 11:36] slinkydeveloper commented on #804
I will give a look

[2018-01-16 11:51] heikkilevanto commented on #718
This bug prevented us from upgrading to vert.x 3.5.0 for some time. Now we have a workaround, but it is not too pretty.

Here is what we need to: Normally requests to our server have a special header for the auth token. In some rare cases the clients can not included this token, so we made a new endpoint, something like `http://our.servi.ce/invoke-with-token/token/the-path-to-be-invoked`. This use

[2018-01-16 12:38] vietj commented on #799
thanks

[2018-01-16 12:40] vietj commented on #718
@slinkydeveloper @pmlopes what's your take on this ?

[2018-01-16 13:03] marcinczeczko opened #805 "Virtual host property for a WebClient request"
### Version
* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
During my code refactoring when I wanted to change usage of HttpClient in favour of WebClient I encountered a problem in which I'm unable to control SNI when doing SSL requests.
In the HttpClientRequest there is a method setHost() that sets the internal field hostHeader. That value is being used when establishing an SSL connection -

[2018-01-16 13:29] slinkydeveloper commented on #718
I don't know why this change was done (maybe to avoid errors), but a good workaround is explained by @heikkilevanto . Another workaround is: use the `HTTPRequestValidationHandler` (provided by vertx-web-api-contract) on the "main" path, then you will find in ctx the object `RequestParameters`, that contains various path/query/form params (It will also validates params). Give a look at http://vertx

[2018-01-16 13:46] vietj commented on #805
You can set the host on the `WebClient` methods, however we could have an extra setter on the HttpRequest interface

[2018-01-16 13:46] vietj commented on #805
it can be useful when you contact a website by its IP and want to set an explicit host value

[2018-01-16 13:51] vietj commented on #805
can you provide a patch ?

[2018-01-16 14:55] marcinczeczko commented on #805
Yes, please find my PR #806

[2018-01-16 17:30] lpinca commented on #747
@yunyu the linked issue is not related to this.
The 1005 status code means that the close frame was empty (payload length = 0), this is legit.
In `ws` we changed this in https://github.com/websockets/ws/commit/6a6ae04ef3514e2f8b1b0890649523d59dcf27f4. If you call `close()` with no parameters it builds an empty close frame.

[2018-01-17 04:31] yunyu commented on #747
Ah, thanks for clarifying.

[2018-01-17 09:56] pmlopes commented on #718
The params are cleared on reroute because they would be listed twice as the parsing of params is executed twice. The proper way is to store state on the context as is documented on the manual:

[2018-01-17 10:01] pmlopes commented on #718
Also note that the previous API would allow this:

[code]

But it does not make sense because on the `path-b` there is no `id` variable defined, it is defined on the `path-a` route. The commit above was to eliminate all this "bad behaviours" on the API.

[2018-01-17 10:36] pmlopes commented on #710
I'll close this issue as it cannot be reproduced.

[2018-01-17 10:36] #710 closed

[2018-01-17 12:40] pmlopes commented on #795
EventBusBridge timeout is not configurable from the javascript (client) side. Currently we only allow headers. Adding support for it could be a improvement.

[2018-01-17 12:42] pmlopes commented on #795
This improvement would require both adding support on the js side plus the java side:
https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/sockjs/impl/EventBusBridgeImpl.java#L480..L491

[2018-01-17 12:56] #756 closed

[2018-01-17 13:19] pmlopes commented on #731
@nevenr `EventBusBridgeImpl` has a map `sockInfos` where the keys are the connected sockets, probably we could use that as the source to list the bridge sockets

[2018-01-17 13:21] pmlopes commented on #729
Thread safety is now merged.

[2018-01-17 13:21] #729 closed

[2018-01-17 13:27] pmlopes commented on #726
@takeseem have you signed the Eclipse Contributor Agreement? https://www.eclipse.org/legal/ECA.php It's just a couple of clicks. It help us accepting new code contributions.

[2018-01-17 13:28] #718 closed

[2018-01-17 13:30] pmlopes commented on #713
I think this a bug with the way regex are handled.

[2018-01-17 13:30] heikkilevanto commented on #718
I can understand the problem with parsed path parameters, but to me it makes no sense to remove the query. Rerouting `/path-a?foo=bar` to `/path-b` without `?foo=bar` is kind of useless. If reroute() would not clear the query, I would be happy with it, or if you added a new variant of reroute() that would take a query argument, so I could pass the ?foo=bar to it. But if there is no way to preserve

[2018-01-17 13:34] pmlopes commented on #707
@StephenFox1995 as @tsegismont wrote we don't buffer the response, if you need it then you need to buffer it in your side.

[2018-01-17 13:34] #707 closed

[2018-01-17 13:59] pmlopes commented on #686
Duplicate of #737

[2018-01-17 13:59] #686 closed

[2018-01-17 14:01] #685 closed

[2018-01-17 14:01] #681 closed

[2018-01-17 14:08] #670 closed

[2018-01-17 14:09] vietj commented on #805
can you give an example of what you are precisely reproducing this case with the normal http client ?

[2018-01-17 14:09] #650 closed

[2018-01-17 14:12] pmlopes commented on #646
The issue refers a old release and there was no feedback from the OP.

[2018-01-17 14:12] #646 closed

[2018-01-17 14:14] #635 closed

[2018-01-17 14:53] marcinczeczko commented on #805
In a very short way.
- I have apache webserver running in my network that's `internal.front` hostname. It's simply mapped in `/etc/hosts` to avoid need of IP specification
- The webserver is running multiple vhosts, e.g. `vhost-1.front`, `vhost-2.front`, etc.. So matching the proper one is being done through host header
- Each vhost is SSL. As it's running on one IP, each certificate is configured

[2018-01-17 15:02] Lakshmihm commented on #795
Thanks.

As a workaround I am promisifying eventBus send with bluebird and using the timeout option
http://bluebirdjs.com/docs/api/timeout.html which is working well

[2018-01-17 18:51] vietj commented on #805
why vhost does not resolve to the server IP ?

[2018-01-17 22:36] marcinczeczko commented on #805
because of the easiness of the configuration - same hostname configured on different environments. Anyway, changing 'internal.front' to IP doesn't solve the problem as the SNIhostname & request.header.host should still match, and setHost() method allows to do it. Anyway I think we touched that subject on the pr level

[2018-01-17 23:59] sfitts commented on #704
We are seeing this in 3.5.0 as well.  Here's the issue I erroneously logged in core:

Version: 3.5.0

We are using the SockJS support and specifically the part that allows you to send data to an open websocket via an event bus address.  When there is a socket which is under heavy load (lots of data being written over the bus) and that socket is closed, we sometimes see the following exceptions:

[

[2018-01-18 10:38] Lakshmihm commented on #795
Yes correct. We are using this only as a workaround, so that our latency is not impacted. Getting the message delivered is not critical in our use case, as we have a fallback.  That is the reason we don't have any retry in place and we just terminate a long running connection

[2018-01-19 08:50] vietj commented on #805
so after more thoughts about it, I think that for now on `HttpRequest` we should have a `virtualHost` that calls `HttpClientRequest#setHost` with the correct port (so `vhost` -> `vhost:8080` if called on port 8080). Eventually in later versions we will improve `HttpClientRequest` specially with domain socket support.

Concerning domain socket, the notion of host:port does not exist anymore but the

[2018-01-19 14:04] heikkilevanto commented on #718
I find it incredible that you have closed this as invalid. As pointed above, the documentation says

Therefore it has no business messing with the query parameter `?qry=foo`, which has nothing to do with paths. That would be almost as bad as if changed the HTTP method to GET.

[2018-01-19 15:01] filipedelgado opened #812 "3.5.0 OpenAPI3 - number parameters validation message not verbose enough"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
When using OpenAPI3 parameter validation I've noticed that when validating number types like:
  - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10

The validation message if ambiguous since it not shows which parameter:value failed.

[2018-01-19 19:32] pmlopes commented on #718
I closed as invalid as it’s not a bug per se, but the expected behavior. We can discuss adding support for it but we need to discuss all the cases like how to handle double parsing? Query is not part of the path how do we parse it? (Currently we rely on core but we would need to take it on our plate) do we also consider fragments?

Parsing might sound trivial but how does it work when form params

[2018-01-21 10:44] outofcoffee commented on #113
@futurechan @pmlopes Here's an open source project (for the JVM) that generates a Swagger/OpenAPI specification from your existing Vert.x router:

https://github.com/outofcoffee/vertx-oas

[2018-01-21 15:51] slinkydeveloper commented on #585
Solved by #749

[2018-01-22 08:54] vietj commented on #805
@marcinczeczko can you check the branch that implements this feature ?

[2018-01-23 10:22] tipok opened #816 "3.5.0 OpenAPI3 - Global security options ignored"
### Version

* vert.x core:
3.5.0
* vert.x web:
3.5.0

### Context

If the definition looks like this

[code]

With `security` settings at top level it's not respected during router creation.
It's working if `security` is defined at path level e.g.

[code]

[2018-01-23 12:18] marcinczeczko commented on #805
@vietj - thanks for the changes. It looks great and works as expected. By the way, it would be usuful to update documentation in the package-info.java regarding usage of that new method - I found it's missing.

[2018-01-23 12:33] marcinczeczko opened #817 "Security testing revealed that QueryStringDecoder Exception is not handled by the Router."
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
During security testing of the application, we came across an issue with exception that's not handled by the vertx-web resulting in that the request never ends.
The log shows:
[code]
Looking into the code, the netty [QueryStringDecoder](https://github.com/vert-x3/vertx-web/blob/6c84241d3c3a11316dc6ceba5cbcc24b451a378c/vertx-web/src

[2018-01-23 12:36] vietj commented on #805
@marcinczeczko I think you are running into a corner case and I'm not sure it's worth to have in the documentation. Your cae is that the virtual host you are addressing does not have an IP. Most of the time people will just set the host to the virtual host name and it resolves to the server

[2018-01-23 12:37] vietj commented on #805
and the virtual host javadoc description mentions clearly its purpose

[2018-01-23 12:39] marcinczeczko commented on #805
got it. thanks

[2018-01-23 17:51] dhoffer opened #819 "Swagger UI in Vert.x causes runtime errors"
3.5.0 Version

3.5.0 vert.x core:
3.5.0 vert.x web:
Also using swagger-codegen-maven-plugin v2.2.3 to generate code from Swagger/OpenAPI v2.0

REST Context - Swagger UI Hosting

I am getting errors when I try to host the Swagger-UI in my vert.x application.

I have copied the contents of the io.springfox:springfox-swagger-ui:2.8.0 jar to the resources/webroot folder of my vert.x verticle. So the f

[2018-01-23 18:32] slinkydeveloper commented on #819
Can you please post a reproducer? Also please try to change the vertx-web dependency in pom.xml to version 3.5.1-SNAPSHOT

[2018-01-23 18:51] dhoffer commented on #819
I don't have a reproducer but I do have more information.

I figured out that I shouldn't be using swagger-ui from io.springfox:springfox-swagger-ui as that seems to be Spring based.

So I went and got the Swagger-UI from here instead https://github.com/swagger-api/swagger-ui/tree/master/dist

This works much better as now I can load the index.html in my vert.x app however when I try to use any of

[2018-01-23 19:02] dhoffer commented on #819
Using 3.5.1-SNAPSHOT I get the same error but it appears some of the line numbers are different.

Failing the routing
Unexpected exception in route
java.lang.IllegalStateException: Request has already been read
	at io.vertx.core.http.impl.HttpServerRequestImpl.checkEnded(HttpServerRequestImpl.java:433)
	at io.vertx.core.http.impl.HttpServerRequestImpl.handler(HttpServerRequestImpl.java:203)
	at io

[2018-01-23 19:07] dhoffer commented on #819
I am running this standalone via the exec-maven-plugin just like vert.x does in various samples via my IDE.  So no cluster/etc just a single verticle that adds the StaticHandler and then deploys 3 other verticles that handle the implementation of those 3 REST endpoints.

[2018-01-23 19:42] dhoffer commented on #819
So if I remove the StaticHandler, e.g. remove this line:
// Serve the static resources
router.route().handler(StaticHandler.create());

Now I don't get the above error and the REST endpoint works as expected, e.g. I can call the endpoints with Postman successfully.  However now I have no Swagger-UI which is what I need.  Why would adding the StaticHandler break all the REST endpoints?

[2018-01-23 19:55] dhoffer commented on #819
I found a fix for this.  I had to set the StaticHandler AFTER the SwaggerRouter.swaggerRouter call, no idea why.  It seems vert.x is very fragile with respect to order route handlers are added even if they should have nothing to do with each other.

[2018-01-23 22:40] slinkydeveloper commented on #819
`SwaggerRouter` is part of @phiz71 's library https://github.com/phiz71/vertx-swagger

Try to load the StaticHandler on another subroute, for example:

[code]

In this way you will avoid conflicts

[2018-01-24 11:10] raphaelfeng opened #820 "CORSHandlerImpl should return status 200 instead of 204"
### Version

* vert.x core:3.5.0
* vert.x web:3.5.0

### Context

CORSHandlerImpl returns 204 for all preflight OPTIONS request.

### Do you have a reproducer?
No

### Steps to reproduce
Just simply make a PATCH request to the vert.x app and the default CORSHandlerImpl will always return 204.

### Extra

According to https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Preflighted_requests, the

[2018-01-24 14:48] #805 closed

[2018-01-24 14:51] vietj commented on #764
@azagniotov ping

[2018-01-24 14:51] vietj commented on #726
@takeseem ping

[2018-01-24 15:39] dhoffer commented on #819
That does work so that is an option, however its not clear to me why there
was a conflict.  The 3 REST paths all start with /jtasker/v3/ so why does
adding the StaticHandler with no specified path break all the specified
REST routes?  I assumed the StaticHandler serving content from 'webroot'
was separate and isolated from other specified routes but it seems if
specified first it supersedes the ot

[2018-01-24 17:28] dhoffer commented on #819
Actually after more testing it seems the custom path for the StaticHandler does not work.  Reloading the page fails and in testing it is not reliable so right now I had to move the StaticHandler to after all the REST route mappings to get things to work reliably.  I'm still using 3.5.1-SNAPSHOT.  Something is not right here.

[2018-01-24 21:08] slinkydeveloper commented on #819
I tried to reproduce this problem but I can't succed it. I tried to configure a project like yours but for me works. Can you post a complete reproducer?

[2018-01-25 03:35] dhoffer commented on #819
I will try to do that.

On Wed, Jan 24, 2018 at 2:08 PM, Francesco Guardiani <
notifications@github.com> wrote:

[2018-01-25 11:12] luhawk803 opened #821 "Any reason why io.vertx.ext.web.client.impl.HttpRequestImpl is protected?"
### Version

* vert.x core:
* vert.x web:

### Context

I need to do sign base on the method and query,  before sending the request.
I need to use something like URi, POST method in class HttpRequestImpl. Any reason why this one cannot be public?

### Steps to reproduce

a common question

[2018-01-25 11:32] MateuszPrzybyla opened #822 "WebSocket async register handler"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I have a websocket based application that registers and unregisters to some vert.x event bus addresses and uses `SockJSHandler`. I would like to handle somehow that the client has registered to some address. Handling `BridgeEvent` with type `REGISTER` does not give expected results because the actual registration happens asynchron

[2018-01-25 14:00] yunyu commented on #822
I used this hack to send a message during BridgeEvent handling: https://github.com/yunyu/SpeechDrop/blob/master/src/main/java/edu/vanderbilt/yunyulin/speechdrop/Broadcaster.java#L25

I agree, this doesn't seem to be a particularly uncommon scenario and there should be a supported way to do this.

[2018-01-25 16:06] vietj commented on #821
what means sign base ?

[2018-01-25 16:12] raptoria commented on #820
+1

[2018-01-25 18:59] #820 closed

[2018-01-26 02:25] luhawk803 commented on #821
I need to use some uri and method to generate sign for my request.
I wish I can do something like this.

httpRequest<buffer> request = client.postAbs("xxxx");
String uri = request.getUri() ;
String method = reqeust.getMethod();
addSign(request, uri, method)
or

client.postAbs("http://xxxxxxx")..addQueryParam("abc","333").addSign()

On Fri, Jan 26, 2018 at 12:07 AM, Julien Viet <notifications@githu

[2018-01-26 04:03] aruis opened #824 "A problem in the router order example. The function named example11 in here"
### Version 3.5.0

* vert.x web:

### Context

A problem in the router order example. The function named `example11` in [here](https://github.com/vert-x3/vertx-web/blob/a0d4c3060081298b51b8a3b33ba256f18b65cb7e/vertx-web/src/main/java/examples/WebExamples.java)

the code `route2.order(-1);` in line 335 will  `throw new IllegalStateException("Can't change order after route is active");`  because `ro

[2018-01-26 07:34] vietj commented on #821
what  is sign ?

[2018-01-26 07:43] marcinczeczko commented on #817
Any thoughts on this ? Looks like that when using vertx-web and query string is send with reserved characters it's unable to recover. By the way, the issue did not exist in 3.4.1 - because RouteImpl didn't parse query parameters.

[2018-01-26 08:04] vietj commented on #817
I think application should be able to recover such error

[2018-01-26 09:18] marcinczeczko commented on #817
@vietj  - I wanted to do so, but the only place I can catch that exception is in the Vertx.exceptionHandler (as it's unhandled in router) - so can't recover it in order to send e.g. error response.

[2018-01-26 09:33] vietj commented on #817
perhaps there should be a boolean on RoutingContext that says whether query decoding failed or not, or at least the decode error that can be checked

[2018-01-26 09:34] vietj commented on #817
and have a boolean configured by default to true that says wehther or not decoding error should be handled automatically

[2018-01-26 09:34] vietj commented on #817
or simpler : a decoderErrorHandler

[2018-01-26 09:34] vietj commented on #817
that by default redirect to the error page

[2018-01-26 09:50] slinkydeveloper commented on #817
@vietj we can do similar to new 404 error handling.

[2018-01-26 09:58] slinkydeveloper commented on #817
I will give a look

[2018-01-26 10:43] marcinczeczko commented on #817
I think error handler would be useful, so I could return 400 response code (bad request) in this case.

[2018-01-26 15:48] slinkydeveloper commented on #817
@marcinczeczko give a look at https://github.com/vert-x3/vertx-web/pull/825

[2018-01-26 17:58] marcinczeczko commented on #817
@slinkydeveloper - thanks. I Posted the comment over there.

[2018-01-27 01:35] azagniotov commented on #764
@vietj sorry. Is it possible to pull down `v3.5.1-SNAPSHOT` from somewhere?

[2018-01-27 01:41] azagniotov commented on #764
If you could publish a SNAPSHOT version, I could test it this weekend

[2018-01-27 02:55] azagniotov commented on #764
Never mind, I see the snapshots under: `https://oss.sonatype.org/content/repositories/snapshots/io/vertx/vertx-core/3.5.1-SNAPSHOT/`

[2018-01-27 04:42] azagniotov commented on #764
Running tests against `v3.5.1-SNAPSHOT`. Stay tuned ...

[2018-01-27 08:30] azagniotov commented on #764
@vietj @pmlopes @tsegismont I can confirm that after running a series of performance tests I could not replicated the described behavior which was returning 404 under a concurrent load.

I am considering this issue as being fixed in `v3.5.1`

[2018-01-27 10:59] #764 closed

[2018-01-27 16:53] azagniotov commented on #764
@slinkydeveloper can you remove the incomplete tag, please?

[2018-01-28 17:52] luhawk803 commented on #821
before addSign():
url: https://abc.def.com/test?foo1=ab&foo2=de
after addSign():
url:https://abc.def.com/test?foo1=ab&foo2=de?sign=xxx
commen: xxx is the code based on the "/test" and "foo1=ab&foo2=de", and request client.

[2018-01-29 13:17] tomaszmichalak opened #826 "RxJava2 and BodyHandler: Request has already been read"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context
I get an exception when try to use BodyHandler mixed with RxJava2:
[code]
I try to implement a simple backpressure mechanism in my http server. My code looks like:
[code]
What is your opinion about my code? Not sure if I can use `Router.accept()` inside `onNext()` consumer. How should I combine them RxJava2 with Vert.x-web? I can a

[2018-01-29 13:58] tsegismont commented on #826
Before onBackpressureBuffer, add:

.map(HttpServerRequest::pause)

And before calling router.accept(), resume the request.

And in

2018-01-29 14:17 GMT+01:00 Tomasz Michalak <notifications@github.com>:

[2018-01-29 15:34] vietj opened #827 "WebClient shall not buffer request bodies"
Can cause OOM, error should enable it explicitely

[2018-01-29 19:29] vietj commented on #827
Actually we will rather implement a treshold in HttpClient so http request bodies under the threshold are buffered and discarded above.

[2018-01-29 20:01] jponge opened #828 "WebClient, BodyCodec and HttpResponse API mismatches"
A great feature of the HTTP web client is the possibility to pass a codec.

That being said, it does not play nice with the HTTP response API, as in:

[code]

It is not intuitive why `bodyAsString()` returns null when there is a `JsonCodec`, and it is not documented either.

[2018-01-29 20:03] vietj commented on #828
I think we should document that the bodyAs methods only work for buffer body and not already decoded

[2018-01-29 21:28] vietj commented on #827
see https://github.com/eclipse/vert.x/pull/2305

[2018-01-30 10:43] #438 closed

[2018-01-30 12:27] vietj commented on #747
can we close this @pmlopes @slinkydeveloper ?

[2018-01-30 12:41] #747 closed

[2018-01-30 12:55] tomaszmichalak commented on #826
Working as expected! Thanks for your help @tsegismont ! Added to RxJava2 examples: https://github.com/vert-x3/vertx-examples/pull/267.

[2018-01-30 12:55] #826 closed

[2018-01-30 13:52] #720 closed

[2018-01-30 13:52] #722 closed

[2018-01-30 13:52] #724 closed

[2018-01-30 13:52] #735 closed

[2018-01-30 13:52] #750 closed

[2018-01-30 13:52] #752 closed

[2018-01-30 13:52] #758 closed

[2018-01-30 13:52] #794 closed

[2018-01-30 13:52] #812 closed

[2018-01-30 13:52] #816 closed

[2018-01-30 14:38] vietj commented on #827
now see https://github.com/eclipse/vert.x/pull/2308

[2018-01-30 14:38] #827 closed

[2018-01-31 11:26] slinkydeveloper commented on #748
Solved by #802

[2018-01-31 11:26] #748 closed

[2018-01-31 11:26] slinkydeveloper commented on #728
Solved by #802

[2018-01-31 11:26] #728 closed

[2018-01-31 15:09] Jotschi opened #829 "StaticHandler is blocking the eventloop"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I have a rather huge fatjar (140MB) from which I'm serving static resources via a StaticHandler from the classpath. I noticed that the initial caching/unpack action is blocking the eventloop due to the `unpackFromJarURL` call.

[code]

### Do you have a reproducer?

No, the issue seems to be more prominent on windows and non-ssd d

[2018-01-31 18:50] InfoSec812 opened #830 "Add documentation link in Vert.x Web API Contract to explain adding routes ordered before the API routes"
### 3.5.x

* vert.x web API Contracts:

### Context

In the documentation, there is no clear explanation of how to add things like Cors handlers and other handlers in the RouterFactory before the API routes are processed.

### Do you have a reproducer?
N/A

### Steps to reproduce
N/A

### Extra
I would suggest creating an explanation in the docs about using `router.order(int)` in order to place th

[2018-02-01 10:20] heikkilevanto commented on #718
I haven't looked deep in the code, but would it be difficult to add another `reroute()` call that would take an extra parameter for the query - anything after the question mark. It might be possible to pass that along when you do the (re)parsing of all parameters. The caller of reroute could then do whatever is necessary, and I would not need my ugly workaround.

[2018-02-02 11:39] vlatk0o commented on #113
@outofcoffee Can you make some tutorial how to import your project? I have tried to import it but it can not be imported as project... And can you give me a contact email?

[2018-02-04 22:17] bootstraponline opened #831 "Google Testing API breaks code generation"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

Google Testing API breaks vertx-web.

[code]

gets transformed into `$Xgafv: String? ,`

### Do you have a reproducer?

Yes.

* [testing_v1_openapi_3.json#L78](https://github.com/bootstraponline/flank/blob/f520ddd1d710d230c6081bdb2e209d21c2b4d35f/cloud_testing/apis/testing_v1_openapi_3.json#L78)
* [ApiClient.kt#L139](https://githu

[2018-02-04 23:18] vietj commented on #831
@pmlopes ?

[2018-02-05 08:48] slinkydeveloper commented on #831
I Think it's a generator bug

Il 04 feb 2018 23:17, "bootstraponline" <notifications@github.com> ha
scritto:

Version

   - vert.x core: 3.5.0
   - vert.x web: 3.5.0

Context

Google Testing API breaks vertx-web.

 {
            "name": "$.xgafv",
}

gets transformed into $Xgafv: String? ,
Do you have a reproducer?

Yes.

   - https://github.com/bootstraponline/flank/blob/
   f520ddd1d710d230c6081

[2018-02-05 10:33] ckaratzas commented on #113
Check this also:
https://github.com/ckaratzas/vertx-openapi-spec-generator
It doesn't cover all openapi 3 spec mappings but contains the blueprint on how to auto generate spec from code. With few changes it can support more features.

[2018-02-05 16:12] tsegismont opened #832 "SockJS protocol testing failures"
In the repo we have a test checking our implementation of the SockJS protocol:
https://github.com/tsegismont/vertx-web/blob/master/vertx-web/src/test/java/io/vertx/ext/web/handler/sockjs/SockJSProtocolTest.java

This test fails intermittently on CI:
https://vertx.ci.cloudbees.com/view/vert.x-3/job/vert.x3-web/3031/testReport/junit/io.vertx.ext.web.handler.sockjs/SockJSProtocolTest/testProtocol/

I

[2018-02-07 07:02] biolearning opened #833 "HTTPRequestValidationHandler addQueryParamWithPattern does not work"
### Version

* vert.x web: 3.5.0

The following API does not work for the specified pattern, after trouble-shooting, the cause is - the pattern was not correctly set, instead, it was set as default value. I would like to join as contributor to solve this issue if possible.

HTTPRequestValidationHandler addQueryParamWithPattern(String parameterName, String pattern, boolean required)

this.addQueryP

[2018-02-07 07:03] biolearning opened #834 "ContentType 'application/json; charset=UTF-8' was rejected by vertx validator"
### Version

* vert.x web: 3.5.0

ContentType is required to be exactly equal with 'application/json' or 'application/xml', so our ContentType 'application/json; charset=UTF-8' was rejected with statusCode=400 and null failure Throwable object.

It is better to change to startWith 'application/json' or 'application/xml', since it is very typical to append the charset in the ContentType.

I am will

[2018-02-07 07:24] biolearning commented on #465
@pmlopes, I apply to pick up this issue and update that with the logic as describered by @brunoais.
If approved, how can I proceed this 'quick win'?

[2018-02-07 11:04] slinkydeveloper commented on #833
Duplicate of https://github.com/vert-x3/vertx-web/issues/750, fixed in #802

[2018-02-07 11:04] #833 closed

[2018-02-07 11:06] slinkydeveloper commented on #834
Duplicate of #724 , fixed with #802

[2018-02-07 11:06] #834 closed

[2018-02-08 23:08] erickj opened #836 "SockJSHandlerImpl causes IllegalArgumentException with 0ms timer on route /chunking_test"
https://github.com/vert-x3/vertx-web/blob/7b5225584ff119886b13017ace74bb90e780edb6/vertx-web/src/main/java/io/vertx/ext/web/handler/sockjs/impl/SockJSHandlerImpl.java#L214

Running vertx-web 3.5.0, I was reading the SockJSHandlerImpl source to become famiilar with the class and was querying the endpoints that I saw with curl. When I tested the /chunking_test endpoint this error was thrown:

[code]

[2018-02-13 10:06] tsegismont commented on #836
Thanks for reporting. This is not a biggie as this endpoint was for old versions of SockJS. I have planned to upgrade the SockJS protocol tests, I will take care of this while I'm at it.

[2018-02-13 22:55] glengine86 commented on #786
This is related to: https://github.com/vert-x3/vertx-web/issues/85

pmlopes mentions differences in behaviour between routes with and without parameters in this comment: https://github.com/vert-x3/vertx-web/issues/85#issuecomment-128325964

Personally I wish it always treated paths with and without a trailing slash as different paths and never tried to normalise. Then for routes you want to suppor

[2018-02-14 08:08] tipok opened #837 "OpenAPI3 - References aren't resolved properly"
### Version

* vert.x core: 3.5.1
* vert.x web: 3.5.1

### Context

When using references router isn't created any more

### Do you have a reproducer?

will provide a pull request shortly

[2018-02-14 08:23] tipok commented on #837
My pull request is a simple fix. Besides of this issue there are some additional issues:

1. references not starting with #/components/schemas/ will cause fatal exceptions
2. because of the above issue tests are failing

[2018-02-14 08:27] slinkydeveloper commented on #837
In OAS you can do four types of refs:

* inner to components
* local refs like json schema (not supported by parser)
* http refs
* local file refs

All the above refs should work

[2018-02-14 08:28] slinkydeveloper commented on #837
Give me a reproducer so i can test it

[2018-02-14 08:54] #831 closed

[2018-02-14 08:56] #746 closed

[2018-02-14 08:57] #744 closed

[2018-02-14 08:57] #741 closed

[2018-02-14 08:57] #733 closed

[2018-02-14 09:14] slinkydeveloper opened #839 "Missing support for circular references"
### Version

* vert.x core: 3.5.1
* vert.x web: 3.5.1
* vert.x web api contract: 3.5.1

### Context

Using circular refs in your OAS 3 spec will cause fatal exceptions at runtime

[2018-02-14 10:28] #837 closed

[2018-02-14 10:29] tipok commented on #837
as written in the PR, i have caused this issue myself by misusage.

[2018-02-15 16:38] tammamfadel2017 opened #841 "hazelcast cluster with vertx when logout goes through infinite cycles"
### Version

* vert.x core: 3.5.0
* vert.x web:3.5.0

### Context
I have a strange problem with vetx when run with hazelcast cluster.
when logout RoutingContext.clearUser() is called in AuthHandle.authenticate then RoutingContext.reroute to restart the context but next when it gets called again it will still have the user assigned old value and it will go through the same cycle infinitely
Note: th

[2018-02-17 18:34] leolux opened #842 "Setting default headers for the StaticHandler"
Having the option to set default headers (like cache-control for example) would be a nice feature . The only default which is configurable at the momet is the encoding (setDefaultContentEncoding).

[2018-02-18 19:17] pmlopes commented on #842
@leolux Wouldn't that be a case for a more general purpose handler? I mean i guess headers could be used both for static handler or any other handler.

[2018-02-19 01:11] azagniotov opened #843 "SSL exceptions under a high request load"
Perhaps this issue is more related to Netty than Vert.x, but I decided to post here anyways for visibility:

### Version

* vert.x core: `3.5.1`
* vert.x web: `3.5.1`
* netty: `4.1.19.Final`
* netty-tcnative-boringssl-static: `2.0.7.Final`

### Context

In my service, I have only one regular, non-worker verticle which configures the HTTP server & a route. I deploy 8 instances of my verticle on 8 e

[2018-02-19 05:48] vietj commented on #843
have you tried:

1/ with JDK SSL
2/ look in Netty issue tracker about this same topic

[2018-02-19 12:24] leolux commented on #842
Do you mean that hardcoded custom headers should never be set by default because it might break HTTP conventions or even the protocol?

I would like to send the "Cache-Control:private" header to every file response of the StaticHandler. So I had the idea to make this configurable at the StaticHandler because it handles file requests.. However, headers can also be added by a another handler running

[2018-02-19 22:42] marcinczeczko opened #844 "LoggerHandler uses UTC timezone only"
### Version

* vert.x core: 3.5.1
* vert.x web: 3.5.1

### Context

Is there a particular reason, why LoggerHandler always logs requests with UTC timezone ? I'd expect to use machine timezone instead, or have ability to configure it.

### Do you have a reproducer?

No

### Steps to reproduce

N/A

### Extra

* Anything that can be relevant

[2018-02-20 09:35] marcinczeczko commented on #844
Yes, I meant timestamp. Even though it's usually meant for machine consumption, it very often used for a troubleshooting of the infrastructure during a development. If application logs usually uses local machine timezone, then access log with GMT timezone makes troubleshooting very difficult.

For a comparison, the apache http access log display timestamp with a timezone of the localmachine.

So,

[2018-02-20 09:43] tsegismont commented on #844
Would you like to contribute this?

2018-02-20 10:35 GMT+01:00 Marcin Czeczko <notifications@github.com>:

[2018-02-20 09:50] marcinczeczko commented on #844
Yes, I can contribute. What option is preferred:
1. follow machine TZ
2. configured TZ
3. or, configured timestamp format ?

[2018-02-20 12:04] tsegismont commented on #844
2018-02-20 10:50 GMT+01:00 Marcin Czeczko <notifications@github.com>:

Do you mean, like Apache httpd, using placeholders to define the logging
string? In this case, that sounds like the ideal solution.

[2018-02-20 19:21] marcinczeczko commented on #844
yes, that's what I meant. ok then I'll proceed then

[2018-02-21 08:40] ylemoigne opened #845 "http-client doesn't expose raw method"
### Version

* vert.x core: 3.5.1
* vert.x web: 3.5.1

### Context

Trying to create a webdav client from vertx http client. I can't make request with non-standard method (`PROPFIND`, `MOVE`, etc.).

Please consider adding a `rawMethod(String) ` on `HttpRequest` interface (Or any other mean to specify custom method).

[2018-02-22 20:34] pmlopes commented on #844
That can be easily added without breaking the API if the default date format is the current one and allowing users to specify the desired one specifically.

[2018-02-22 22:37] marcinczeczko commented on #844
@pmlopes - in the meantime, I did some exercise with the format for the while log line. It's not ready yet, however you can take a look at the referenced commit

[2018-02-23 15:44] mariababoshina opened #846 "Stack overflow error in sub-router"
### Version

* vert.x core: 3.5.0
* vert.x web: 3.5.0

### Context

I'm facing a stack overflow error while requesting a non-registered path using a sub-router.

`Router router = Router.router(vertx);
 router.mountSubRouter("/v1", router);`

Requesting `localhost:8080/dummy-path` will return Resource not found, while `localhost:8080/v1/dummy-path` will end up with an infinite loop and a stack over

[2018-02-24 13:50] jansorg commented on #667
https://github.com/vert-x3/vertx-web/pull/847 is supposed to fix this, I havn't tested this yet. The testcase is passing, though :) I'm using it with named path segments.

[2018-02-25 21:20] StephenOTT opened #848 "Add docs about Json Validation: Json Schema version supported??"
Looking at: https://github.com/vert-x3/vertx-web/blob/master/vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/JsonTypeValidator.java#L6

Cross-ref with: https://github.com/networknt/json-schema-validator

and http://json-schema.org

Does this mean that currently the json validator for `addJsonBodySchema()` as part of Web API Contract only supports draft 04 of Json Schema?

[2018-02-26 09:52] slinkydeveloper commented on #848
Hi, the spec supported is only draft-4 for now. No custom validator are supported.
We are working to bring a full openapi schema support (aka discriminator stuff), draft-7 and custom validators, but this is a heavy wip

[2018-02-26 10:55] pavolloffay commented on #523
I am adding a pointer to client tracing requirements:
https://github.com/vert-x3/vertx-web/pull/640#issuecomment-315098590

Client tracing implementation is not possible at the moment because interceptors are not in public API.

[2018-02-26 14:45] cristic83 opened #849 "WebClient fails in Openshift environment in version 3.5.1"
### Version

* vert.x core: 3.5.1
* vert.x web: 3.5.1
* netty version: 4.1.19.Final

### Context

While using the OAuth2Auth.getToken with vert.x 3.5.0 and netty 4.1.15.Final in an Openshift environment we encountered the issue described in https://github.com/eclipse/vert.x/issues/2031 . Therefore, we upgraded to vert.x 3.5.1 and netty 4.1.19.Final to fix the issue, but the issue is not fixed. Now

[2018-02-26 17:01] StephenOTT commented on #848
I have been looking at just using: https://github.com/epoberezkin/ajv

[2018-02-26 18:12] slinkydeveloper commented on #848
I tried to load ajv, but it's an hacky and unstable solution, we are considering to build our own library: https://github.com/slinkydeveloper/vertx-json-validator-poc

[2018-02-26 18:15] StephenOTT commented on #848
@slinkydeveloper good to know.  Nothing in jackson for object validation that can be resued?

Are you pushing towards trying to map with Json-schema or would be fine with something like hapijs/joi style implementation as well?

[2018-02-27 08:24] slinkydeveloper commented on #848
I'm trying to abstract things in common between draft-7 and OpenAPI Object Schema and then build a schema compliant to both specs. You load your schema and then you validate across it, It's not planned to create some APIs like joi (maybe in future, but it's not the goal).
Unfortunately, there is nothing in Jackson to reuse for validation.

[2018-02-27 12:41] cristic83 commented on #849
This is not a real issue related to Vertx, but an application configuration issue.

[2018-02-27 12:41] #849 closed

[2018-02-27 17:22] StephenOTT commented on #848
k.  ya the joi api style would be nice, as thats more useful / understandable.  experience has been that the json-schema is really hard to people to get a visual on.

[2018-02-28 13:58] tleveque opened #850 "RequestParameters.cookieParametersNames() throws NPE with No Cookie header request"
### Version

* vert.x core: 3.5.1
* vert.x web: 3.5.1

### Context

I encountered a NPE exception which looks suspicious while use an OpenApi 3 contract with a HTTP request without Cookie header.

### Do you have a reproducer?

No

### Steps to reproduce

1. Create RouterFactory from openapi 3 yml file
2. add a handler using addHandlerByOperationId method
3. retrieve RequestParameters into this ha