[2018-12-14 09:19] bpark opened #1111 "SockJS xhr_send causes IllegalStateException"
### Version

* vert.x core: 3.6.0
* vert.x web: 3.6.0

### Context

If the SockJS transport fallback xhr-polling is used the xhr_send request causes an exception with vert.x 3.6.0. This issue occurs only if more than one instance of a SockJS server verticle is deployed.

[code]

### Do you have a reproducer?

https://github.com/bpark/vertx-360-sockjs

### Steps to reproduce

1. Run the server by c

[2018-12-14 09:34] vietj commented on #1111
thanks for reporting

[2018-12-14 09:52] vietj commented on #1111
I think the bug only happens when there are two instances of the verticle

[2018-12-14 09:53] vietj commented on #1111
we will fix it in 3.6.1

[2018-12-14 09:57] bpark commented on #1111
Yes, only with two or more instances, one instance works.

[2018-12-14 10:03] vietj commented on #1111
you can expect a release soon

[2018-12-14 10:14] vietj opened #1112 "SockJS session should always receive messages on context event loop"
Current the SockJS session can receive messages on a different context event loop than the expected one. This happens with request/response based transports with multiple servers, where the request happens on one of the server's context.

When we receive such message we should reschedule it on the context event loop so there is no concurrent access or races in the SockJS session.

[2018-12-14 10:15] vietj commented on #1112
See https://github.com/vert-x3/vertx-web/issues/1111

[2018-12-14 10:16] #1112 closed

[2018-12-14 10:17] #1111 closed

[2018-12-15 11:44] dtolstyi commented on #1096
Oh, this issue was driving me crazy. It took me quite long to find the issue.
I've just verified `3.6.1` and the issue is indeed fixed (headers are sent along with redirect requests). Thank you!

[2018-12-17 15:01] martintheault commented on #1102
Did you succeed to reproduce the issue ? I can see that you've done some commits to fix the issue... Do you need an example with the 405 status code ?

In which versions the fix will be avalaible ?

[2018-12-18 08:37] slinkydeveloper commented on #1102
I didn't manage to reproduce 405. Try the vertx release 3.6.2

[2018-12-18 14:02] SahilLone opened #1113 "Use global registry in case of Prometheus backend registry"
* vert.x web: ALL versions

### Context

When using Prometheus metrics, the default behavior is to create new
[code]
In the handler which is defined this way
[code]
What does this mean is, if I want to use other metrics for my application, then I need to create one more Prometheus registry and modify the existing handler or rewrite as i need to scrape multiple Prometheus registries ie one from the

[2018-12-19 08:05] aruis opened #1114 "can io.vertx.ext.web.client.HttpRequest add a method can add headers in batches?"
### Version

* vert.x core:
3.6.2
* vert.x web:
3.6.2
### Context

`io.vertx.ext.web.client.HttpRequest ` has only one method  to add header, But it can only be added one by one.
In this case, it is useful
[code]
But if I have a headers with MultiMap type, the code is not very elegant, probably written like this
[code]
so .  can io.vertx.ext.web.client.HttpRequest  add a method can add headers in

[2018-12-19 09:11] vietj commented on #1114
I believe that we could have something with a callback like

client.get("/hello").putHeaders(headers -> {
  // Do whatever you like with multimap headers
}).send();

[2018-12-19 09:41] aruis commented on #1114
You said it was good, but I am afraid it is a bit difficult to understand. If it's simple, like this?
[code]
or
[code]

[2018-12-19 09:46] vietj commented on #1114
yes that's also possible, but it means you need to provide a multimap and you don't reuse the one of the HttpRequest.

[2018-12-19 12:44] aruis commented on #1114
This is the code for using okhttp3. Can it give us some inspiration?
[code]

[2018-12-19 12:49] vietj commented on #1114
yes I think it's fine I think, you can contribute this I think if you like.

[2018-12-19 12:53] aruis commented on #1114
My pleasure, let me try.

[2018-12-20 10:32] martintheault commented on #1102
Optional body seems to work in 3.6.2 but I still have the issue when I have a ":" in my url.

[2018-12-20 18:36] slinkydeveloper commented on #1102
@martintheault can you open a new ticket and provide a reproducer?

[2018-12-21 13:24] martintheault opened #1116 "Open api web contract does not handle well path params with a colon"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

With the following route in swagger, the router answers with 404 when sending a POST to /myObject/test:test/execute but it should not.

    '/myobject/{objectId}/execute':
      parameters:
        - $ref: '#/components/parameters/objectId'
      post:
        summary: Execute
        operationId: executeObjectCommand
        requ

[2018-12-21 13:53] #1102 closed

[2018-12-22 02:29] liushunqiu opened #1117 "How do I get a vertx instance under a non-AbstractVerticle subclass?"
How do I get a vertx instance under a non-AbstractVerticle subclass?
When I use Vertx.vertx() to get an instance, I get a warning: You're already on a Vert.x context, are you sure you want to create a new Vertx instance?

[2018-12-23 14:36] ZikasR commented on #824
thnx a had the same problem.is there a PR to correct the example ?

[2018-12-24 03:10] shenzhenMirren opened #1118 "StaticHandler request path end with/ and request path does not end with/"
### Version

* vert.x core:3.6.2
* vert.x web:3.6.2

### Context
end with/  can get static resources
end not with/  can not get static resources

Is this bug?

### Do you have a reproducer?

### Steps to reproduce

1. code
![0](https://user-images.githubusercontent.com/24805209/50390010-6b536280-076c-11e9-8480-c27ed9188eff.png)
2. not with /
![1](https://user-images.githubusercontent.com/24805209/

[2018-12-24 08:04] aruis commented on #824
This problem was discovered in version 3.5.0. I just tested it again in version 3.6.2 and it still exists.
But whether this question is a document description error or a code error, I think it is still open to question. If I only fix the problem in the code, I am afraid that it will affect the readability of the code.
Further, are we going to discuss the route that has been added, can't we change

[2018-12-24 09:02] aruis commented on #824
I give a PR. then , it allow change order after route is active.

[2018-12-24 16:04] ccozzolino opened #1120 "[vertx-web-api-contract] OpenAPI3RouterFactoryImpl throws java.lang.NullPointerException when encoding is not provided for a multipart/form-data requestBody"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

When declaring a multipart/form-data requestBody, the following exception is thrown when no `encoding` section is provided:

[code]

### Do you have a reproducer?

The following openapi definition will result in the exception described above:

[code]

### Steps to reproduce

1. Use the openapi definition provided above
2. Exceptio

[2018-12-25 02:38] zero-88 opened #1122 "Sockjs error reply hook consumer"
### Version

* vert.x core: `3.6.0`
* vert.x web: `3.6.0`

### Context

When encountered error in a websocket call via sockjs, I would like unify reply message of `vertx` with my system.
For example:
`{"type":"err","body":"invalid_json"}` => `{"status":"FAILED","error":{"code":"INVALID_ARGUMENT","message":"Message format is not correct"}}`

I think `vertx` can change a little bit `SockJSHandlerImp

[2018-12-26 11:12] juddgaddie opened #1123 "StaticHandlerImpl is trying to write to response that is closed"
### Version

This occurs in vertx-web version 3.5.2 and 3.6.2 (with corresponding vertx core)

### Context

I encountered an exception in my CI environment, while it does not result in unexpected behaviour it does fill my logs with errors. This error occurs in the VertX provided StaticHandlerImpl when Firefox 57.0.4 is attempting to download /thirdparty/fonts/glyphicons-halflings-regular.woff

[co

[2018-12-26 13:36] juddgaddie commented on #1123
Additionally this exception from the StaticHandler is thrown which may be related. Just guessing here but if the Channel (TCP socket) is closed but close() is not called on HTTPServerResponseImpl then when the response is attempted to be written the channel is closed and hence the exception below.

[code]

[2018-12-29 14:14] oualidbouh commented on #895
Hello,
I am having the same issue with WebClient.
using a domain name lead to  : io.netty.resolver.dns.DnsNameResolverTimeoutException: [/80.10.246.129:53] query timed out after 5000 milliseconds (no stack trace available)

and here is the stacktrace :
`io.netty.resolver.dns.DnsNameResolverContext.finishResolve(DnsNameResolverContext.java:721)
io.netty.resolver.dns.DnsNameResolverContext.tryToFini

[2018-12-29 14:20] oualidbouh opened #1124 "WebClient failed to resolve domain name"
### Version

* vert.x core: 3.5.3
* vert.x web: 3.5.3
* vertx.web-client : 3.5.3

### Context

I encountered an exception which looks suspicious while trying to make a get request to a public API on the internet using its own domain name (api.openweathermap.org).

### Do you have a reproducer?

`    WebClient webClient = WebClient.create(vertx);
    webClient.get(80, getAbs(WEATHER_API_URL), "/dat

[2018-12-29 15:54] vietj commented on #895
have you tried resolving the domain with the JVM resolver ?

[2018-12-29 15:55] vietj commented on #1124
what does getAbs returns ?

[2018-12-29 15:55] vietj commented on #1124
can you provide a reproducer ?

[2018-12-29 17:15] oualidbouh commented on #1124
Hello,

When using getAbs with a **valid URL** it throws a VertxException with an invalid URL.

`the used URL is api.openweathermap.org/data/2.5/find?q=Lyon&APPID=776921509aa0ed53483c74b4980ccc78`

The given URL is valid you can using a postman to get the data.

[2018-12-30 08:43] vietj commented on #1124
getAbs URL needs to use http:// or https:// in front of

[2018-12-30 12:11] oualidbouh commented on #1124
I added http:// and it works fine. So when can we use the get function ?

[2018-12-30 13:12] vietj commented on #1124
the code you posted is not correctly aligned so it's hard to read and hard to understand what you are doing, can you reformat it ?

[2018-12-31 17:16] oualidbouh commented on #1124
Hello,

Sorry for being to late, here is the formated code :

WebClient webClient = WebClient.create(vertx);
 webClient.get(80, getAbs(WEATHER_API_URL), "/data/2.5/find?q=" + city + "&APPID=" +APP_KEY).send(ar -> {
if (ar.succeeded()) {
LOG.info(ar.result().body());
} else {
 LOG.error(ar.cause().getCause());
 Arrays.asList(ar.cause().getStackTrace()).forEach(stackTraceElement -> {
 LOG.error(stac

[2019-01-01 08:37] rzorzorzo opened #1125 "LocalSessionStoreImpl: potential memory leak"
### Version

* vert.x core:
* vert.x web:
LATEST

### Context

localMap holds session.id() -> session. however in session.generateId() session.id() may change.
In LocalSessionStoreImpl.handle(), iteration is done over Map.values(), but remove is done with session.id().
Thus, sessions where the id has changed, are never removed.

### Do you have a reproducer?

* Link to github project/gist

### Ste

[2019-01-02 10:08] tsegismont commented on #1117
`Vertx.vertx()` always creates a new instance. You could do instead: `Vertx.currentContext().getOwner()`. But it would be better to change your design so that your Java class is initialized by passing the vertx instance and storing it in a field.

[2019-01-02 10:08] #1117 closed

[2019-01-04 08:33] yhs0092 opened #1126 "Temp file is not removed when the uploaded file is too large and the response is closed"
### Version

* vert.x core:4.0.0-SNAPSHOT
* vert.x web:4.0.0-SNAPSHOT

### Context

Vert.x cannot remove the uploading temp file on the conditions that:
  1. set max body limit;
  2. add a failure handler to close response when the uploaded file exceeds the limit;
  3. upload a file that is much larger than the limit

It seems that `io.vertx.core.http.impl.HttpServerFileUploadImpl#handleComplete`

[2019-01-04 19:20] gpthome commented on #952
Thank you for resolving the original issue.  Today I finally got time (and remembered) to come back and test it.  The validation works as expected.  I am using Vertx 3.6.2.

However, it appears to me that the detailMessage is not being properly filled out.  In the attached screen shot, you can see the 'toString' of the exception does display the right content, but the detailMessage has the paramet

[2019-01-04 20:20] slinkydeveloper commented on #952
Open a new issue ;)

[2019-01-07 06:05] FDU-SE-LAB opened #1127 "Your project vert-x3/vertx-web is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 08:12] #1127 closed

[2019-01-07 12:05] muthenberg opened #1128 "NPE using an openapi.yml with a MultiPart Upload and additional Meta-Data"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

I encountered the following exception while using an Open-API specification with a Multipart Upload and additional meta data:
`java.lang.NullPointerException
	at io.vertx.ext.web.api.contract.openapi3.impl.OpenAPI3RequestValidationHandlerImpl.parseRequestBody(OpenAPI3RequestValidationHandlerImpl.java:508)
	at io.vertx.ext.web.api.

[2019-01-07 13:35] gpthome opened #1129 "ValidationException - RegEx"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

While testing https://github.com/vert-x3/vertx-web/issues/952, I noticed the ValidationException detailMessage that result from RegEx validation errors seem to be formatted differently than other ValidationExceptions like for Integer or ENUM validations.  In our example, we are using RegEx to validate a query string parameter foll

[2019-01-08 01:35] yhs0092 commented on #1126
I'm afraid I cannot be equal to this task. I'm not familiar with the internal mechanism of Vert.x.  :D

[2019-01-08 08:18] tsegismont commented on #1126
@yhs0092 we can help, and you did the worst part, finding the bug :)

[2019-01-08 12:33] adamdickmeiss opened #1130 "ReadStream pause not working anymore"
### 3.6.2

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Code that used pause/resume in 3.5 series no longer works

Now getting "Request has already been read".

### Can be produced with a unit test part of okapi

https://github.com/folio-org/okapi/blob/master/okapi-common/src/test/java/org/folio/okapi/common/PauseResumeTest.java

The problem is in /test2 handler of the test (test2). The pause see

[2019-01-08 16:09] vietj commented on #1130
this happens because the request is empty and has no data to pause. you should set an end handler before pausing the request and when you resume if the end handler has been called it means that the body was empty otherwise you can resume the request and get the buffers

[2019-01-08 18:22] #1120 closed

[2019-01-08 18:43] slinkydeveloper commented on #1116
This should fix the problem: https://github.com/vert-x3/vertx-web/pull/1131

[2019-01-08 19:00] slinkydeveloper commented on #1129
I've opened a PR for this issue: https://github.com/vert-x3/vertx-web/pull/1132 . Give a look at it.

Anyway note that in 4.0 the ValidationException will change again.

[2019-01-08 19:03] #1116 closed

[2019-01-08 20:42] adamdickmeiss commented on #1130
Empty or not, in Vert.x 3.5.4 and ealier this worked perfectly.. The whole purpose of postponing setting the endHandler is because it is affected by the "recursive" http call. I don't know how I would make a working code that would work in both Vert.x versions.

[2019-01-08 21:16] adamdickmeiss commented on #1130
Adapting to this change of behavior with Vert.x 3.6 by using an isEnded check. Thx

[2019-01-09 07:13] vietj commented on #1130
what do you mean by "recursive" HTTP call ?

[2019-01-09 09:59] adamdickmeiss commented on #1130
I mean: Just a HTTP client within a HTTP server .. The endHandler in our application depends on outcome of the HTTP client in the handler.. So that's why we define it "late".

[code]

[2019-01-09 10:11] vietj commented on #1130
ok I see, thanks. I'm actually considering reverting this behavior as it seems I overlooked its consequences.

[2019-01-09 13:02] aruis commented on #1114
I give a PR,can you review it ? @vietj  thank you😀

[2019-01-09 16:31] aygalinc opened #1133 "Exception occurs with getBodyAsJson() method when empty body"
_### Version

* vert.x core: 3.6.2
* vert.x web:3.6.2

### Context

I encountered an exception which looks suspicious while i received an http request with an empty body and I tried to access it with the  io.vertx.reactivex.ext.web.RoutingContext.getBodyAsJson() method. I expected a JsonObject null or an Empty JsonObject but it seems to fire an exception. (see extra)

With a not empty body, all wo

[2019-01-09 17:06] aygalinc commented on #1133
Rectificaton in step 1 : router.put(OBJECT_PATH).handler(BodyHandler.create());

[2019-01-11 00:18] gpthome commented on #1129
The PR looks good.  Will this make the 3.6.3 release?  And, do you have an ETA when that will be?

Thank you for your quick help!!!

[2019-01-11 06:45] tranmin287 opened #1134 "Blocking code in BodyHandlerImpl could block main thread ?"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

When using upload module in Vertx , I encountered an blocking code in  [BodyHandlerImpl](https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/BodyHandlerImpl.java)
[code]
In debug mode, I found that code run on Eventloop main thread. That block of code could block main thread, does

[2019-01-11 07:10] vietj commented on #1134
What do you mean by block ?

[2019-01-11 07:10] #1134 closed

[2019-01-11 07:15] tranmin287 commented on #1134
I mean EventLoop Thread could be blocked
[code]

[2019-01-11 07:16] vietj commented on #1134
what would block here ?

[2019-01-11 09:22] aygalinc commented on #1133
Sorry i make a quick reproducer and in fact the getBodyAsString() is not null but empty.
I create the request with https://addons.mozilla.org/fr/firefox/addon/restclient/ .

The full stack trace :
INFO]  at [Source: (io.netty.buffer.ByteBufInputStream); line: 1, column: 0]
[INFO] 	at io.vertx.core.json.Json.decodeValue(Json.java:172)
[INFO] 	at io.vertx.core.json.JsonObject.fromBuffer(JsonObject.j

[2019-01-11 10:46] bpark opened #1135 "Subsequent SockJS xhr/xhr_send causes IllegalStateException"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

It' seems that the Issue https://github.com/vert-x3/vertx-web/issues/1111 is not fixed completeley. If the SockJS transport fallback xhr-polling is used subsequent xhr/xhr_send request causes an exception with vert.x 3.6.2 (and 3.6.1). It seems that the second xhr_send causes the error. This issue occurs only if more than one inst

[2019-01-11 15:04] vietj commented on #1133
@pmlopes what is your opinion on this ? should we handle this case and return null too ?

[2019-01-16 08:31] silentbalanceyh opened #1137 "Set<FileUpload> is empty when I used HttpClientRequest forward file uploading request."
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

I met an issue when I write following code here, there are two projects:

* Api Gateway: up-athena, port = 6100
* Service: up-atlas, port = 6201

Testing uri is:

[code]

I refer upload coding demo: https://github.com/vert-x/vertx-examples/blob/master/src/raw/java/upload/UploadClient.java

When I send request with postman with att

[2019-01-16 08:44] silentbalanceyh commented on #1137
Append:

http://localhost:6201/api/attachment/upload/hotel ( Working )
http://localhost:6100/api/attachment/upload/hotel ( Issue position )

When I send request to 6201, I can get attachment information as following:

[code]

But when the same request send to Api Gateway ( 6100 ) and forward to 6201, this issue reproduce.

[2019-01-16 11:02] silentbalanceyh commented on #1137
I think following code should be helpful, I send request with Apache Http Client, it also works:

[code]

[2019-01-16 15:56] silentbalanceyh commented on #1137
I resolved this issue with another way, I used http client internally instead of WebClient/HttpClient, but I don't know whether this solution is standard here ?
Now I can get the data from FileUpload.

[2019-01-17 08:00] vietj commented on #1137
can you provide a failing test in this project in the `HttpTest` class ?

[2019-01-17 14:32] ia3andy opened #1138 "Compilation error: Unimplemented AsyncFile method in WebClientTest"
### Version

* vert.x core:
4.0.0-SNAPSHOT
* vert.x web:
4.0.0-SNAPSHOT
### Context

`AsyncFile.setReadLength` has been added and is not implemented in `WebClientTest` resulting in a compilation error.

[2019-01-17 14:38] vietj commented on #1138
thanks!

[2019-01-17 14:39] ia3andy commented on #1138
@vietj I am creating a PR

[2019-01-17 14:40] vietj commented on #1138
thanks!

[2019-01-17 14:44] #1138 closed

[2019-01-17 15:32] slinkydeveloper opened #1140 "Reorganize Router error handling"
Reorganize error handling as discussed to put everything inside a method like

[code]

[2019-01-18 08:33] slinkydeveloper commented on #1140
Solves https://github.com/vert-x3/vertx-web/pull/801 and https://github.com/vert-x3/vertx-web/issues/817

[2019-01-21 17:02] MeYoGui opened #1143 "NullPointerException when creating router from OpenAPI3RouterFactory using "path params" and "splitted" yaml (explode)"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2
* vert.x web api-contract : 3.6.2

### Context

I encountered an exception which looks suspicious while I was creating the Router from the OpenAPI3RouterFactory.

I am creating the Router from the OpenAPI3RouterFactory using YAML OpenApi3 files.
I'm using "reference" in our Yaml to be able to split them. Everything is fine as long as I don't us

[2019-01-22 16:54] StephenOTT commented on #533
+1 on this!  Sooner the better as its a real pain for reusability of requests that use path params.

[2019-01-23 10:34] santosh5g commented on #876
while working with 3.6.0. , during startup im getting warning

 "[vert.x-eventloop-thread-0] WARN com.networknt.schema.JsonMetaSchema - Unknown keyword nullable - you should define your own Meta Schema. If the keyword is irrelevant for validation, just use a NonValidationKeyword
"

[2019-01-23 21:23] slinkydeveloper commented on #1140
PR https://github.com/vert-x3/vertx-web/pull/801

[2019-01-23 21:24] slinkydeveloper commented on #1140
PR: https://github.com/vert-x3/vertx-web/pull/1142

[2019-01-24 17:37] StephenOTT opened #1146 "CaseInsensitiveHeaders.class is not serializable, provide a default Jackson stdSerializer and stdDeserializer for optional use"
The CaseInsensitiveHeaders.class does not support serialization.  This is a problem when you want to do things like passing common headers into verticles through config(). (JsonObject).

Would be great if a jackson stdSerializer and stdDeserilizer were provided to optionally support this.

here is my implementation that can be reused by others, and hopefully can be added in the web client in the f

[2019-01-24 19:13] haithkris opened #1147 "Cors headers validation is case sensitive"
### Version

* vert.x core: 3.6
* vert.x web: 3.6

### Context

Our unit tests detected changes done to CORS validation after migrating to 3.6. The headers that are used like `Origin`, `Access-Control-Request-Method`, `Access-Control-Allow-Origin`, `Access-Control-Allow-Methods`, `Access-Control-Expose-Headers` and `Access-Control-Allow-Headers` are not valid because of having an uppercase.

The c

[2019-01-25 05:40] lwlee2608 opened #1148 "Error on OpeneAPI3 #ref Json Query Param"
### Version

* vert.x core: 3.6.0
* vert.x web: 3.6.0

### Context

We are running a server using OpenAPI3 to validated incoming request to match a OpenAPI spec file.
When a query parameter is define as an #ref object with properties fields. We encountered an validation exception even though the param is defined as optional.

We expect a simple GET without snssai query param to work
[code]

But in

[2019-01-25 06:05] lwlee2608 commented on #1148
debugger shows that snssai query param has been flatten
The API should have 8 query params
1. ipv4Addr
2. ipv6Prefix
3. macAddr48
4. dnn
5. supi
6. gpsi
7. snssai
8. ipDomain

but instead we get 9 queryParamRules with snssai replaced by sd, and sst
![queryparams](https://user-images.githubusercontent.com/6957561/51728141-1f1c7a80-20aa-11e9-8f03-d34d5fd2fa6e.png)

[2019-01-25 10:50] lwlee2608 commented on #1148
I believe  `entry.getValue().isRequired()` should be inverted

https://github.com/vert-x3/vertx-web/blob/ef73b882f5ac01eeca7fc32738d0ceff4a4d979b/vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/contract/openapi3/impl/OpenAPI3RequestValidationHandlerImpl.java#L301

[2019-01-25 12:22] purplepapa opened #1149 "Feature Request of webclient : getRedirectedUri()"
I am using web client to get urls . I need to get the redirected uri for further parsing as base url . Thanks in advance . As I investigated, HttpAsyncClient uses a HttpContext to get it:
[code]
just for reference.

[2019-01-25 13:10] purplepapa opened #1150 "WebClient socket long lifetime"
### Version

* vert.x core:3.6.2
* vert.x web:3.6.2
* macOS Mojave

### Context

when I use webclient to crawler urls(https://github.com/purplepapa/webclientsynsent), the SYN_SENT count keeps growing and finally the app blocked after around 13 minutes. There are no more socket created. Yourkit profiler shows cpu usage telmetry as follows:
[code]
I am suspicious of that io.netty.resolver.dns.DnsRes

[2019-01-25 15:46] pmlopes commented on #1140
we should put to 3.6.3 as it replaced the previous issue already marked to be for 3.6.3

[2019-01-25 16:28] Christian-Schmid opened #1151 "WebClient throws exception when connecting to a fully qualified domain name (FQDN)"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

I'm trying to use the ```WebClient``` to connect to a hostname specified as FQDN (A hostname with  ```.``` at the end, eg. ```https://www.eclipse.org.```)

### Do you have a reproducer?
Code Snipped:

[code]

Outputs:
[code]

### Hints
* When not using TLS the client connect successfully

The ```HostnameChecker``` seems not to lik

[2019-01-25 16:36] haithkris commented on #1147
Wrong call finally. Sorry for the noise...

[2019-01-25 16:36] #1147 closed

[2019-01-25 23:20] vietj commented on #1151
this seem to be a java issue and not a vertx issue

[2019-01-26 08:54] #1151 closed

[2019-01-26 14:47] purplepapa commented on #1150
I found out it is related with following issue of Netty:
https://github.com/netty/netty/issues/8687
https://github.com/netty/netty/pull/8691
which is fixed in 4.1.33-final.

[2019-01-26 17:53] santoshJD opened #1152 "Json object in query parameter : ignored by vertx"
### Version

* vert.x core: 3.6.2
* vert.x web:3.6.2

### Context

Json object in query parameter ignored by vertx router server side

home-plmn-id in this case

### Extra
openapi: 3.0.0
info:
  title: Transactions API
  version: 1.0.0
servers:

- url: 127.0.0.1:8080
  variables:
    apiRoot:
      description: apiRoot as defined in subclause 4.4 of 3GPP TS 29.501
      default: https://example.co

[2019-01-26 18:02] vietj commented on #1150
thanks, we'll be looking for ugprade netty as soon as it is possible

[2019-01-28 08:44] vietj commented on #1150
you can define an expiration time for socks using the HttpClientOptions with the keepAliveTimeout value, the default value is 60 seconds.

[2019-01-28 08:46] vietj commented on #462
Sub routers finally will not be deprecated as community use them a lot and we found a way to support them correctly.

[2019-01-28 12:02] purplepapa commented on #1150
I set the keepAliveTimeout to 5s and sysctl -w as follows:
[code]
and set vertx version to 3.6.3-SNAPSHOT and re-tested the reproducer got result as follows:
![image](https://user-images.githubusercontent.com/8614517/51834467-623e4e00-2335-11e9-90a3-2f765e8b69ab.png)
with following cpu telemetry:
[code]
I set the concurrency to 1000 and the socket remained opened reached around 9000, which seems n

[2019-01-28 14:26] vietj commented on #1150
can you check with netstat ?

[2019-01-28 23:50] purplepapa commented on #1150
I tried with netstat with following results:
[code]
![image](https://user-images.githubusercontent.com/8614517/51873990-238eaf00-239a-11e9-9e8b-09acd3ae829a.png)
The established is quite high.
I lower the net.inet.tcp.msl to 1000, which is resulting the reduction of timewait.

[2019-01-29 07:46] vietj commented on #1150
I looked at your application and it seems you are using WebClient correctly

[2019-01-29 07:47] vietj commented on #1150
I would like to know how long this status remains after the application is not anymore processing the workload, can you elaborate ?

[2019-01-29 07:56] purplepapa commented on #1150
As I tested yesterday, there will be more than several hours after the workload is finished:
![image](https://user-images.githubusercontent.com/8614517/51892864-28755200-23de-11e9-83d4-e449e6b2d178.png)
You can see that after 10h, there are still around 1000 socks remain opened.

[2019-01-29 08:31] vietj commented on #1150
can you make a head dump of the JVM or use your tool to count the number of Netty channels and/or Vert.x Http1xClientConnection instances ?

[2019-01-29 09:14] purplepapa commented on #1150
thanks, I will. Do you want the number when the workload is going on or finished ? I will try both this several hours later.

[2019-01-29 09:48] purplepapa commented on #1150
I run on my mbp , got heap results as follows:
![image](https://user-images.githubusercontent.com/8614517/51899401-e3591c00-23ed-11e9-8b52-b3ab14c11078.png)
I started with 100 concurrency , and the established reached 126 when I dump.
I will try 1000 concurrency later.

[2019-01-29 13:31] purplepapa commented on #1150
Followings are the result of 1000 crawlers:
[code]
![image](https://user-images.githubusercontent.com/8614517/51911314-7bfe9480-240c-11e9-8321-5ab79c5c0229.png)
![image](https://user-images.githubusercontent.com/8614517/51911534-0c3cd980-240d-11e9-8c80-860de46aa8f6.png)

The established socks reaches 3524 and io.vertx.core.http.impl.Http1xClientConnection reaches 3864 ,while I only set 1000 crawle

[2019-01-29 14:09] vietj commented on #1150
how many different HTTP server does the client interacts with ?

[2019-01-29 14:10] vietj commented on #1150
can you provide path to the roots ? or a JVM heap dump too that I can use ?

[2019-01-29 14:35] purplepapa commented on #1150
the .hprof file is around 1G. How could I share with you ? use aws s3?

[2019-01-30 08:54] #1135 closed

[2019-01-30 13:39] pmlopes commented on #1140
Fixed by #1142

[2019-01-30 13:39] #1140 closed

[2019-01-30 14:17] pmlopes commented on #1125
@rzorzorzo would you mind to check https://github.com/vert-x3/vertx-web/pull/1158

[2019-01-30 14:21] pmlopes commented on #1113
@SahilLone how is this issue related to web? You are describing a metrics issue which is not handled in web if i'm not mistaken.

[2019-01-31 07:36] purplepapa commented on #1150
It is seems better in CentOS 7.6 with some tcp tuning:
![image](https://user-images.githubusercontent.com/8614517/52038614-c2b7d000-256d-11e9-846a-e933f51717a5.png)
but it is still some socket long lifetime.

[2019-01-31 08:41] vietj commented on #1150
can you do something smaller ? I'm not sure my laptop can handle it

[2019-01-31 08:57] purplepapa commented on #1150
currently the crawler count is 100 , you can have a try on a laptop. you can set it to 30 or 50 by edit /conf/bootstrap.conf.  It is ok in my macbook.

[2019-01-31 08:59] vietj commented on #1150
ok.

send me a link to the file privately and I'll download it and try.

what websites does it crawl btw?

[2019-01-31 09:03] purplepapa commented on #1150
please follow steps as follows:
1.git clone https://github.com/purplepapa/webclientsynsent.git
2.mvn clean package
3../start.sh

the website is randomly collected without any specific goal , just for test.

[2019-01-31 11:17] yxder opened #1159 "Cannot get property path from OpenAPI3RouterFactory"
### 3.6.2

* vert.x core:
* vert.x web api:

### Context

OpenAPI3RouterFactory.getRouter() could not get property path from yaml

### Do you have a reproducer?

using simple yaml for OpenAPI3Factory,  get router from routerfactory,  path is null

[2019-01-31 15:59] vietj commented on #1150
how long should it run ?

[2019-01-31 19:55] purplepapa commented on #1150
please try to run it for half an hour? you can check the console printed log and may see the established count will be over crawler count, which means there are sockets remained open after the WebClient instance is reused for next crawl task . I should claim that my test network condition is not good and there should be lot of packet lost. for a good network condition, it may need more time to see

[2019-01-31 20:09] vietj commented on #1150
it's been running since and I don't see issues so far, here is what I can see:

[code]

[2019-01-31 20:32] purplepapa commented on #1150
I will try it with 3.5.4 now.

[2019-01-31 20:44] vietj commented on #1150
thanks

[2019-01-31 20:48] purplepapa commented on #1150
I just tested with 3.5.4 for 5m with results as follows:
![image](https://user-images.githubusercontent.com/8614517/52084225-840d2e80-25dc-11e9-81fd-cf15979ce372.png)
it seems nothing get better.

[2019-01-31 20:59] purplepapa commented on #1150
test chart at 17m:
![image](https://user-images.githubusercontent.com/8614517/52084888-0ba76d00-25de-11e9-82d7-30d7c53e7cdf.png)
the sockets keeps growing with some long lifetime.

[2019-01-31 21:03] purplepapa commented on #1150
there must be something wrong here. maybe it is not a common issue.

[2019-01-31 21:14] purplepapa commented on #1150
if i could set the expire time for a request to determine how long a task should take. just for reference that HttpAsyncClient have such config options:
![image](https://user-images.githubusercontent.com/8614517/52085374-4fe73d00-25df-11e9-95f9-ab8fe5ab387c.png)
is it hint that there may be problems with the stale connections?

[2019-01-31 21:44] vietj commented on #1150
what does setValidateAfterInactivity does ?

[2019-02-01 02:35] purplepapa commented on #1150
the point at the moment I  think is to show the evidence of JVM holding the sockets, could you please kindly check the heap dump I uploaded before:
https://s3.amazonaws.com/webclient-test/hprof/java_pid47157.0001.hprof.zip
It may give you some information.

[2019-02-01 08:54] purplepapa commented on #1150
sorry, I just make it public. please try it again.

[2019-02-01 09:00] purplepapa commented on #1150
I just use apache http async client with worker instance(https://github.com/purplepapa/httpasync.git), which works fine:
[code]
the problem is the java dns is blocking.

[2019-02-01 17:04] vietj commented on #1150
can you share a heap dump that is smaller and that I could download ?

I've tried downloaded it but got a security error.

[2019-02-02 00:13] purplepapa commented on #1150
I pushed it to the repo. please kindly check it with link:
https://github.com/purplepapa/webclientsynsent/blob/master/java_pid24640.0002.hprof.zip
it is under 10 crawler, and there are 132 instance of io.vertx.core.http.impl.Http1xClientConnection.
I expected it could be less than 10.

[2019-02-02 09:37] vietj commented on #1150
I will have a look.

Julien

[2019-02-02 09:56] purplepapa commented on #1150
thanks. when I upgraded the vert.x to 3.6.3 with netty 4.1.33 , and set the .setQueryTimeout(30000), it seems work better : the established still keeps increasing, but very slowly. you can try the repo and check the console.

[2019-02-02 10:45] vietj commented on #1150
Hi,

this does not happen when I run the reproducer (6 hours on my laptop).

I would like to understand what is the real actual issue you are observing, are there un-garbaged objects after a fair period of inactivity (leak?)

Julien

[2019-02-02 12:52] purplepapa commented on #1150
I tested with a 3000 url workload. it took 10m to get 2997 urls succeeded. the inactivity period now kept more than 20m.
[code]
the lsof |grep pid shows:
[code]
heap dump shows:
![image](https://user-images.githubusercontent.com/8614517/52164409-e3c61f80-272b-11e9-86d9-bbc799a61f6d.png)
yourkit profiler shows:
![image](https://user-images.githubusercontent.com/8614517/52164416-022c1b00-272c-11e9-8

[2019-02-02 13:02] purplepapa commented on #1150
there is 3 working task kept more than 30m, is there something wrong with my code resulting in this?how could I close such sockets in a reasonable time ? thanks.

[2019-02-02 14:03] purplepapa commented on #1150
the established sockets still keeps growing after 1h.
[code]
![image](https://user-images.githubusercontent.com/8614517/52165025-1117cb00-2736-11e9-9cea-c53dc16555ec.png)

It quite wired.

[2019-02-03 04:34] purplepapa commented on #1150
I switched to low-level HttpClient, which works fine.

[2019-02-03 15:02] vietj commented on #1150
my testenv is a vanilla MacBookPro running OSX

[2019-02-03 15:02] vietj commented on #1150
I've looked at your dump and I see a bunch of Http1xClientConnection but those seems used (i.e they are referenced by Netty and seems to be running)

[2019-02-04 06:14] purplepapa commented on #1150
thanks. I will keep looking at it and will revert to you when I have further information. Vert.x is great, thanks for all of your efforts.

[2019-02-04 22:03] pekajota opened #1160 "BodyHandlerImpl.BHandler does not release body after read is complete"
### Version

* vert.x core: 3.5.1
* vert.x web: 3.5.1

### Context

When using a BodyHandler, the body that has been read does not get released after BHandler::doEnd. This causes unnecessary memory contention if body size is too big. Holding body inside BHandler does not seem to be necessary as the body is written to the context and can be consumed by clients of the library. If clients do not need

[2019-02-05 10:41] slinkydeveloper commented on #1159
Can you provide a yaml reproducer?

[2019-02-06 17:38] #1129 closed

[2019-02-06 17:39] #1148 closed

[2019-02-06 18:32] slinkydeveloper commented on #1143
This is a bug of the parser. I raised an issue for it https://github.com/swagger-api/swagger-parser/issues/1014

[2019-02-06 18:52] slinkydeveloper commented on #1152
I tried to create a simpler reproducer and it works. Am I missing something?. Check it: https://github.com/vert-x3/vertx-web/commit/926e2f25164bb82d1911acd1b2d410ae70cc910a

It does the request with this url: `/jsonQueryParam?jsonParam=%7B%22id%22%3A%22aaa%22%2C%22values%22%3A%5B10%2C20%2C30%5D%7D`

[2019-02-06 19:22] MeYoGui commented on #1143
Thank you @slinkydeveloper for the forwarding :)

[2019-02-06 19:58] sfalkman opened #1167 "405 Method Not Allowed when method is not implemented"
### Version

* vert.x core: 3.6.0
* vert.x web: 3.6.0
* vertx-web-api-contract: 3.6.0

### Context

I'd like to send back `405 Method Not Allowed` when a client queries a path which doesn't implement the request method.
For example, my OpenAPI spec implements only `POST` on `/api/resource`. If a client queries `GET /api/resource` I'd expect `405 Method Not Allowed` to be sent back.

### Workaround

[2019-02-06 20:55] slinkydeveloper commented on #1167
There is a method to customize it:
https://vertx.io/docs/apidocs/io/vertx/reactivex/ext/web/api/contract/openapi3/OpenAPI3RouterFactory.html#setNotImplementedFailureHandler-io.vertx.core.Handler-

Il giorno mer 6 feb 2019, 20:58 sfalkman <notifications@github.com> ha
scritto:

[2019-02-06 21:10] sfalkman commented on #1167
Isn't that for `501 Not Implemented`, that would be triggered if I haven't mapped a resource to a handler?

[https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/501](url)

[https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/405](url)

[2019-02-07 09:59] slinkydeveloper commented on #1167
Oh yep I'm sorry you are right.

[2019-02-07 17:17] LukeAustinBullard opened #1168 "basicAuthentication joins using hyphen when it should use colon"
### Version

* vert.x core: 3.5.2
* vert.x web: 3.6.3

### Context

`HttpRequestImpl` joins the client_id and client_secret using a hyphen, but it should be using a colon as per Basic Authentication protocol.

<img width="555" alt="image" src="https://user-images.githubusercontent.com/42417003/52429503-2db75880-2ad2-11e9-8510-d2a163af3e79.png">

![image](https://user-images.githubusercontent.com/4

[2019-02-07 17:54] vietj commented on #1168
do you mind providing  a PR ?

[2019-02-07 18:06] yorffuoj opened #1170 "Vert.x 3.6.3 wrong access control origin"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

I am working with vertx web and I am migrating from the 3.5.0 to the 3.6.3.
I am now facing a issue that was not present on the previous version: when request is sent to the websocket server there is a CORS problem
Here is the header of the sent request:

[code]
Here is the former response (3.5.0):

[code]
Here is the new response

[2019-02-07 18:35] LukeAustinBullard commented on #1168
@vietj Sure, no problem

https://github.com/vert-x3/vertx-web/pull/1171

[2019-02-08 13:52] purplepapa commented on #1150
I finally got it works by tracking the connection with HttpClient:
[code]
and then set a timer to check the timeout connections to close them.

[2019-02-08 13:52] #1150 closed

[2019-02-11 22:14] fperie opened #1174 "Vertx 3.7.0-SNAPSHOT : Random error to produce HTTP response (#1173)"
### Version

* vert.x core: 3.7.0-SNAPSHOT
* vert.x web: 3.7.0-SNAPSHOT

### Context

In my project, after a while, I get the impression that the template engine crashes in a loop (a form of race condition).
In PR #1173 , I tried to reproduce this random error (which happens very regularly) in a test class called FullIntegrationTest.java
I reproduced the problem once in this small example, you wil

[2019-02-12 13:44] tsegismont opened #1175 "GraphQL route handler"
Use [GraphQL Java](https://github.com/graphql-java/graphql-java) to support development of GraphQL servers with Vert.x Web.

- [x] Create a handler from an existing GraphQL object
- [x] Handle GET requests
- [x] Handle POST requests
- [x] Handle queries with variables
- [x] Query Context object (defaults to `RoutingContext`)
- [x] `JsonObject` property fetcher
- [x] Data fetcher for Vert.x callbac

[2019-02-13 07:49] xiaour opened #1178 "Why not support default configuration files"
### Version

* vert.x core:3.6.3
* vert.x web:3.6.3

### Context
Why not support default configuration files？
And must run the jar to <-conf conf.json>?

[2019-02-13 10:39] tsegismont commented on #1175
You can see the progress in my working branch https://github.com/tsegismont/vertx-web/commits/graphql

[2019-02-13 15:42] valtercorreia opened #1179 "Implement sameSite attribute for cookies"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

Would it be possible to implement the sameSite attribute for cookies?

I noticed that Vertx-web Cookie class is mostly a wrapper of the Netty implementation so are you guys planning on addressing this feature or will you wait for Netty to implement this feature on their next major release and then bring it to Vert.x?

[2019-02-13 19:36] pmlopes commented on #1179
I'd rather propose the fix upstream so all the community would benefit from it, what is your opinion?

[2019-02-13 19:39] pmlopes commented on #1178
Vert.x is a unopionated framework so we don't impose defaults. Such a feature can be achieved with a custom launcher command that extends the default `run` and sets the default config.

[2019-02-13 19:39] #1178 closed

[2019-02-13 19:49] pmlopes commented on #1170
[code]

Is not a valid combination according to: https://developer.mozilla.org/En/HTTP_access_control#Requests_with_credentials

A reproducer would be fine to identify how this combination is being chosen and produce and error.

[2019-02-13 19:50] pmlopes commented on #1170
@yorffuoj could you create a reproducer?

[2019-02-13 19:53] pmlopes commented on #1168
Fixed by #1171

[2019-02-13 19:53] #1168 closed

[2019-02-13 19:55] pmlopes commented on #1160
Perhaps instead of assigning to a new buffer just assing to null?

[2019-02-13 19:59] #1125 closed

[2019-02-13 20:00] pmlopes commented on #1125
Fixed by #1158

[2019-02-13 20:01] pmlopes commented on #1146
However this should be against core as JSON serializers are defined there.

[2019-02-13 20:02] pmlopes commented on #1123
A check should be added before the call:

[code]

[2019-02-13 22:20] valtercorreia commented on #1179
Seems good to me!

[2019-02-13 22:20] #1179 closed

[2019-02-14 08:42] pmlopes commented on #1179
For reference: https://github.com/netty/netty/issues/8530

[2019-02-15 10:24] tsegismont opened #1180 "GraphQL websocket transport"
Support the [websocket transport](https://github.com/apollographql/subscriptions-transport-ws/blob/master/PROTOCOL.md) from Apollo.

This transport can be used to handle _subscriptions_ operations as well as _queries_ and _mutations_.

[2019-02-15 10:30] tsegismont opened #1181 "GraphQL request batching"
Apollo client can be configured to [batch](https://www.apollographql.com/docs/link/links/batch-http.html) graphQL requests.

In practice, it will send a `POST` request with a JSON array body and expect a JSON array of results.

This can be useful when a browser loads a page for the first time and multiple queries are needed to setup different UI parts.

[2019-02-15 10:43] tsegismont opened #1182 "Automated tests with Apollo JS client"
Apollo client is a popular solution to create browser applications using GraphQL. It would be nice to have integration tests for this client.

With such tests set up, implementing the [websocket transport](https://github.com/vert-x3/vertx-web/issues/1180) would be easier (we could write JS tests using the ws transport).

The tests could be written using Jasmine and run during the `verify` phase wi

[2019-02-15 10:46] tsegismont commented on #1182
@pmlopes wdyt about the Jasmine tests solution?

[2019-02-15 13:41] yorffuoj commented on #1170
Hello.
I have made a reproducer you can see here: https://github.com/yorffuoj/vertx-bug-reproducer
You can change the vertx version in the pom to see the difference.
Once Main.java is launched and the server STARTED you can use psotman or equivalent and make a GET on http://127.0.0.1:8080/events/info?t=123456
Here is the result with vertx **3.6.3**:
![postman3 6 3](https://user-images.githubuserco

[2019-02-15 16:49] tsegismont commented on #1175
See the corresponding PR #1183

[2019-02-19 11:40] pmlopes commented on #1175
I see that the API uses `CompletableFuture` shouldn't we use `CompletableStage` instead? the future variant might block the event loop if chained with other executors right? and we're supposed to offer `CompletableStage` APIs on 4.0... Does it make sense?

[2019-02-19 23:52] rapatao opened #1184 "Cannot be able to use a template engine with a different extension name of the default."
### Version

* vert.x core: 3.6.3
* vert.x web: 3.5.2

### Context

We run some project using the Handlebars where we replaced the default extension from "HBS" to "HTML". Since the method, "setExtension" on the TemplateEngine was marked as deprecated we experiencing an issue with the current implementation.

We have verified that we must have to use the template name using the extension but when w

[2019-02-19 23:54] rapatao commented on #1184
Sorry, but I've filled wrong the version of the vertx-web. In both dependencies, I'm running the latest version (3.6.3).

[2019-02-20 14:09] u3r commented on #1130
Same problem here - a pre processing of the request requiring other http-calls fails since 3.6.0 due to "Request has already been read".
Requests with body succeed, Body-less requests fail.

[2019-02-20 16:30] vietj commented on #1130
that's a known issue and we are going to revert to the previous behavior in 3.7

Julien

[2019-02-20 17:21] pekajota commented on #1160
Yes. Actually your approach is much better. I did this in order to anticipate any NullPointerExceptions that might appear as I did not have time to inspect the whole code.

[2019-02-25 16:36] tsegismont commented on #1175
GraphQL Java supports `CompletionStage`. So yes, I can update the `VertxDataFetcher` impl to extend `DataFetcher<CompletionStage<T>>`. It would still use a `CompletableFuture` internally though, as it's the only available implementation.

I'm not sure what you mean. In the documentation I added:

_To [avoid blocking the event loop](https://vertx.io/docs/vertx-core/java/#golden_rule), all you have

[2019-02-25 16:51] tsegismont commented on #1175
@pmlopes just pushed 0defb3e and a016fa7

[2019-02-27 11:01] TorRanfelt opened #1185 "AuthHandlerImpl's handle method disregard original HttpStatusException"
### Version

* vert.x core: 3.6.3
* vert.x web:3.6.3

### Context

AuthProvider's authenticate method allows returning a HttpStatusException by enveloping it in a future and handing it to resultHandler.

However, it is disregarded by AuthHandlerImpl's handle method by wrapping it in a 401 HttpStatusException.

This hinders the server to inform the client of the true cause of failure during authent

[2019-02-28 11:33] tsegismont commented on #1175
@vietj I just pushed the changes needed to support batch loaders. The only thing missing for 3.7 from the project standpoint is Javadoc. I'll do it today.

What's next? I suppose we are going to expose this as a separate module in [web docs section](https://vertx.io/docs/#web) but this can be done just before the release. Is there anything else? Stack project update?

[2019-02-28 12:57] vietj commented on #1175
I think that we need to add the module to vertx-dependencies and update vertx-stack project possibly and then we can also see the result in the website preview

[2019-02-28 14:55] tsegismont commented on #1175
@vietj done

[2019-03-01 09:24] pmlopes commented on #9
Currently compression is managed by core. I'll close this issue and re-open if it makes sense in the future.

[2019-03-01 09:24] #9 closed

[2019-03-01 09:25] pmlopes commented on #13
JMX isn't a tool that devops look these days. Let's close this for now and re-open if really makes sense in the future.

[2019-03-01 09:25] #13 closed

[2019-03-01 09:27] pmlopes commented on #28
Closing as there's no activity for more than 1 year. Cookies can be updated or modified easily with a custom handler.

[2019-03-01 09:27] #28 closed

[2019-03-01 09:29] pmlopes commented on #85
Changing how we do the mapping would be a major break and would require all users to review their code and probably adapt. The benefit is probably not worth the risk. I'm closing it as re-open if needed in the future.

[2019-03-01 09:29] #85 closed

[2019-03-01 09:33] pmlopes commented on #1109
see https://github.com/vert-x3/vertx-web/issues/463 for more examples

[2019-03-01 09:35] pmlopes commented on #463
superseeded by https://github.com/vert-x3/vertx-web/issues/1109

[2019-03-01 09:35] #463 closed

[2019-03-01 09:38] pmlopes commented on #435
The recommended way to share data in these cases would be to use `sharedData()` from vert.x instead. Adding locks everywhere for this specific case would introduce penalties that are not worth for the typical use of the framework (async event loop).

[2019-03-01 09:38] #435 closed

[2019-03-01 09:41] pmlopes commented on #523
@pavolloffay context tracing has landed on core, can you provide an update on this?

[2019-03-01 09:42] pmlopes commented on #559
perhaps a simple glob to regex util would be interesting (also for router)

[2019-03-01 09:44] pmlopes commented on #568
The update template API allows this.

[2019-03-01 09:44] #568 closed

[2019-03-01 09:49] dtolstyi commented on #648
@vietj  I still don't find info in docs how this can be achieved. Could you show me the correct direction where to read this? Thank you!

[2019-03-01 10:24] vietj commented on #648
see https://vertx.io/docs/vertx-web-client/java/#_sessions_management

[2019-03-01 10:25] dtolstyi commented on #648
Thank you @vietj . So, it's `WebClientSession`. Now it's clear.

[2019-03-01 18:54] pmlopes commented on #912
Closing due to inactivity.

[2019-03-01 18:54] #912 closed

[2019-03-01 18:55] pmlopes commented on #973
Closing due to inactivity.

[2019-03-01 18:55] #973 closed

[2019-03-01 18:55] pmlopes commented on #1113
Closing due to inactivity.

[2019-03-01 18:55] #1113 closed

[2019-03-03 03:47] rgmz commented on #1048
:+1: to this; fail-fast validation is not always desirable and I would love to have the option to return all validation errors.

[2019-03-03 15:50] rgmz opened #1186 "web-api-contract: Parameter null not expected as an array"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

In certain cases `ValidationExceptionFactory` creates `ValidationException` with null parameters:

https://github.com/vert-x3/vertx-web/blob/7e22a9f679150caad9916a09a41c1416edb658a4/vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/validation/impl/SingleValueParameterTypeValidator.java#L35

https://github.com/vert-x3/vertx

[2019-03-05 06:17] lukehutch opened #1187 "Default error page title text is "Matron!"??"
### Version

* vert.x web: master

### Context

The default error page says "Matron!" in large letters. Whaaat?

https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/ErrorHandlerImpl.java#L111

I think this is an effort to be cute, and that this is supposed to indicate that the hospital matron is being called, or something?

I really (really) don't

[2019-03-05 06:46] lukehutch opened #1188 "Internal server error if favicon is missing"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

`io.vertx.ext.web.impl.Utils.readResourceToBuffer(String resource)` can return null if the named resource is not found:

[code]

`io.vertx.ext.web.handler.impl.init(Vertx vertx)` can then end up calling `new Icon(null)` if there is no resource `favicon.ico`:

[code]

The constructor of `io.vertx.ext.web.handler.impl.Icon(Buffer bu

[2019-03-05 13:33] vietj opened #1189 "Handle unresolved favicon path in FaviconHandler"
Currently the `FaviconHandler` does not handle incorrect configuration and fail with a 500 error.

We should handle incorrect configuration path or missing `favicon.ico` resources with a 404 client response.

[2019-03-06 16:03] slinkydeveloper commented on #1186
I removed the wrong null inside message, thank you for the report!

[2019-03-06 16:03] #1186 closed

[2019-03-07 17:27] #1052 closed

[2019-03-08 06:39] lwlee2608 opened #1191 "OpenAPI3 Validation error on optional exploded query param"
### Version

* vert.x core: 3.6.0
* vert.x web: 3.6.0

### Context

Considering the following OpenAPI definition
[code]

Since ColorObject is define as required:false, the following query should work

`GET http://localhost:8080/query/form/optional/explode/object`

But validation reject it with the following error:
[code]

The problem is caused by validation still think exploded parameter R, G, B i

[2019-03-08 07:40] lukehutch opened #1193 "Server startup hangs if `.useSsl(true)` is used"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

The following code never reaches `if (result.succeeded())` if the line `.setSsl(true)` is present. Commenting out that line allows the server to start.

[code]

### Reproducibility

100%

[2019-03-08 07:48] tsegismont commented on #1193
This might be a duplicate of https://github.com/eclipse-vertx/vert.x/issues/2867

Can you try with 4.0.0-SNAPSHOT ? The fix will be released in 3.7.

[2019-03-08 09:59] lukehutch commented on #1193
I confirm, 4.0.0-SNAPSHOT fixes this. Thank you!

[2019-03-08 09:59] #1193 closed

[2019-03-08 10:10] tsegismont commented on #1193
@lukehutch thank you for letting us know. As a workaround, you may wrap the `listen` invocation in a `try`/`catch` block for now.

[2019-03-08 10:20] #1188 closed

[2019-03-08 10:20] #1189 closed

[2019-03-10 22:59] javathought opened #1196 "WebClientSession : partial support of session and cookies"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

I tried to use WebClientSession to test OAuth with vert.x auth .

I've set this OAuth on the server
[code]

When the client calls the server, this initiates a session in a sequence of redirect , but the cookie seems to stay at the level of the inner WebClient (so not managed) and not WebClientSession until maxRedirect is reached :

[2019-03-10 23:02] tsegismont commented on #1181
Closing duplicate (implemented in #1183)

[2019-03-10 23:02] #1181 closed

[2019-03-11 07:15] vietj commented on #1196
can you make reproducer ?

[2019-03-11 09:47] tsegismont opened #1197 "GraphQL stack integration"
Some items need also backporting to 3.7

- [x] GraphHandler implementation https://github.com/vert-x3/vertx-web/pull/1183 and bf132aeb
- [x] vertx-dependencies https://github.com/vert-x3/vertx-dependencies/pull/25 and https://github.com/vert-x3/vertx-dependencies/commit/155010775a173c125e287fb590b83183b56baa37
- [x] extra doc for vertx-rx https://github.com/vert-x3/vertx-rx/pull/182 and https://gi

[2019-03-11 20:39] javathought commented on #1196
Done. It's in Kotlin :
-> run ServerTest

[2019-03-12 09:38] thomas-melusyn commented on #1197
Get messages received and sent :
[code]
 Response :
[code]
(If the person put himself in the recipient list when sending a message, the message will be both in the sent and the received lists)

[2019-03-12 15:14] arushi315 opened #1198 "Webclient does not handle redirect for POST request"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

When I get a redirect for a POST request using WebClient and I have setFollowRedirect as true, it does not make a call to the redirect location.
[code]
Expected Sequence:
POST - /originalPath   - 302 response with LOCATION header - "/redirectPath"
GET - /redirectPath - 200 response

Looking at this test as well - https://github.co

[2019-03-12 15:59] tsegismont commented on #1198
Would you mind to contribute a doc update to `vert-web-client` explaining this use case?

[2019-03-13 01:02] pradeepsixer opened #1199 "HttpServerRequest.sslSession throws exception in version 3.6.3"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

I encountered the following exception while doing `RoutingContext.request().sslSession()`:
[code]

But this is only with versions 3.6.0 and later. It works fine in 3.5.4.

### Do you have a reproducer?

https://github.com/pradeepsixer/vertx-issues

### Steps to reproduce

1. Clone the repo.
2. Run `mvn package test -U` --> fails
3

[2019-03-13 01:43] shadowbits commented on #533
@pabad will you continue to impove this feature?

[2019-03-13 08:42] vietj commented on #1199
looks like a regression in vert.x core

[2019-03-13 08:53] vietj commented on #1199
see https://github.com/eclipse-vertx/vert.x/issues/2877

[2019-03-13 09:09] vietj commented on #1199
this will be fixed in 3.7, in the mtean time the only work around is to use the peerCertificateChain if you need to access the peer certs.

[2019-03-13 09:09] #1199 closed

[2019-03-13 13:38] kingguppy opened #1200 "Handler set by ServerWebSocket#drainHandler() is never called"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

While working with a bog standard `ServerWebSocket`, I was checking `writeQueueFull()` after writing and setting a drain handler using `drainHandler()` if it returned true. I found that the drain handler was never called. I didn't look deeply, but I saw that in `Http1xServerConnection`, `responseInProgress` is always non-null, so

[2019-03-13 13:45] #1175 closed

[2019-03-13 13:49] vietj commented on #1200
thanks for reporting this, the responseInProgress should actually be null, I'm working on a fix

[2019-03-13 16:31] vietj commented on #1200
this has been fixed by https://github.com/eclipse-vertx/vert.x/issues/2879 would you mind checking on your side ?

[2019-03-13 16:31] #1200 closed

[2019-03-13 16:31] vietj commented on #1200
set as invalid as this was actually a vertx-core bug filed there and linked in this issue

[2019-03-14 12:54] TorRanfelt opened #1201 "Multipart requests without saving files to disk"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

It is only possible to use multipart requests by having BodyHandler saving the different parts to disk.

I want to use multipart request to send segregated jsons in one request (right now it is a bundled json and a hassle to split). The data is not thought of as files, no bigger than 20 KB and directly send to a database.

[2019-03-14 13:24] TorRanfelt commented on #1201
I was wrong. This works fine.

[2019-03-14 13:24] #1201 closed

[2019-03-14 14:19] tsegismont commented on #1197
All done

[2019-03-14 14:19] #1197 closed

[2019-03-14 16:38] tsegismont opened #1202 "Expose GraphiQL for development"
GraphiQL is often used in development to try schema and code changes.

It should be possible to server a GraphiQL page from the GraphQL handler via webjars and a custom webpage.

GraphiQL should be disabled by default.

[2019-03-14 16:40] rozzamozza opened #1203 "CSRFHandlerImpl implementation not Thread safe"
### Version
3.6.1
* vert.x core:
* vert.x web:

### Context

I encountered an exception which looks suspicious while ...
java.lang.ArrayIndexOutOfBoundsException: null
	at sun.security.provider.DigestBase.engineUpdate(DigestBase.java:114) ~[na:1.8.0_144]
	at sun.security.provider.SHA2.implDigest(SHA2.java:98) ~[na:1.8.0_144]
	at sun.security.provider.DigestBase.engineDigest(DigestBase.java:181) ~[

[2019-03-16 13:11] Jotschi commented on #1202
A webjar for graphiql would be great. We are currently exposing GraphiQL in Gentics Mesh via the static handler and added resources:
https://github.com/gentics/mesh/blob/98163c7027d8a706c793c639de98cda940cf8f35/verticles/graphql/src/main/java/com/gentics/mesh/graphql/GraphQLEndpoint.java#L51

[2019-03-18 10:18] slinkydeveloper commented on #1167
Here is the PR can you check it? @sfalkman https://github.com/vert-x3/vertx-web/pull/1204

[2019-03-19 11:20] #1167 closed

[2019-03-19 13:23] lukehutch opened #1205 "Session not race-free, needs atomic `putIfAbsent`"
### Version

* vert.x core: 4.0-SNAPSHOT
* vert.x web: 4.0-SNAPSHOT

### Context

`io.vertx.ext.web.Session` acts as a `Map<String, Object>`. However, the API is not race-free (and therefore is not threadsafe to use), because there is no `putIfAbsent` method. This could result in a security vulnerability, depending on how session data is used.

Ideally there would be two `putIfAbsent` methods:

*

[2019-03-21 13:50] jponge opened #1206 "Rocker template engine is not documented"
The documentation shows all template engines but Rocker.

[2019-03-21 15:24] mikakoivisto opened #1207 "Add warning to documentation about not reusing WebClient instance"
### Version

* vert.x core:
3.6.3
* vert.x web:
3.6.3

### Context

I noticed that if you are not reusing the WebClient instance it can end up using a lot of resources. So there should be a warning in the documentation to reuse the instance and not recreate it for each request.

`WebClient.create(vertx, new WebClientOptions()
            .setTryUseCompression(true)
            .setSsl(useSsl))

[2019-03-22 10:34] slinkydeveloper commented on #1016
Duplicate of https://github.com/vert-x3/vertx-web/issues/1191

[2019-03-22 10:34] #1016 closed

[2019-03-24 07:18] null-dev commented on #910
@tsegismont I'm actually running into a similar problem when using OpenAPI 3 with Vert.x Web API Contracts where I have two routes like so:

1. `/api/books/{bookId}` (where `:bookId` is an integer)
2. `/api/books/reload-books`

Route 1 is defined first and route 2 is defined second.

The problem is, when route 2 is called, Vert.x handles it as if it was a call to route 1. However, route 1 should n

[2019-03-25 07:31] slinkydeveloper commented on #910
Hi @null-dev, Vert.x Web API Contract relies on Vert.x Web Router so it applies what @tsegismont sad. Web API Contract mounts the routes in order to make possible to users to reorder it, so you should find a way to reorder it inside the document

[2019-03-25 09:16] null-dev commented on #910
@slinkydeveloper Yeah, I've currently worked around this by parsing and sorting OpenAPI document whenever the server starts.

[2019-03-25 09:19] #910 closed

[2019-03-25 10:47] #1160 closed

[2019-03-26 17:17] jakeswenson commented on #864
Assuming this is fixed and closing.

[2019-03-26 17:17] #864 closed

[2019-03-26 22:16] drakkan opened #1212 "digest auth fails with multiple verticles"
### Version

* vert.x core:
3.6.3
* vert.x web:
3.6.3
### Context

digest auth fails if nonce is generated in one verticle and the authenticated request is handled by another verticle. The generated nonces should be globally available to all verticles

### Do you have a reproducer?

Yes, please use this simple project

[digest-test.zip](https://github.com/vert-x3/vertx-web/files/3010617/digest-tes

[2019-03-27 08:20] #1206 closed

[2019-03-27 08:50] vietj commented on #1126
I tried your reproduced and the files are deleted by vertx-web when it ends.

You also mention that descriptors sometimes might be leaking and that's correct, the `handleComplete` method of `HttpServerFileUploadImpl` was not called in failure case and now it is done properly by https://github.com/eclipse-vertx/vert.x/issues/2859

I will resolve this issue, please reopen if you find that there be a

[2019-03-27 08:50] #1126 closed

[2019-03-27 09:31] #1174 closed

[2019-03-27 09:32] #1152 closed

[2019-03-27 09:48] #1093 closed

[2019-03-28 01:14] yhs0092 commented on #1126
OK, thank you  : )

[2019-03-28 09:29] TorRanfelt commented on #1185
What about changing this
``          case 401:
            String header = authenticateHeader(ctx);
            if (header != null) {
              ctx.response()
                .putHeader("WWW-Authenticate", header);
            }
            ctx.fail(401);
            return;``
to
``          case 401:
            String header = authenticateHeader(ctx);
            if (header != null) {

[2019-03-29 20:51] drakkan opened #1213 "OpenAPI3 Validation error for required binary field in multipart/form data with content type != application/octet-stream"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

Given a spec that contain a multipart form/data with a required binary field and a content type different from application/octet-stream a validation error occours

### Do you have a reproducer?

yaml

[code]

### Steps to reproduce

`curl -X POST "http://127.0.0.1:8080/multipart" -H "Content-Type: multipart/form-data" -F "type=2"

[2019-03-30 09:46] slinkydeveloper commented on #1213
Opened a pr for it, do you want to give a look? :smile: https://github.com/vert-x3/vertx-web/pull/1214

[2019-03-30 13:21] drakkan commented on #1213
It seems much better, thanks!

here are my test results:

- `contentType: application/octet-stream, text/plain` OK
- `contentType: text/*`, OK
- `contentType: text/plain` still does not work

[2019-03-30 14:13] slinkydeveloper commented on #1213
What do you mean for not working the text/plain content type? Do you mean configuring encoding as text/plain? Can you provide a reproducer for that specific case?

[2019-03-30 14:31] drakkan commented on #1213
I mean setting something like this in the spec file

[code]

and then upload files like this

`curl -X POST "http://127.0.0.1:8080/multipart" -H "Content-Type: multipart/form-data" -F "type=2" -F "name=test model" -F "file1=@testdata/classes.txt;type=text/plain" -F "file2=@testdata/test.pb"`

this will result in a validation error

`Error during validation of request. Parameter \"file1\" inside bo

[2019-04-01 08:42] slinkydeveloper commented on #1213
@drakkan I'm not able to reproduce the bug, look at this test i updated in pr #1214: https://github.com/vert-x3/vertx-web/blob/b48ceb5b6e375b84f81c9a270df6cc7796427d82/vertx-web-api-contract/src/test/java/io/vertx/ext/web/api/contract/openapi3/OpenAPI3ValidationTest.java#L436 and the contract https://github.com/vert-x3/vertx-web/blob/b48ceb5b6e375b84f81c9a270df6cc7796427d82/vertx-web-api-contract/

[2019-04-01 08:51] drakkan commented on #1213
thanks, the only differences on my side are these one:

[code]
and the parameters must have required true too

[code]

if I make the parameters not required it works even without the patch. This is the actual workaround in my app (I do the validation myself).

Maybe I'm doing something wrong on my side, I'll retest later today,

meantime thanks for your quick response and fix!

[2019-04-01 21:52] drakkan commented on #1213
I just applied the patch against 3.7 branch and executed `mvn test` all OpenAPI3 tests passed.

Then I changed src/test/resources/swaggers/multipart.yaml and in /testMultipartWildcard I replaced:

[code]
with
[code]

the csv test should now fail so I did this change

[code]

now tests fails

[code]
at line 967 there is the text/plain test

` testRequestWithMultipartForm(HttpMethod.POST, "/testMult

[2019-04-02 08:31] slinkydeveloper commented on #1213
Thank you for the detailed report i will investigate more

[2019-04-02 14:12] AbriTj opened #1217 "Vert.x Web KeycloakAuth OAuth2Auth auth handler and BodyHandler can't be used together"
### Version

* vert.x core: 3.6.2
* vert.x web: 3.6.2

### Context

Hi there.

I may be doing something silly here but I can't seem to get the KeycloakAuth OAuth2Auth Auth handler and the Vert.x Web BodyHandler to play together nicely.

I am using Vert.x 3.6.2 and I have setup my Router as follows:
[code]
Form the exception it appears the the Auth handler reads body which prevents the BodyHandler

[2019-04-02 20:14] tsegismont opened #1218 "Missing GraphQL examples"
Stack modules should have a couple of examples in the `vertx-examples` repo.

[2019-04-03 11:32] adamdickmeiss commented on #1130
3.7.0 is out and I don't see this has been reverted. Does that mean we won't see a fix going forward?

[2019-04-03 11:42] vietj commented on #1130
this has been reverted

https://github.com/eclipse-vertx/vert.x/issues/2852 <https://github.com/eclipse-vertx/vert.x/issues/2852>

[2019-04-03 12:05] adamdickmeiss commented on #1130
Good. Not quite as 3.5. If endHandler is called after resume, there's still a problem (Request has already been read). But that is easy to fix.

[2019-04-03 14:10] vietj commented on #1130
ah ok, you mean that a racy endHandler call should not throw an `IllegalStateException` ?

[2019-04-03 14:15] vietj commented on #1130
have you checked by the way the new Pipe API in 3.7 ?

[2019-04-03 14:24] adamdickmeiss commented on #1130
Haven't checked it.. I guess I should. As for the endHandler.. If we just ensure to set it in paused state, it's fine.  If we set it in resumed state (and the request body is empty?) we get the illegal state. (proper order fixes it).

[2019-04-03 14:39] vietj commented on #1130
you will get an exception if you set an endHandler and the request is ended.

if you pause the stream immediately then it will prevent the request to end now.

also we have a new Pipe API that makes this kind of things easier in 3.7 that you can look at.

[2019-04-03 22:15] chefhoobajoob commented on #1170
If the `CorsHandler` origin pattern is `*`, and `allowCredentials` is `true`, why doesn't `CorsHandler` just echo back the received `Origin` value, as described in the last paragraph of [this section](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSNotSupportingCredentials#What_went_wrong), instead of throwing an exception? If the service implementation is willing to accept any o

[2019-04-04 06:39] AbriTj commented on #1217
I was being silly. The cookie and session handlers need to be on the router before the callback handler e.g.:

[code]

Closing issue

[2019-04-04 06:39] #1217 closed

[2019-04-04 08:12] fishjam commented on #935
@vietj
I have the same issue, and I can reproduce this by following two methods:
- 1. On windows: you can use telnet <IP> <Port> , connect to the server, intput any text and enter, then reproduce it.
 - 2. On Linux: use nc <IP> <Port> and send GET / (without the version)
[code]

I think netty throw exception is OK, and we can handle this exception in [HttpServer.exceptionHandler](https://github.co

[2019-04-04 08:58] vietj commented on #935
@fishjam do you mean that the issue is fixed in 3.7.0 ?

[2019-04-04 09:48] pmlopes commented on #1212
The issue is that `digest` requires keeping a map of `nonces` however the map is an instance variable not a shared data map, so when we roundrobin the nonces are mostly never correct as we look on the wrong instance.

[2019-04-04 09:50] pmlopes commented on #1212
@drakkan in order to correctly fix this I'll need to change the factory method signature to take the vertx instance object. Which means it will be a breaking change. Can you hold to use a single instance until we release 4.0?

[2019-04-04 09:59] fishjam commented on #935
@vietj no. It seems some try catch code handle it but not report it.

[2019-04-04 10:03] drakkan commented on #1212
@pmlopes no problem, in my app I use my own auth class since I need digest authentication with database users and I fixed this issue  using a global static hash map of nonces with synchronized getter/setter.

I'm curious to see your implementation to learn how to proper use vertx shared data when concurrent access is needed (think about two different verticles/threads that add a nonce to the globa

[2019-04-05 09:05] slinkydeveloper commented on #1213
Okay I finally reproduced it, I'm on it ;)

[2019-04-05 10:18] slinkydeveloper commented on #1213
@drakkan can you check again the pr? The problem was about wrong inference of form attribute/file upload. In the PR I updated the documentation too to explain it

[2019-04-05 21:30] drakkan commented on #1213
@slinkydeveloper it works fine now, grazie!

[2019-04-06 15:36] drakkan opened #1219 "OpenApi 3 multipart form validation and integer enum"
### Version

* vert.x core:
3.6.3
* vert.x web:
3.6.3
### Context

if a multipart form contains an enum such as this one:

[code]

initial validation will fail with this exception

[code]

changing the type from integer to string is enough to workaround the issue

### Do you have a reproducer?

try a spec like this one:

[code]

### Steps to reproduce

1. simply start the vertx project with a spec

[2019-04-08 08:29] u3r commented on #1130
@vietj
This still does not work as expected - what is the correct way to implement the following functionality with 3.7?

Given: Multiple routes for one url (chained):
1. Route: Do authentication (This Handler pauses and resumes the readstream as there are some "long" running operations here)
2. Route: Body-Handler (using a fairly standard body handler `io.vertx.rxjava.ext.web.handler.BodyHandler.

[2019-04-08 09:07] slinkydeveloper commented on #1219
Can you look at PR: https://github.com/vert-x3/vertx-web/pull/1220

[2019-04-08 11:14] vietj commented on #1130
can you provide a full reproducer project ?

[2019-04-08 12:09] vietj opened #1221 "SockJSSocket: disable writeHandler by default"
Currently the `SockJSSocket` registers an event bus consumer to implement the `writeHandlerID` header. This is similar to `WebSocket` and `NetSocket` that do provide the same feature, however those use a local consumer.

This should be changed to use a local consumer as well.

[2019-04-08 12:09] vietj commented on #1221
@pmlopes @tsegismont what's your opinion on this ?

[2019-04-08 13:40] pmlopes commented on #1212
It needs to go with 4.0.0 as it break the API. This PR works with @drakkan demo.

[2019-04-08 16:42] drakkan commented on #1212
It works fine, thanks!

[2019-04-08 17:18] drakkan commented on #1219
This does not seems to work for me, the expection line numbers changed a bit but the exception is still here

[code]

please try this sample project

[openapi-validation.zip](https://github.com/vert-x3/vertx-web/files/3055506/openapi-validation.zip)

adjust the dependencies in pom.xml and simply start the project using

`sh redeploy.sh`

If I correctly applied the patch, you should also get the ab

[2019-04-08 17:26] guss77 opened #1224 "Using SockJSSocket.write(String) sends a binary message to raw WebSocket client"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

When implementing a `SockJSHandler`, and using the `write(String)` method of the `SockJSSocket`, a raw WebSocket client receives a binary message - the same as when using the `write(Buffer)` method.

Due to the fact that both methods exist, it seems to be expected that the `String` accepting method will result in sending of a text

[2019-04-08 19:10] kurt-o-sys opened #1226 "docs for jwt auth in vertx-web"
### Version

* vert.x web: 3.7.0 (and 3.6.x and possibly others)

### Context

Documentation unclear for JWT Authentication with vertx web.

### Do you have a reproducer?

See https://groups.google.com/forum/#!topic/vertx/930rLoNNwc8

### Steps to reproduce

Just follow the documentation, and it won't work. There is extra installation necessary for JWTAuth.

### Extra

Provide enough information (

[2019-04-09 09:35] vietj commented on #1224
what's your take on this @pmlopes ? I think that SockJS has to use binary messages right ?

[2019-04-09 09:39] vietj commented on #1224
it seems that we should always use text instead of binary for WebSocket transport according to https://github.com/sockjs/sockjs-protocol/issues/92

[2019-04-09 09:41] vietj commented on #1221
I think this should be configurable ?

[2019-04-09 09:42] vietj commented on #1221
my point is that inside Vert.x websocket/netsocket use local consumer.

as you said, this feature is nothing but complicated to do yourself too.

I don't want to create regressions either if people are using too...

[2019-04-09 12:51] nevenr commented on #731
Hi,

small update:
[code]
working just fine.

Regards,
N.

[2019-04-09 13:04] ProgMaq opened #1227 "Web API Service with binary data"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

If I try to send binary data by using the Web API Service, the data will end up corrupting.

### Do you have a reproducer?

[code]

### Steps to reproduce

1. Create a definition in OpenAPI that returns a binary file.
2. Create the service and implementation as described above.
3. Execute and get an answer, instead of a byte it wi

[2019-04-09 13:14] sfitts commented on #1221
Making it configurable makes sense.

[2019-04-09 15:25] vietj opened #1228 "Raw SockJS transport should write text frame when sending a text message"
Currently

- the `WebSocketTransport` mounted on _/*/*/websocket_ (see http://sockjs.github.io/sockjs-protocol/sockjs-protocol-0.3.3.html#section-50) actually implements SockJS protocol and writes text frames as the SockJS protocol designates
- the `RawWebSocketTransport` mounted on _/websocket_ is raw WebSocket (as the name says) and uses binary frames for both `write(String)` and `write(Buffer)`

[2019-04-09 18:43] StephenOTT commented on #1146
Are you saying where this code would go?

[2019-04-09 20:14] vietj commented on #1146
why is this necessary ?

[2019-04-09 20:15] vietj commented on #1146
for web session ?

[2019-04-09 20:20] vietj commented on #1130
a reproducer with rx has been posted there https://github.com/vert-x3/vertx-rx/issues/191 @u3r

[2019-04-09 20:22] StephenOTT commented on #1146
Which part?  The reason for sending the headers is defined in original issue text. The ability to send headers into verticle config or through event bus. In the default setup it cannot be serialized into json as per the issue outlined.

[2019-04-09 21:39] vietj commented on #1146
ok, I think then it would be better to be java serializable than Jackson serializable, as we want to decouple from jackson

[2019-04-10 08:35] dankristensen opened #1230 "Missing override of getMessage in ValidationException"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

ValidationException should override getMessage(), and return the proper errormessage.
Currently when adding a handler to a router like this:
                .handler(HTTPRequestValidationHandler
                        .create()
                        .addHeaderParamWithPattern(HttpHeaders.ACCEPT.toString(), "application\\/(json|

[2019-04-10 08:53] StephenOTT commented on #1146
If you are decoupling from Jackson, are you transitioning to using serializable as the default data format for the bus and config?  Any blog or write up on this decoupling?

[2019-04-10 09:13] vietj commented on #1146
it is for vert.x 4, actually the event bus has its own serialisation mechanism which is used for Buffer, we could have an event bus serializer for MultiMap as well

[2019-04-10 09:14] vietj commented on #1146
that being said Jackson will still be used in Vert.x 4, but we don't want to expose Jackson APIs or make it mandatory.

[2019-04-10 14:02] leolux opened #1231 "Can't add static handler to a route with path parameters"
* vert.x core: 3.7.0
* vert.x web:3.7.0

I have setup a short reproducer which shows the issue:
https://github.com/leolux/vertx-pathparam-issue

You can use the Boolean flag "enableBug" to switch the bug on or off:
`pathWithBug = "/sub/:appName/*";`
`pathWithoutBug = "/sub/myApp/*";`

When "enableBug" is set to true the request to http://localhost:8111/sub/myApp/assets/bug-fixed.png leads to 404.

[2019-04-10 14:33] seanfisk opened #1232 "RFC 6265 states only one Cookie header is allowed"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

[RFC 6265, Section 5.4](https://tools.ietf.org/html/rfc6265#section-5.4) states:

However, [`SessionAwareInterceptor`](https://github.com/vert-x3/vertx-web/blob/3.7.0/vertx-web-client/src/main/java/io/vertx/ext/web/client/impl/SessionAwareInterceptor.java#L58) is coded in such a way that multiple Cookie headers will be added when

[2019-04-10 15:43] seanfisk commented on #1232
It's also worth noting that [HTTP/2 allows multiple Cookie headers](https://tools.ietf.org/html/rfc7540#section-8.1.2.5). I have created this issue specifically for HTTP/1.1.

[2019-04-11 08:19] #1227 closed

[2019-04-11 08:21] #1230 closed

[2019-04-11 08:29] #1219 closed

[2019-04-11 10:02] #1228 closed

[2019-04-11 13:53] violette opened #1235 "Question about Netty 4.1.34.Final"
Hello,

Our application is built on top on vertx-web (3.6.0) and dockerized and we have some
warnings when the application is starting in the container (with jdk11)
[code]

I added a comment to [Netty Community](https://github.com/netty/netty/issues/9016) but they said these warnings were fixed in 4.1.34.Final but vertx-web 3.6.0 and 3.7.0 embeds Netty 4.1.30.Final
(According to https://github.com

[2019-04-11 18:43] vietj commented on #1235
yes we plan to update, we target hope 3.7.1

[2019-04-11 18:44] #1235 closed

[2019-04-11 18:44] vietj commented on #1224
see https://github.com/vert-x3/vertx-web/issues/1228

[2019-04-11 18:44] #1224 closed

[2019-04-11 21:07] vietj commented on #1235
Hi,

we target 3.7.1 for this upgrade.

Julien

[2019-04-12 06:48] violette commented on #1235
Thanks Julien!

[2019-04-12 08:36] pmlopes commented on #1232
I understand the case, but i'm not sure how to fix this, if we enforce the policy (which is what we should to be spec compliant) we are taking the risk of breaking lots of apps who use multiple cookies and I can imagine, a cookie for session and another cookie for CSRF requests... Maybe a configuration flag? that will enable strict RFC mode?

if HTTP/1.1 then just 1 cookie, which one? the first? s

[2019-04-12 12:41] seanfisk commented on #1232
@pmlopes Ah, I was unclear — we can still support multiple cookies! It is possible to encode multiple cookies in one header. Netty already supports encoding this format, and all HTTP/1.1 servers should support receiving this format. [Here is what the RFC has to say about the syntax](https://tools.ietf.org/html/rfc6265#section-4.2.1).

Here is an example that I just copied from my network traffic f

[2019-04-12 12:42] TorRanfelt opened #1237 "How to return circumstances for failure during authenticate?"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

What is the correct vertx way to return circumstances for failure during authenticate in an AuthProvider instance?

The obvious way doesn't work since anything returned gets overridden: https://github.com/vert-x3/vertx-web/issues/1185

[2019-04-13 18:17] leolux commented on #1231
Is the static handler supposed to work on routes with path parameters`?

[2019-04-15 09:47] slinkydeveloper commented on #1146
In Vert.x 4 we can create a codec for `MultiMap` and provide an implementation like this https://github.com/vert-x3/vertx-web/blob/master/vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/OperationResponse.java#L32

[2019-04-15 10:47] shysnail opened #1238 "deadlock in eventloop"
### Version

* vert.x core:3.5.1~3.5.3 ,3.6.3, 3.7.0
* vert.x web:

### Context

deadlock happends when I use build a gateway with vertx。
process is as follow：
step 1. I open a listener to accept http requests
step 2.I use HttpClient in vertx to request to real server
step 3. forward response to client。

the step2 code section like this：

`// I got clientRequest and clientResponse now

HttpClientR

[2019-04-15 10:58] slinkydeveloper commented on #1231
@leolux why do you need to use static handler with path parameters? Why not just `"/sub/*"`?

[2019-04-15 11:16] pmlopes commented on #1232
I think this would be good, please make a pull request!

[2019-04-15 12:58] slinkydeveloper commented on #1205
We can target it for 4.0 and add `putIfAbsent` and the more generic `merge`, @pmlopes wdyt?

[2019-04-15 13:08] leolux commented on #1231
Because I like to add the static handler on demand. When a new app gets added to "/sub/newApp"I like the static handler to be added for this route. Maybe the static handler is not supposed to work on path parameters. What do you think?

[2019-04-15 13:18] #1231 closed

[2019-04-15 13:52] slinkydeveloper commented on #1185
PR: #1239

[2019-04-15 13:59] slinkydeveloper commented on #1237
Closes as related to #1185

[2019-04-15 13:59] #1237 closed

[2019-04-15 15:14] seanfisk commented on #1232
@pmlopes Thank you; will do!

[2019-04-15 15:14] slinkydeveloper commented on #1124
@oualidbouh you should be able to use [get method](https://vertx.io/docs/apidocs/io/vertx/ext/web/client/WebClient.html#get-int-java.lang.String-java.lang.String-). Can we close it?

[2019-04-15 15:30] oualidbouh commented on #1124
@slinkydeveloper  Yes sure :)

[2019-04-15 15:57] #1124 closed

[2019-04-15 17:00] slinkydeveloper commented on #1048
I close as this is a non issue but a discussion

[2019-04-15 17:00] #1048 closed

[2019-04-15 17:15] slinkydeveloper commented on #1039
I close as this is a conversation. If you need, reopen it

[2019-04-15 17:15] #1039 closed

[2019-04-15 17:17] #1026 closed

[2019-04-15 17:21] slinkydeveloper commented on #901
I close because the discussion is inactive, if you need reopen it

[2019-04-15 17:21] #901 closed

[2019-04-16 08:23] #1226 closed

[2019-04-16 08:23] slinkydeveloper commented on #1226
Added in 3.7.1

[2019-04-16 08:38] slinkydeveloper commented on #1118
Have you tried to update to 3.7?

[2019-04-16 09:04] vietj commented on #1146
EventBus uses Java serialization and not json, so why this discussion relates to JSON ?

[2019-04-16 09:09] vietj commented on #1238
this seems related to the fact that the HttpClientResponse buffer handler is called under synchronisation and it should not, I will create an issue and fix it in vertx-core

[2019-04-16 09:53] slinkydeveloper commented on #1146
The problem is encoding/decoding to JSON object to add it to JSON configs or send through the event bus. JSON encode/decode seems a more general solution for this problem

[2019-04-16 16:02] vietj commented on #1146
sure @slinkydeveloper that being said I don't want to turn every object in Vert.x into json encoding/decoding (at least in the vertx project)

In addition this issue mentions issues with the Event Bus serialisation, not general JSON serialisation as far as I could read.

[2019-04-17 05:18] shysnail commented on #1238
also reproduced on 3.6.3, using ab test

[2019-04-17 08:29] vietj commented on #1238
see https://github.com/eclipse-vertx/vert.x/issues/2916

[2019-04-17 09:27] slinkydeveloper commented on #1170
@yorffuoj After some testing i found that cors handler is not compatible with sockjs handler. You can't configure the cors policies in sockjs because of sockjs protocol itself. So removing the cors handler will solve the issue and the sockjs will automatically adjust the cors settings

[2019-04-17 09:27] slinkydeveloper commented on #1170
@chefhoobajoob it's not related to this issue, please open another one

[2019-04-17 09:51] #1238 closed

[2019-04-17 11:11] slinkydeveloper commented on #1005
For the first question: just make MyFile a singleton or a class with all static methods
For the second question: verticles are designed to be deployable independently and they can cooperate through the event bus, so It's just a design choice you should do.
Next time you need to open some design questions can you write a mail in https://groups.google.com/forum/#!forum/vertx?

[2019-04-17 11:11] #1005 closed

[2019-04-17 11:25] slinkydeveloper commented on #983
`getAcceptableContentType()` returns the most accettable

[2019-04-17 17:31] tsegismont opened #1246 "Document WebEnvironment"
The Vert.x Web Environment switch is very handy but is not documented.

We need a section in Vert.x Web documentation.

[2019-04-17 20:32] tsegismont commented on #1202
@Jotschi I sent a PR today (#1247). Would appreciate if you could have a look. Thanks

[2019-04-18 14:23] tcompiegne commented on #1037
Hey guys, just updated to Vert.x 3.7 and it seems that there is a missing part to this fix just here :

https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/SessionHandlerImpl.java#L234

The restore cookie action, set the default `/` cookie path again.

Regards

[2019-04-18 18:11] #1218 closed

[2019-04-18 19:03] jphorx opened #1249 "OpenAPI3RouterFactory does not support both oneOf and properties"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

Issue is that references aren't being resolved because "else if" is used and "oneOf" pre-empts "properties" which actually has the $ref.

### Do you have a reproducer?

* see steps below

### Steps to reproduce

Given the attached
[test.zip](https://github.com/vert-x3/vertx-web/files/3095861/test.zip) test.yaml spec:

The followin

[2019-04-19 06:18] slinkydeveloper commented on #1249
As workaround now you can do:
[code]

And it should work

[2019-04-23 09:39] #1202 closed

[2019-04-24 07:26] #1207 closed

[2019-04-24 15:20] bulivlad commented on #1168
This issue is still happening in v3.7.0. Did the Pull Request made the cut ?

[2019-04-24 19:42] vietj commented on #1168
actually it was merged in master but not backported to 3.x branch

[2019-04-24 19:47] vietj commented on #1168
I will backport now for 3.7.1

[2019-04-25 12:51] drakkan opened #1251 "pebble template engine and vert.x JsonObject/JsonArray"
### Version

* vert.x core: 3.7.0
* vert.x web:3.7.0

### Context

using vert.x JsonObject/JsonArray in pebble templates require something like this

`jsonObject.map['property']` or `jsonArray.list[index]` to retrieve the values to render in the template:

https://github.com/PebbleTemplates/pebble/issues/258

I think a nice improvement would be to extend the pebble .attribute access in vert.x pebb

[2019-04-25 13:31] pmlopes commented on #1251
@drakkan  would you like to make a pull request to support this?

[2019-04-25 19:52] jphorx opened #1252 "RouterFactoryException when OperationId is not specified"
### Version

* vert.x core: 3.6.3
* vert.x web: 3.6.3

### Context

Given a spec that does not specify an operationId, the generated MainVerticle code will provide a "made up" operationId that can not be resolved by the OpenAPI3RouterFactory at runtime.

### Steps to reproduce

For the given test.yaml, the generated MainVerticle references an operation "postSmPolicies", but the operations map cont

[2019-04-25 22:04] drakkan commented on #1251
@pmlopes

basically we need to create an AttributeResolver like this one

[code]

and an extension like this one:

[code]

Then this line

https://github.com/vert-x3/vertx-web/blob/master/vertx-template-engines/vertx-web-templ-pebble/src/main/java/io/vertx/ext/web/templ/pebble/impl/PebbleTemplateEngineImpl.java#L42

should be changed to:

`this(new PebbleEngine.Builder().loader(new PebbleVertxLoad

[2019-04-26 06:35] slinkydeveloper commented on #1252
Hi, vertx-starter is a community project not strictly related to vertx-stack. vertx-web-api-contract by design requires an operation id. The OpenAPI specification don't require it as . What we can do is generate in vertx-starter an openapi.json with inferred operationId. Please open an issue on vertx-starter for it

[2019-04-26 06:35] #1252 closed

[2019-04-26 09:54] Xr17 commented on #1041
Hello,

We are issuing the same problem after migrating to newer version of vert.x (> 3.5.0)
Did you found any workaround?

We currently need to call some api : xxxxxx/xxxx/fileAttachment?download
This issue is causing us not to be able to call it anymore.

Thanks

[2019-04-29 07:34] #1170 closed

[2019-04-29 07:37] pmlopes commented on #1251
@drakkan yes please. Also add a simple test verifying this too. Thanks!

[2019-04-29 12:25] Jofairden opened #1254 "vertx-web-graphql docs are broken"
Topic: https://vertx.io/docs/vertx-web-graphql/kotlin/

The following things are broken:
`"Code not translatable"`
see
- Building a GraphQL server
- Fetching data with callback-based APIs
- JSON data results
- Using dataloaders

The link in the tip at the top of the article is broken:
`https://www.graphql-java.com/documentation/$%7Bgraphql.java.doc.version%7D/`
Results in: 404
Look at the link, it

[2019-04-29 16:24] tsegismont commented on #1254
Thanks for pointing this out @Jofairden

I'll look into it. We use our own code snippet translator and it doesn't support some constructs.

[2019-04-30 06:57] #1203 closed

[2019-04-30 07:25] Jofairden commented on #1254
Thx a lot @tsegismont . I look forward to it as I'm wanting to use graphql in my organization's app :)

[2019-04-30 07:58] tsegismont commented on #1254
@Jofairden in the meantime, you can do with the Java documentation: https://vertx.io/docs/vertx-web-graphql/java

[2019-05-01 10:46] drakkan commented on #1251
pull request #1255 please let me know what do you think about, thanks

[2019-05-01 11:14] #983 closed

[2019-05-01 12:11] pmlopes commented on #1251
Fixed by #1255

[2019-05-01 12:11] #1251 closed

[2019-05-01 12:13] #1123 closed

[2019-05-01 12:14] #1185 closed

[2019-05-01 12:57] juddgaddie commented on #1123
Much appreciated.

[2019-05-01 13:05] gentritgojani opened #1257 "routingContext.request().resume() ends current request"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

When using routingContext.request().pause() and routingContext.request().resume() I'm getting "Request has already been read" exception. When using vert.x 3.5 it is working fine.

### Steps to reproduce

Here is my AuthHandler which is the first hander in my Router. It checks if there is a valid session and if yes it calls routing

[2019-05-01 13:55] pmlopes commented on #1257
This issue is not related to web but to https://github.com/eclipse-vertx/vert.x/ could you open the issue there instead?

[2019-05-01 14:39] gentritgojani commented on #1257
@pmlopes I just opened it, closing it here.

[2019-05-01 14:39] #1257 closed

[2019-05-01 17:42] drakkan opened #1258 "CSRFHandler error page"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

CSRFHandler allows to set response body for the forbidden error case but it does not allow to set Content-Type so if you set an html response body it will not display correctly in browsers it appears as text and not as html

https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/CSRF

[2019-05-01 19:26] pmlopes commented on #1258
I think probably we should just call fail with error 403 and let the error handler render the right response. this way all error related code is done in a single place wdyt?

[2019-05-02 06:44] drakkan commented on #1258
403 is good if there is a specific expection. I want to render a different page for CSRF error and generic 403 errors that I throw in my app if the user has no permission to see a page. For example OpenAPI3, if validation fails, throws 401 and ValidationException. This way I can properly manage validation errors in my generic 401 handler. Do you agree?

[2019-05-02 14:14] pmlopes commented on #1258
@drakkan yes, something like:

[code]

So it can be handled either as 403 or be handled specifically as a CSRF validation failure.

[2019-05-02 14:48] slinkydeveloper opened #1260 "Url templating in web client"

[2019-05-03 07:37] slinkydeveloper commented on #1110
Both Route and Router implementations are thread safe. However you should not share the Router by the nature of Vert.x verticles, however you will face with thread safety problems of your handlers. Verticles are not meant to share memory. You should create a new Router on each verticle

[2019-05-03 07:37] #1110 closed

[2019-05-03 09:10] slinkydeveloper commented on #1184
Maybe I don't understood your problem, but what if you try to rename your templates from "index.html" to "index.html.hbs"? So you can easily support different extensions, like "index.html.hbs", "index.js.hbs", etc

[2019-05-03 09:20] slinkydeveloper commented on #1122
Sounds interesting. Are you willing to contribute?

[2019-05-03 09:22] slinkydeveloper commented on #1122
More than making replyError protected, it should add to error object the error string as "message" key, more than "body" key

[2019-05-03 09:33] #709 closed

[2019-05-03 09:42] slinkydeveloper commented on #676
We already have session headers, there is something else that you mean? Does this issue still have some relevance?

[2019-05-03 10:03] slinkydeveloper commented on #653
PR https://github.com/vert-x3/vertx-web/pull/1261

[2019-05-03 10:39] #1114 closed

[2019-05-03 12:11] slinkydeveloper commented on #1041
There is an open pr that should be solve also this issue https://github.com/vert-x3/vertx-web/issues/1041

[2019-05-03 12:31] slinkydeveloper commented on #991
This is probably a duplicate of https://github.com/vert-x3/vertx-web/issues/1041

[2019-05-03 13:15] slinkydeveloper commented on #991
PR #1263 could solve that issue?

[2019-05-03 13:26] slinkydeveloper commented on #991
This should be solved by https://github.com/vert-x3/vertx-web/pull/1263

[2019-05-03 13:37] drakkan commented on #1258
please take a look at #1264 thanks!

[2019-05-03 14:04] stephanebastian commented on #868
Hi Paulo,
Sorry to resurrect an old thread but I am not sue I understand the workaround.

A couple of questions:
- With the proposed workaround, it means that we can't rely on the SessionHandler anymore. Am I correct ?
- How would you ensure that sessions are written? I mean a solution that would not impact and badly hurt performance by reading the session store or anything like that.

The more I

[2019-05-06 04:26] #1041 closed

[2019-05-07 02:25] devefx opened #1268 "WebClient request body size is greater than 107 bytes"
### Version

* vert.x core:3.7.0
* vert.x web:3.7.0

### Context

When using WebClient to send a request, it will not respond if the data sent exceeds 107 bytes, and it will receive an ConnectTimeout error if timeout is set

### Do you have a reproducer?

[code]

[2019-05-07 02:26] devefx commented on #1268
.put("trackingChain", "12345")

System.out.println(jsonObject.toBuffer().length());  // 108 bytes, will don't work

[2019-05-07 07:26] tsegismont commented on #1268
Can you also paste the server code and the output? Thank you

[2019-05-08 02:41] devefx commented on #1268
The server did not receive this request

[2019-05-08 03:44] devefx commented on #1268
You can see https://github.com/devefx/vertx-example

1.  run my-server/ `org.devefx.server.MyServerApplication.java`
2. run my-client/ `org.devefx.client.MyClientApplication.java`

[2019-05-08 10:23] devefx commented on #1268
@vietj Can you tell me a quick solution?

[2019-05-08 12:13] slinkydeveloper opened #1515 "vertx-web-openapi Stack integration"
- [x] Merge initial work https://github.com/vert-x3/vertx-web/pull/1516
- [x] vertx-stack-depchain https://github.com/vert-x3/vertx-stack/pull/97
- [x] Docs to web site
- [x] Langs prs
- [ ] Example in vertx-examples

[2019-05-10 09:42] slinkydeveloper opened #1269 "Allow ChainAuth to define and relationships on auth handlers"
Links to #1036

[2019-05-11 15:45] wyl0706 opened #1270 "How to add a ChannelHandler in vertx-web?"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

In my company, a project must have standard components of the company. This component can be started with tomcat\jetty\netty. When starting with netty, you must add a ChannelHandler. Like:
[code]

Can I add a ChannelHandler when I use vertx-web to create an HttpServer?
Look forward to your kind advice.

[2019-05-12 23:22] rapatao commented on #1184
I think you understood the problem and your solution works but the problem is in the docs that says that the Handlebars engine will use my extension if specified in the filename and it is not true or maybe I understood wrong.

"When using the Handlebars template engine, it will by default look for templates with the .hbs extension if no extension is specified in the file name."

Anyway, for your s

[2019-05-13 00:22] okou19900722 commented on #1270
you can join QQ group(515203212) for more help

[2019-05-13 11:41] slinkydeveloper commented on #1184
Would you like to contribute to the docs explaining that thing?

[2019-05-13 15:29] #704 closed

[2019-05-15 16:03] dkulig commented on #523
@pavolloffay I'd love to hear any update on tracing in Vert.x

[2019-05-17 08:21] aygalinc opened #1273 "Performance issue With File Upload"
_### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

I work on a two core ARM architecture and with the Azul VM.
I spawn a webserver and attach a BodyHandler on a post route in order to handle a File Upload multipart request.

I used postman to produce successive request (not concurrent) and I encounter some critical performance issue when I try to upload file larger than 70 Mb. (t

[2019-05-17 23:24] VictorQRS commented on #460
@pmlopes I've noticed that on yoke's implementation, the overriding method can be retrieved from the body of the request, but @brunoais feature request states `it will read the X-HTTP-METHOD-OVERRIDE header and, if it exists, will reroute with the new method read from the header.`. Should I bring yoke's functionality to this feature as well?

[2019-05-17 23:25] VictorQRS commented on #460
Also, I'm implementing the **never downgrade guarantees** policy mentioned above, but since yoke does not do such validation and it might be something the developer want to control, then I'm also adding a flag to bypass the policy. Is this OK with you/vertx-web?

[2019-05-17 23:25] VictorQRS commented on #460
Another thing to add is that I have not found a way to change the HTTP method of io.vertx.core.http.HttpServerRequest. It only have `method()`, but no `setMethod`. Is there any other way to do that or a PR in vertx-core might be in order?

[2019-05-18 06:20] pmlopes commented on #1273
The BodyHandler uses the async API so I don't think tunning the thread pool will give much performance. It does make use of many buffers so it can be related to the available RAM.

Can you detail more about this machine, 2 cores and how much RAM? perhaps if we can force it down on the dev environment we can get to reproduce it...

[2019-05-18 07:05] pmlopes commented on #460
The current way to change the method is by calling `reroute()` which probably is what we want as we might want to do as we might have missed some handler due to the original method, which means that this handler might be called again so it must be skipped if the method is already the right one.

Regarding the downgrade safety i think yoke isn't correct (it didn't follow the recommendations)

[2019-05-18 07:38] brunoais commented on #460
Wow... I forgot about this issue.... I stopped using vert.x (work issues. vert.x is awesome) and, with it, I forgot I had this in my backlog.... Thanks for picking it up, @VictorQRS

[2019-05-18 12:31] VictorQRS commented on #460
@pmlopes Ok, I will call `reroute()` and implement the downgrade safety, but should I remove the flag to control this safety? Perhaps,  I should only add when this feature is requested.

And what about getting the method from the body (as yoke do)? Should I add it as well, or leave for another time?

[2019-05-18 12:32] VictorQRS commented on #460
@brunoais No problem, it is my pleasure to help such an awesome project.

[2019-05-18 13:03] pmlopes commented on #460
I'd say that if the test current context method is equal to the header then call context next as that will prevent going into infinite loop and reroute should work.

and let's ignore looking up the method from the body, I think just the header is good enough and the common way this feature is used.

[2019-05-18 14:16] brunoais commented on #460
In the best case, I would allow overriding the method as a query param. I agree with @pmlopes that getting it from the entity is a "bag of worms" that is not worth to get into.

BTW, for when the downgrade is rejected, I'd return a `405` but a `400` is also valid. As for the entity in the answer, I'd try to adjust according to the `Accept` header. Maybe `XML`, `JSON` and `HTML` responses should be

[2019-05-18 14:28] aygalinc commented on #1273
I will be back with the number as soon as possible.

What I constat with a JVM profiler is that when the first request hits the Http server, the worker pool is instanciated and it handles some of the work.
After go a little bit far in vertx implementation, I see that at some point we instantiate an AsyncFileImpl and it needs the worker pool :

[code]

[2019-05-18 18:10] pmlopes commented on #1273
@vietj do you know why `AsyncFileImpl` uses the worker pool out of your head?

[2019-05-19 06:31] vietj commented on #1273
@pmlopes yes it actually requires a thread pool because the Java implementation uses `AsynchronousFileChannel` which requires a pool

[2019-05-19 06:33] vietj commented on #1273
so it's more a JVM defect than a Vert.x one

[2019-05-19 10:47] aygalinc commented on #1273
So you think that the main reason is that the RAM is ehausted by such file tranfer ?

And I see in vertx impl that you use your own netty File upload impl, why do you not rely on netty DiskFileUpload ? Is it because it relies on java.io lib ?

[2019-05-19 14:45] vietj commented on #1273
the internal NettyFileUpload implementation does not store data in memory fully, it delegates to a  data handler that handles the buffer of the file upload that is on `HttpServerRequest` (`uploadHandler`), so it lies on the upload handler set on the `HttServerRequest`.

[2019-05-19 14:46] vietj commented on #1273
we rely on this custom upload handler in order to propagate the back pressure of `HttpServerFileUpload` to the actual file upload decoder  (i.e you can pause/resume `HttpServerFileUpload`)

[2019-05-20 06:58] aygalinc commented on #1273
The hardware description of my use case is :
- Dual Cortex A7 Core 32 bits
- 258 Mo of RAM

[2019-05-20 17:30] pavolloffay commented on #523
Yes, the tracing SPI has been merged to the core

* https://github.com/eclipse-vertx/vert.x/tree/master/src/main/java/io/vertx/core/tracing
* https://github.com/eclipse-vertx/vert.x/tree/master/src/main/java/io/vertx/core/spi/tracing

Here is an example implementation of the SPI for OpenTracing and zipkin https://github.com/vietj/vertx-tracing/pull/1. That project will be probably moved under vert

[2019-05-21 09:43] Warkst opened #1274 "Unclear error message"
I struggled setting up a basic authentication example because the error message wasn't pointing me in the right direction:

https://github.com/vert-x3/vertx-web/blob/8c71c70a4f397f6cca1ef7f683d5655bef8282c4/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/FormLoginHandlerImpl.java#L86

Only by debugging I found that the issue was not that a `BodyHandler` was missing (as the error message sugg

[2019-05-21 13:25] lanmarti opened #1275 "BasicAuthHandler calls instanceOf AuthProviderInternal"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0
* vert.x auth: 3.7.0

### Context

When attempting to create a BasicAuthHandler using BasicAuthHandler.create(AuthProvider authProvider), the method verifyProducer of BasicAuthHandlerImpl is called.
The instanceOf call causes issues when using the OSGi framework.
Method below:
[code]
[AuthProviderInternal](https://github.com/vert-x3/vertx-auth/

[2019-05-21 13:35] aygalinc commented on #1273
I made supplementary test and I discover that :
-> If file transfer start , create file & fill it.
-> If disk size becomes full.
-> BodyHandler does not trigger an Http response.

Hard to track what happen internally because lot of handler are used.

I have create a tempory partition on an unbuntu desktop (sudo mount -t tmpfs -o size=90M tmpfs /media/testUpload/) and try to download a file greater

[2019-05-22 07:49] #1246 closed

[2019-05-22 12:06] wusatosi opened #1277 "[Feature request] Router::handlecontext should work in more circumstances"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

I'm handling multiple request from multiple host names, and I'm using an top level router with VirtualHostHandler to handle my request, my code looks like this:
[code]

But this method don't work because it spins out following exception:
[code]
Because Router::handleContext checks the path it mounted to, as it was originally inten

[2019-05-27 09:08] aygalinc commented on #1133
The PR seems not have been merged in 3.7.0 & 3.7.1 .

[2019-05-27 16:07] slinkydeveloper commented on #1274
@Warkst Are you willing to contribute?

No it supports only forms because it uses `RoutingContext#formParameters()`, anyway it should not be hard to make it working with JsonObject too

[2019-05-28 17:20] onyn opened #1279 "ConnectTimeoutException not fired when sending form"
### Version

* vert.x core: 3.7.0
* vert.x web client: 3.7.0

### Context

ConnectTimeoutException is not fired when connection timeout reached. This apply only to sendForm().

### Steps to reproduce

1. Block arbitrary local port and verify:
[code]
2. Try to send form:
[code]
3. Expected result is `io.netty.channel.ConnectTimeoutException`, but handler is not called at all.

[2019-05-29 06:41] sheldon-markk opened #1280 "Path params error api web contract 3.7.1"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context

API web contract .

[code]
3.6.3 parses the definition correctly but upgrade to 3.7.1 fails with the following error

[code]

Stack trace

[code]

[2019-05-29 07:02] slinkydeveloper commented on #1280
Can you provide the full stack trace?

[2019-05-30 19:53] abonander opened #1282 "@Nullable annotation on RoutingContext.queryParam() is misleading"
The following `@Nullable` annotation is misleading:

https://github.com/vert-x3/vertx-web/blob/bad74b3ee428ec9fb8109ad96deff1e1c4c6d504/vertx-web/src/main/java/io/vertx/ext/web/RoutingContext.java#L514-L515

Given the limited documentation, this annotation implies that `null` will be returned if the query parameter was not present; however, as implemented currently, an empty list is returned inste

[2019-05-31 07:32] slinkydeveloper commented on #1280
To me the spec seems fine. The error is triggered by swagger-parser, that was updated from 2.0.5 to 2.0.11 . Maybe you can try to force the update to the latest version, adding in your pom:

[code]

If the problem persist, there is some regression in the parser. you should open an issue here: https://github.com/swagger-api/swagger-parser/issues

[2019-05-31 08:38] sheldon-markk commented on #1280
Upgrading to 2.0.12 had to same problem but downgrading to 2.0.5 worked with vertx 3.7.1. I will log an issue on the other repo.

[2019-05-31 08:47] slinkydeveloper commented on #1280
It's definitely an issue of the parser :disappointed:

[2019-05-31 08:56] slinkydeveloper commented on #1282
Look at #1283

[2019-05-31 09:08] #1282 closed

[2019-06-04 06:17] javenwang commented on #1268
@devefx remove SpringBoot and try it again?

[2019-06-04 09:01] stanlyDoge opened #1286 "Getter for the spec"
### Version

* vert.x core:
* vert.x web: 3.7.1

### Context

Is it possible to have a getter for the spec in the `OpenAPI3RouterFactoryImpl` (`BaseRouterFactory`)?

I want to create an endpoint, which returns an openAPI spec, but the spec is protected and there is no getter.

### Do you have a reproducer?
[code]
### Steps to reproduce

### Extra

[2019-06-04 10:12] slinkydeveloper commented on #1286
It's protected because it was not supported by codegen, but now it should be supported using `@GenIgnore` annotation. But to be honest I think we should not add it, as in vertx 4 this api will break because we will replace swagger-parser

[2019-06-04 10:41] stanlyDoge commented on #1286
So is there any other way how to access loaded spec?

[2019-06-04 12:20] slinkydeveloper commented on #1286
For now, no. The only solution is just reparse the spec again using `vertx#executeBlocking` (just look at the code in `OpenAPI3RouterFactory#create` interface)

[2019-06-04 13:13] stanlyDoge commented on #1286
OK, thank you.

[2019-06-04 13:13] #1286 closed

[2019-06-04 14:59] laurentvaills commented on #1235
We noticed that upgrading to Vert.x 3.7.1 did not solve that issue.
Looking to that PR https://github.com/netty/netty/pull/9157 merged few days ago , it seems the issue was not completely fixed in Netty 4.1.34.

[2019-06-04 15:22] vietj commented on #1235
indeed it will likely be fixed when we upgrade netty, note that for now this is only cosmetic :-)

[2019-06-04 20:36] laurentvaills commented on #1235
Thanks @vietj ; I know this is only cosmetic for now, but you know when someone sees such messages it frightens them :)

[2019-06-05 07:12] #1274 closed

[2019-06-05 07:40] slinkydeveloper commented on #1279
Are you sure that what you need is `WebClientOptions#setConnectTimeout` more than `request.timeout()`? like:
`wc.postAbs("http://127.0.0.1:12312/").timeout()`

[2019-06-05 11:43] onyn commented on #1279
There is no difference. Exception is not thrown in both cases.

[2019-06-05 13:23] slinkydeveloper commented on #1279
I've tried to reproduce the issue:

[code]

but for me it works. I think that when you block the port using iptables you get a connection refused (but not in the callback) more than a timeout exception. Can you provide a reproducer when you start a server that answers late?

[2019-06-05 13:27] slinkydeveloper commented on #1280
Links to https://github.com/swagger-api/swagger-parser/issues/1111

[2019-06-05 14:22] yorffuoj commented on #1170
@pmlopes @slinkydeveloper Hey. Thank you for the fix. The only problem I found when I tried it was that the fix has just been merged in master but not in the 3.7.1 whereas it was the milestone.

[2019-06-05 17:07] onyn commented on #1279
Your example failed for me too.
Also when I call send() instead of sendForm(), then all works as expected. But I need to send form data as well.

If you on linux, place folowing two files together in one folder and run with docker.

<details>
  <summary>Main.java, build.gradle, run command</summary>

[code]

[code]

[code]
</details>

[2019-06-06 08:56] slinkydeveloper commented on #1279
Thank you for the reproducer!

[2019-06-06 13:40] msillence opened #1290 "deployVerticle does not support multiple calls adding classpaths"
### Version

* vert.x core: 3.7.1
* vert.x web: N/A

### Context

I was trying to add something that will load all our jar files and start them up ideally with class loading isolation.

The deployVerticle sounds perfect but after loading the first module the second fails to load. it seems to only use the DeploymentOptions.extraClasspath from the first instance

### Do you have a reproducer?

https

[2019-06-06 14:06] slinkydeveloper commented on #1149
I've opened a pr for it: #1291

[2019-06-06 15:08] #991 closed

[2019-06-06 20:29] slinkydeveloper commented on #1196
@javathought I'm preparing a PR with a fix, but I found some problems in your reproducer. I forked it changing the wrong things, feel free to comment https://github.com/slinkydeveloper/reproducers

[2019-06-07 16:13] msillence commented on #1290
OK I found it only fails when we use the "service:" notation to load the json file, it works fine and the class isolation also works when you specify the class instead

[2019-06-08 07:39] tsegismont commented on #1290
@msillence thanks for reporting the issue. Can you move it to the [service factory repo](https://github.com/vert-x3/vertx-service-factory)? Thank you

[2019-06-08 11:11] msillence commented on #1290
it appears only people with write permission to both repos can transfer issues https://help.github.com/en/articles/transferring-an-issue-to-another-repository. I'll close it and open on the other repo.

[2019-06-08 11:11] #1290 closed

[2019-06-08 13:37] tsegismont commented on #1290
Thank you!

Le sam. 8 juin 2019 à 13:11, Martin Sillence <notifications@github.com> a
écrit :

[2019-06-09 17:27] VictorQRS commented on #967
Hi @pmlopes, I'd like to tackle this issue. Is this still relevant?

Also, i've been reading the sources on https://github.com/vert-x3/vertx-web/tree/master/vertx-template-engines/vertx-web-templ-freemarker, but the sub module seems to have more than just an implementation of the TemplateEngine (Implementations, Deprecated Interfaces, Loaders, etc.). Since the comment was almost a year ago, perhap

[2019-06-09 17:52] VictorQRS commented on #1107
@pmlopes I've noticed this tweet https://twitter.com/pml0pes/status/1106649972949307392 that seems to be related to this issue. How is the progress for "adding support for webauthn"? Is this issue deprecated as in "no longer reflects the state for support for webauthn" for vertx-web? Should this issue be closed or am i misinterpreting something?

[2019-06-09 22:01] jhonatanrichard commented on #795
Hi @pmlopes. I would like to help in this enhancement. Could you give me more implementation details about how to solve it? Thanks.

[2019-06-10 14:30] ppatierno opened #1295 "StatusCode is -1 for errorHandler catching HTTP 404"
### Version

* vert.x web:

### Context

When setting the `errorHandler` on the router for catching the HTTP 404, the status code provided by the rounting context in the handler isn't 404 but -1.

### Do you have a reproducer?

Just use something like

[code]

### Steps to reproduce

See above

### Extra

* Anything that can be relevant

[2019-06-11 08:28] slinkydeveloper opened #1297 "Vert.x Web Validation stack integration"
- [x] Merge PR #1296
- [x] vertx-dependencies
- [x] vertx-stack-depchain https://github.com/vert-x3/vertx-stack/pull/97
- [ ] Docs to web site
- [ ] Langs PR (are they really needed?)
- [ ] Example in vertx-examples

[2019-06-11 11:00] slinkydeveloper commented on #1187
Hi, are you willing to contribute to provide a better default error page?

[2019-06-11 11:12] lukehutch commented on #1187
Sure -- there are lots of possibilities (e.g. showing a nice page with a Vert.x logo, or a bare page like the Chrome page showing a little dinosaur logo when a page cannot be reached) -- but even just changing "Matron!" to "An unexpected error occurred" would be sufficient, I think...

Also, to adhere to a "secure by default" mindset, the default error page should not show a stacktrace (although t

[2019-06-11 11:14] lukehutch commented on #1187
See https://github.com/vert-x3/vertx-web/pull/1299

[2019-06-11 12:24] slinkydeveloper commented on #1279
I tried your reproducer with latest vertx 4 web-client and it works, so I mark it as solved for vert.x 4. Thank you for your contribute!

[2019-06-11 12:24] #1279 closed

[2019-06-11 12:45] slinkydeveloper commented on #1268
@devefx can you provide a reproducer without spring boot, only vanilla vertx?

[2019-06-11 13:10] slinkydeveloper commented on #1277
I think that this issue involves two problems:

* How `VirtualHostHandler` is designed. IMO the virtual host should be a routing filter, something that you configure in `Route` more than a handler that gets another handler as a parameter.
* How mounting sub-router works. When a sub-router is mounted, internally it creates a `Route` instance. We could return that instance, so you can add filters (i

[2019-06-11 13:37] #1080 closed

[2019-06-11 13:40] slinkydeveloper commented on #1055
@kjstouffer can you update the reproducer to 3.7.1 to check if you are still experiencing this bug?

[2019-06-11 13:43] slinkydeveloper commented on #1051
I close as inactive, reopen if you need it

[2019-06-11 13:43] #1051 closed

[2019-06-11 13:47] slinkydeveloper commented on #1015
I close as inactive, @greyseal if you are experiencing another issue please open another ticket and i'll be glad to help you :smile:

[2019-06-11 13:47] #1015 closed

[2019-06-11 13:48] slinkydeveloper commented on #1004
I close as inactive. @martin1yness reopen if you are still experiencing this issue

[2019-06-11 13:48] #1004 closed

[2019-06-11 13:54] #856 closed

[2019-06-11 13:57] slinkydeveloper commented on #848
@StephenOTT you can give a look at the new vertx-json-schema package and provide feedback for it https://github.com/vert-x3/vertx-json-schema/blob/initial_work/src/main/java/examples/DslExamples.java

[2019-06-11 13:57] #848 closed

[2019-06-11 14:01] slinkydeveloper commented on #998
I close as this is a non vert.x issue. Reopen if you need

btw have you tried the new https://github.com/reactiverse/es4x ? It uses new GraalJS engine

[2019-06-11 14:01] #998 closed

[2019-06-11 14:02] #844 closed

[2019-06-11 14:06] #821 closed

[2019-06-11 14:07] slinkydeveloper commented on #821
Closed as inactive, reopen if you need it

[2019-06-11 14:14] slinkydeveloper opened #1301 "When no route matching content-type was found, it should return 415"
Assuming you have two paths mounted:

[code]

If I send a `POST /path` request with content type different from json and multipart, it should return https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/415 and not 404

[2019-06-11 14:29] slinkydeveloper commented on #713
@JohnRudolfLewis are you still experiencing this issue with newer vertx versions?

[2019-06-11 14:45] slinkydeveloper commented on #822
Sorry for the late reply, you raised a good point! I will try to provide a fix for it ASAP

[2019-06-11 14:55] StephenOTT commented on #848
Will take a look

[2019-06-11 15:09] #731 closed

[2019-06-11 15:10] #711 closed

[2019-06-11 15:16] #678 closed

[2019-06-11 15:17] slinkydeveloper commented on #533
Links to https://github.com/vert-x3/vertx-web/pull/1272

[2019-06-11 15:19] slinkydeveloper commented on #506
I close as the template engine apis actually changed, and documentation changed too

[2019-06-11 15:19] #506 closed

[2019-06-11 15:21] slinkydeveloper commented on #1301
Duplicated of https://github.com/vert-x3/vertx-web/issues/456

[2019-06-11 15:33] slinkydeveloper commented on #701
I close as it's an old issue, reopen if you are still experiencing this issue with latest vertx versions

[2019-06-11 15:33] #701 closed

[2019-06-11 16:18] stephanebastian opened #1303 "CORS prefflight request in AuthHandlerImpl"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context
I'm currently working with vertx-auth and vertx-web codebase and bumped-into some code related to CORS preflight requests in AuthHandlerImpl.
This sounds weird and in my opinion should be handled by registering a CORS handler for all options requests. Of course this handler should be register before any others handlers, just like t

[2019-06-11 16:23] slinkydeveloper commented on #1303
I think this code is in `AuthHandlerImpl` exactly to avoid errors if you misconfigure the route handlers putting a cors handler after an auth handler. Does this code create any particular issue?

[2019-06-11 16:56] stephanebastian commented on #1303
Well yes, the code does introduce an issue. Not a big security hole though ;)
First, here is a link to MDN for pre-flight requests: https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request

This is more or less what the Vertx CORS handler does.
However, the code in AuthHandlerImpl, ignores the headers Access-Control-Request-Method, Access-Control-Request-Headers and Origin. It doesn't r

[2019-06-11 18:47] slinkydeveloper commented on #1303
This makes sense to me. I propose to document that `CORSHandler` must be mounted before any auth handler and leave this check here: more than calling rc.next(), we throw an illegal state exception. @pmlopes wdyt?

[2019-06-12 09:34] #1280 closed

[2019-06-12 10:05] lukehutch commented on #1187
Fixed in #1187.

[2019-06-12 10:05] #1187 closed

[2019-06-12 10:19] #1053 closed

[2019-06-12 10:19] #1198 closed

[2019-06-12 13:10] #822 closed

[2019-06-12 13:24] slinkydeveloper commented on #822
Thank you for your feedback! This fix will be release in vert.x 4

[2019-06-13 07:49] Falx opened #1307 "GraphQL handler operationName support missing"
### Version

* vert.x core: 3.7.x
* vert.x web: 3.7.x

### Context

When posting a GraphQL query with multiple operations at an endpoint backed by the Vertx GraphQLHandler, you need to send the `operationName` parameter to specify the query to use (per GraphQL spec). The handler however seems to ignore this `operationName` parameter and throws this error:

[code]

### Extra
Here (https://github.co

[2019-06-13 14:28] #460 closed

[2019-06-13 14:29] #456 closed

[2019-06-13 14:29] #1301 closed

[2019-06-13 14:29] #1295 closed

[2019-06-13 18:42] abilioesteves commented on #1059
@pmlopes, I added a PR to fix this issue: https://github.com/vert-x3/vertx-web/pull/1309

[2019-06-14 00:22] VictorQRS commented on #1063
@pmlopes Did I understand the issue correctly: is this issue to simply revert #1062 or is there something else?

[2019-06-14 00:41] VictorQRS commented on #1063
If so, I've made the PR #1310

[2019-06-14 07:21] #1063 closed

[2019-06-14 09:31] tsegismont opened #1311 "Wrong content for GraphQL documentation"
Moved from https://github.com/vert-x3/vertx-web-site/issues/315

Please double check the GraphQL Kotlin documentation [dependencies section](https://vertx.io/docs/vertx-web-graphql/kotlin/#_getting_started) it should be `io.vertx:vertx-web-graphql:3.7.1` not `io.vertx:vertx-lang-kotlin:3.7.1` in both Maven and Gradle dependencies, thanks.

[2019-06-14 10:44] #1212 closed

[2019-06-14 16:13] #845 closed

[2019-06-14 16:14] #1196 closed

[2019-06-14 16:14] #824 closed

[2019-06-15 08:26] #1311 closed

[2019-06-17 10:43] slinkydeveloper commented on #1221
@vietj So what we want to do for this? provide a flag to choose if register local consumer or global consumer? And we made this flag default to "global consumer"?

[2019-06-17 12:51] #1258 closed

[2019-06-17 13:06] #1149 closed

[2019-06-17 15:49] tsegismont commented on #1254
The broken links are fixed (and website has been republished).

[2019-06-17 16:46] tsegismont commented on #1254
@Jofairden All code snippets are fixed except the dataloader one. Website has been republished

@vietj I'm not sure how to fix the last one https://github.com/vert-x3/vertx-web/blob/806a48305cfdff9577f888e7790bb948a83d8b4b/vertx-web-graphql/src/main/java/examples/GraphQLExamples.java#L213

It fails here https://github.com/vert-x3/vertx-codegen/blob/a1edfd78d2e80f112877ce3f1e97e07fb6363ba2/src/main

[2019-06-18 18:27] kjstouffer commented on #1055
I'm still noticing the issue with 3.7.1

[2019-06-19 09:19] #1307 closed

[2019-06-20 09:34] tsegismont opened #1314 "Upgrade to GraphQL-Java 13.0"
Update vertx-web and lang projects

[2019-06-20 10:12] tsegismont commented on #1314
Updated vertx-web and all lang projects (for doc)

[2019-06-20 10:12] #1314 closed

[2019-06-20 13:55] mreno-EBSCO opened #1315 "Regression: query parameters are no longer encoded by the web client"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context

We updated our projects Vert.x dependencies from 3.7.0 to 3.7.1 and found that any HTTP call placed via the WebClient that has query parameters with spaces or parentheses or other special characters no longer are encoded. This causes the downstream server to reject the request with a 502. Reverting to 3.7.0 and there is no issue.

[2019-06-21 08:44] slinkydeveloper commented on #1315
It could be related to this one https://github.com/vert-x3/vertx-web/pull/1265

[2019-06-21 08:44] slinkydeveloper commented on #1315
Can you provide an example?

[2019-06-21 08:52] vietj commented on #1270
@okou19900722 can you avoid posting to a group that is not related to the vertx community ?

[2019-06-21 09:23] okou19900722 commented on #1270
It's a vert.x user group in china

[2019-06-21 09:30] okou19900722 commented on #1270
Because I found out that he may be Chinese, so I think it is easier to communicate in this group using our mother language (my English is not very good)

[2019-06-21 11:12] mreno-EBSCO commented on #1315
Sure. Here is an example:
[code]

The parameter's value was (as of 3.7.0) being encoded as:
[code]

[2019-06-22 08:28] harrybnt opened #1316 "Not able to Send multiple files using Multipartform"
### Version

* vert.x core: latest version (3.7.1)
* vert.x web: latest version (3.7.1)

### Context
I am able to send a single file attachment through io.vertx.ext.web.client.WebClient but not able to do for multiple files.

This code is working with a `single` attachment

[code]
With Multiple attachments, it is not working
[code]

Both the MultipartForm are sent using WebClient as:
[code]

### S

[2019-06-22 08:56] vietj opened #1317 "Improve handling of json decoding"
Vert.x Web (router or client) needs to parse JSON and will use the `JsonObject` and `JsonArray` constructors. When

- the string representation of these is not valid then null then an decode exception should be thrown
- the null literal value should return the null reference and not an invalid object

[2019-06-22 09:48] #1317 closed

[2019-06-23 12:51] vietj commented on #1316
This is actually expected because you are using the same file upload part name _attachments[]_. The default way is to use _multipart/mixed_ in a single form data part.

So as solution you should use different form names.

I think we will give the opportunity to use a different encoding in Vert.x (like HTML5) which allows form parts to carry the same name without using multipart mixed encoding

[2019-06-23 13:25] vietj opened #1318 "Vert.x Web Client disable multipart mixed encoding"
Multipart form upload can be encoded in different fashions.

By default, two files sharing the same attribute name will encode the files using mixed mode. We should allow disabling the use of mixed mode mandated by HTML5 where two files sharing the same attribute will not trigger the use of mixed encoding.

[2019-06-23 13:50] harrybnt commented on #1316
Thanks for your reply!

The same thing is happening with the different file also, here also if you see the code we are sending two different screenshots in same attachment array.  My requirement is, we have attachments array on the server side (**that accepts only multipart/form-data**) and we want to send a list of attachments from web-client.

I also used multipart/mixed encoding but It is unsup

[2019-06-23 13:55] vietj commented on #1316
See https://github.com/vert-x3/vertx-web/issues/1318

[2019-06-23 14:20] #1318 closed

[2019-06-23 14:20] #1316 closed

[2019-06-23 14:56] vietj commented on #1316
can you provide a reproducer project ?

[2019-06-23 14:57] vietj commented on #1270
ok thanks for clarifying.

[2019-06-23 17:02] harrybnt commented on #1316
@vietj I have created a reproducer project.
Link: [](https://github.com/harrybnt/test-multiple-attachment)

Kindly check and revert back in case of any query.

[2019-06-23 20:59] vietj commented on #1316
in this project you should use different attribute names for the files, i.e

[code]

should instead be:

[code]

[2019-06-23 21:05] harrybnt commented on #1316
We can not use attachment1 and attachment2 because the server needs an array of attachments.
if we use attachment1 and attachement2, it basically takes 2 different attachment not an array of attachments.

[2019-06-23 21:39] vietj commented on #1316
Ok then this seems to be a bug in Netty that I submitted a PR for here https://github.com/netty/netty/pull/9270

The next 3.8 version will contain also a switch that allows to disable mixed mode encoding (HTML5 behavior) that was added in https://github.com/vert-x3/vertx-web/issues/1318 . 3.8 will be released early July.

[2019-06-24 06:54] harrybnt commented on #1316
@vietj when is the 3.8.x release happening?

[2019-06-24 07:51] slinkydeveloper commented on #1315
Are you passing the query parameter using `addQueryParam` or `setQueryParam`? Because if you are creating the request with the path **including** the query param, this is expected since 3.7.1

[2019-06-24 07:53] vietj commented on #1316
early July or so

[2019-06-24 12:55] mreno-EBSCO commented on #1315
That's what I figured. We are not using `add/setQueryParam` as it was not required prior to 3.7.1. I guess we'll have to modify our code. Thanks for the clarification.

Maybe this change should be mentioned here: https://github.com/vert-x3/wiki/wiki/3.7.1-Deprecations-and-breaking-changes

[2019-06-24 12:59] slinkydeveloper commented on #1315
@mreno-EBSCO yes definitely, thank you for pointing it!

[2019-06-24 12:59] #1315 closed

[2019-06-24 14:16] vietj commented on #1318
the netty PR was accepted so it should be fixed in vertx when we use this new netty version (4.1.37.Final ?)

[2019-06-24 14:17] vietj commented on #1316
the netty PR was accepted so it should be fixed in vertx when we use this new netty version (4.1.37.Final ?)

[2019-06-24 15:02] u3r commented on #1130
@vietj it seems to work for our case now (using Vertx 3.7.1).
Can you recheck too @adamdickmeiss ?

[2019-06-24 15:28] vietj commented on #1130
this issue I should should have been close before

[2019-06-24 15:40] wusatosi commented on #1277
I think adding an `VirtualHostHandler`  equivalent functionality to routers will be an great move

[2019-06-24 22:03] OndrejValenta opened #1320 "Rocker template not working for subpath"
### Version

* vert.x core:3.7.1
* vert.x web:dtto

### Context
I've generated a simple project with [start.vertx.io](https://start.vertx.io) with only Web plugin and was trying to make Rocker templating working but available documentation and examples is only for maven type of projects and Vertx Rocker examples are pointing to a deprecated constructor. I'm coming from .NET world so it might be so

[2019-06-27 08:13] shenzhou-6 commented on #1270
You can use something like router.route().handler(BodyHandler.create()) ,ResponseContentTypeHandler,LoggerHandler....
Custom Handler

It seems that you can't use ChannelPipeline directly.
Because configureHttp1 in HttpServerImpl is private

[2019-06-28 22:33] AlexSilver9 opened #1323 "TemplateEngine.disableCache does not disable caching"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context

I encountered the problem that ThymeleafEngine does not disable cache for each of the current or legacy flags:

System.setProperty("io.vertx.ext.web.templ.TemplateEngine.disableCache", "true"); // seems older flag
System.setProperty("io.vertx.ext.web.TemplateEngine.disableCache", "true"); // seems current flag

Cache is always on

[2019-06-29 07:20] kostya05983 commented on #967
Hello, @pmlopes I added rythm engine, I need a guide, what can I do next with this engine, also I can't find httl engine, maybe is there a mistake in httl?

[2019-06-29 10:17] rogelio-o commented on #1323
Have you try with System.setProperty("vertxweb.environment", "dev")? It looks like ResourceTemplateResolver sets cacheable to true when the environment is dev.

With the VERTXWEB_ENVIRONMENT env variable to "dev" will also work.

[2019-06-29 11:45] rogelio-o commented on #1320
You have to do a few things to make the project works:
1. Add slf4j dependency, NoClassDefFoundError error is because of this. `implementation "org.slf4j:slf4j-api:1.7.22"`
2. Change template directory from `/src/main/kotlin/com/example/starter/templates` to `templates`. This is the package where the rocker classes are generated according to the build.gradle configuration.
3. Add a lang variable t

[2019-06-29 15:49] AlexSilver9 commented on #1323
System.setProperty("vertxweb.environment", "dev") works like a charm. Thank you!

[2019-06-29 15:49] #1323 closed

[2019-07-01 08:39] ckoutsouridis opened #1326 "sockJS metrics"
I don't know if more people would be interested in this but i think vertx could provide some metrics for sockJS handler

I have already implemented some basic counters using a `BridgeEvent` handler to capture counters on the BridgeEvent types, that part is quite easy
But i think it would be awesome if vertx provided as well some gauges of:
how many sockJS sessions are present preferably tagged wit

[2019-07-02 13:17] ckoutsouridis opened #1327 "possible leak of closed web sockets"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

we had similar issues with previous versions as well.

* non clustered vertx is used

### Context
We use sockjs event bus bridge, clients are browsers connecting to the event bus. in the background we consume messages from active mq and we are just doing eb.publish(...)

We notice a constant increase of SockJSSessions in heap.

### Do you have

[2019-07-05 13:04] #1182 closed

[2019-07-06 16:13] OndrejValenta commented on #1320
Hello @rogelio-o,
so I made it running thanks to you but I've still some issues with it. Specifically, in the way routes and templates selection is made (and perhaps that is what the deprecation message is talkin about).

When you look at method this picture:
![idea64_2019-07-06_17-59-49](https://user-images.githubusercontent.com/6738956/60758521-ed73ec00-a017-11e9-8999-66d04e0f287a.png)

The way

[2019-07-06 16:29] OndrejValenta commented on #1320
Now the picture becomes more clear.

So for url http://localhost:8080/templated/profile/ it is trying to pull out template at templates/profile/index.rocker.html

BUT for http://localhost:8080/templated/profile/ it is trying to pull out template at templates/profile.rocker.html

That is unfortunate, because now I would have to have two templates for, in fact, the same path but cannot add it anyway

[2019-07-07 12:15] rogelio-o commented on #1320
It’s fails because Rocker’s templates are compiled to Java classes on generate resources phase. The problem there is that two classes “profile” are defined  in the same package (templates.profile) after the generation.

Anyway, maintaining the same template in two different files isn’t a good idea. What I suggest you is to add a custom handler to /templated/profile which redirects to /templated/pr

[2019-07-07 13:39] OndrejValenta commented on #1320
I've prepared a more optimised version of the handle message. This way /templated and /templated/ urls ends with the same template templates\index.rocker.html as well as /template/profile and /template/profile/ ends with templates\profile.rocker.html and it does not need templates\profile\index.rocker.cshtml

![image](https://user-images.githubusercontent.com/6738956/60768842-db05bb00-a0c8-11e9-80

[2019-07-07 13:46] OndrejValenta commented on #1320
I would probably create a mapping function that would select a proper template for given path. But there are other issues as well. I'd like to write an HTTP header with needed to generate a page with Rocker but as it is now handle method closes the response so I cannot do it after handle method is executed. Handle method has no "extension" parameter to be called before the response is closed so th

[2019-07-07 18:42] rogelio-o commented on #1320
Can you add the header before? You could create a handler executed before the template rendering and then use context.next() to keep running the template handler.

Exceptions are thrown using context.fail(exception) method. You can manage exceptions in a handler set in a route object with the method ‘failureHandler’. If you want to use the same handler in all the routes you can write ‘router.route

[2019-07-08 13:05] dmitry-timofeev opened #1329 "Support removing sub-routers"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context

This is a feature request to allow to easily remove sub-routers.

Currently it is possible to mount a sub-router to any `Router` using `Router#mountSubRouter`, but there is no straightforward API to remove a previously mounted sub-router. Usual `Route`s can be removed with `Route#remove`, but `Router#mountSubRouter` returns itself

[2019-07-08 18:09] rwiggins commented on #1232
Funny enough, I just ran into this using the server-side CookieHandler, which [only looks at one cookie header](https://github.com/vert-x3/vertx-web/blob/3.7.1/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/CookieHandlerImpl.java#L46). Unless I'm mistaken, this means that the Vert.x web client can't send multiple cookies to the Vert.x web server.

[2019-07-08 20:57] vietj commented on #1268
closing since no reply or reproducer

[2019-07-08 20:57] #1268 closed

[2019-07-19 13:47] oddio opened #1330 "WebClient hangs on HTTP 308 redirect"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

WebClient hangs when handling HTTP 308 redirects. Reason being, HttpContext.receiveResponse considers all 3XX series response codes as redirects, whereas the underlying HttpClientImpl default handler only handles redirects for 301, 302, 303 and 307.

Suggest that either 308 is handled properly, or an error is thrown rather than ha

[2019-07-22 02:52] rgmz opened #1331 "Support/document suspend methods in OpenAPI3RouterFactory 'addHandlerByOperationId'"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

When using coroutines with `vertx-web` you can use the following snippet to pass suspending handlers:
[code]

However, I haven't been able to find an equivalent for `routerFactory.addHandlerByOperationId()`.

(Apologies if this has already  been asked)

[2019-07-22 12:17] pn-santos opened #1332 "WebClient not parsing http/https protocol for determining when to use SSL"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context

The current web-client has very weird behavior regarding SSL connections. It seems to ignore the protocol and only consider the `setSsl` methods when determining whether to use ssl or not.

### Do you have a reproducer?

No

### Steps to reproduce

I would expect that when creating a web client like this:
[code]
and then I an endp

[2019-07-22 13:17] rgmz commented on #1331
D'oh, it appears that I missed the obvious:
[code]

Is this the best way?

[2019-07-22 19:03] oddio commented on #1330
I tried reproducing this with 3.8.0 and it seems like it may have been fixed already.

[2019-07-23 08:45] vietj commented on #1330
can you confirm this or provide a small reproducer ?

[2019-07-23 08:50] vietj commented on #1332
you need to use `requestAbs`, the requestURI is really what will be transmitted in the HTTP request initial line and usually it is used by forward proxies.

[2019-07-23 12:22] pn-santos commented on #1332
Yeah that's how we did it in the end, but I still find this client interface a little surprising.

So when looking at
[code]
do I take it that `requestURI` is actually a "path" to a resource (javadocs mentions "relative" URI)?

Also, and this is me just wondering, If splitting host/port/path then why not also the protocol as in
[code]

I understand now that it's not a bug so feel free to close thi

[2019-07-23 14:06] vietj commented on #1332
you should read it as in https://tools.ietf.org/html/rfc2616#section-5.1 _Request-Line   = Method SP Request-URI SP HTTP-Version CRLF_

the protocol is either HTTP or HTTPS and you can switch using the `ssl` method on `HttpRequest`

[2019-07-23 15:21] #1332 closed

[2019-07-24 07:04] rulai-ymwang opened #1333 "Json body schema can not use customized SchemaValidatorsConfig"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0
* vertx-web-api-contract: 3.8.0

### Context

I found I can't add my customized `SchemaValidatorsConfig` when using HTTPRequestValidationHandler.addJsonBodySchema.  It would make sense if another  `addJsonBodySchema` method will be provided like below:

[code]

[2019-07-24 12:49] UglyHobbitFeet opened #1334 "GraphQL Subscriptions generate an 'Internal Server Error'"
I am trying to get a GraphQL subscription working with Java/Vert.x and to have the results shown in GraphiQL. I see all the System.out.println statements in the console, but GraphiQL is not displaying any results because the server is generating an 'Internal Server Error' message. I am using vert.x 3.8.0 jars

Schema:

    type Subscription {
        test: String
    }

Vert.x Verticle

    privat

[2019-07-26 18:41] oddio commented on #1330
Cannot reproduce under 3.8.0.

[2019-07-26 18:41] #1330 closed

[2019-07-29 16:47] tsegismont commented on #1334
Subscriptions are not supported yet. There's a PR soon to be merged https://github.com/vert-x3/vertx-web/pull/1325

[2019-07-29 16:47] #1334 closed

[2019-07-30 11:25] DrMattFaulkner opened #1335 "VertxException: Thread blocked - On connection pool close"
### Version

* vert.x core: 3.7.0
* vert.x web: 3.7.0

### Context

I'm seeing a thread blocked exception. The stack trace seems to suggest it's coming from the connection pool logic. Specifically around the closing of a connection:

`io.vertx.core.VertxException: Thread blocked
	at app//io.vertx.core.net.impl.ConnectionBase.endReadAndFlush(ConnectionBase.java:87)
	at app//io.vertx.core.http.impl.

[2019-07-30 12:17] vietj commented on #1335
can you do a thread dump when it happens ?

[2019-07-30 12:21] vietj commented on #1335
can you try 3.8.0, I think the issue should not happen in this version (it seems like a deadlock which is why I asked the thread dump)

[2019-07-30 12:23] DrMattFaulkner commented on #1335
Yes to both. Although it maybe sometime before this happens again. I will give it a few days with 3.7 and if it doesn't occur try 3.8.

[2019-07-30 12:27] DrMattFaulkner commented on #1335
I think I have found a log which shows the two threads that are deadlocking each other:

vert.x-eventloop-thread-0:
`Deadlock: Deadlocked thread: vert.x-eventloop-thread-0
…/io.vertx.core.net.impl.ConnectionBase.endReadAndFlush(ConnectionBase.java:87)
app//io.vertx.core.http.impl.Http2ConnectionBase.close(Http2ConnectionBase.java:409)
…pp//io.vertx.core.http.impl.HttpChannelConnector.close(HttpCha

[2019-07-30 12:59] vietj commented on #1335
thanks for the deadlock, I think it should not happen in 3.8

[2019-07-30 13:56] vietj commented on #1335
in 3.8 closing idle connection is done on the pool context thread and shall not deadlock.

[2019-07-30 14:05] DrMattFaulkner commented on #1335
OK Great. In this case I think we can close the ticket out. I'll bump the version. If it occurs in 3.8 I I will reopen!

[2019-07-30 14:05] #1335 closed

[2019-07-31 21:50] vietj opened #1336 "Deprecate Cookie"
The vertx-web `Cookie` interface has been deprecated since this feature was [introduced](https://github.com/eclipse-vertx/vert.x/issues/3050) in vertx-core. The deprecated `Cookie` interface now extends the new `io.vertx.core.http.Cookie` interface and user shall use this interface instead.

This interface will be removed in 4.0

[2019-07-31 23:06] vietj opened #1337 "Remove Cookie"
The vertx-web Cookie interface is deprecated in 3.8.1 since this feature was introduced in vertx-core. In 4.0 the following is removed:

- the `io.vertx.ext.web.Cookie` interface
- the `io.vertx.ext.web.handler.CookieHandler` and its implementation

[2019-08-01 12:06] #1336 closed

[2019-08-01 12:06] #1337 closed

[2019-08-02 14:31] harrybnt commented on #1316
@vietj  This issue still persists in 4.1.37.Final. Can you please check?

[2019-08-04 08:11] slinkydeveloper commented on #1331
@rgmz yep using launch {} is fine. If you are in a CoroutineVerticle the coroutine scope is automatically infered

[2019-08-04 08:11] #1331 closed

[2019-08-04 08:11] slinkydeveloper commented on #1333
@rulai-ymwang customization of json schema will be available in vertx 4

[2019-08-04 13:30] VictorQRS commented on #1107
@pmlopes What is the status of this issue? Can I work on it?

[2019-08-05 01:45] rulai-ymwang commented on #1333
@slinkydeveloper Very glad to hear that. Thanks.

[2019-08-05 06:40] harrybnt commented on #1316
@vietj can you please check this as it's very critical for us?

[2019-08-05 08:24] vietj commented on #1316
@harrybnt can you provide a reproducer project for this with the proper dependencies ?

[2019-08-05 10:20] harrybnt commented on #1316
@vietj I have updated the reproducer with proper dependencies still getting the same error. Please check.
reproducer link: https://github.com/harrybnt/test-multiple-attachment

[2019-08-05 14:11] harrybnt commented on #1316
Thanks, @vietj. your fix is working. I need to disable multipartMixed encoding.

[2019-08-05 14:44] vietj commented on #1316
@harrybnt it's not clear whether we should look at the reproducer or not, can you confirm it's fixed ?

[2019-08-05 17:23] harrybnt commented on #1316
@vietj yes It's fixed. thanks a lot.

[2019-08-06 03:36] pasku opened #1339 "Upgrade Swagger Parser v3 to at least 2.0.12"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0

### Context

web-api-contract is using [2.0.11](https://github.com/vert-x3/vertx-web/blob/3.8/vertx-web-api-contract/pom.xml#L34), and I'm struggling with [this bug](https://github.com/swagger-api/swagger-parser/pull/1080), which was fixed in [2.0.12](https://github.com/swagger-api/swagger-parser/releases/tag/v2.0.12).

Latest version availabl

[2019-08-06 12:10] lgaspa opened #1340 "Multiple Set-Cookie headers are lost when sending a request over the eventbus"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context

I have a vert.x project where I use the `OpenAPI3RouterFactory` and an Openapi-file to do routing for me. The service then calls another backend service.

My Problem is as follows, the location where the `OpenAPI3RouterFactory` routes the requests to is behind the eventbus. When sending a request via the eventbus, it gets serializ

[2019-08-06 14:56] lgaspa commented on #1340
I have created a [pull Request](https://github.com/vert-x3/vertx-web/pull/1341) for this problem.

[2019-08-07 16:37] ice-phoenix opened #1342 "Update template engine documentation"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0

### Context

At the moment, the [template engine documentation](https://vertx.io/docs/vertx-web/java/#_templates) says routing context is available in templates as `context` variable. However, as of #969 it's not true anymore.

### Steps to reproduce

1. Take any template example from [here](https://vertx.io/docs/vertx-web/java/#_templates)
2.

[2019-08-09 07:57] cpdyj opened #1344 "MultipartForm upload in-memory content"
Looks `MultipartForm` only allow String or File on disk now. But some binary data will generate at runtime in memory of my project.
Should we add a method like `inputStreamUpload()` ?
Thank you.

[2019-08-09 10:08] drakkan commented on #1038
Hi,

I think I'm experiencing this issue in my vert.x web app,

basically if I open a page with a form and then in another tab I open another page the CSRF token inside the cookie is regenerated from the last page loading.

Now If I go back to the previous tab with the form and I submit it then the csrf validation will fail since the code here

https://github.com/vert-x3/vertx-web/blob/master/vert

[2019-08-09 12:58] vietj commented on #1344
this would be a good alternative I think

[2019-08-09 13:41] cpdyj commented on #1344
I will try to make a pr for that. （

[2019-08-09 14:29] cpdyj commented on #1344
Emmm, looks netty haven't this support.

[2019-08-13 02:48] cristianonicolai opened #1348 "graphql - Unsupported Media Type returned when using content type application/json; charset=UTF-8."
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context

When using RestAssured to send http posts to test the /graphql endpoint, requests are generated using the content type with the following string: Content-Type: application/json; charset=UTF-8. Which cause the GraphQLHandlerImpl to respond with HTTP/1.1 415 Unsupported Media Type although json is supported.

### Steps to reproduce

[2019-08-13 09:06] #767 closed

[2019-08-13 12:46] UglyHobbitFeet opened #1350 "GraphiQL needs meta tag added to it"
### Version

* vert.x core:
* vert.x web:

### Context

The following tag needs to be added to GraphiQL.html so that weird 'A' looking characters won't display in the GraphiQL windows when using Chrome:

    <meta charset="utf-8"/>

[2019-08-13 13:04] tsegismont commented on #1350
Should be fixed by #1343

[2019-08-13 13:49] pmlopes opened #1351 "[Task] Clean up deprecated code that is older than 3 releases"
All deprecated code up to (inclusive) 3.6.0 shall be removed from master that will became (4.0.0) as defined by the project governance rules.

[2019-08-13 15:50] tsegismont opened #1353 "GraphQL doc: batch loader instrumentation is not necessary"
Our documentation says that the GraphQL object must be configured to use the `DataLoaderDispatcherInstrumentation` for batch loaders to work.

But it's not necessary since GraphQL Java v11, and we actually support v11+

[2019-08-13 15:56] #1353 closed

[2019-08-14 13:15] tsegismont commented on #1348
Fixed in #1349

[2019-08-14 13:15] #1348 closed

[2019-08-19 06:36] intecho opened #1357 "pebble template engine render page must setExtension("html")?"
### Version

* vert.x core:3.8
* vert.x web:3.8

### Context

It still needs to setExtension("html") for working when pebble template engine render the page template file with a "html" extension name,   and the code editor show a deprecated warning for the setExtension() method.

[2019-08-20 13:28] tsegismont commented on #1350
Closed in #1343

[2019-08-20 13:28] #1350 closed

[2019-08-20 16:06] #1180 closed

[2019-08-21 12:34] tsegismont opened #1359 "Improve flow control for GraphQL subscriptions"
As of 3.8.1, Vert.x Web supports GraphQL subscriptions over Apollo's `subscriptions-transport-ws`.

When GraphQL Java returns a RS publisher, an item is requested on subscription and then another one requested for each emitted item.

In most cases this will be inefficient. Requesting items in batches would be better.

[2019-08-22 19:29] #1059 closed

[2019-08-22 20:37] pmlopes commented on #980
This is already implemented

[2019-08-22 20:37] #980 closed

[2019-08-23 10:12] tsegismont opened #1360 "GraphiQL files missing in 3.8.1 jar"
GraphiQL files are present in 3.8.1 snapshot files but missing in 3.8.1 jar.

This is because the GraphiQL app build is automated on Travis but not in the release process.

[2019-08-23 13:05] tsegismont commented on #1360
As a workaround, download [these files](https://github.com/vert-x3/vertx-web/tree/07c22efa5983ff0b5fc314a8614979f8e95db849/vertx-web-graphql/src/main/resources/io/vertx/ext/web/handler/graphiql) to the `io/vertx/ext/web/handler/graphiql` directory in your project resources directory.

[2019-08-23 21:31] zenios opened #1362 "Vertx graphql subscription does not convert ExecutionResult to specificiation"
The execution result of the ApolloWsHandlerImpl does not convert the result to specification before sending to client.

JsonObject.mapFrom(payload) should change to new JsonObject(payload.toSpecification()). This is already handled in the http handler of graphql

[2019-08-24 14:41] zenios commented on #1362
My bad.This has already been done

[2019-08-24 14:41] #1362 closed

[2019-08-27 07:51] #1360 closed

[2019-08-27 13:26] cvgaviao opened #1363 "Upgrade swagger-parser-v3 to new version"
many fixes was delivered in this version: https://github.com/swagger-api/swagger-parser/releases/tag/v2.0.14

[2019-08-27 14:01] dhoffer opened #1365 "UserSessionHandler is Deprecated but the docs don't indicate why or what replaces it."
### Version
3.8.1

* vert.x core:
* vert.x web:

### Context

We are upgrading to 3.8.1 and find that UserSessionHandler is deprecated but the javadocs don't state why its deprecated and/or what replaces it.

[2019-08-28 03:35] qxo opened #1366 "Why RouteImpl#matches method need synchronized ？"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

Why RouteImpl#matches method need synchronized  ？
**matches  method do not change self status**
what's the use case of synchronized for "matches" method ?

### Do you have a reproducer?

* Link to github project/gist

### Steps to reproduce

1. ...
2. ...
3. ...
4. ...

### Extra

*  ref: #328

[2019-08-28 11:04] zenios opened #1367 "Missing complete event when sending queries / mutation over web socket handler"
https://github.com/vert-x3/vertx-web/blob/cca1589c763d74e94c39b686a6a50a71cdd6e2bc/vertx-web-graphql/src/main/java/io/vertx/ext/web/handler/graphql/impl/ApolloWSHandlerImpl.java#L235

[2019-08-28 14:42] pmlopes commented on #1365
It is now a no op it can be safely removed as the user session is handled on the session handler.

Docs referring to it should be removed.

Fancy a pull request? 😅

[2019-08-28 18:35] pmlopes opened #1368 "web-client predicates initialization cause issues with graalvm native images"
web-client predicates allocate heap at initialization causing trouble with graalvm. It is not a blocker but requires lots of configuration to get it to work.

the initialization should be reviewed and see if it's possible to simplify so we can use it without the need for custom config.

[2019-08-30 05:17] piebur opened #1369 "Inconsistent error messages with the openAPI validation"
### Version

* vert.x core:3.7.0
* vert.x web:3.7.0
Have also tested with 3.6.3 and 3.8.1 but it gave the same output.

### Context

We are utilizing the OpenAPI3RouterFactory and we have seen some inconsistent error messages with the openAPI validation

### Do you have a reproducer?

I have attached an zip file containing a patch file
[errors.zip](https://github.com/vert-x3/vertx-web/files/355835

[2019-09-02 13:52] mdsalmeida92 opened #1370 "EnumType Validation Case Insensitive"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

While using OpenApi3 I specified a Header with enum in lowercase.
Example:

        - name: "SomeHeader"
          in: header
          required: true
          schema:
            type: string
            enum:
              - hello
            example: "hello"

With the current vertx implementation this is case sensitive.
If I m

[2019-09-02 16:03] slinkydeveloper commented on #1370
Json schema draft 5 [states](https://tools.ietf.org/html/draft-wright-json-schema-validation-00#section-5.20) that:

I honestly would avoid to add some flags/workarounds for it. More than using `enum`, you can use `pattern` and write a regex for it

[2019-09-02 16:04] #1370 closed

[2019-09-03 21:26] lusoalex opened #1371 "OpenAPI3RouterFactory - Security settings on endpoint"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0

### Getting started
Hello, this is not a bug but an expecting/proposition feature regarding open api specifications.

### Context
I use an open api specification as contract to describe and run my service.
I have two security schemes, one as api-key for the endpoint that does not require to be authenticated, and the second one is an oauth2, in

[2019-09-04 08:01] slinkydeveloper commented on #1371
I think that to check the scopes you must define how to recognize that user x has scope y and implement it in a custom handler. In fact i think that openapi defines scopes for oauth, but there is no real "specification" on how to manage it

[2019-09-04 09:13] lusoalex commented on #1371
@slinkydeveloper Thanks for your reply.

**To recognize if user X has scope Y:**
The scope is included into the JWT, through the scope claim. So it is possible to check it the same way we currently do for aud & iss claims.

Ok I do agree there is no clear specification. So if you still think we should not implement this in vertx framework, I let you close this issue, and I will see how can I use/k

[2019-09-04 09:58] #1371 closed

[2019-09-04 17:49] mwm-twx opened #1372 "OpenAPI templated path parameter regex exclusions are too broad"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0

### Context

I defined an OpenAPI spec as `/{param}`, and found some characters like `+` break routing.  `/a+b` will not match the route, but `/a%2Bb` will.  The two are equivalent, as `+` is an allowable character within a path segment; the latter working because presumably the route matches before decoding the URL.

An OpenAPI path specifica

[2019-09-05 13:04] mschirmacher commented on #795
wouldn't it be OK to just allow to set the timeout in the header? As this would be a unique feature for the SockJS-Bridge i don't think we'd need some fancy implementation on the JS-side to align APIs with tje Java API.

[2019-09-06 10:52] ppatierno opened #1375 "Wrong JSON schema validation on "integer" and "boolean" as string"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context
Using the OpenAPI3RouterFactory in a web-based application, the JSON schema validation for numbers seems not working fine because it considers as valid both "123" and 123 a property which is defined as an "Integer".

### Do you have a reproducer?

Consider a property like this in an OpenAPI v3 JSON schema

[code]

and the actual bo

[2019-09-06 13:03] ppatierno commented on #1375
I just noticed that it's the same even for "boolean" data type.
The validation is ok if you set a boolean value as both `"true"` or `true` (or with false) but of course it fails if you set `"foo"`.

[2019-09-06 16:15] slinkydeveloper commented on #1369
3.1 Same as https://github.com/vert-x3/vertx-web/issues/1375

3.2 & 3.3 looks like they are bugs of the json validator, they require further investigation.

[2019-09-07 10:47] pmlopes commented on #5
Etags require some logic to compute. It should not be a vertx web task as the library as no knowledge on the application being developed. I'll close this issue and reopen if needed.

[2019-09-07 10:47] #5 closed

[2019-09-07 10:52] pmlopes commented on #523
The tracing project is now officially under the vertx organization.

https://github.com/eclipse-vertx/vertx-tracing

[2019-09-07 10:52] #523 closed

[2019-09-07 10:53] pmlopes commented on #653
Fixed by the pr listed above.

[2019-09-07 10:53] #653 closed

[2019-09-07 10:54] #676 closed

[2019-09-07 10:59] pmlopes commented on #1108
This issue will not be fixed as it would introduce much breaking changes.

[2019-09-07 10:59] #1108 closed

[2019-09-08 04:02] whitemay opened #1377 "Want a way to custom usage of SniHandler"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0

### Context

I noticed that SniHandler accept a param of type AsyncMapping in public constructor. Any way to use it in SNI duration to get key&certs asynchronously?
My idea is to pass an AsyncMapping object in NetServerOptions so pipeline can use it. Then implement of AsyncMapping.map return a Promise<Context> immediately and try to load key&c

[2019-09-08 05:33] pmlopes commented on #1377
SNI is handled at core level. I believe that this issue should be moved there.

[2019-09-08 16:46] whitemay commented on #1377
sure, thx.

[2019-09-08 16:46] #1377 closed

[2019-09-09 13:51] julien3 opened #1380 "Race condition when using an event bus bridge hook (events handler), between socket closed event and other events"
### Version

* vert.x core: 3.7.1 (should apply to 3.8.1, master)
* vert.x web: 3.7.1 (should apply to 3.8.1, master)

### Context

We started to see that some messages were not delivered to the same event bus (bridge) address. After multiple re-connections, a client can't listen anymore to some particular address as it receives nothing or receives too few messages out of all the messages sent. Th

[2019-09-09 15:12] qxo opened #1382 "SockJSSessionTest#testNoDeadlockWhenWritingFromAnotherThreadWithWebsocketTransport failed by: java.lang.NullPointerException"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

I encountered an exception which looks suspicious while ...
[code]

### Do you have a reproducer?

* Link to github project/gist

### Steps to reproduce

1. checkout vertx-web 3.8.1
2. ` mvn test -Dtest=SockJSSessionTest#testNoDeadlockWhenWritingFromAnotherThreadWithWebsocketTransport`

### Extra
* Anything that can be relevant

[2019-09-11 09:41] TorRanfelt commented on #1185
This is still not in 3.8.1.

[2019-09-11 16:19] pmlopes commented on #667
Fixed by #1379

[2019-09-11 16:19] #667 closed

[2019-09-11 16:19] pmlopes commented on #1277
Fixed by #1379

[2019-09-11 16:19] #1277 closed

[2019-09-11 16:19] pmlopes commented on #1329
Fixed by #1379

[2019-09-11 16:19] #1329 closed

[2019-09-12 08:03] ppatierno opened #1383 "WebClient putHeader replaces headers with same key instead of adding"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

I am using the `WebClient` and I need to put multiple values for the same header key in the headers. It is supposed to work using a `MultiMap` so it should be possible to set two headers with same key and different values.
The `putHeader` on the `WebClient` doesn't seem to work.
If I do something like following ...

[code]
What I

[2019-09-13 09:20] pmlopes commented on #1118
Duplicate of vert-x3/issues#311

[2019-09-13 09:20] #1118 closed

[2019-09-13 19:21] UglyHobbitFeet opened #1386 "Cannot run GraphiQL offline"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

Whenever I bring the vertx-web-graphql.jar onto an offline machine I have to modify the graphiql.html file inside it because the link and script references point to https links which are not
available to me.  I have to manually copy those referenced files into the jar and change the link and script tags to point to them.

[2019-09-14 12:07] pmlopes commented on #1357
Perhaps we should rethink the deprecation...
@intecho in your use case you don't use the `.peb` extension? why is that? I'd like to understand the reasons before reverting the deprecation.

[2019-09-14 12:10] pmlopes commented on #1366
When working with (blocking) handlers the calls to the methods `next`/`fail` will not necessarily happen from the event loop. As we can't guarantee that, we play safe and run it inside a synchronized method.

[2019-09-14 12:20] #1365 closed

[2019-09-14 17:58] StephenOTT opened #1387 "Routing Context .end() should support JsonObject conversions"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Feature Request

When dealing with Routing Context, it would seem a common use case is returning a object over the EB, and then sending that object to the RC's response.end().

Am i missing a pattern, or is the typical flow something like:

[code]

where `reply` is the EB's reply, and it's returning a pojo (converted by a codec (to ensure

[2019-09-16 08:47] tsegismont commented on #1386
I suspect this is a duplicate of https://github.com/vert-x3/vertx-web/issues/1360

@UglyHobbitFeet can you try with `3.8.2-SNPASHOT`?

[2019-09-16 17:28] pmlopes commented on #1387
Duplicate of https://github.com/vert-x3/vertx-web/issues/1387

See https://github.com/vert-x3/vertx-web/commit/7959d9f6a8cd8973ec7b3969ef7f7280ae569a10

[2019-09-16 17:28] #1387 closed

[2019-09-16 19:47] vietj opened #1388 "Old session not removed from session-map on session-regeneration"
See https://github.com/eclipse-vertx/vert.x/issues/3105

[2019-09-16 20:25] StephenOTT commented on #1387
Looking forward to trying it out!

[2019-09-17 01:31] intecho commented on #1357
yes, I use ".html" as Pebble template files extension name because the HTML file can open directly for view or debug, thanks.

[2019-09-17 11:37] #1109 closed

[2019-09-17 12:52] #1375 closed

[2019-09-17 12:55] vietj commented on #1383
I think the javadoc is actually wrong and this is the correct behavior.

I think we can override the method with a`putHeader(String name, Iterable<String> values)` method like in `HttpClientRequest`

[2019-09-17 14:58] slinkydeveloper commented on #1383
I agree with point that is not consistent with actual `HttpClientRequest`, but I think the behaviour of `putHeader` should be transparent to the user. If HTTP accept multiple values for same header key as a user I expect that `putHeader` adds an header or replace it when necessary (`User-Agent` case)

[2019-09-17 15:04] vietj commented on #1383
it is not consistent with most of our APIs and also I said we should use putHeader(String, Iterable<String>) when the user needs multiple headers

[2019-09-17 19:28] ppalaga opened #1391 "Usage of java.net.URL for URI parsing causes unnecessary problems on GraalVM"
### Version

* vert.x web: 4.x, 3.x

### Context

There are a few occurences of `new URL(...)` throughout the vertx-web code base, most notably in `io.vertx.ext.web.impl.HttpServerRequestWrapper.absoluteURI()` where it is used only for parsing an URI. It is an HTTP (or perhaps also HTTPS) URI. If the `HttpServerRequestWrapper.absoluteURI()` method is called inside a GraalVM native image that was b

[2019-09-17 19:32] ppalaga commented on #1391
I can prepare a patch if there is an agreement that `java.net.URI` is a viable solution`.

[2019-09-18 07:15] vietj commented on #1391
@ppalaga patch is welcome can you make it soon ?

[2019-09-18 07:46] ppalaga commented on #1391
Is tomorrow soon enough? I am on PTO today.

[2019-09-18 07:56] vietj commented on #1391
yes it's fine

[2019-09-18 08:47] pmlopes commented on #1391
@ppalaga the code you mentioned is used for rerouting, given that `reroute` only considers paths, not queries or fragments using a URI should suffice.

[2019-09-18 09:21] ppalaga commented on #1391
Thanks for confirming @pmlopes . I'll check all occurrences of `new URL(...)`.

[2019-09-18 11:36] oleg-kiriyenko opened #1392 "NPE MultipartFormUpload"
### Version

* vert.x web:

### Context

I encountered an exception which uploading file

Code to upload file:

webClient.post(uri.resolve("test").getPath())
                .sendMultipartForm(MultipartForm
                        .create()
                        .binaryFileUpload(
                                "file",
                                metaData.getOriginalName(),

[2019-09-18 12:00] LouizFC commented on #694
@vietj any plans to solve this? On my use case I need to check some request information before calling `send`. I need to mess with a code base that is using `HttpClient` but would greatly benefit from `WebClientSessionAware`. the problem is that requests from `HttpClient` expose their properties, but requests from `WebClient` does not.

[2019-09-18 12:02] pmlopes commented on #1391
Actually looking at the behaviour of the method and what is the delegate does, I believe the method implementation is wrong.

[2019-09-18 12:05] #1391 closed

[2019-09-18 13:59] oleg-kiriyenko commented on #1392
Bug could be reproduced with this code and special file (should be uzipped)
[14ef1537c0c73b5c586d31190483b7c4a9e2d72d.zip](https://github.com/vert-x3/vertx-web/files/3626757/14ef1537c0c73b5c586d31190483b7c4a9e2d72d.zip)

[code]

![bug](https://user-images.githubusercontent.com/55491075/65154889-f67c3300-da34-11e9-9e05-ccdfa22cda4d.png)

[2019-09-18 20:12] ppalaga commented on #1391
Thanks for fixing, @pmlopes! I see the fix in master, but not in 3.8 (that I suppose is going to be used in Quarkus). Would you please backport?

[2019-09-18 21:30] sfitts opened #1393 "Parameters from routes that match the path regex, but fail the method type are left in the routing context."
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

If you create routes for 2 different HTTP methods where one extracts path parameters using a regex and the other does not (or extracts *different* parameters) then the parameters for the first route can end up in the context for the second if it is evaluated first during request dispatch.

### Do you have a reproducer?

https://gi

[2019-09-18 21:32] sfitts commented on #1393
This is blocking our upgrade to 3.8.1 since it trips a large number of our parameter validation checks.

[2019-09-19 06:21] vietj commented on #694
yes we can do that I think

[2019-09-19 06:33] vietj commented on #694
Well actually this raise an issue with the code generator because the properties are not named with a classic bean property setter style (because they were intended to be read only), the only solution would be to rename them but that would break compatibility. We might do that in Vert.x 4 but that's a decision to take given that we already have a fair bunch of deprecations.

In the meantime I will

[2019-09-19 06:35] vietj commented on #694
see https://github.com/vert-x3/vertx-web/commit/298a0a5b626e75097294e1ae193ac24b4c8bf6ef

[2019-09-19 10:25] pmlopes commented on #1391
@ppalaga I did another round of checks and this code was not fully correct, I've just added a few more tests and it now properly handles the request changes.

[2019-09-19 10:35] pmlopes commented on #1391
Backported to 3.8.2

[2019-09-19 11:21] #1393 closed

[2019-09-19 12:21] LouizFC commented on #694
This is perfect. Thank you very much

[2019-09-19 13:35] swimmesberger commented on #694
This will also work for me 👍

[2019-09-19 13:35] #694 closed

[2019-09-19 20:48] ayhanap commented on #554
This looks fixed but as of version 3.8.1 I am unable to use oauth2 password flow. OAuth2AuthHandler returns "OAuth2Auth + Bearer Auth requires OAuth2 AUTH_CODE flow" error when starting the verticle and BasicAuthHandler does not accept Bearer header. Could you verify if we can use oauth2 password flow?

[2019-09-20 08:03] #1386 closed

[2019-09-24 10:11] piebur opened #1394 "Enum string value "YES" becomes "true""
### Version

* vert.x core:3.7.0
* vert.x web:3.7.0

### Context

I encountered an exception which looks suspicious while utilizing the enum property with the value "YES"

### Do you have a reproducer?

* Link to github project/gist

### Steps to reproduce

1. Clone the OpenAPI sample https://github.com/vertx-howtos/web-and-openapi-howto
2. Add the following property into components:schemas:Pet:pr

[2019-09-24 13:53] pmlopes opened #1395 "Multi tenant support for Auth handlers"
some applications work with the concept of multi tenancy, a common requested feature is to given a specific header, or other form of selector use a specific auth provider.

A new handler should be present that does the following steps in pseudo-code:

[code]

The new handler should allow providers to be registered, unregistered. It should allow specifying how the tenant is selected, either from a

[2019-09-25 02:58] iyuq commented on #1392
I also run into this problem, Please Help me! @vietj

[2019-09-25 06:07] piebur commented on #1394
Why, the problem is connected to the conversion from yaml to the json schema within io.swagger.v3.parser.OpenAPIV3Parser. I will instead create a bug in [https://github.com/swagger-api/swagger-parser/issues](url)

[2019-09-25 13:06] vietj commented on #1383
@slinkydeveloper ping

[2019-09-26 07:49] #1392 closed

[2019-09-26 12:51] #1395 closed

[2019-09-26 12:55] #1388 closed

[2019-09-30 08:03] slinkydeveloper commented on #1394
Thank you, I wasn't aware of this :)

[2019-09-30 12:53] Abcdefghijklmnopqrstuvwxyzxyz opened #1403 "Question about netty version (causing illegal reflective access)"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

I am using OpenIDConnectAuth provider to discovery my OpenID Connect Endpoint while it produces an illegal reflective access in netty. This problem only takes place on Windows according to issue #9500 in the netty repo and has been fixed in netty version 4.1.41.Final.

This bothers me very much because I depend on it to continue m

[2019-09-30 14:09] sberyozkin commented on #1395
@pmlopes Hi Paulo, thanks for this fix, can it make to the branch currently being used by Quarkus, `3.8.1` is the current version ? To minimize the migration issues for the users dealing with the dynamic configurations...

[2019-09-30 15:09] pmlopes commented on #1403
Netty is a transitive dependency from vertx core. When it gets upgraded there it also gets updated here.

Having that said, you can always force the Netty version by overriding it on core in your project.

[2019-09-30 15:09] #1403 closed

[2019-09-30 15:18] UglyHobbitFeet opened #1404 "GraphiQL - Internal Server Error / GraphQL Bad Request in 3.8.1"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

I had a working version of GraphQL/GraphiQL with 3.8.0.  I followed the instructions here:
https://vertx.io/docs/vertx-web-graphql/java/  when I attempted to migrate to 3.8.1.
 - When I bring up http://localhost:8080/graphiql/  I get an 'Internal Server Error' with no output in the browser console or java logs.
 - When I bring up

[2019-09-30 16:02] tsegismont commented on #1404
I believe you hit #1360 . It will be fixed in 3.8.2 (to be released soon).

[2019-09-30 16:02] #1404 closed

[2019-09-30 18:55] pmlopes commented on #1395
It was already backported to 3.8 branch.

[2019-10-02 08:36] mparthasarathi429 opened #1405 "Update Swagger Parser V3 version"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0

### Context

I encountered an issue while parsing OpenAPI spec which was an issue with Swagger Parser. Issue link : [https://github.com/swagger-api/swagger-parser/issues/1063]

This request is to update the version of Swagger Parser V3 to latest.

[2019-10-04 16:08] vietj opened #1409 "WebSocketTransport throws an NPE when WebSocket is closed and a frame is sent with no handler"

[2019-10-04 16:09] vietj commented on #1409
![failed_frame](https://user-images.githubusercontent.com/225674/66222698-1026a700-e6d2-11e9-9bcf-8bf6bdd22263.jpg)

[2019-10-06 13:59] pmlopes opened #1411 "Capture wildcard as a parameter"
The router allows capturing widlcards `*`. It would be a good feature if the wildcard could be exposed on the route params, for example as `rest` / `all` / `wildcard` this way handlers that need to compute it's value would not need to do the processing manually, for example, the static handler could work on path variables mounts too.

[2019-10-07 06:10] ukr15 opened #1412 "Unsupported media-type"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

I encountered an exception which looks suspicious while ...
my http-server-code contains a line
[mediaTypeTest.zip](https://github.com/vert-x3/vertx-web/files/3695702/mediaTypeTest.zip)

     router.route().produces(CONTENT_TYPE).consumes(CONTENT_TYPE).handler(BodyHandler.create());

where CONTENT_TYPE is a string like the form "a

[2019-10-08 06:53] slinkydeveloper commented on #1411
I would prefer to use * as parameter name for wildcards, since it can't collide with a valid param descriptor for openapi 🙂

[2019-10-08 11:00] Stwissel opened #1413 "Router HTTP Method support for webDAV, calDAV, cardDAV"
### Version

* vert.x core: 4.0.0
* vert.x web: 4.0.0

### Context

When defining routes by HTTP methods, the enumeration in [HttpMethod](https://vertx.io/docs/apidocs/io/vertx/core/http/HttpMethod.html) only lists the standard HTTP methods. Should and extension be used in a client, then HttpMethod.OTHER can be user in conjunction with setting the rawHTTPMethod. There's no such option in the route

[2019-10-08 13:40] pmlopes commented on #1413
We can create a new enum extending core and adding these values. And use the local one internally instead.

[2019-10-08 15:16] UglyHobbitFeet opened #1414 "Add GraphQL subscription example to docs"
This is a feature request. It would be much nicer if there was a small working example people could test with to make sure they are using GraphQL subscriptions correctly.

Currently at https://vertx.io/docs/vertx-web-graphql/java/ it only says:
'A subscription DataFetcher has to return a org.reactivestreams.Publisher instance.'

I believe a quick example could be put together using some code that

[2019-10-08 15:27] UglyHobbitFeet commented on #1334
This issue still occurs in 3.8.2.  I am getting a 500 Internal error and the output window of GraphiQL says: 'SyntaxError: Unexpected token I in JSON at position 0'

[2019-10-08 15:29] UglyHobbitFeet opened #1415 "GraphQLWS transport in GraphiQL"
This issue still occurs in 3.8.2.  I am getting a 500 Internal error and the output window of GraphiQL says: 'SyntaxError: Unexpected token I in JSON at position 0'

_Originally posted by @UglyHobbitFeet in https://github.com/vert-x3/vertx-web/issues/1334#issuecomment-539567924_

[2019-10-08 15:31] UglyHobbitFeet commented on #1386
Sorry I'm late to the party. FWIW, the 3.8.2 jars seem to be working offline as expected.

[2019-10-09 07:48] slinkydeveloper commented on #1413
Maybe we can do like this: https://github.com/vert-x3/vertx-web/pull/1302

[2019-10-09 08:16] stanlyDoge opened #1416 "`WARN Unknown keyword` during validation phase"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context
I have a data type specified in the apicurio. Vertx validation during the start of verticle prints this WARN message to the output: `WARN Unknown keyword example - you should define your own Meta Schema. If the keyword is irrelevant for validation, just use a NonValidationKeyword`

### Do you have a reproducer?
OpenAPI spec contain

[2019-10-09 08:30] vietj commented on #1416
can you re-open this CQ on the vertx-web project instead ? it contains our OPEN API implemnetation

[2019-10-09 08:31] vietj commented on #1416
can you show more log of the error ?

[2019-10-09 08:35] stanlyDoge commented on #1416
This is the entire DEBUG output from the starting our verticle: https://pastebin.com/8mqucDvE

[2019-10-09 09:14] tsegismont commented on #1414
There's a working example here: https://github.com/vert-x3/vertx-examples/tree/master/web-graphql-examples#apollo-subscriptions-server-and-client

The reference documentation goal is to explain all the parts needed, so it is fine that the working example is in the examples repo.

[2019-10-09 09:32] pmlopes commented on #1413
That's also an option, i'm just not sure how the current route matching will work on this case. I think we will need to stop using enums internally and use Strings, which add the complexity of comparing.

Perhaps this is negligible but a point to check.

[2019-10-09 09:47] tsegismont commented on #1415
I have checked our test suite and subscription examples. They look good to me. I believe this is because GraphiQL is not configured to use the Apollo WS transport for subscriptions.

I'll add it to the backlog.

[2019-10-09 11:23] UglyHobbitFeet commented on #1414
Awesome!  Would it be possible to link to that from https://vertx.io/docs/vertx-web-graphql/java/since people (like me) may not know that page exists or how to get to it

[2019-10-09 12:05] tsegismont commented on #1414
@UglyHobbitFeet the docs page links to the examples for each module in the stack:

See https://vertx.io/docs

[2019-10-09 12:06] tsegismont commented on #1414
Closing (example already present in examples repo)

[2019-10-09 12:06] #1414 closed

[2019-10-09 13:45] Stwissel commented on #1413
In which project is that enum located? Happy to provide a pull request

[2019-10-09 15:09] UglyHobbitFeet commented on #1415
ok good to know, thanks.

[2019-10-09 15:10] UglyHobbitFeet commented on #1414
As a sidenote, has anyone ever tested cross-solutions? Like a java server and js client? I'm having issues connecting between the two

[2019-10-09 15:16] tsegismont commented on #1414
@UglyHobbitFeet there are a few tests with Apollo Client: https://github.com/vert-x3/vertx-web/blob/master/vertx-web-graphql/tests/apollo/apollo.test.js

[2019-10-09 15:18] UglyHobbitFeet opened #1417 "GraphQL subscription example"
Sorry to keep opening tickets, but I'm not sure where else to place this.

Is there any examples that show cross-solutions? Like a java server and js client? I'm having issues connecting between the two. The direct links to the apollo js (https://github.com/apollographql/subscriptions-transport-ws) contain outdated/incorrect examples. It also states that ' subscriptions-transport-ws' is needed bot

[2019-10-09 15:37] tsegismont commented on #1417
The user group, see https://vertx.io/community/

I would recommend to file a ticket to the Apollo project on GH then.

Right, the document denoted by the link is an Apollo doc. So it's about setting up the JS server too.

No, the Apollo JS server code is not included in Vert.x Web GraphQL. Instead, there is a Java implementation of the `subcriptions-transport-ws protocol`. It's documented here: ht

[2019-10-09 15:37] #1417 closed

[2019-10-09 16:27] UglyHobbitFeet commented on #1414
Great, thanks!  FWIW the WS behavior has a bug in it where it times out with a connection that takes > 1 second.  I put a workaround in an already open ticket here:

https://github.com/apollographql/subscriptions-transport-ws/issues/377#issuecomment-540077914

[2019-10-09 18:31] pmlopes commented on #1413
It's nowhere yet. It could be in vertx web. So the route interface could accept it instead of the core one

[2019-10-11 17:55] pasku commented on #1339
Any updates about this? #1364 is still pending and would fix it, but if that takes too much effort, is there any chance you could upgrade only to 2.0.12?

[2019-10-11 20:01] rwiggins commented on #769
@tsegismont Can you elaborate on what you mean by "it's too late"? I ran into this problem in a non-fabricated application, and indeed the handler for the body of the original is set "late" like it is above, but I'd be curious to know what the root cause of the problem is.

[2019-10-13 11:23] Fyro-Ing opened #1419 "Sub router mounting will fail validation when sub router uses a pattern instead of a path"
### Version

* vert.x core: 3.8.2
* vert.x web: 3.8.2

### Context

It seems that there is a regression from 3.8.1 to 3.8.2, when we mount subrouter with regex route request
` router.getWithRegex("^.*regex").handler((rc) -> { rc.response().end("regex"); });`

`router.mountSubRouter("/", new TestRoute().init(vertx));`

`java.lang.NullPointerException at io.vertx.ext.web.impl.RouteImpl.validateMount

[2019-10-14 08:57] vietj opened #1420 "Improve client HttpRequest putHeader"
Currently `HttpRequest#putHeader` method will set a single header value and overwrite it when called multiple times.

We should update the documentation to reflect this and add an overloaded version allowing multiple values at once with `Iterable<String>`.

[2019-10-14 09:00] #1420 closed

[2019-10-14 09:01] #1383 closed

[2019-10-14 09:02] vietj commented on #1383
we improved the API to now accept an `Iterable<String>` overload for multiple values

[2019-10-14 11:09] vietj commented on #1419
@pmlopes can you have a look ?

[2019-10-15 15:32] patriot1burke opened #1421 "Request messages thrown away if no handler registered"
### Version

* vert.x core: 3.8.2
* vert.x web: 3.8.2

### Context

A recent bug surfaced when you combined the new vertx-ized Elytron with the new vertx-ized Resteasy, resteasy would hang if there was a POST request with input.  THe reason for the bug was a that a an Elytron handler reverted control of the IO thread back to the event loop before any Resteasy request handlers were registered.

My

[2019-10-16 08:50] jensbaitingerbosch commented on #1419
Same issue occures when we mount a subrouter created via `io.vertx.ext.web.api.contract.openapi3.OpenAPI3RouterFactory#create(....)`

[2019-10-16 10:23] jensbaitingerbosch opened #1422 "web-api-contract does not support multiple authentication handlers"
### Version

* vert.x core: 3.8.1
* vert.x web: 3.8.1

### Context

Open Api Spec 3.0.0 allowes multiple security options for one operation (see [here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#operationObject) under security).

Typical usecase would be an API endpoint that allows e.g. both  API-Key and Basic Authentication

### Do you have a reproducer?

https://g

[2019-10-16 17:56] vietj commented on #1409
are you able to reproduce this NPE with a test @rogelio-o ?

[2019-10-17 05:54] jaikiran opened #1423 "StaticHandlerImpl should behave like header if-modified-since is not present when this header cannot be parsed"
One of the users has reported this exception while using Quarkus https://github.com/quarkusio/quarkus/issues/4627. As noted in that issue, the exception is:

[code]
Looking at the code in (3.8 branch) `StaticHandlerImpl.CacheEntry#shouldUseCached`, the parsing of an invalid date header causes the request to fail with that exception. I think, it might be better to just return `false` (i.e. don't us

[2019-10-17 08:01] vietj opened #1424 "WebSocket transport should not assume the handler is never null when sending a frame"
Currently `WebSocketTransport` will callback the `sendFrame` handler when it is null producing an NPE.

[2019-10-17 08:06] MrXionGe opened #1425 "WebClient has an exception on JDK13"
### Vertx Version
vert.x core: 4.0.0-milestone3
vert.x web: 4.0.0-milestone3

### JDK Version
openjdk version "13.0.1" 2019-10-15
OpenJDK Runtime Environment Zulu13.28+11-CA (build 13.0.1+10-MTS)
OpenJDK 64-Bit Server VM Zulu13.28+11-CA (build 13.0.1+10-MTS, mixed mode, sharing)
Windows10 64bit

### Context
I use WebClient to create an HTTP client, when I send a request. And failed.
Vertx tells me

[2019-10-17 08:06] #1424 closed

[2019-10-17 08:06] vietj commented on #1409
fixed by https://github.com/vert-x3/vertx-web/issues/1424

[2019-10-17 08:06] #1409 closed

[2019-10-17 08:07] vietj commented on #1409
I'm closing this for now, if you find a leak in session please re-open another issue

[2019-10-17 08:10] MrXionGe commented on #1425
In the same environment. I tried to test other components.
HttpServer, SocketClient, SocketServer, WebSocketClient, WebSocketServer and MQTTServer. They are all OK.

[2019-10-17 08:28] vietj commented on #1425
have you tried `NetClient` @MrXionGe  ?

[2019-10-17 08:44] vietj commented on #1425
did you try simple `HttpClient` ?

[2019-10-17 08:47] MrXionGe commented on #1425
@vietj
I have not tried HttpClient yet. I will try it later.
I remember that many methods of HttpClient were deprecated. So I used WebClient.

[2019-10-17 08:50] vietj commented on #1425
people should use WebClient indeed but we can try first to see how HttpClient owrks or not, given that WebClient uses HttpClient

[2019-10-17 09:06] MrXionGe commented on #1425
@vietj
I wrote a demo with HttpClient.
[code]
Failed. The exception information is the same.

[2019-10-17 09:16] #1419 closed

[2019-10-17 09:17] vietj opened #1426 "Sub router pattern route validation"
Currently sub router won't validate sur routes defined with a regex.

[2019-10-17 10:17] vietj commented on #1425
can you investigate the reason of the failure ? `HttpClient` and `NetClient` will use the same code for connecting...

[2019-10-17 11:26] MrXionGe commented on #1425
@vietj
Thank you for your patience. I found the problem.
I am really sloppy.
Host and URI should be two separate parameters. If I want to merge into one parameter, I should use "getAbs()".
Sorry for wasting your time.
Thanks. And Vertx is the best.

[2019-10-17 11:26] #1425 closed

[2019-10-17 12:24] vietj opened #1427 "Document SockJS bridge usage as a sub router"
Currently the documentation only mentions SockJS usage as an handler:

[code]

We need to document how to use it as a sub-router as well, as doing this requires to avoid wildcard in the path.

[2019-10-17 15:35] vietj opened #1428 "When a route path ends with slash request path not ending with slash should match fully the route path"
Currently:

the route matching `/swagger-ui/*` will match any prefix of `/swagger-ui/` when the request path does not end with `/`, e.g `/swagger` will match the route.

[2019-10-17 15:38] #1428 closed

[2019-10-17 15:43] jaikiran commented on #1423
Agreed. That's what I meant by returning "false".

[2019-10-17 15:59] vietj commented on #1423
yay right, the method has `return !modifiedSince` which induces me wrong :-)

[2019-10-17 16:10] #1423 closed

[2019-10-18 01:28] jaikiran opened #1429 "StaticHandlerImpl uses a shared DateFormat across threads causing issues with date parsing in header values"
Continuing on this curious issue in Quarkus https://github.com/quarkusio/quarkus/issues/4627, apart from the fix done yesterday here https://github.com/vert-x3/vertx-web/issues/1423, it would be really odd that Firefox (that too the latest version) would send incorrect values for a header like `If-Modified-Since`. The user attached the browser's request header screenshots here https://github.com/q

[2019-10-18 01:33] jaikiran commented on #1429
FYI - Looked for the references of `Utils.createRFC1123DateTimeFormatter()` and there's also `LoggerHandlerImpl` which follows a similar pattern as the `StaticHandlerImpl`. So that class too might need a fix.

[2019-10-18 07:26] vietj commented on #1429
@jaikiran you are right, actually this never happened before because `StaticHandler` is supposed to be used from the event-loop. Quarkus shares the same `StaticHandler` from various thread and thus is likely running into that issue.

Thanks for your investigation, I'm scheduling a fix for 3.8.4

[2019-10-18 11:48] ferakpeter opened #1430 "missing null check in RouteImpl.java when mounting a sub router"
### Version

* vert.x core: 3.8.2
* vert.x web: 3.8.2

### Context

I encountered an exception which looks suspicious while using the OpenAPI3RouterFactory to create a Router. It is common for the Router to have the "path" variable set to "null" for global or regex routes (ex: the default BodyHandler). However, with the new ```validateMount()``` method in RouteImpl ([RouteImpl.java](https://github

[2019-10-19 07:18] pradeepsixer opened #1431 "Support metrics for routes"
### Version

* vert.x core: 3.8.2
* vert.x web: 3.8.2

### Context

Currently, some of the metrics for HttpServer is provided with path as a tag (in micrometer implementation). In some of our endpoints, we use UUIDs for two of the path parameters, thus the number of meters easily fill up heapspace if there are large number of requests with different UUIDs.

A suggestion will be to provide metrics

[2019-10-19 11:08] pmlopes commented on #1430
@ferakpeter could you help me try to write a test for it?

[code]

This doesn't cause a NPE, what am I doing wrong?

[2019-10-19 11:34] pmlopes commented on #1429
@jaikiran please review the PR: https://github.com/vert-x3/vertx-web/pull/1432

[2019-10-19 14:38] jaikiran commented on #1429
Hello @pmlopes, that change looks good to me. Thank you for the quick fix.

[2019-10-20 13:24] luisnuxx opened #1433 "Reflection on <Route // RouteImpl> broken after upgrade to vertx-web 3.8.3"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context

I encountered a possible change in behaviour using reflection over instances of the class <RouteImpl> after upgrade to vertx 3.8.3.

Most probably the change was done by the following commit:

https://github.com/vert-x3/vertx-web/commit/21da348ffe85ed2c381b27cbf6a3a3db745a1ed2#diff-4898b29ec1980c42a1178bdf2129953b

### Steps to re

[2019-10-20 13:28] luisnuxx commented on #1433
Minimal reproducible example attached

[vertx_web_issue_1433.zip](https://github.com/vert-x3/vertx-web/files/3747893/vertx_web_issue_1433.zip)

Just change the version from 3.8.2 to 3.8.3 to see the behaviour change happening.

[2019-10-20 13:35] luisnuxx commented on #1433
Searched for changes that might affect reflection on,
https://github.com/vert-x3/wiki/wiki/3.8.3-Deprecations-and-breaking-changes
but couldn't find anything related with this issue.

[2019-10-21 01:28] pradeepsixer commented on #1433
Could you please share why this is needed when there is a public method on Route that exposes methods? (https://vertx.io/docs/apidocs/io/vertx/ext/web/Route.html)
Also, IMHO reflection should not be used for accessing elements (especially from a third party library) - most cases it would be a hack, and not a real solution. In those cases,

Only publicly exposed fields / methods are meant for consu

[2019-10-21 05:47] sudheerbhat opened #1434 "Free marker extension doesn't cache the included templates."
### Version

* vert.x core: N/A
* vert.x web: 3.8.1

### Context

We use freemarker vertx extension in one of our hot paths. When the application was profiled we figured out that ~55% was from freemarker template loading. Further debugging showed that the vertx extension sets the freemarker cache to NullStorageCache and attempts to cache the templates on its own. This works if the templates doesn'

[2019-10-21 07:36] ferakpeter commented on #1430
Hi!
Sorry this is a duplicate, I did not catch it when searching through the issues - #1419

It was fixed by this commit - https://github.com/vert-x3/vertx-web/commit/f01366b18ee5007db1405464e461553db2add30f

[2019-10-21 09:12] askeralim commented on #619
How can I add registerHandler outside eventBus.onOpen handler ?

[2019-10-21 11:21] sudheerbhat commented on #1431
You might have already explored but Micrometer's [MeterFilter](https://vertx.io/docs/vertx-micrometer-metrics/java/) or Match is one option though.

[2019-10-21 12:34] encodeering commented on #1363
would be nice to have an update to `2.0.14` or `2.0.15` of the swagger parser.

the section about _Common Parameters for Various Paths_ in the [swagger documentation](https://swagger.io/docs/specification/describing-parameters/) is currently not working if multiple `$ref` are used in the `parameters` section and the router factory exits with

[code]

[2019-10-21 17:40] pradeepsixer commented on #1431
Yeah currently using MeterFilter to filter out the path based metrics, and also a custom handler to set the route based metrics. But it would be good if this is supported with minimal configuration.

[2019-10-22 13:13] anders-olofsson opened #1435 "Breaking change in routing behaviour between version 3.8.1 and 3.8.2."
### Version

* vert.x core: 3.8.2
* vert.x web: 3.8.2

### Context

When upgrading from Vert.x 3.8.1 to 3.8.2, there are breaking changes in the routing behaviour.

The issue seems to be caused by the following method: https://github.com/vert-x3/vertx-web/blob/3.8.2/vertx-web/src/main/java/io/vertx/ext/web/impl/RouteImpl.java#L440

### Steps to reproduce
Clone and run the tests in this project:
ht

[2019-10-23 04:12] #1430 closed

[2019-10-24 17:55] gagarski opened #1436 "null value in HttpRequest.sendJson and HttpRequest.sendJsonable should be treated as json null"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

Let's consider the following code:

[code]

The result of both requests is HTTP error 411 (Length Required). Looking through the relevant vertx-web code I found out that there is one point where `null` values passed to `send*` methods of HttpRequest are handled: `HttpContext.handleSendRequest()`. In all cases they are treated as sending a requ