[2019-10-25 12:41] vietj commented on #1436
right, we should use a marker object for the body when sending null

[2019-10-25 12:54] #1436 closed

[2019-10-26 14:43] luisnuxx commented on #1433
@pmlopes @pradeepsixer Found a different way... via existing public to achieve my goals.
Will close this issue.

Thanks for the quick response.

[2019-10-26 14:43] #1433 closed

[2019-10-27 23:54] InfoSec812 opened #1437 "SockJS Eventbus Bridge regression since"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3
* Vert.x rxjava2 3.8.3
* vertx3-eventbus-client 3.5.0 (latest on npm)

### Context

Eventbus bridge handshake fails

### Do you have a reproducer?

In progress. I will update this issue once I have a link

### Steps to reproduce

### Extra

* Anything that can be relevant

[2019-10-28 08:27] vietj commented on #1437
can you give a description of the regression ?

[2019-10-28 08:48] #1435 closed

[2019-10-28 08:52] pmlopes commented on #1434
Perhaps the all internal caching for template engines should be refactored to use the engines internal cache if present (note that this isn't as trivial as it looks as the engine has no knowledge of vert.x filesystem which can load resources from the filesystem or the classpath in a seamless way compatible even with native images).

[2019-10-28 08:52] #1429 closed

[2019-10-28 08:54] pmlopes commented on #1366
matching is now synchronized free.

[2019-10-28 08:54] #1366 closed

[2019-10-28 09:42] tsegismont commented on #1437
@InfoSec812 can you check that it works if you use the 3.8.3 version of the eventbus client?

By the way according to https://www.npmjs.com/package/vertx3-eventbus-client 3.8.3 is the latest release.

[2019-10-28 13:34] InfoSec812 commented on #1437
Nevermind, I found the issue. It was a user error.

[2019-10-28 13:34] #1437 closed

[2019-10-29 04:20] sudongsheng opened #1440 "#vertx-web-client 3.8.3# i use WebClient as single instance, but i always get the reponse in the same thread"
I use WebClient as single instance, and i send request in different eventloop thread , but why  i always get the reponse in the same thread. I expect to deal respone in eventloop thread which i send the request.
[code]

[2019-10-29 07:42] sudheerbhat commented on #1434
At least in the case of freemarker, we can provide the template loader which will be used to lookup templates when not found in cache. Which probably means that we can use the existing vertx template loader but delegate the caching to freemarker. I have done something similar. Honestly speaking, I don't know about other template engines.

[2019-10-29 09:51] f24-gklein opened #1441 "Exact path routing problem in 3.8.3"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context

Exact path routing problem. See below

### Do you have a reproducer?
[code]
[code]

### Steps to reproduce

1. Run the above snippet
2. Example uses a fix/exact route of http://localhost:8080/foo/bar/. Only this route should match
3. However all routes which seem to be a valid prefix of /foo/bar/ also seem to match (which is not d

[2019-10-29 11:46] pmlopes commented on #1441
The usage of significant final slash was applied to just a few cases (mostly variables/patterns) The PR above fixes this by applying it to all kinds of routes. This way the API is consistent regardless of the type of route.

@f24-gklein please have a look!

[2019-10-29 11:59] #1427 closed

[2019-10-29 12:15] #1441 closed

[2019-10-29 13:52] f24-gklein commented on #1441
Sorry, if i do not fully understand your response. You mean this will be fixed with 3.8.4? My intention is, that by expressing `.path("/foo/bar/")` we want to match only one and exactly one route and neither e.g. `/foo/v` nor `/foo/bar/baz` (which works due to the trailing slash)

[2019-10-29 14:50] pmlopes commented on #1441
@f24-gklein here's the test I've added:

[code]

[2019-10-29 14:50] pmlopes commented on #1441
Yes the fix has been backported to 3.8 branch so it will be available on 3.8.4

[2019-10-30 09:21] pmlopes commented on #1441
No, the rule for the trailing slash is as follows:

1. If a path is registered with a trailing slash `/foo/bar/` then a request to be matches **MUST** be `/foo/bar/`
2. If a path is registered with `/foo/bar` then the trailing slash is not significant **BOTH** `/foo/bar` and `/foo/bar/` will match.

With this fix, the rule applies to all routes:

1. static routes `/foo/bar`
2. variable routes `/fo

[2019-10-30 09:59] #1339 closed

[2019-10-30 10:01] slinkydeveloper commented on #1405
Closed by #1364

[2019-10-30 10:01] #1405 closed

[2019-10-30 11:21] tobiasmuehl opened #1444 "Web Client Kotlin docs use "as" without escaping"
The example code on handling JSON responses on https://vertx.io/docs/vertx-web-client/kotlin/#_handling_http_responses is syntactically incorrect in Kotlin.

`client.get(8080, "myserver.mycompany.com", "/some-uri").as(BodyCodec.jsonObject()).send({ ar ->`

should be

[code]

[2019-10-31 01:11] okou19900722 commented on #1444
I think this is a problem with the `vertx-lang-kotlin` module. You can create a new issue at https://github.com/vert-x3/vertx-lang-kotlin/issues.

[2019-10-31 03:58] tobiasmuehl commented on #1444
Thanks, moved there.

[2019-10-31 03:58] #1444 closed

[2019-10-31 05:32] #1363 closed

[2019-10-31 08:36] rulai-ymwang opened #1445 "Feature Request: support remoteClient customization in LoggerHandlerImpl"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context
I am using the LoggerHandlerImpl in my web application.  I need to log the remote client address. But I have a proxy in the production env.  So the remote client address is not the real one. I can get it from the "X-Real-IP" of http request headers.

I found that I can resolve this only if I rewrite all of the LoggerHandlerImpl.  T

[2019-11-02 23:53] StarWindMoonCloud opened #1446 "Feature Request: support one time multiple headers set in HttpServerResponse"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context
When one needs to set multiple header, looks like the only way here is to call putHeader one by one. It'll be much convenient if we can have setHeaders interface in HttpServerResponse

[2019-11-03 09:54] vietj commented on #1446
you can do `response.headers().setAll(headers)`

[2019-11-03 09:54] #1446 closed

[2019-11-05 21:01] Gaket commented on #1133
Yep. Just run into the same situation. Wanted to create a pr but found this issue. Looks like the issue went to milestone 4.0.0 branch, but don't see why it can't be created for an earlier one as well. The issue is still reproduceable in 3.8.1

[2019-11-06 11:02] pmlopes commented on #1133
The fix has been backported to 3.8 branch (will be available on the next 3.8 release)

[2019-11-06 11:02] #1133 closed

[2019-11-06 11:34] aygalinc commented on #1133
Thx for the backport !

[2019-11-07 10:54] guidbona opened #1447 "HttpRequest.sendStream() doesn't handle exceptions from underlying HttpClientRequest"
See block starting at

https://github.com/vert-x3/vertx-web/blob/6b6dd6d48e2ca65ff40f95754d067755c52a6548/vertx-web-client/src/main/java/io/vertx/ext/web/client/impl/HttpContext.java#L470

Happens setting a timeout on the request, but I guess all other exceptions are lost as well. This means the handler of the HttpRequest is never called.

[2019-11-08 09:55] guidbona commented on #1447
It seems that the issue:
- Also affects sendMultipartForm()
- Affects versions 3.7.1, 3.8.3, but not 3.6.3 (not tried with v 4 actually)

[2019-11-09 17:04] SwampWalker opened #1448 "Feature request: Support SameSite attribute in response cookies"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context

I want to use the easiest method of CSRF protection on modern browsers: the SameSite=Lax attribute in Set-Cookie response headers (https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#SameSite_cookies). This allows the browser to enforce CSRF protection and I don't have to do special tricks in the front end code via the custo

[2019-11-09 21:29] vietj commented on #1448
can we assign this feature to a version @pmlopes ?

[2019-11-11 12:41] rozzamozza opened #1449 "IllegalStateException adding Body Handler after non chunked request retuned"
### Version

* vert.x core: 3.7.1
* vert.x web: 3.7.1

### Context

I encountered an IllegalStateException which looks suspicious while ...
adding as Body Handler AFTER the result has been returned on a get request (unchunked)

Java.lang.IllegalStateException
    at io.vertx.core.http.impl.HttpClientResponseImpl.checkEnded(HttpClientResponseImpl.java:137)
    at io.vertx.core.http.impl.HttpClientR

[2019-11-11 13:59] pilzm opened #1450 "WebClient ResponsePredicates get compressed request body"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0

### Context

When using the Response Predicates provided by the WebClient, the ErrorConverter's response body is compressed if the server sent a compressed response.

[code]

We would either need the unzipped body or have a way to provide an async `ErrorConverter` so we can unzip the response ourselves.

### Steps to reproduce

1. Have a serve

[2019-11-11 16:38] rgmz opened #1451 "[Regression] web-api-contract: "There are duplicate parameter values" exception when using $ref"
## EDIT: I just realized this was fixed in #1363. Any chance for a bugfix release?

### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context

[In OpenAPI 3 you can define common parameters and reference them with the `$ref` keyword](https://swagger.io/docs/specification/describing-parameters/#common-for-various-paths):

[code]

However, this functionality was broken in [`3.7.1`](https://

[2019-11-11 18:12] MeYoGui commented on #713
@slinkydeveloper We still have that kind of issue with Vertx 3.8.2 yes.
The route is well working without the StaticHandler but when we add the static handler then it gives us a 404.

[2019-11-12 08:29] slinkydeveloper commented on #1451
3.8.4 is scheduled in next weeks

[2019-11-13 18:36] pmlopes commented on #1448
Hard to tell as currently it requires that cookie same site support lands on netty. I've asked once and it seems it's a netty 5 feature. I can't tell when Netty 5 is out and vertx upgrades to it...

[2019-11-18 03:40] lwydyby opened #1455 "Why there are performance issues with routing and webclient use"
### Version

* vert.x core:3.8.3
* vert.x web:3.8.3

### Context

I want to use webclient in the router's hander. First I use guice to inject webclient into the hander.

[code]
The results after using the wrk test are:

[code]
![ioc](https://user-images.githubusercontent.com/30611869/69023023-3b522500-09f8-11ea-9042-ec04552fc783.png)

But if I initialize it in the handler, the performance will imp

[2019-11-18 07:16] vietj commented on #1455
that's likely because of the max pool size of the Web client, when you inject it in the handler ,you will get a single Web client connection pool (default size is 5) for all incoming requests and the performance will be limited by this, if you create it in request handling, you will not have this limitation anymore because the concurrency to 127.0.0.1 will be larger.

[2019-11-18 07:16] #1455 closed

[2019-11-18 07:19] lwydyby commented on #1455
I changed the configuration before injecting, but the test results are still like this
[code]

[2019-11-18 07:20] vietj commented on #1455
then provide a proper reproducer and we will investigate, thanks

[2019-11-18 07:20] vietj commented on #1455
I mean a GitHub project we can close and quickly look at it

[2019-11-18 07:34] lwydyby commented on #1455
This is my test code：https://github.com/lwydyby/router-demo

[2019-11-18 08:11] lwydyby opened #1456 "Why there are performance issues with routing and webclient use"
This is my test code：https://github.com/lwydyby/router-demo

_Originally posted by @lwydyby in https://github.com/vert-x3/vertx-web/issues/1455#issuecomment-554889864_

[2019-11-18 09:35] himanshumps opened #1457 "HTTP/2 and lowercase for headers"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context

I encountered an exception which looks suspicious while reading and writing the values of headers having the key with characters in upper case. Is there any restriction that the headers in HTTP/2 should always have the key in lower case ? ...

### Do you have a reproducer?

Just use https://github.com/vert-x3/vertx-examples/tree/m

[2019-11-18 12:15] tsegismont commented on #1450
Can you make sure the web client options have the `tryUseCompression` option set to true? I can't reproduce otherwise:

[code]

[2019-11-18 17:04] thaDude commented on #769
@tsegismont I ran into the same issue with Vertx 3.6.3 and adding the pause/resume resolved things. This seems a bit artificial but maybe I missed that part of the Vertx manual. Where does it talk about pausing and resuming requests?

Here is the handler in question:

[code]

[2019-11-18 19:46] pmlopes commented on #1431
@pradeepsixer would you like to implement this?

[2019-11-18 20:31] rogelio-o commented on #1457
According to [RFC7540](https://tools.ietf.org/html/rfc7540#section-8.1.2): "A request or response containing uppercase header field names MUST be treated as malformed". So, yes, they should always have the key in lowercase.

[2019-11-19 06:40] gaollg commented on #1448
Like this?

[code]

[2019-11-19 07:16] lwydyby commented on #1456
Hello, is this question the result of your test consistent with mine? what is the reason

[2019-11-19 11:33] pilzm commented on #1450
I can confirm that we don't set `tryUseCompression`. I'll need to investigate why the server even responds with a gzipped response in that case... Until then I'm closing this ticket. Thanks!

[2019-11-19 11:33] #1450 closed

[2019-11-19 12:03] #1457 closed

[2019-11-19 12:36] pmlopes commented on #1448
This is an often requested feature, here's a proposal to allow setting the value from vert.x:

https://github.com/eclipse-vertx/vert.x/pull/new/issues/same-site-cookie

[2019-11-19 13:27] tsegismont commented on #1450
Thanks for the update @pilzm

[2019-11-19 14:16] java-stranger commented on #1447
Also affects sendForm(), sendJsonObject() - actually any method which includes writing request body.

I found the reason: ``HttpContext`` uses pipe mechanism to write the body:
[code]
In the Pipe constructor, ``endHandler`` of the ``stream`` is set to complete the future:
[code]
Later, when we start the pipe operation in ``public void to()``, there's an exception handler set for the request destin

[2019-11-19 19:20] kurt-o-sys opened #1459 "[request] vertx web open contract - validate responses"
### Version

* vert.x core: 3.8.0
* vert.x web: 3.8.0
* vert.x web open contract: 3.8.0

### Context

When reading an openapi contract, the responses are not validated. It would be nice to at least have the option to validate responses (and add an error-handler if the response is not valid).

### Steps to reproduce

1. make a openapi contract with a response object with a required field (e.g. `id`

[2019-11-20 08:48] slinkydeveloper commented on #1459
I'm not sure validating a response should be part of web api contract, since it adds a significant overhead just to check that the server contract implementer followed the server contract carefully. The problem of replying following the contract is up to the developer itself, not the library.

[2019-11-20 14:18] rdinkel commented on #1038
Hi guys,
is this topic dead? I hope not! can we just get an improvement by generating a token for the users session and not on each request ?

best regards

[2019-11-20 15:30] pmlopes commented on #1038
No it's not dead. It's a matter of getting someone to work on it. So the current csrf is stateless, we can make an improvement to consider the case where sessions are available. So if the session is available we can avoid regenerate if session is valid however this should not be the default as it allows replay attacks (while session is valid, token is valid)

[2019-11-20 18:45] kurt-o-sys commented on #1459
I am very sure I want this :). I agree that it is the responsibility of the dev, but having the option to at least check if this is implemented well and have some handing if it isn't, is really just what one expects. It is possible to define the responses in openapi contract, why wouldn't we have the option to use it?
Moreover, I guess the validators are already defined in the module. It makes per

[2019-11-21 11:14] pradeepsixer commented on #1431
Sure. Will give some thought into what would a good result for this issue be, and will share it before the implementation.

[2019-11-21 12:16] rdinkel commented on #1038
I understand. How do you suggest to do async requests, when each csrf token can be used only once ? Provide a GET endpoint which gives a client app (angular, mobile app, etc.) a unique onetime csrf token which can then be used during the next POST request ? This way the interactions can still come in conflict with each other.

[2019-11-21 12:20] pradeepsixer commented on #1431
@jotak Are you working on [Vertx Micrometer Metrics #34](https://github.com/vert-x3/vertx-micrometer-metrics/issues/34). I see that it is slated for 4.0.0.

[2019-11-21 12:53] lukehutch commented on #1038
@pmlopes how would replay attacks work? GET requests are supposed to have no side effects (so don't need CSRF protection), and POST requests can only be initiated by the user (as long as you have protected against XSS attacks). Therefore no requests with side effects (ie. POST requests needing CSRF protection) can be initiated by an attacker in the context of the current session, if XSS protection

[2019-11-21 13:11] rvansa opened #1461 "[vertx-web-api-service] OperationResponse missing sendFile option"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context

Rewriting existing Vert.x application for OpenAPI 3 using api-contract and api-service I found that I can't easily return files using the `OperationResponse`; the response can carry `Buffer` payload but I'd have to load the (potentially big) file from disk and send it there. I know `OperationResponse` can be used over the event bu

[2019-11-21 15:02] rvansa commented on #1461
Ok, it's so much worse... In order to pass (binary) body payload to the handler, I need to encode it to JSON - that means base64 encoding it and decoding again.

[2019-11-21 15:05] jotak commented on #1431
@pradeepsixer no, nothing started and I must admit I'm lacking time at the moment

[2019-11-25 12:47] slinkydeveloper commented on #1461
web-api-service is not intended to be used for sending files, since the event bus itself doesn't support streaming atm and, as you said, this could result in slowing down the event bus.
I think it's not a good solution to add `sendFile` method enabled only locally, since it could lead to a misusage of the module itself. This module was designed to easily reply to requests in a distributed event bu

[2019-11-25 15:27] rvansa commented on #1461
@slinkydeveloper WDYM by plain handlers? I was looking for the recommended way to have OpenAPI 3.0 defintion in sync with the implementation - ideally generating even the interface for me. The definition needs to be the single source of truth; I don't want to register anything manually.

In the end I ended up writing my own ( :-/ ) generator of the code that registers the handlers (`router.get("/f

[2019-11-25 15:36] slinkydeveloper commented on #1461
@rvansa vertx-web-api-service just uses this package https://vertx.io/docs/vertx-web-api-contract/java/#_mount_the_handlers to mount handlers and validate everything. That's what I mean for "manually mounting handlers".

Yes I know we miss the "scaffolding part", I tried to create [some experiments](https://github.com/pmlopes/vertx-starter) in the past but we don't have anything officially maintai

[2019-11-25 15:57] rvansa commented on #1461
Yes, I've stumbled upon that. What I disliked about that part was that this had to happen once before starting the project/module, while I wanted the generator being part of the build, integrating as maven plugin. Also the handlers don't do much about parsing the parameters. And it does not use content-type based routing, but the code generated by various swagger codegen plugins is not much better

[2019-11-25 17:12] slinkydeveloper commented on #1461
The aim of vertx-web-api-contract is not to replace JAX-RS and similars, but you can build a JAX-RS-like API on top of it if you wish (and 99% of that work is already in vertx-web-api-service, you just need to hack it a little bit :smile:).

It does the request validation and translates the various parameters to Java representations, I won't say it doesn't much.

No but it validates the body and p

[2019-11-25 17:42] rvansa commented on #1461
So what's the goal, exactly? Handling HTTP calls in a verticle deployed on different node than where the HTTP server sits?
I don't really want JAX-RS (with the calls blocking by default - I know there's async variant with CFs), I had an existing code using plain `vertx-web` but sync up with OAS3 as the 'documentation format'.

Here I was talking about the vertx-web-api-contract/service but about t

[2019-11-25 21:25] slinkydeveloper commented on #1461
There is a version of the generator that generates also WebApiService interface, I wrote a blog post about it https://slinkydeveloper.com/Debts-Manager-Tutorial-Vert-x-Web-API-Contract-Service/

[2019-11-25 21:38] slinkydeveloper commented on #1461
Ok wait maybe there is a little bit of confusion here :smile: :

* [vertx-web-api-contract](https://vertx.io/docs/vertx-web-api-contract/java) is the module that provides request validation and generates the correct `Route` object (with correct path regular expression). In fact it doesn't deploy an HTTP Server at all, it just generates a Router and it's up to you to mount it
* [vertx-web-api-servi

[2019-11-26 01:53] runnermann commented on #1038
We (our company) prefers to maintain statelessness but I agree that the cost to create a hash each time, is expensive.  Testing on this machine using SHA-512 takes between 4 - 16 milliseconds on a windows i7 with 4 cores.  Unsure what that means on the actual server as we have not deployed it to the server yet. IMO this should be optional.

[2019-11-26 03:11] lukehutch commented on #1038
The time overhead on each request is is an issue, but it's not just the time overhead that you have to worry about, and if I remember right the code is not actually running SHA-512, but instead it's generating random numbers as tokens at each new request. (Maybe it generates random numbers and then hashes them, I would have to look at it again.) The problem with generating a random number on each

[2019-11-26 04:43] runnermann commented on #1038
@pmlopes anychance you can indicate how to employ JWT with JWK?

[2019-11-26 04:52] runnermann commented on #1038
@lukehutch Thanks for the heads up on problems with entropy with SHA-512. That would be a major issue. I do not believe where we are using SHA-512 that it will be a problem.  However for the application of CSRF tokens ... ouch!

[2019-11-26 08:23] rvansa commented on #1461
Ok, thanks a lot for your explanations!

So many ideas what to code and so little time (I really like DSL tooling). Regrettably I have to focus elsewhere, unless I need that feature to fulfill my duties. Hopefully some day.

[2019-11-26 08:23] #1461 closed

[2019-11-26 08:49] pmlopes commented on #1038
@lukehutch yes `GET` should be idempotent :) but we never know right. So let's do this instead. We explicitly document that `GET` requests must be expected to be idempotent, then we can reuse the hash.

Since CSRF handler itself is stateless too, reuse will require that there is a session in place and in that case only if a session changed then the token will change too. Sessions change state if a

[2019-11-26 08:50] pmlopes commented on #1038
@runnermann could you open another issue for the JWT/JWK documentation. On 4.0 we're working on unifying the Oauth2 with JWT handlers (so the same handler can do handle both cases. In Oauth2 we already support reloading/rotating keys so I guess this would solve your issue too).

[2019-11-26 10:17] lukehutch commented on #1038
@runnermann I went and looked at the code again, since I couldn't remember how this all worked. In `io.vertx.ext.web.handler.impl.CSRFHandlerImpl`:

[code]

This is the first sign of trouble. `new Random()` would produce a regular PRNG (which is not cryptographically secure, but will never block). `new SecureRandom()` finds any registered secure RNG (which either blocks if it has not accumulated e

[2019-11-26 10:19] lukehutch commented on #1038
@pmlopes it's not just idempotence, that just means "if the same action is taken two or more times, the net effect is the same as if the action were taken only once". GET is not supposed to have any state change effects at all, so it's more like "If the same action is taken once or more, the net effect is the same as if the action were taken zero times (which is to say there is no side effect at a

[2019-11-26 10:36] pmlopes commented on #1038
I totally agree with you @lukehutch I was just saying that sometimes we developers are just lazy and don't follow the specs ;-)

Anyway I'll do this asap and about the locking with random/entropy I'll use the Vertx PRNG class, which performs re-seeding on random object on a thread pool to specifically avoid blocking.

[2019-11-26 11:05] pmlopes commented on #1038
Please review https://github.com/vert-x3/vertx-web/pull/1465

[2019-11-26 19:26] runnermann commented on #1038
@lukehutch  Thanks. It's been a while since I looked at the code in VERT.x and I did see that it is using a PRNG rather than using an SPRNG. However the "HmacSHA256" is being used which theoretically reduces the vulnerability. I have not compared this to other platforms, however this is a resource hog. I am not fully in agreement with the theory of using slower algorithms, since  multi-core proces

[2019-11-26 23:11] lukehutch commented on #1038
@runnermann Actually @pmlopes already changed the code (in the last 24 hours) so that it now uses a Vert.x PRNG rather than a system SPRNG. I think that is sufficient for CSRF protection, and the possibility that the SPRNG could block was my biggest concern. (Turns out that at least on Linux, the SPRNG *probably* doesn't block anyway, but still.)

SHA256 is a pretty fast cipher, but when you need

[2019-11-27 03:34] runnermann commented on #1038
Thanks.

As this is not my field of expertise, I have 20 years of cryptography experience and have seen the consequences of cryptographic errors or equivalent of lax security standards. See my profile in linked in and pay attention to validation by peers. I don't doubt anyone's capabilities, but there isn't anyone in the chain of this document that can provide higher confidence than the wisdom pro

[2019-11-27 03:55] lukehutch commented on #1038
I'm 100% on board with OWASP being the gold standard for security... I have poured over their docs for hours, meticulously comparing every part of my own [serverx](https://github.com/lukehutch/serverx) codebase to these docs to make sure I didn't miss even one thing that might cause a vulnerability. Actually it was that process that led me to look into how CSRF was implemented, which lead to me fi

[2019-11-27 07:11] runnermann opened #1466 "Support and documentation for "stateless servers using JWT""
### Version

* vert.x core 4.0

### Context

While maintaining the recommendations from OWASP for stateless servers, include support for JWT stateless servers implementing JWK.

Currently in 3.8.x Stateless servers are supported using the deprecated "keystore". The Vert.x docs recommend replacing the keystore using JWK however there are no examples in the 3.8 guide to use JWK which breaks stateles

[2019-11-27 07:18] runnermann commented on #1038
Awesome and I agree. It was this conversation that got me to dig deeper in to the standards and experiances. I will commit a few days to that.

[2019-11-27 11:10] #1038 closed

[2019-11-27 11:39] #1456 closed

[2019-11-27 14:36] stephanebastian opened #1467 "Update AuthHandler to account for the new AuthorizationProvider"

[2019-11-27 18:31] runnermann commented on #1038
Is there a vert-x 4 repository in GitHub, or is this in vert-x3?

On Tue, Nov 26, 2019 at 7:55 PM Luke Hutchison <notifications@github.com>
wrote:

[2019-11-27 19:24] pmlopes commented on #1038
master branch will be v4 (the org name isn't the best, we know 😉)

[2019-11-28 06:08] runnermann commented on #1038
Is being added to the 1038 branch? Just need to know so I can see the
current implementation of variables and methods.

Viewing the master branch it appears that the PRNG is being used. With my
little knowledge in hacking other than from the recommendations from the
OWASP and NIST. I am limited to English and my only alternative language is
French and non technical. If there is a European equivale

[2019-12-03 06:13] shenzhenMirren opened #1470 "BodyHandler java.lang.IllegalArgumentException: empty name"
### Version

* vert.x core:  from 3.7.1 to 3.8.4
* vert.x web:  from 3.7.1 to 3.8.4

### Context
When  [BodyHandler](https://vertx.io/docs/vertx-web/java/#_request_body_handling)  is added, the request parameter with 2 & will be Exception
For example, the request parameter is: a=b&&c=d
### Do you have a reproducer?

[code]

* Link to github project/gist

### Steps to reproduce

1. ...
2. ...
3. ..

[2019-12-03 10:47] sheldon-markk opened #1471 "Optional Auth"
### Version 3.8.2

* vert.x core:
* vert.x web:

Does the web api contract support optional auth, we want some of our apis to support anonymous access as well as auth access

We tried
[code]
but it does not work.

[2019-12-03 13:10] ramtech123 opened #1472 "SubRouter Mount acting as Exact Path"
### 3.8.4

* vert.x web:

### Context

The handlers mounted on sub-router are ignored when the mount point is `"/"`.
`router.mountSubRouter("/", subRouter);`
Note that, we can't have empty string as mount point.

It was functional until v3.8.1. With v3.8.4 it behaves as exactMatch and ending with slash.

Below table shows the difference between 3.8.1 and 3.8.4 based on the reproducer shared below:

[2019-12-04 07:47] interviewBubble opened #1473 "Default values for Query Parameter"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

I am trying to feed default value for Query Params, but I am not getting any API for that.

for Example:
We have this type of APIs
[code]

but in this case, we  can not set default values,
can we get like this or is any way to achieve this using vertx:
[code]

[2019-12-04 19:09] pmlopes commented on #1473
Hi @interviewBubble, would you like to propose a pull request for that?

[2019-12-05 00:16] rgmz commented on #1451
I can confirm that this is fixed in 3.8.4. :)

[2019-12-05 00:16] #1451 closed

[2019-12-05 08:17] #1467 closed

[2019-12-06 07:40] interviewBubble opened #1477 "Native support for Elasticsearch"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

I am working on Search-based project in which I am using elastic search as backend but I am not getting any support from Vertx.
There is no official implementation for ES. can we get ES support with Vertx?

[2019-12-06 15:17] pmlopes commented on #1477
@interviewBubble can you please ask on https://gitter.im/eclipse-vertx/vertx-users a more specific question?

Perhaps you're looking for such a project? https://reactiverse.io/elasticsearch-client/

[2019-12-06 15:17] #1477 closed

[2019-12-11 15:58] pmlopes commented on #1466
The documentation has been updated. Stores are not deprecated anymore as the internal issues have been addressed and instructions on how to convert back and forth with openssl is also included.

[2019-12-11 15:58] #1466 closed

[2019-12-11 16:03] pmlopes commented on #1275
This class has been deprecated and is not used anymore.

[2019-12-11 16:03] #1275 closed

[2019-12-11 16:04] pmlopes commented on #1009
Fixed on 4.0.0rc4

[2019-12-11 16:04] #1009 closed

[2019-12-12 12:31] pmlopes commented on #157
This has been fixed with: https://github.com/vert-x3/vertx-web/commit/136ff0331679491c3929b317a054082df8595378 and other improvements.

[2019-12-12 12:31] #157 closed

[2019-12-12 12:32] pmlopes commented on #448
Fixed by 0e49cfa53f05106a34f7e8dcfdfea87093c63899

[2019-12-12 12:32] #448 closed

[2019-12-12 12:35] pmlopes commented on #586
Use the BodyHandler on the route will address the issue and is probably safer.

[2019-12-12 12:35] #586 closed

[2019-12-12 12:37] pmlopes commented on #836
We run the latest test now.

[2019-12-12 12:37] #836 closed

[2019-12-12 12:39] pmlopes commented on #935
Close due to inactivity.

[2019-12-12 12:39] #935 closed

[2019-12-12 12:40] pmlopes commented on #977
With 4.0 we don't include OSGi metadata anymore.

[2019-12-12 12:40] #977 closed

[2019-12-12 12:41] #1130 closed

[2019-12-12 12:44] pmlopes commented on #773
With 4.0 we don't include osgi metadata anymore.

[2019-12-12 12:44] #773 closed

[2019-12-12 12:45] #1448 closed

[2019-12-12 12:47] #1254 closed

[2019-12-13 12:50] arniu opened #1479 "doc: wrong example for "Capturing path parameters""
### Version

* vert.x core: 4.0.0m4
* vert.x web: 4.0.0m4

### Context

The example in section [Capturing path parameters](https://vertx.io/docs/vertx-web/java/#_capturing_path_parameters) was wrong:

1. `HttpServerRequest#params` return query parameters in the request;
2. `RoutingContext#pathParam` return the path parameter.

[2019-12-13 13:21] arniu opened #1480 "How about to change `RoutingContext#normalisedPath` to `normalizedPath`?"
'Normalize' is more common than 'normalise'.

[2019-12-13 15:32] pmlopes commented on #1480
Can you make a pull request with `normalizePath` and deprecate the old one by calling the new one?

[2019-12-13 15:36] pmlopes commented on #1479
Can you fix the docs? See the file https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/examples/WebExamples.java

[2019-12-14 06:40] #1479 closed

[2019-12-14 07:48] #1480 closed

[2019-12-14 13:34] marsbergen opened #1483 "WebClient Query Params don't allow multiple params with the same keys"
### Version

* vert.x core: 3.8.4
* vert.x web: 3.8.4
* vert.x-lang-kotlin: 3.8.4

### Context

When I try to make a request with WebClient (in Kotlin) and add multiple Query Params with the same key (in my case `tag_name`, since I'm trying to request to Digital Ocean's API) it only takes the first tag_name query param to the actual request.

The API of Digital Ocean allows, as according to the HT

[2019-12-14 23:54] sanyarnd opened #1484 "Delete me, wrong repository"

[2019-12-15 00:20] #1484 closed

[2019-12-15 09:03] vietj commented on #1483
can you provide a reproducer ?

this (from the testsuite) will work for me:

[code]

[2019-12-16 07:13] marsbergen commented on #1483
Oh, I am very sorry, I've just tested it on a PostBin to verified if multi tag_name still wouldn't come through and if I did something wrong. And I see the query params just showing up.

Thanks for responding so rapidly, I'll check what I'm doing wrong in my connection to DO specific then :)

[2019-12-16 07:13] #1483 closed

[2019-12-16 18:18] NavidMitchell commented on #935
Hello, This issue is not really resolved.. Please see @fishjam suggestions. As it stands right now there is no way for us to block misbehaving clients automatically. We have already had an occurrence of an attacker creating 100's of GB's of logs due to sending malformed data following injection attack attempts. Ideally we could capture the client information, this way we could blacklist those clie

[2019-12-16 18:42] pmlopes commented on #1413
@Stwissel could you see if the PR solves your use case? I've a upstream PR on master https://github.com/eclipse-vertx/vert.x/pull/3231 but it will require agreement from more people than just me. Perhaps you could weight in and explain what that would be helpful.

Either way both PR complement each other, if the one on core gets merged all dav commands should be available but with this PR you coul

[2019-12-17 03:33] cvgaviao opened #1486 "[api-contract] Nullpointer when a parameter doesn't have "required: false""
### Version

* vert.x core: 4.0.0-SNAPSHOT
* vert.x web: 4.0.0-SNAPSHOT

### Context
On my OAS3 model I added the parameter below:
[code]
When bootstrapping the project I got this strange error:
[code]
### Extra
The problem occurs in this method from `io.vertx.ext.web.api.contract.openapi3.impl.OpenAPI3RequestValidationHandlerImpl`
[code]
The real problem is that mainly all classes from swagger-mo

[2019-12-17 04:09] cvgaviao commented on #1486
Good, there is already a method to deal with it: OpenApi3Utils.isRequiredParam()

[2019-12-17 08:32] pmlopes commented on #1382
Current CI does not show this failure. Re open if you think it's not fixed and help us to reproduce it.

[2019-12-17 08:32] #1382 closed

[2019-12-17 13:07] Stwissel commented on #1413
Highly appreciate your help here. SUpport for *exotic* http keywords allows to build calendar servers (using calDAV) or file sharing servers (using webDAV). Especially the LOCK, RELOCK, UNLOCK keywords allow file interaction without running the risk of overwriting each others work or failing to notice that a document opened from web ends in the temp folder.
I tested webDAV and it allows round-trip

[2019-12-17 15:43] pmlopes commented on #890
Support for redis session storage has landed on master.

[2019-12-17 15:43] #890 closed

[2019-12-18 07:12] max9599 opened #1489 "[ApolloWSHandler] Handler doesn't reply with COMPLETE message"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3
* vert.x graphql: 3.8.3

### Context
Using Apollo subscription transport WS (full WS) - there are no COMPLETE message after data received for mutations and queries.

### References
https://github.com/vert-x3/vertx-web/blob/master/vertx-web-graphql/src/main/java/io/vertx/ext/web/handler/graphql/impl/ApolloWSHandlerImpl.java

https://github.com/a

[2019-12-18 10:55] tsegismont commented on #1489
Nice catch!

[2019-12-18 11:27] wowselim opened #1490 "FormLoginHandlerImpl should return status 401 on failed authentication"
### Version

* vert.x core: 3.8.4
* vert.x web: 3.8.4

### Context

I was using the FormLoginHandler to perform simple form-based login. The default implementation sets the status code to 403 ("Forbidden") which to me indicates that the user is not **allowed** to login. I think 401 ("Unauthorized") is more appropriate since it "[indicates that the request has not been applied because it lacks vali

[2019-12-18 11:34] pmlopes commented on #1490
@wowselim would you like to change it to `401` and update the existing tests?

[2019-12-18 11:54] pmlopes commented on #1470
200 doesn't seem correct to me as the url is wrongly encoded but 400 does make sense.

[2019-12-18 11:55] wowselim commented on #1490
@pmlopes PR is ready to go #1492

[2019-12-18 13:26] pmlopes commented on #1472
I've just added this test on `3.8` and `master`:

[code]

And the test passes.

[2019-12-18 13:26] pmlopes commented on #1472
The issue is not reproducible on a test

[2019-12-18 13:27] #1470 closed

[2019-12-18 13:28] #1445 closed

[2019-12-18 13:36] #1426 closed

[2019-12-18 17:21] #1486 closed

[2019-12-19 04:23] shenzhenMirren commented on #1470
@pmlopes Maybe it's better to ignore him, so friendly, because a lot of other frameworks do.

[2019-12-19 08:50] cpdyj opened #1494 "[Request] Provide a "binary safe" `queryParams()`"
### Version

* vert.x core: 4.0-milestones3
* vert.x web: 4.0-milestones3

### Context

Maybe we can provide a "binary safe" `RoutingContext.queryParams()`?
I 'm writing a BT tracker. following: https://www.bittorrent.org/beps/bep_0003.html
The parameter `peer_id` and `info_hash` is escaped binary data in query string.
It looks like: `...&peer_id=-UT2040-%b7Y%e5%1e%16%e1%99%c2%27%8d%23v&...`
If I

[2019-12-19 09:22] theangrydev opened #1495 "There is no way to configure freemarker.template.Configuration in FreeMarkerTemplateEngine"
### Version
* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context
When using freemarker, sometimes I need to customise the freemarker configuration.

In particular, I like to set `DefaultObjectWrapperBuilder.setExposeFields(true);` to allow public fields to be visible.

I cannot do this with vertx `FreeMarkerTemplateEngine` since there is no way to configure freemarker.

### Steps to reproduce

1.

[2019-12-19 09:39] ramtech123 commented on #1472
@pmlopes ,
I just revisited the reproducer and your test above to understand the difference.
The behavior is observed when second level of sub-router is configured. It works fine with first-level sub-router.

[2019-12-19 09:50] pmlopes commented on #1472
@ramtech123 could you help me out adding the test case to the test above that will make it fail?

[2019-12-19 09:52] pmlopes commented on #1495
We should add a top level method to the template engine interface to expose the underlying engine, this way you would have full access to the engine.

[2019-12-19 11:42] jekkel commented on #1372
Reproducer:
[code]
Test:
[code]

[2019-12-19 12:28] TorRanfelt opened #1497 "A FormLoginHandler that allows custom failures like AuthHandlerImpl"
FormLoginHandler always respond with a 403 (and no body) on failure.
AuthHandlerImpl allows for custom errors.
If I want a FormLoginHandler that can do that the best approach is to make my own implementation of FormLoginHandler that extends AuthHandlerImpl. Correct?

I ask because I imagined this was a common need.

[2019-12-19 12:52] #1490 closed

[2019-12-19 12:55] #1413 closed

[2019-12-19 13:03] ramtech123 commented on #1472
Hi @pmlopes

Thanks for the test. I updated the same as below to replicate the scenario.

[code]

[2019-12-19 18:12] AxelG1 opened #1498 "GraphQL: custom GraphQLError, accidental override"
### Version

* vert.x core: 3.8.3
* vert.x web: 3.8.3

### Context

GraphQL, GraphQLError

### Do you have a reproducer?

[https://gist.github.com/AxelG1/2721537e07251f12ceb4b4b81cda2a8c](url)

Suggestion: Re-implement relevant classes as mentioned here: [http://www.hackerav.com/?post=93863](url)

[2019-12-19 20:23] AxelG1 commented on #1498
The GraphQL Java documentation completely confused me with its explanation of custom error 'extensions'.

I found a simple solution without having a class that extends/implements from two types:

- Write a separate subclass of Exception (`Throwable` won't work!) which you throw at will with arbitrary context information.
- In the `DataFetcherExceptionHandler` that you pass into `AsyncExecutionStra

[2019-12-20 08:33] tsegismont commented on #1498
@AxelG1 Would you like to contribute an update?

[2019-12-20 09:04] tsegismont commented on #1489
Duplicates #1367

[2019-12-20 09:04] #1489 closed

[2019-12-20 09:40] AxelG1 commented on #1498
Sure!

[2019-12-20 10:21] slinkydeveloper opened #1499 "Prune BridgeOptions"
### Version

* vert.x core: 3.8.4
* vert.x web: 3.8.4

### Context

When you import vertx-web you have two classes `BridgeOptions` inside the classpath that looks the same:

* `io.vertx.ext.web.handler.sockjs.BridgeOptions` from vertx-web itself
* `io.vertx.ext.bridge.BridgeOptions` from vertx-bridge-common

I propose to deprecate the one in vertx 3.8.5 and remove it in vertx 4

cc @pmlopes

[2019-12-20 11:50] pmlopes commented on #1499
They are not the same. The sockjs one should extend the common one and maybe be called SockjsBridgeOptions

[2019-12-20 14:24] slinkydeveloper commented on #1499
Makes sense

[2019-12-20 14:47] #1367 closed

[2019-12-20 15:22] slinkydeveloper opened #1500 "Italian localization breaks vertx-web-api-contract XMLTypeValidatorTest"
### Version

* vert.x core: 3.8.4
* vert.x web: 3.8.4
* vert.x web api contract: 3.8.4

Fedora 31, locale output:

[code]

Java:

[code]

### Context

Running mvn test with italian localization breaks `io.vertx.ext.web.api.validation.impl.XMLTypeValidatorTest`:

[code]

Translation: java.lang.AssertionError: XML got access to FS: External entity: Cannot read external document 'xml-4888880595458349

[2019-12-22 07:41] cpdyj commented on #1494
@pmlopes Should I make a profit for that? Looks this feature is not used usually.

[2019-12-22 09:52] pmlopes commented on #1494
I think we could have an overload of get param with a charset. Currently it always uses utf8 but for your case it should be iso8859-1.

Now the issue is that the arms are cached after parsing so switching charset will have impact on this and the behavior must be well defined.

[2019-12-22 10:34] cpdyj commented on #1494
I don't think that. "String" is different with "Binary". I'm worry about
obfuscate concepts will cause some unexpected problems.

在 2019/12/22 17:52, Paulo Lopes 写道:

[2019-12-23 02:11] e7 opened #1501 "Requests using wrong http-method match sub-routing return 404, not 405, how to fix it?"
### Version

* vert.x core: 3.8.4
* vert.x web: 3.8.4

### Context
[code]

### mount sub router
[code]

[2019-12-30 02:37] rulai-ymwang commented on #1445
@pmlopes Good to know. Thanks.

[2020-01-01 13:08] hradecek commented on #1473
Created PR for vertx-core https://github.com/eclipse-vertx/vert.x/pull/3239

[2020-01-03 16:23] AxelG1 commented on #1498
Exception handling and error signalling in a GraphQL API exemplified using Kotlin:

- Make sure that in your services, you throw subclasses of `Exception` because instances of merely `Throwable` won't trigger.
- Have a custom exception handler inheriting from `DataFetcherExceptionHandler`.
- Override `onException`. And there, obtain the original exception from `DataFetcherExceptionHandlerParameter

[2020-01-05 16:15] TorRanfelt opened #1504 "getWithRegex does not work with StaticHandler"
vert.x core: 3.8.4
vert.x web: 3.8.4

router.getWithRegex() makes context's currentRoute().getPath() return null. This affects Utils.pathOffset(ctx.normalisedPath(), ctx) which StaticHandler relies on.

[code]

I need getWithRegex() to handle certain cases so I have worked around it like so:

[code]

[2020-01-08 09:33] double-7 opened #1506 "When mounting multi-level routes. How to get all routing information through the root routing object"
Version

* vert.x core:3.8.4
* vert.x web:3.8.4

### Context
**question:**

After I mount the sub route on the root route, how can I get all the sub route information through the root route.

My current implementation is。
Cannot get sub routes through root route, so save all sub routes.
By traversing `Router.getRoutes().forEach(route ->   System.out.println(route.getPath()) )`
To get the informati

[2020-01-09 15:23] akoniar opened #1507 "Remove deprecated User Session Handler"
### Version
4.0.0.milestone3
4.0.0.milestone4

### Context

As programmer I don't want to keep the UserSessionHandler.java and the UserSessionHandlerImpl.java, because these class do nothing.

[2020-01-09 15:39] pmlopes commented on #1507
It's true but it's there to avoid breaking code for existing applications, we have this rule we only 100% remove after 3 non bugfix releases once the `@Deprecated` annotation is added.

[2020-01-09 21:24] akoniar commented on #1507
@pmlopes In matter of fact the code is broken, because these classes are empty and doesn't  do what is expected.

Imagine situation when someone will want to migrate to newer version and he using these old way of creating UserSession handler.
The project will be build successfully, but the handler will not work.

The point is. If you want to keep deprecated classes then you should keep their funct

[2020-01-13 14:32] WolfgangFahl commented on #204
In 3.7.1 i still get java.lang.IllegalArgumentException: root cannot start with '/'
	at io.vertx.ext.web.handler.impl.StaticHandlerImpl.setRoot(StaticHandlerImpl.java:660)

when trying to server file from a configured media directory in the users's home directory ...

[2020-01-13 15:23] pmlopes commented on #204
@WolfgangFahl the original design is that static handler allows serving resources (either from the classpath or filesystem) from the current working directory.

In order to allow full disk access you must first call `setAllowRootFileSystemAccess()` like:

[code]

[2020-01-14 04:48] WolfgangFahl commented on #204
see fix of https://github.com/rc-dukes/dukes/issues/50

[2020-01-15 12:23] encodeering opened #1509 "CVE reported for guava 20.0"
### Questions

OWASP dependency check plugin reports the following [CVE](https://nvd.nist.gov/vuln/detail/CVE-2018-10237) for guava

### Version

3.8.3

### Context

Security check of all used dependencies revealed this. An update to a newer version might be good.

### Do you have a reproducer?

OWASP provides a cli tool as well as some integrations for maven and gradle builds

### Steps to reprod

[2020-01-15 13:57] jellenelis commented on #773
Is there any reason why 4.0 won't include OSGi metadata?

[2020-01-15 15:26] pmlopes commented on #773
The reason is lack of maintainers. Currently we don't have the capacity to add osgi metadata to all modules on the stack and ensure that the metadata is up to date.

Given that the metadata was broken for too long and no one on the community volunteered to fix it, the core commiters decided to use our time on the features needed for 4.0.0 and avoid shipping broken osgi with the next major release.

[2020-01-15 15:29] pmlopes commented on #1509
Guava is used by one of the template engines the core modules (web, web-common, web-client) don't.

But indeed we need to address it.

[2020-01-15 15:53] jellenelis commented on #773
Build systems do that for you. I am willing to look into integrating the generation of OSGi metadata for Vert.x if needed.

[2020-01-16 06:59] encodeering commented on #1509
Hi @pmlopes, thanks for the fast reply.

We are using `vertx-web-api-contract` only as openapi implementation without the templating. It seems that swagger parser v3 in version 2.0.14 doesn't depend on guava anymore, so the exclude and the pinning could be removed from the contract.

It may of course have implications if other project use that dependency without an explicit definition.

Is there a

[2020-01-16 10:13] slinkydeveloper commented on #1509
@encodeering If it's not a transitive dependency anymore of swagger-parser, can you raise a pr for it? thank you!

[2020-01-17 03:21] sinhpn92 opened #1510 "How to verify auth before handle body request?"
### Questions

How to verify auth before handle body request?

### Version
[code]

### Context

I want to verify auth before handle body request. But I got error `java.lang.IllegalStateException: Request has already been read`

### Do you have a reproducer?

Easy to reproduce by use delay:

[code]

### Steps to reproduce

When run `delay(100)` (this's sample for a verify process), I got the error

[2020-01-17 10:15] tsegismont commented on #1510
I will reply on Stack Overflow. Please do not cross post questions next time.

https://stackoverflow.com/questions/59780882/vertx-how-to-verify-auth-before-handle-body-request

[2020-01-17 10:15] #1510 closed

[2020-01-17 11:11] xjxb21 opened #1511 "HTTP headers of if-none-match support"
### Questions

Support for etag in the http protocol. I found a problem with the support for this attribute in my chrome and firfox browsers.
After the browser request, when the file io.vertx.ext.web.impl.Utils#fresh() is parsed, an additional pair of quotes will be generated for the IF_NONE_MATCH tag: For example, "" abcdefghijk ""

Am I having problems using it?

Please forgive me for not being

[2020-01-17 17:14] tsegismont opened #1512 "Upgrade to GraphQL Java 14.0"
See https://github.com/graphql-java/graphql-java/releases/tag/v14.0

This will be the new GraphQL Java LTS version

[2020-01-17 17:14] #1512 closed

[2020-01-20 14:04] bullet-tooth opened #1514 "Improve sub-routers removing"
### Version

3.8.4

### Context

This is a feature request for adding support of convenient removing sub-routers from a router.
[Similar issue](https://github.com/vert-x3/vertx-web/issues/1329) was opened early and marked as resolved, but I can't find where it's implemented.

### Workaround

The only way for removing subroutes is over iteration through `getRoutes()` collection, for example:
[code]

[2020-01-20 16:50] slinkydeveloper commented on #1517
This won't be solved in vertx-web-api-contract, but in the new module vertx-web-openapi (that will replace in future releases vertx-web-api-contract)

[2020-01-22 14:42] WolfgangFahl commented on #521
The message appears in Vert.x 3.8.4 ...
I am sending from a javscript implementation and suspect that and old sockjs 0.3.4 might be the culprit. I'll try with a newer one ...

15:31:31.285 [vert.x-worker-thread-17] ERROR i.v.e.w.h.sockjs.impl.SockJSSession - Unhandled exception
io.netty.handler.codec.http.websocketx.CorruptedWebSocketFrameException: Max frame length of 65536 has been exceeded.

[2020-01-22 14:47] WolfgangFahl commented on #521
Where do I find the latest vertx-eventbus.js and socks.x.y.z.min.js combination?

[2020-01-22 15:10] WolfgangFahl commented on #521
I didn't have to do anything on the javascript side.
[code]
seems to help

[2020-01-22 23:37] stuartwdouglas opened #1519 "ForwardedParser should require explicit configuration for header type"
https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/impl/ForwardedParser.java#L107

This parser first checks for the 'Forwarded' header, and if it is not present falls back to X-Forwarded-*.

If an application is behind an older proxy that does not understand the Forwarded header then it might let a client supplied Forwarded header through, allowing a remote c

[2020-01-23 07:48] EricChang1015 opened #1520 "WebClient sendForm misses timeout failures"
### Questions
When using HttpRequest::sendForm, if the response exceeded timeout limit, the request seems be locked.

In previous version the response of request is longer than timeout setting, it will response right after timeout, however it will be trapped after this [changed](https://github.com/vert-x3/vertx-web/commit/a42e00941dc706a5da476ee3fb42cd2e861ba010
).

I found this bug, when upgraded

[2020-01-27 04:39] stuartwdouglas opened #1521 "HttpServerRequestWrapper leaks the delegate object"
e.g. https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/impl/HttpServerRequestWrapper.java#L84

This method should return 'this' to allow for fluent usage but directly returns the delegates return value, so any further fluent invocations will be on the underlying object and not the wrapper. There are a few methods that have this problem.

[2020-01-28 14:45] #1521 closed

[2020-01-31 15:52] dmeiners88 opened #1522 "Impossible to set exceptionHandler on SockJSSession in some circumstances"
### Version 3.8.4

* vert.x web

### Context

When using vert.x's `SockJSHandler.bridge` method to register a handler:

* `bridge` internally calls `SockJSHandler#socketHandler` which calls
* `new WebsocketTransport(...)` in https://github.com/vert-x3/vertx-web/blob/3.8.4/vertx-web/src/main/java/io/vertx/ext/web/handler/sockjs/impl/SockJSHandlerImpl.java#L156
* `WebSockTransport`'s constructor cre

[2020-02-03 17:35] gkozyryatskyy opened #1523 "Can't get ReadStream from http response with WebClient"
### Questions

With vertx core http client I can get a ReadStream from response. This is very useful when Im, for example want to process large json response with JsonParser.
With WebClient I cant get ReadStream from HttpResponse, or from BodyCodec (because it forces me to create a BodyStream instance of WriteStream, to pipe response body to)

### Version

vertx-core 3.8.5
vertx-web 3.8.5
vertx-we

[2020-02-03 22:38] vietj commented on #1523
you need to write a class like `FakeStream` from vertx-core tests to adapt the `WriteStream` into a `ReadStream`

[2020-02-03 22:38] #1523 closed

[2020-02-04 08:09] mohamnag opened #1524 "DataObject transfer in Web API Services"
### Version

v 3.8.5
v 4.0.0-milestone4

### Context

Currently while using `@WebApiService`s all the handlers in methods shall accept a type of `OperationResponse` which in turn accepts only `JsonObject`, `JsonArray` and `Buffer` types as body. This means using `@DataObject` annotated classes needs to be serialised manually before being passed to OperationResponse.
It should be possible to pass a

[2020-02-04 08:14] slinkydeveloper commented on #1524
That's weird, it should just work fine, can you write a small reproducer for it?

[2020-02-04 08:45] mohamnag commented on #1524
hum, might be that my point was not clear. The thing is that https://github.com/vert-x3/vertx-web/blob/master/vertx-web-api-contract/src/main/java/io/vertx/ext/web/api/OperationResponse.java does not provide any constructor or builder method that accepts an object directly and tries to find relevant mapper to convert it to JsonObject.

Could it be made possible that just like `vertx.eventBus().sen

[2020-02-04 08:51] slinkydeveloper commented on #1524
Ah i thought it was something wrong with the generator. But i don't like the name `completeWith` because it doesn't give the idea that it will be serialized with json... Any better ideas?

[2020-02-04 08:56] mohamnag commented on #1524
hum just thinking out loud, talking about web API services used in combination with web API contract, it would be best invisible to developer how data is transferred over the event bus, it might be JsonObejct or directly to a String or an Integer, it is important that it *can* be transferred over eventbus *and* that it matches expecting return type defined in contract (here OpenAPI spec). So it mu

[2020-02-04 08:58] mohamnag commented on #1524
maybe, `OperationResponse` could be of a generic type which could be set to a DataObject or any other acceptable types for a service proxy that also matches the spec?

[2020-02-04 09:00] mohamnag commented on #1524
I think service proxies have a more clear and conscious API where the return type is clear out of the signature, where as web API services have always just `OperationResponse` with not clear data type to be expected in body (or lack of which).

[2020-02-04 09:20] slinkydeveloper commented on #1524
So the idea of `OperationResponse` is to allow users to pass response headers and response body.

From the code generator perspective, we could allow any type other than `OperationResponse` **convertable** to json, so then the result could be potentially wrapped to `OperationResponse` and sent back on the wire. But this approach won't allow to set headers and will always send the result as json co

[2020-02-04 09:28] mohamnag commented on #1524
having `OperationResponse` to allow setting headers and co is logical. I believe however that the body type needs to be generic so that one knows what is to be expected as body of `OperationResponse`. So `OperationResponse<ReturnType>` is pretty much fine.

I'm not familiar with Web API Services when not combined with Web API Contract. So I'm not sure what other variations should be also supported

[2020-02-04 09:32] mohamnag commented on #1524
also to me its more logical to have:
[code]
so the method can be simply called `body()` or `withBody()` to clarify the intention of setting a body.

[2020-02-04 11:01] slinkydeveloper commented on #1524
That's the whole problem: now we only support json in vertx web api contract (among the other reasons, because it's the one best supported by openapi spec), so it's not trivial to support other encodings in operation response.

I see... But than that method should serialize to json using `Json` class and, to perform that, you must manually register the object codec using the SPI, because `@Mapper`

[2020-02-04 11:13] mohamnag commented on #1524
So if the intention is to concentrate on supporting JSON, thats fine as long it is clear from first sight. Personally I'm anyway only using JSON.

I would vouch for a generic `OperationResponse` who's generic type is the body type and all other things like status code or headers could also still be set.

regarding `@Mapper` support, I got the impression from docs that both Service Proxy and Web AP

[2020-02-04 13:20] gkozyryatskyy commented on #1523
@vietj
Thank you for your reply!
It is really helpful in most of situations.

Any way, I think, in my case this is not the best way to used WriteToReadStream wrapper, because I cant control original ReadStream with it and if my write stream cant consume data fast enough (I can do some heavy transformations inside),  I can loose some data from original ReadStream.
I will try to play with WriteStrea

[2020-02-04 15:06] gkozyryatskyy opened #1525 "ResponsePredicateResult do not get HttpResponse<Buffer> instance"
### Questions

If I trying to create custom exception from ResponsePredicate, Im getting NullPointerException instead.

### Version

vertx-core 3.8.5
vertx-web 3.8.5
vertx-web-client 3.8.5

### Do you have a reproducer?

[code]
Produces `java.lang.NullPointerException`

[2020-02-04 15:39] gkozyryatskyy commented on #1525
This hack will fix the problem.
[code]

[2020-02-04 15:49] tsegismont commented on #1525
This works as expected.

By default, error converters are executed before the response body is received. If you want to inspect the body use `ErrorConverter.createFullBody`.

See https://vertx.io/docs/vertx-web-client/java/#_creating_custom_failures

[2020-02-04 15:49] #1525 closed

[2020-02-04 15:54] gkozyryatskyy commented on #1525
@tsegismont Oh, so I wrongly create ErrorConverter.. Sorry for that. Thank you for your reply!

[2020-02-04 18:22] u6f6o commented on #1117
There is a[ chapter in the official documentation](https://vertx.io/docs/vertx-config/java/#_configuring_vert_x_itself) that states how to configure the vertx instance itself. In my case, I have to configure certain micrometer related settings

[code]
If you state, that it would be better to change the design, I wonder how I can achieve the necessary configuration without creating a new vertx inst

[2020-02-06 14:30] jphorx commented on #1249
I think the suggested workaround would work in cases where one is able to modify the schema.  Unfortunately the schema I'm working with is published by a standards body.

[2020-02-06 18:10] jphorx opened #1526 "Null Pointer in OpenAPI3RequestValidationHandlerImpl"
[sample.zip](https://github.com/vert-x3/vertx-web/files/4294549/sample.zip)
### Version
3.8.3

### Context
I have an OpenAPI spec that uses several levels of inheritance through the use of "allOf", but is not otherwise particularly complex.  Openapi tools (using the openapi-generator-maven-plugin) is able to generate Java classes for the objects from the model without issue, so I know it is valid.

[2020-02-07 12:41] slinkydeveloper commented on #1526
Can you try with the latest vertx release? This bug sounds familiar to me...

[2020-02-07 17:14] jphorx commented on #1526
@slinkydeveloper by latest do you mean 3.8.5? or 4.0.0-milestone4 ?  I think the latter will require some refactoring on our side as there's a few things that have changed.

[2020-02-07 17:19] slinkydeveloper commented on #1526
I mean the 3.8.5

[2020-02-07 18:17] jphorx commented on #1526
I have reproduced this issue with version 3.8.5 as well.

[2020-02-09 16:31] st-h opened #1527 "vertx-web-api-contract: Not possible to get raw value from RequestParameter"
### Version

3.8.5

### Context

It is possible to add custom validation rules to Vert.x Web API Contract by implementing `ParameterTypeValidator`. `RequestParameter.create` then provides a way to pass the parsed and validated value. However `RequestParameter` does not seem to provide a way to actually retrieve this value. The only workaround I found was this:

[code]

However, this involves heavy

[2020-02-09 19:49] jphorx opened #1528 "vertx-web-api-contract using problematic version of networknt/json-schema-validator"
### Version

3.8.5

### Context

I encountered a stack overflow exception while creating a router based upon a model where there are schema components that include _optional_ properties that can create circular references.

In researching this issue, I've determined it to be due to a known defect in networknt/json-schema-validator see [here](https://github.com/networknt/json-schema-validator/issue

[2020-02-09 19:53] jphorx commented on #1526
As an additional clue, I think this is specifically related to defined endpoints (paths) that include parameters (optional or otherwise) that refer to a schema using allOf.  When I removed this from my example the error was not encountered.

[2020-02-12 07:54] #1077 closed

[2020-02-12 08:17] slinkydeveloper commented on #945
I think this one was solved by one of the latest version dumps

[2020-02-12 08:17] #945 closed

[2020-02-14 15:12] zenios opened #1529 "Locale in graphql"
GraphQL java version 14 has support for passing locale when executing a query.

That locale is available via DataFetchingEnvironment.getLocale

In order to support this properly a Function<RoutingContext,Locale> should be added to GraphQLHandler that will provide the locale to pass on execution input

As a fallback we can use the HttpRequest locale

With subscription we can also use the locale pro

[2020-02-18 07:51] bdsoha commented on #273
I am having the same issue

[2020-02-18 12:08] ddjones-fss opened #1530 "expose setting of SameSite attribute on the session cookie"
### Version

3.x and 4.x

### Context

A recent Google Chrome release is now enforcing rules around the SameSite attribute of cookies. One scenario that is affecting some in production is when an authentication server is used which has a different domain than the main application. These session cookies are no longer valid under the new rules unless the SameSite attribute is present and set (along

[2020-02-18 14:13] tsegismont commented on #1529
Sounds good to me. Yes please go ahead, I'll review the PR.

[2020-02-18 19:22] #1530 closed

[2020-02-20 15:37] sfalkman opened #1533 "Empty object broken in OpenAPI validation"
### Version

3.8.5

### Context

I'm bumping vertx to latest 3.8.5, but I'm having problems with validation of empty object in a `oneOf` combination.
This was working in 3.8.1 and stopped working in 3.8.2, and is still not working in 3.8.5.

### Do you have a reproducer?

[code]

[code]

### Steps to reproduce

3.8.1:
[code]

3.8.2:
[code]

The only way to get around it is to include **all** prope

[2020-02-20 20:34] fernandoromero-pedidosya commented on #1455
I'm having the same issue as described here. Is there a proper solution to this?

[2020-02-22 21:27] zenios opened #1534 "GraphQL subscriptions not canceled when connection is closed abruptly"
In graphql implementation, subscriptions setup an endHandler instead of closeHandler to cancel all subscriptions.

I had the impression that endHandler was also called in case of an abnormally exit websocket (Kill Chrome) but it looks that this is not the case.

Does it need to change to closeHandler?

[2020-02-23 18:17] zenios commented on #1534
Based on the dicussion here https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/vertx/Gdz2RIRY6Qo/XczUN7uTAwAJ

This is most definetely a bug since there is a case of having pending subscription in an abnormally closed websocket

[2020-02-27 20:20] FdseLab opened #1536 "Found CVEs in your dependencies"
Hi,
I found some CVEs in the library dependencies, which may affect the security of your projects. In order to avoid threats, I recommend updating to a safe version. Please note the following details.
* **Vulnerable Library Version:** com.google.guava : guava : 20.0
  **CVE ID:** [CVE-2018-10237](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-10237)
  **Import Path:** vertx-web-api-contra

[2020-02-28 09:42] fiberstar commented on #351
Where is the chunked based one? i  need this.

[2020-02-28 13:26] #1536 closed

[2020-03-01 00:11] brunoais commented on #465
@biolearning Still not done?

[2020-03-02 20:40] ekuehnhausen opened #1538 "OpenAPI3 contract: java stack overflow when using recursive schema in requestBody"
### Version

* vertx-web 3.8.5
* vertx-web-api-contract 3.8.5

### Context

Consider the following OpenAPI definition that includes a recursive schema in "TreeNode":

[code]

When using the `OpenAPI3RouterFactory` to create routes, a java stack overflow occurs:

[code]

### Steps to reproduce

Try to start Vertx with the Verticle defined below where the contents of `test.yaml` is the OpenAPI defin

[2020-03-03 07:26] slinkydeveloper commented on #1538
Duplicate as https://github.com/vert-x3/vertx-web/issues/1528

[2020-03-04 05:21] himanshumps opened #1539 "vertx-web-graphql: CPU Spike under minimal load"
### Questions
Which version(s) did you encounter this bug ? - 3.8.5

### Context
GraphQL is making CPU spike to maximum during performance test (500tps)

### Do you have a reproducer?
* Link to github project/gist: https://github.com/himanshumps/graphql-cpu-spike.git

### Steps to reproduce

1. Run the mvn clean install
2. Run the jar using java -jar target/graphql-cpu-spike-0.0.1-SNAPSHOT.jar
3.

[2020-03-04 08:49] slinkydeveloper commented on #1526
Ok I had time to check it again, to me it looks like you're trying to create an array parameter, which includes inside an object schema. Am I correct?

BTW I can't find the attached zip, can you reupload it? I just need a reproducer with the bunch of yaml that breaks the validation handler. thank you!

[2020-03-04 11:28] tsegismont commented on #1539
I had a look at the application code. A couple of minor comments:

- when overriding the verticle `start` method that takes a `Promise`, make sure to complete when the server is started
- it seems the test machine has a single core, so deploying several instances of the verticle won't help, and could even be a little bit counter-productive

About the benchmark itself. The data fetcher result is ha

[2020-03-04 11:28] #1539 closed

[2020-03-05 03:32] himanshumps commented on #1539
I don't agree. The code shared is typically a hello world kind of example for graphql. Do you mean if I have a rest endpoint without graphql and returning just hardcoded response, I will get the same performance?

We do have db calls in actual code (each call turnaround time is 10-12 ms) with rxjava and we are seeing the same behaviour.

So either there is a bug in graphql which is creating this b

[2020-03-05 09:09] tsegismont commented on #1539
No, you should get better performances with a REST endpoint, because the event loop thread will not be used to parse GraphQL queries.

Sorry if my previous comment wasn't clear. What I mean is that I suspect the single CPU of your test machine is saturated with GraphQL query parsing and execution. Try caching the parsed documents (link in my previous comment) and I believe you will get better resu

[2020-03-05 11:26] himanshumps commented on #1539
The results looks promising after caching the query. I will run a couple of more tests to see any erratic behaviour and report the same on the thread.

I will also update the git repo to put the latest code so that people who face the similar issue can refer to that to put the fix.

[2020-03-05 18:48] jphorx commented on #1526
Hi that's right.  I've added the .zip file, I must have missed doing that the first time around sorry!

[2020-03-06 07:55] slinkydeveloper commented on #1526
@jphorx So I think the problem is that you're trying to create a nested object inside a nested object inside an array in a query parameter, this module doesn't support such complex parameters.
The reasons is that, even if the spec allows you to define these parameters, there is no hint on how to parse these. An example: how should the parameter `state`, encoded in the request query, looks like whe

[2020-03-08 20:33] ghost opened #1542 "Static resources are not served when browsing through SSL/TLS"
### Version

3.8.4

### Context

At work, I'm developing a web application based on Vert.x: a main verticle that spawns 2 verticles. One for a RESTful API (with internal and public endpoints), and one for UI (static resources, among which a bundled ReactJS front app).

An end-user request transits through those architecture tiers: (HTTPS) 1x Microsoft IIS SSL-enabling frontend --> (HTTP) 1x authen

[2020-03-09 15:13] UglyHobbitFeet opened #1543 "Javascript docs for WebClient are wrong"
1. I am looking at the javascript docs here https://vertx.io/docs/vertx-web-client/js/
which say to do the following:

[code]
However I get errors that there is no such package.  It should be changed to this

[code]
and make sure you run an `npm install @vertx/web-client` and `npm install `to pick up the jars

2. The javascript docs are wrong for any of the responses as they now use futures.  They

[2020-03-10 14:14] UglyHobbitFeet opened #1545 "Provide a way to access a java stacktrace from javascript"
I have the following pseudo-code...

[code]
When I encounter an error it tells me the cause of it as expected.  In this case I get a:
`io.vertx.core.impl.NoStackTraceThrowable: Failed to create SSL connection`

However, in certain cases I need access to the full stack trace to really see the issue.  (I.E., the cause of that particular message can be 30 different things.) I cannot think of a way to

[2020-03-10 15:10] jphorx commented on #1526
I see what you mean.  I'll try to find a cleaner way to proceed.  Thanks!

[2020-03-10 15:10] #1526 closed

[2020-03-11 21:35] pmlopes commented on #1543
Hi,

I'm working on getting the manuals generated properly for es4x. I hope to have an update to it soon.

[2020-03-12 12:41] UglyHobbitFeet commented on #1543
Excellent, thanks!  In the meantime it may be helpful to put up a note on
the page saying something along the lines of "the current page is outdated
and a new one is coming. In the meantime refer to the java version as it's
closer".  I spent a bunch of time unnecessarily trying things before
realizing that...

On Wed, Mar 11, 2020 at 5:35 PM Paulo Lopes <notifications@github.com>
wrote:

[2020-03-12 13:37] pmlopes commented on #1543
The first attempt to auto convert the manuals to es4x is here: https://reactiverse.io/es4x/manual/@vertx/web-client/ some things still need tunning, as you'll see maven and gradle references but not `package.json`, however the examples should be using the right imports and API

[2020-03-12 13:37] pmlopes commented on #1543
I'll close this issue and all other documentation related tasks should be open on the project https://github.com/reactiverse/es4x

[2020-03-12 13:37] #1543 closed

[2020-03-13 12:31] pmlopes opened #1547 "Fix flaky upload test"
Currently there's a upload test that fails on CI but not really on local development.

It should be reviewed and fixed before 4.0.0

see https://github.com/vert-x3/vertx-web/commit/f7dc2f3b7a098bf3e154d02648d882b8ecea9e21

[2020-03-13 13:01] vietj commented on #1547
thanks

[2020-03-15 09:02] blindpirate commented on #1055
This is an issue on netty's side: https://github.com/netty/netty/issues/10109. I opened a PR: https://github.com/netty/netty/issues/10110

[2020-03-15 18:50] vietj commented on #1055
thanks @blindpirate

[2020-03-17 10:53] krodyrobi opened #1549 "RoutingContext interface description of normalisedPath missmatches actual implementation"
### Version
vertx-web: 3.8.5

### Context
The interface clearly states that it will convert back to normal chars from all encoded chars.
But on further inspection it only does so for non reserved ones.

Since it is already chunked and split on a path level normalize path as per the rfc should unescape all characters not only those that could be handled when normalizing the whole URL.

https://gith

[2020-03-17 13:14] #1528 closed

[2020-03-17 13:14] #1538 closed

[2020-03-17 13:39] slinkydeveloper commented on #1533
This is probably an issue of the json validator. I updated it to the latest version, can you check out if you still experience this bug using the latest 3.9.0-SNAPSHOT?

[2020-03-17 19:03] pmlopes commented on #1107
Webauthn has been merged to master.

[2020-03-17 19:03] #1107 closed

[2020-03-18 09:21] #1534 closed

[2020-03-18 09:33] slinkydeveloper commented on #1533
I think this one is fixed with the update to the latest version of the json validator. Reopen if you need it

[2020-03-18 09:33] #1533 closed

[2020-03-18 13:12] pmlopes commented on #1519
The forwarding parsing is guarded by a flag on the router, which is `false` by default.

[code]

Must be called first, otherwise the values of the headers will not be considered or parsed.

[2020-03-18 16:00] vietj commented on #1520
the issue is actually in the incorrect stream handling in `HttpClientRequest` that will not report errors for failed stream due to a timeout, I'll have a reproducer in vertx-core and fix it from there

[2020-03-18 20:25] stuartwdouglas commented on #1519
That is not the point. If I have a proxy that is using `X-Forwarded-For` then a malicious client could send `Forwarded` and spoof the IP etc, as that is checked first (unless the proxy has been configured to remove this header, which is unlikely).

Allowing both headers opens up a security hole, there should be explicit configuration to say which one the proxy is using so that malicious clients ca

[2020-03-19 09:48] #1520 closed

[2020-03-19 09:49] vietj commented on #1520
it seems that the current design of HttpClient in 3.x cannot leverage the pipe operation to replace the pump when sending a form without a possible race, so the pipe usage is reverted in 3.x but maintained in master

[2020-03-19 09:56] pmlopes commented on #1519
@stuartwdouglas I've a pull request that implies a breaking change (I can work around on it for 3.9 by deprecating the old boolean with calling either `ALL` or `NONE` on the new one to avoid breaking user code on the 3.x series.

But now the user must explicitly state what headers should be handled:

* `NONE` obvious
* `FORWARD` just the official standard header
* `X_FORWARD` just the non standard

[2020-03-19 10:08] pmlopes commented on #1519
@stuartwdouglas I'm looking at the 3.9 branch and the "Forward" header parsing was never in the 3.x branches, so now I'm a bit curious why was this issue assigned from quarkus? Aren't you using the 3.x releases?

[2020-03-19 10:12] stuartwdouglas commented on #1519
I had to temporarily copy it into the Quarkus code base, and noticed the problem from experience with undertow.

[2020-03-20 09:48] #1519 closed

[2020-03-20 12:13] #1504 closed

[2020-03-23 11:30] #1529 closed

[2020-03-23 19:50] pmlopes commented on #1509
We've upgraded guava across the stack, this issue isn't applicable anymore

[2020-03-23 19:50] #1509 closed

[2020-03-24 12:23] #1499 closed

[2020-03-25 10:36] pmlopes opened #1554 "Session Handler should allow Cookieless session"
Currently the session handler requires a cookie to keep the state. For legal reasons some sites are avoiding cookies and therefore cannot rely on sessions.

For this specific case, an alternative is t use a `URL` base session ID, like `.net` does. An enhancement should be doe to `SessionHandler` to extract the session ID from the URL and avoid issuing Cookies if this mode is enabled.

The Handler

[2020-03-25 14:55] encodeering opened #1555 "handle invalid cors status with an error handler"
What do you think about letting the invalid path being handled by the error handler?

https://github.com/vert-x3/vertx-web/blob/5a503c4a24719f0c95641954d0dda76758ef453c/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/CorsHandlerImpl.java#L166

It seems that the given 403 can't be intercepted if the response is ended this way.

Usecase

* monitoring/alerting of authorization issues

[2020-03-26 07:25] encodeering commented on #1555
For example: `context.fail (403)`

The message might be different though

[2020-03-26 20:32] pmlopes commented on #1555
Would you like to make a pull request for it? Maybe get rid of the method at once.

[2020-03-27 09:19] vietj opened #1556 "BodyHandler accurate missing body report"
In Vert.x 4 the `BodyHandler` will report a missing body as an empty buffer whereas in Vert.x 3 it is null.

In all cases we should report the body more accurately depending on the HTTP request headers.

- when an HTTP request indicates there is a payload (e.g content-length header, content encoding header) it should provide an empty buffer when there is no payload.
- when an HTTP request does not

[2020-03-31 13:04] tsegismont opened #1560 "ApolloWS: result might not be handled on context"
If a data fetcher result is given on an arbitrary thread, the GraphQL execution result could also be given on that thread.

As a result, the websocket API would not be used on its creation context

[2020-03-31 13:06] tsegismont commented on #1560
Fixed via bd14ee70

[2020-03-31 13:06] #1560 closed

[2020-03-31 13:28] tsegismont opened #1561 "Error handling issues with GraphQL HTTP batching and ApolloWS"
When a GraphQL HTTP batch or ApolloWS query fails with an exception, the exception is ignored.

The exception should be reported to the routing context for HTTP, an ERROR message should be sent for ApolloWS transport.

[2020-03-31 14:22] tsegismont commented on #1561
Fixed in master 1229eb63

[2020-03-31 14:24] tsegismont commented on #1561
Closed in 367fe247

[2020-03-31 14:25] #1561 closed

[2020-03-31 14:34] tsegismont opened #1562 "Replaced context executors with Future/CompletionStage interop"
Provides better guarantees regarding execution of graphql results on context

[2020-03-31 14:44] #1562 closed

[2020-04-01 13:51] AugustNagro opened #1565 "Sub Routers for Virtual Hosts"
https://github.com/vert-x3/vertx-web/pull/1379 Was merged to in part to fix https://github.com/vert-x3/vertx-web/issues/1277, and it does work with plain handlers:

[code]

However, it would be even better to be able to register a subrouter for a given host:

[code]
(this fails)
#### Contribution

I do volunteer to implement, if this is deemed an acceptable feature. Some suggestion on the best API

[2020-04-01 15:15] tsegismont opened #1566 "Data fetchers and data loaders for futurized APIs"
Provide utilities to convert a Vert.x method that returns a `Future` to a data fetcher or data loader.

The goals are:

- ease the user development experience
- make sure verticle code is always invoked on the verticle context (it may not be the case if the user creates data fetchers that return results on a non Vert.x thread)

[2020-04-01 18:11] AugustNagro commented on #1565
Maybe the path of least resistance is to just check the Host header in a HttpServer.requestHandler, that delegates to the routers:

[code]

[2020-04-01 18:23] pmlopes commented on #1565
That is indeed a workaround, but we should fix the bug anyway :+1:

[2020-04-01 21:07] oscarusuga commented on #924
Hi @pmlopes thanks for your support.

I'm having the same difficulty today with this class since I'm trying to create a custom implementation by taking advantage of the behavior that `AuthorizationAuthHandler` has. For example: I'm also creating an auth handler using the bearer token, similar to JWT but in a simpler way. Are you considering making this class public or do we consider extending from

[2020-04-02 08:15] chrispatmore opened #1569 "Add a method to the RoutingContext to allow cleanup whenever a request ends"
#### Describe the feature

When a request is received in a Vert.x server, you might open clients to perform tasks related to the call that was made. Those clients need to be closed when the response is sent or something goes wrong to prevent leaks. The solution could be implemented as discussed in https://groups.google.com/forum/?fromgroups=#!topic/vertx/B1AQUQrOn4Y

which is:

on vertx web Routin

[2020-04-02 08:34] #1565 closed

[2020-04-02 09:44] pmlopes commented on #1569
@chrispatmore I am assist with the code reviews/help.

In order to start, look how the handlers are added to the context.

[2020-04-03 12:50] tsegismont opened #1570 "GraphQLHandlerOptions does not copy requestMultipartEnabled property"

[2020-04-03 12:51] #1570 closed

[2020-04-03 13:45] pmlopes commented on #1555
Fixed by #1563

[2020-04-03 13:45] #1555 closed

[2020-04-03 13:55] pmlopes commented on #1511
@xjxb21 can you explain how to reproduce the issue and show what's wrong? Maybe some devtools screenshot?

[2020-04-03 16:25] jacobhampel opened #1571 "REST-Request Octet-Stream and OpenApi"
### Questions

### Version

Vertx core: 3.7.1
Vertx-Web: 3.7.1
vertx-web-api-service: 3.7.1
vertx-web-api-contract: 3.7.1

### Context
I tried to send a HTTP POST request with application/octet-stream to the server.
I'm using Vertx-Web in combination with the OpenApi3Router.

### Do you have a reproducer?
https://github.com/jacobhampel/binaryRequestTest/tree/master

* Link to github project/gist

[2020-04-04 14:54] cpdyj opened #1572 "RoutingContext.response().putHeader not works."
### Version

4.0.0-milestone4

### Context
`RoutingContext.response().putHeader()` and `RoutingContext.addHeadersEndHandler()` not works if `reroute` to a thymleaf Handler.

[code]

### Extra

If I use `routeContext.response.headersEndHandler` and put headers in the handler, it will works.

* Anything that can be relevant such as OS version, JVM version
Windows & Zulu-JVM-11

Thank you

[2020-04-04 15:04] #1572 closed

[2020-04-05 19:56] jhult opened #1574 "redirect_uri sometimes includes host which leads to path must start with '/' exception"
This might belong in this repository instead: [vert-x3/vertx-auth](https://github.com/vert-x3/vertx-auth).

### Version

current master - [commit 83f7d24ab3d58cd4036772fe3c7244ace5c91e2c](https://github.com/vert-x3/vertx-web/commit/83f7d24ab3d58cd4036772fe3c7244ace5c91e2c)

### Context

I am trying to use an [`OAuth2AuthHandler`](https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/

[2020-04-05 20:02] dratler commented on #465
Hi @brunoais ,
has someone took this one ?

[2020-04-05 20:12] brunoais commented on #465
@dratler I'm not working on it. I'm not a member of this so I'm not keeping track if someone is working on this.
It does appear, from this issue, @biolearning was working on it but it's been 1 year since then

[2020-04-06 11:19] trunglebka opened #1575 "Stress test with vertx-web-client hang but fine with okhttp"
### Version
vertx-web-client: 3.9.0
okhttp: 4.4.1

### Context
Create stress tests for multipart file upload callback server via vertx-web-client will cause tests hang but okhttp is fine

### Do you have a reproducer?
Client: https://gist.github.com/trunglebka/c502e07530ca46df89af5329582b91a2
Server: Simple on memory file upload using https://github.com/mykidong/vertx-multipart-body-handler

### S

[2020-04-07 12:42] pmlopes opened #1576 "Add a flush method to the Session object"
Currently the session objects have no guarantees on storage. For some cases, we would like to increase this guarantee to ensure that the session has been propertly sent to the storage.

The proposal is to have:

[code]

[2020-04-07 12:43] pmlopes commented on #1576
/cc @tsegismont

[2020-04-07 15:18] tsegismont commented on #1576
Possibly fixed in 3.9.1?

[2020-04-07 15:51] mwm-twx opened #1577 "SessionHandler can forget authenticated User under concurrent requests"
### Version

3.8.5

### Context

Under concurrent requests, the `User` associated with a session can be forgotten.  This appears tob e caused by an issue with multiple event-loop threads modifying the same `UserHolder` in `SessionHandlerImpl`.

The relevant code:

[code]

Assuming two requests come through this block of code for an already authenticated session, they receive the same `UserHolder`

[2020-04-08 14:00] pmlopes opened #1578 "Document forward header parsing"

[2020-04-08 14:37] vietj commented on #1578
I think we should also add a note that vertx HTTP server will support HA proxy protocol and in this case, there won't be any x-forwarded headers and this does not need to be set.

[2020-04-09 10:32] dratler commented on #465
Hi @pmlopes ,
is this issue still relevant?

[2020-04-09 17:49] pmlopes commented on #465
Hi @dratler, it's a low priority bug. If you would like to fix it, please open a pull request and we will assist with any help you need.

[2020-04-09 21:08] xmatoha commented on #1331
can you plese provide full example launch { someFunc } returns Job am I missing something

[2020-04-10 06:21] gmcrobert commented on #1569
@pmlopes I have had a quick look at the code and I can see that `HttpServerResponse` has `exceptionHandler`, `endHandler` and `closeHandler` properties that are called in succession in the `handleClose()` method. If I look at the model of the `addBodyEndHandler` and `addHeadersEndHandler` methods on the `RoutingContext`,  should I rather implement `addExceptionHandler()`, `addEndHandler()` and `ad

[2020-04-10 10:20] chrispatmore commented on #1569
Does that not mean, we would then have to call all three of those new add methods whenever we create new client we want to be sure is being closed, @gmcrobert

[2020-04-11 09:58] zenios opened #1579 "GraphQL Subscription and connect handler"
In the original implementation of apollo subscriptions

connectionHandler can return a promise which will result in all query operations to wait for that promise to complete before executing.

https://github.com/apollographql/subscriptions-transport-ws/blob/567fca89cb4578371877faee09e1630dcddff544/src/server.ts#L248

This is usefull for authentication / authorization purposes.

In order to support

[2020-04-12 13:20] blindpirate commented on #1055
@vietj I've verified this issue has been fixed by [Netty 4.1.18.Final release](https://netty.io/news/2020/03/17/4-1-48-Final.html). This can be closed now.

[2020-04-12 13:50] vietj commented on #1055
I think it's 4.1.48.Final instead

[2020-04-12 13:50] vietj commented on #1055
thanks I knew about it but forgot to close this one :-\

[2020-04-12 13:50] #1055 closed

[2020-04-12 13:51] blindpirate commented on #1055
Sorry, corrected.

[2020-04-12 13:53] vietj commented on #1055
thanks for contributing this to Netty btw @blindpirate this is great

[2020-04-12 13:54] blindpirate commented on #1055
:)

[2020-04-14 13:50] cvgaviao opened #1580 "[Api Contract] A NullPointerException is being thrown when an operationId is not informed"
### Version

4.0.0-SNAPSHOT

### Context

I encountered an exception that looks suspicious while setting up Vert.x with an OAS3 model whose one of its operations didn't have an `operationId`.

The error is happening in the `io.vertx.ext.web.api.contract.openapi3.impl.OpenApi3Utils.sanitizeOperationId(String)` method, line 319, because parameter `operationId` is null.

### Do you have a reproducer?

[2020-04-15 08:01] slinkydeveloper commented on #1580
It's explained in the docs that `vertx-web-api-contract` does not support contracts with `Operation`s without `operationId`. Maybe a more explicative error message should be shown, are you willing to contribute for it?

[2020-04-15 09:20] slinkydeveloper commented on #1571
Since in Vert.x 4 (master branch in this repo) vertx-web-api-service was reworked to work with the new module vertx-web-validation (and vertx-web-openapi, still not merged on master), this issue is relevant only for 3.9.x. Are you willing to provide a fix for this?

[2020-04-15 11:10] jacobhampel commented on #1571
Thank you very much for your response.
Just one further question. As far as I understand the code the body of a request with application/octet-stream is ignored even in the master branch.
Was the BaseValidationHandler already merged into the master branch?

[2020-04-15 12:28] slinkydeveloper commented on #1571
What i mean is that vertx-web-api-service won't work anymore in vertx 4 using vertx-web-api-contract, but you'll need to port to vertx-web-openapi. First, let's fix 3.9, then let's see if we need it on master

[2020-04-15 16:57] cvgaviao commented on #1580
Ok, I'll contribute a fix.
I'll prevent any operation without `operationId` to be captured when the model was reading.

Btw, where should I log the warning message? Aren't you using SLF4j for logging?

[2020-04-17 10:27] MarkThielen opened #1582 "CORSHandler multiple Origin Support"
**Feature Description**
Add Support for multiple Origins in addition to URL pattern match approach.

**Use case**
Allow access to a resource using well defined list of Origins provided by a customer without the need for pattern matching.

At this time CORSHandlerImpl supports passing a regexp pattern through the CORSHandler.create() factory which is used to match against within the handle(RoutingC

[2020-04-17 11:56] sdavids opened #1583 "WebClient: JSON response predicate should only take media type into account"
Follow up on https://github.com/vert-x3/vertx-health-check/issues/24#issuecomment-604460254

#### Describe the feature

Options:

- new `io.vertx.ext.web.client.predicate.ResponsePredicate.JSON_UTF8` accepting "application/json;charset=UTF-8"
- new `io.vertx.ext.web.client.predicate.ResponsePredicate.JSON_LENIENT` accepting both "application/json" and "application/json;charset=UTF-8"
- breaking AP

[2020-04-17 18:48] pmlopes commented on #1582
To keep API consistency instead of a list/set on create, maybe an `addOrigin(String)/addOrigins(List<String>)` ?

Are these new origins absolute or wildcards? Absolute can take advantage of hashing, wildcards may need some well defined rules for matching.

[2020-04-17 18:53] MarkThielen commented on #1582
Good point. I already ran into the issue with the create(...) method on CorsHandler as both would be single parameter methods the testNullAllowedOrigin() test does not work anymore.

We might introduce a  parameterless `create()` method and use your proposal  down below ?

`addOrigin(String)/addOrigins(List<String>)`

[2020-04-18 15:01] MarkThielen commented on #1582
Here is the [Gist](https://gist.github.com/MarkThielen/3f4c2ea84dbe880d5f69ebb26a6a5f64) with 3 Files.

- CorsHandler.java
- CorsHandlerImpl.java
- CorsHandlerTest.java

It does work, I am not super happy with the way it is used as it feels a bit clunky compared to the Pattern create(...) approach as of now.

**Example**
`CorsHandler.create().addOrigins( new LinkedList<String>(){{add("http://www.e

[2020-04-18 16:52] pmlopes commented on #1582
We can also have `IllegalStateException` thrown if both set of origins and pattern are used

[2020-04-20 08:38] lygoing opened #1584 "Fiddler reports that the form submitted by webclient contains some extra characters"
### Questions

Fiddler reports that the form submitted by webclient contains some extra characters.

![image](https://user-images.githubusercontent.com/5944432/79731515-f6267c00-8324-11ea-8302-14144c7aa90c.png)
![image](https://user-images.githubusercontent.com/5944432/79731554-02aad480-8325-11ea-981d-c422cc4d9a43.png)

Normally it seems that these characters should not be included.

### Version

[2020-04-20 11:51] MarkThielen commented on #1582
Sure, that works as well. So we go for

### Additional Contructors / Methods
- ` CorsHandler.create()`

Creates an empty CorsHandler that would not allow access until  Origin(s) or OriginPattern are /is set.

- `CorsHandler.addOrigins(List<String)`  and  `CorsHandler.addOrigin(String)`

Adds absolute Origins to the list of available Absolute Origins if no OriginPattern is set,
otherwise throws `Il

[2020-04-21 13:15] tsegismont commented on #1579
The `connectionHandler` provides the user with the `ServerWebSocket`. Then the user can perform an asynchronous handshake by calling `setHandshake` with a `Future`:

[code]

See https://vertx.io/docs/vertx-core/java/#_websockets

[2020-04-21 13:23] tsegismont commented on #1583
Option 3 sounds good to me, it's not a breaking API change by the way.

`ResponsePredicate.JSON` should accept both `application/json` and `application/json;charset=UTF-8`. It should accept any charset if media type is correct, for that matter.

I'd be glad to review a PR.

[2020-04-21 14:39] tsegismont commented on #1584
@lygoing @vietj it doesn't look like a bug to me. The Web Client sends the form data with `chunked` transfer encoding. The extra lines are expected and indicate the length of the following chunk.

@lygoing it seems to me your proxy doesn't support chunked transfer encoding

[2020-04-21 16:29] zenios commented on #1579
This is valid only when doing cookie / query based authentication

If we want to pass a token (JWT)  we can do it via connectionParams of subscription-transport-ws
https://github.com/apollographql/subscriptions-transport-ws

and then we can read them at CONNECTION_INIT of graphql which we dont have the option to return a future.

[2020-04-21 16:37] gmcrobert commented on #1569
I have had a deeper look at the code and here is a summary of my understanding of how things work along with a proposal for how we can possibly implement this:

In HttpResponse which is part of Vertx core there are 6 handlers:
* drainHandler - used to deal with back pressure on streams
* exceptionHandler - used to deal with exceptions
* closeHandler - used to deal with the underlying connection cl

[2020-04-22 06:01] zenios opened #1585 "Parsed forward headers are not passed down to ServerWebSocket"
For more info
https://groups.google.com/forum/#!topic/vertx-dev/xHYwCeNY6aE

[2020-04-22 08:13] tsegismont commented on #1579
I see, you're talking about this right?
https://www.apollographql.com/docs/react/data/subscriptions/#authentication-over-websocket

I believe you are right, we can't support that currently. GraphQL support is still in tech preview so it's fine to have limited breaking changes. In this case it's some sort of a bug anyway, since we're trying to get best possible compatibility with the Apollo Client.

[2020-04-22 08:18] chrispatmore commented on #1569
That sounds perfect to me @gmcrobert

[2020-04-23 07:32] #1580 closed

[2020-04-23 11:01] vijaytambe opened #1590 "Error Logs continuously - WebSocket is closed"
### Version

Which version(s) did you encounter this bug ?

Using vertx version 3.9

### Context

I encountered an exception which looks suspicious while ...

I am using sockjs for socket connections -
When we close a browser, an error below is continuously logged every few seconds -

2020-04-23T11:00:13.549+0000 vert.x-eventloop-thread-6 [2a8fd61f49b118a2/f0c7d3b7b756201c] [ERROR] io.vertx.core.i

[2020-04-23 19:05] cvgaviao opened #1591 "[contract-api] A NullPointerException on ArrayTypeValidatorFactory"
### Version
4.0.0-SNAPSHOT

### Context

Swagger API uses Boolean instead of boolean. And the problem is that Boolean property can be null, while the boolean can't.

So, if a parsing problem occurred in the OAS3 model and a null value were set in its Boolean properties, when vertx-web-contract-API use them to call its methods then a NullPointerException will be thrown.

Some methods of ArrayTypeVa

[2020-04-24 10:40] #1578 closed

[2020-04-24 10:41] #1585 closed

[2020-04-27 09:30] #1591 closed

[2020-04-30 07:32] lwydyby opened #1595 "Proxy large file upload, there will be memory overflow"
### Questions

Proxy large file upload, there will be memory overflow

### Version

3.8.5

### Context

When using vertx as a proxy server, when uploading large files, OutOfDirectMemoryError will appear, the abnormal screenshot is:
![image](https://user-images.githubusercontent.com/30611869/80684021-a51e4100-8af7-11ea-95a9-51c284e4b908.png)

### Do you have a reproducer?

https://gist.github.com/l

[2020-04-30 07:53] #1577 closed

[2020-04-30 07:55] pmlopes commented on #1582
@MarkThielen will you create a pull request with the discussed items from above?

[2020-04-30 08:38] tsegismont commented on #1595
Can you please provide a complete reproducer, not just a snippet of your
code?

How do you setup the router? What are the JVM startup arguments etc...

Le jeu. 30 avr. 2020 à 09:32, li wei <notifications@github.com> a écrit :

[2020-04-30 09:43] lwydyby commented on #1595
I created a simplified project and can reproduce the problem：
https://github.com/lwydyby/proxy-upload

And I uploaded the docker image with action:

docker-compose.yml:

version: "2"

services:
  loops:
    image: "lwydyby/upload-test:latest"
    ports:
      - 9000:9000
    environment:
      host: "172.28.8.23"
      port: 80
      JAVA_OPTS: "-XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemor

[2020-05-01 16:02] mwm-twx commented on #1577
@pmlopes I may be missing something here, but I don't think the changes made in b627c70 fix the underlying issue of changing the `RoutingContext` another thread will see before having called `setUser` on it.

[code]

If two threads arrive at `#1`, one will be blocked on the `UserHolder` lock.  The executing thread will then pull the `User` successfully from the previous context, replacing the `thi

[2020-05-01 17:00] pmlopes commented on #1577
Check the later commit, I had a merge conflict. The mutation is now inside a synchronized block.

[2020-05-02 18:12] pmlopes commented on #1574
I'm trying to figure out if this is valid from a spec perspective or not. How did the redirect value came to be an url in the first place? Is it the provider that sets it? Or was passed from the application to the idp and back to the application?

My only concern is that malformed responses could be used to hijack the success reply to a different server. Now if a idp is doing this deliberately and

[2020-05-03 14:32] jhult commented on #1574
This happens using Keycloak (connected to Office 365).

I believe I only encountered this when the SessionHandler was missing (my mistake). However, I'm not sure it should fail in this manner.

[2020-05-04 08:01] mohitmahi opened #1596 "TimeoutHandler never terminates the associated worker thread execution after it get fires."
#### Read me

Read this first before creating an issue:

#### Describe the feature

A easy way to terminate worker thread once TimeoutHandler gets fired.
#### Use cases

If worker thread continues to take several seconds it can cause thread starvation if api gateway has a fixed socket timeout and high incoming traffic rate.

#### Contribution

[2020-05-04 20:31] gunnarmorling opened #1597 "Classloader not propagated when using StaticHandler#create(String, ClassLoader)"
### Version

3.9.0.

### Context

While trying to use Vertx' static handler in a modularized environment I ran into issues with classloader propagation. Specifically, the CL passed to `StaticHandler#create()` is set as TCCL on the event loop thread, but then when the handler gets invoked, a look-up to check whether the given resource exists is done on another thread ("internal-blocking") to which

[2020-05-05 05:30] tsegismont commented on #1596
There is no way to terminate a thread. You need to implement your process so that it regularly checks if it can continue or should abort because it could not complete in time.

[2020-05-05 05:30] #1596 closed

[2020-05-05 06:06] cescoffier commented on #1597
Unfortunately we don’t have control on the threads, we have the same issue on worker threads too.

A few extension have a hack to make it working in dev mode, but it’s really a hack.

[2020-05-05 06:29] gunnarmorling commented on #1597
Can you not pass on and set the current TCCL when handing over to the
worker thread and restore it afterwards? Note I know next to nothing about
Vertx' threading model :)

[2020-05-05 13:35] tsegismont commented on #1597
@gunnarmorling @vietj  I added the `4.0.0` milestone as we still have to discuss our plans for the few places in the API where a classloader can be provided by the user.

[2020-05-05 13:52] tsegismont commented on #1595
Could you please put the docker-compose file in the reproducer repository
and update the README file with instructions (commands to run) to reproduce
the issue.

Thank you.

[2020-05-05 14:09] gunnarmorling commented on #1597
As @tsegismont asked for a description of my work-around: I simply return the contents programatically from my handler... (Java 13 text blocks FTW ;)

[2020-05-06 01:46] lwydyby commented on #1595
I have added the corresponding instructions, please look at the trouble

[2020-05-06 13:09] zenios opened #1599 "NullPointerException in ForwardHeaderParser"
[code]

[2020-05-06 16:16] vietj opened #1600 "Pipe body codec will miss any write stream failure happening before the creation of the body stream"
The current implementation of the pipe `BodyCodec` assumes that the `WriteStream` will fail after `BodyCodec#create` method is called. The body codec will miss any failure reported by the `WriteStream` after the body codec was set on the request and before the response is received.

We should set an exception handler on the `WriteStream` to keep track of the failure and report it when the `BodyCod

[2020-05-06 16:35] #1600 closed

[2020-05-06 18:40] chris-brace opened #1601 "HttpServerResponse::setStatusCode(x) throws an exception when passed -1"
### Version

Which version(s) did you encounter this bug ?

3.8.5

### Context

I did `context.response().setStatusCode(-1).end(json, handler)`, admittedly by accident. But the error produced by `setStatusCode()` appears to be eaten because the caller is in a setHandler(). it doesn't trigger the `handler` on `.end()`, so it took me a long time to track down. I'm filing this bug because it violates

[2020-05-06 19:57] chris-brace commented on #1601
Oh, as an update, it seems like the reason this happened is that someone had changed the source to call `.setStatusCode()` with `context.statusCode()` as the value because otherwise we were eating 400 codes from the open api 3 router and coercing them to 500s. This caused other code that called the handler to pass -1 in because thats how `context.statusCode()` is designed.

This was all just a bit

[2020-05-07 16:24] paulswithers opened #1602 "RoutingContext.getBodyAsString(), contentType and character encoding passed"
#### Describe the feature

`RoutingContext.parsedHeaders().contentType()` extracts the content type and can also store the character set `parsedHeaders().contentType().parameter("charset")`. There's no easy method to get a handle on that.

If it's set, it would make sense for `RoutingContext.getBodyAsString()` to automatically use that and default to UTF-8 as a fallback if not character set is def

[2020-05-07 18:29] pmlopes commented on #1597
@tsegismont this method doesn't exist on 4.0.0.

[2020-05-07 18:32] pmlopes commented on #1597
The idea was that if a user wants to use custom class loaders, then deploy a verticle within this classloader. see: https://github.com/vert-x3/wiki/wiki/RFC:-Classloading-in-Vert.x-4

[2020-05-07 18:36] pmlopes commented on #1597
There's more discussions about this on the forum: https://groups.google.com/forum/#!searchin/vertx-dev/classloader%7Csort:date/vertx-dev/HekNEkkyAp0/dSA-ZfT8AQAJ

[2020-05-07 18:42] gunnarmorling commented on #1597
Can't contribute much to a solution here, just wanting to emphasize the importance of being able to pass in custom loaders. You might use my Vert.x demo as a testing bed for any solution, it loads Vert.x and the application code in two different JPMS layers, so resources of the user are not visible to the classloader of Vert.x classes.

[2020-05-07 19:20] #1602 closed

[2020-05-07 19:35] #1599 closed

[2020-05-11 10:21] tsegismont commented on #1584
Closing, not a bug

[2020-05-11 10:21] #1584 closed

[2020-05-12 08:14] #1576 closed

[2020-05-12 09:17] pmlopes commented on #1514
Perhaps the right fix would be to update the return statement to return `Route` in `mountSubRouter()` so the removal is trivial, as it's a route like the rest?

[2020-05-13 05:37] blyxa opened #1606 "BodyHandler not working as expected"
### Questions

Performing a file upload simulation with curl (and dart lang) shows unexpected results.

### Version

3.9.0

### Context

Need to handle large file uploads (Videos) with max size limit. Looked into BodyHandlerImpl.  But seeing unexpected behavior.
If the http request contains Content-Length that is greater than limit, vertx still consumes the body until limit is reached then disconn

[2020-05-13 07:50] lwydyby commented on #1595
hi,Is there any new progress?

[2020-05-13 18:05] tsegismont commented on #1595
Not yet

Le mer. 13 mai 2020 à 09:51, li wei <notifications@github.com> a écrit :

[2020-05-14 12:27] vietj commented on #1575
I am seing issues when trying to reproduce your issue but due to the https://github.com/mykidong/vertx-multipart-body-handler project that will consume a lot of heap and hangs the JVM because it allocates too much data - what did you observe ?

[2020-05-14 13:02] vietj commented on #1575
I think I found the issue @trunglebka , I'll give an explanation later and possibly a fix to improve it.

[2020-05-14 14:05] tsegismont commented on #1221
@vietj on one hand, the use-case that @sfitts describes sounds quite compelling to me. On the other hand, I believe it's a waste of resources to register a consumer, even local, any time a netsocket, websocket or sockjssocket is created, because most apps don't use it.

Consequently, I think we should add new options in Vert.x 4. Users like @sfitts who do need this feature could activate it, and c

[2020-05-15 05:49] vietj opened #1609 "WebClient multipart upload can lose buffers"
### Version

Most.

### Context

The multipart file upload implementation back-pressure can end the client request although with pending buffer data.

### Do you have a reproducer?

Use the `WebClientTest#testFileUploadFormMultipart` with a large enough size like `10_000_000`.

[2020-05-15 05:52] vietj opened #1610 "Defer WebClient streaming after connection"
Currently the `WebClient` will start streaming to the server before the client request has connected resulting in potentially buffering a large amount of data in memory. We should defer streaming until the stream is connected and let the actual stream handle buffering.

[2020-05-15 06:33] #1610 closed

[2020-05-15 06:33] #1609 closed

[2020-05-15 06:34] vietj commented on #1575
@trunglebka this issue is related to https://github.com/vert-x3/vertx-web/issues/1609 - we will provide a fix in 3.9.1

[2020-05-15 06:34] #1575 closed

[2020-05-15 07:27] vietj commented on #1221
agreed, it should not be the default in 4

[2020-05-19 10:08] pmlopes opened #1611 "Investigate a futurized alternative for handlers"
Currently handlers are expected to be written with a callback style, as the overall API is being modernized to allow future based across all vert.x modules an investigation should take place verifying how we could make the router algorithm work in such mode.

[2020-05-19 10:11] slinkydeveloper commented on #1611
This investigation was already made in past, and conclusion was that this works as soon as we can create a `Response`/`ResponseBuilder` like object.

Let me check where i wrote these conclusions

[2020-05-19 10:12] slinkydeveloper commented on #1611
Look at the end of this doc: https://docs.google.com/document/d/1OU7JI7ty5hJ-S1DBcMyl7yXEmkvL-NG8O08i1EDdb98/edit?usp=sharing

[2020-05-19 14:15] vietj opened #1612 "WebClient request timeout races against send the request"
The `WebClient` was updated in 3.9.1 to actually send the request after sending the head. When a timeout is set, this can race against sending the head resulting in a double completion of the same promise leading to an `IllegalStateException`.

The original issue was opened at https://github.com/eclipse-vertx/vert.x/issues/3416

[2020-05-19 14:19] #1612 closed

[2020-05-22 12:02] rodrimmb commented on #149
I start learning to use Vert.x with the guide https://vertx.io/docs/guide-for-java-devs and when I am testing the application with Junit5 this part of my code, who redirect to edit page, does not work in my test:

Code:

[code]

Test:

[code]

The test were blocking in the redirect, and I changed the redirect with `context.reroute(HttpMethod.GET, "/wiki/"+id);` and test works.

I only share it in

[2020-05-22 12:13] pmlopes commented on #149
@rodrimmb setting the status `3xx` is a client side redirect, so the server returns that status code and a header named `Location` and your browser usually will make a new request with the location from the previous response `Location` header.

When you use the api `reroute(...)` then it's a internal (at server side) redirect, in the same request, the process for handling it, restarts using the gi

[2020-05-22 15:31] jponge commented on #149
Thanks I'll look into it next week

[2020-05-23 00:17] shenzhou-6 commented on #1606
Hi, BodyHandler.setBodyLimit is working....

in BodyHandlerImpl 84

long contentLength = isPreallocateBodyBuffer ? parseContentLengthHeader(request) : -1;

so vertx  reads content-length is > limit. it disconnects

I tested the code. It's working

But in your code, you use failurehandler to override the default error

So when you comment out the code about failurehandler, 413 request entity too la

[2020-05-23 10:57] rodrimmb commented on #149
I'm not strictly following the guide, I'm use other tools (gradle instead maven and Junit5 instead Junit4) and also I change some functionality. But in the guide you use to redirect:

[code]

I undestand that is better use `context.reroute(HttpMethod.GET, "/");` to avoid CSRF attacks, is that right?

[2020-05-25 07:50] #1514 closed

[2020-05-25 07:53] #1554 closed

[2020-05-25 12:56] pmlopes commented on #1606
Hi, @shenzhou-6 is correct, as the failure is being overridden the expected error is not seen.

[2020-05-25 12:56] #1606 closed

[2020-05-25 13:44] jponge commented on #149
Looking at step 9 where there is a call to `reroute`: works fine, the redirection is server-side and completely transparent to the client.

Looking at step 1 where we do use a 303 redirect, the client is indeed told to perform a redirect, here when creating a new page:

[code]

[2020-05-25 14:05] pmlopes commented on #1601
This is a tricky issue. The `response()` is the vertx-core `HttpServerResponse` object. In this case you're just dealing with the core API. Now the APIs operate in 2 distinct modes:

* blocking
* non blocking

The blocking ones can throw exceptions (like you see) and the non blocking ones defer the exceptions to the handler. Now, because the API is fluent (you can chain it) there are some assumpti

[2020-05-25 14:11] pmlopes commented on #1545
in es4x you can do this with:

[code]

it should print a full exception log for both js and java exceptions.

[2020-05-25 14:12] #1545 closed

[2020-05-25 14:20] pmlopes commented on #1542
@pascalav PR_CONNECT_RESET_ERROR is an error when the peer closes the connection, in your case IIS it seems. I guess IIS may be changing the request? We just merged support for proxies recently on master, so I'd like to ask you to try this again once `milestone5` is released.

[2020-05-25 16:21] tsegismont commented on #1595
I believe the issue is the `DirectHandler` does not apply backpressure to the client request. So if it's slower to send to the backend than receiving from the client, buffers get accumulated in memory.

Try to change this:

[code]

to:

[code]

[2020-05-26 01:26] lwydyby commented on #1595
It was resolved after the change, thank you

[2020-05-26 01:26] #1595 closed

[2020-05-26 14:21] NilsRenaud opened #1615 "OutOfMemoryError when performing performance test without sending the session cookie"
### Version

I used Vertx 3.9.1

### Context

I encountered an exception which looks suspicious while performing performance testing (on throughput).
The Vertx Application under load does not use sessions but still has a `SessionHandler` configured with a `LocalSessionStore` instance. The SessionHandler is configured as `lazy`.

Since sessions are created by the SessionHandler before being used, a

[2020-05-26 15:50] #1566 closed

[2020-05-27 08:46] NilsRenaud commented on #1615
Sorry for the noise, I was testing with a wrong version of the lib. Thus, I close this issue.

[2020-05-27 08:46] #1615 closed

[2020-05-27 14:40] blindpirate commented on #161
Thanks @danielfernandez for the guidance of `ILinkBuilder` extension point. For those who searched to this issue, you can use

[code]

to workaround this issue.

[2020-05-29 15:43] salmonb opened #1616 "SockJS bridge broken in 3.9.0 / 3.9.1 when used in a Jigsaw project"
### Version

3.9.0 and 3.9.1 (no problem with 3.8.5 and under).

### Context

_Extracted from this thread: https://groups.google.com/forum/?fromgroups#!topic/vertx/gw07Ld98osM_

My server application stopped working when moving from Vert.x 3.8.5 to 3.9.0 / 3.9.1.

After investigating, I found that this was because the SockJS bridge was broken due to a hidden exception (Vert.x doesn't trace it).

I

[2020-05-30 01:31] blindpirate opened #1617 "Incorrect Javadoc of BridgeEvent class"
### Questions

There seems to be a misleading javadoc in https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/sockjs/BridgeEvent.java#L33 :

[code]

### Version

This javadoc hasn't changed since 2017.

### Context

I'm confused when reading this javadoc for `setRawMessage`:

### Do you have a reproducer?

N/A

### Steps to reproduce

N/A

### Extra

N/

[2020-05-30 20:23] zluo01 opened #1618 "SQLite JDBC Client does not work within web route handler"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

3.9.1 && 4.0.0 milestone 5

### Context

I try to get data from sqlite database when for certain rest api but it never goes through statement client.queryWithParams.

### Do you have a reproducer?

A reproduce

[2020-05-30 20:49] zenios opened #1619 "ApolloWS handler does not support messages sent in multiple frames"
GraphQL Subscriptions websocket uses a handler instead of textMessageHandler resulting in lost messages since handler will be called for all binary / text / continuation frames.

In our case we should add a textMessageHandler since we want to concatenate messages when a continuation frame is received

https://github.com/vert-x3/vertx-web/blob/13c10f88ec3b20e53950fd63ed740c9dc317f65a/vertx-web-grap

[2020-05-31 01:48] #1618 closed

[2020-05-31 19:01] pmlopes commented on #161
@blindpirate you can propose this as the default behavior. Please open a pull request for it if you can!

[2020-06-01 04:35] T-baby opened #1620 "Why are cookies set repeatedly?"
### Questions

If a cookie is set for the current site, all set cookies are automatically reset to the current path each time you visit another path.

For example.

Set the cookie with a request first:.

set-cookie: test=cookie; Max-Age=360000; Expires=Fri, 5 Jun 2020 08:27:33 GMT; Path=/; Domain=127.0.0.1

Then access the other routes:.

Cookie: test=cookie

### Version

io.vertx:vertx-web:3.8.5

[2020-06-02 09:24] tsegismont commented on #1619
@zenios thanks for reporting this. Can you provide a fix with a test?

[2020-06-03 13:28] blindpirate commented on #161
@pmlopes Here you go: https://github.com/vert-x3/vertx-web/pull/1622

[2020-06-04 11:06] chrispatmore opened #1624 "OpenApiSpec POST endpoint cannot accept both application/json and text/xml"
### Version

Vertx core: 3.9.0
Vertx-Web: 3.9.0
vertx-web-api-service: 3.9.0
vertx-web-api-contract: 3.9.0

### Context

Trying to send a text/xml POST request to HTTPServer created using an openapi.yaml spec that specifies content-types of application/json and text/xml fails with

[code]

### Steps to reproduce

1) Define a openApi File with application/json and text/xml as acceptable request pay

[2020-06-05 07:39] slinkydeveloper commented on #1624
That's a known issue of vertx-web-api-contract. The new module `vertx-web-openapi` solves it, so i invite you to try it (it will be release with next vertx 4 milestone within days)

[2020-06-05 08:27] chrispatmore commented on #1624
Oh cool thanks @slinkydeveloper

[2020-06-05 08:30] slinkydeveloper commented on #1624
Can we close it as solved in vertx 4?

[2020-06-05 08:34] #1624 closed

[2020-06-05 14:50] vietj opened #1625 "WebClient interceptor iteration"
Currently WebClient interceptor use a chain style, i.e each interceptor call the next one. Instead we should use an iteration style.

[2020-06-07 14:24] peter-jerry-ye opened #1627 "Wrong document for Apache FreeMarker template engine"
### Version

3.9.1

### Context

The example given is the example of Thymeleaf (I don't think freemarker use `th:text`), and

is not true. If I have `context.put("test", "test")`, then I should use `${test}` to access instead of `${context.test}`, as in the [example](https://github.com/vert-x3/vertx-examples/blob/3.x/web-examples/src/main/java/io/vertx/example/web/templating/freemarker/templates/i

[2020-06-10 14:09] root2squared opened #1629 "HTTPS server discarding inbound message"
## Version

3.8.4

### Context

After upgrading from 3.2.1 to 3.8.4 our vertx https server stopped working.

### Do you have a reproducer?

No

### Extra

While the server was working fine in 3.2.1, now it logs this:

[id: 0xadd44915, L:/10.55.16.66:20001 - R:/131.216.10.22:10978] HANDSHAKEN: TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256

Discarded inbound message UnpooledByteBufAllocator$InstrumentedUnpo

[2020-06-11 12:56] iranna90 opened #1630 "Connection pool has no absolute TTL for the connections in web-client"
### Questions

The connection pool only supports relative keepaliveTimeout which is updated every time connection used, Which means if we have incoming requests often the connection is never refreshed(re-created) to underlying service, and this is causing an issue when scaling down existing target service, requests failing as the service still has connections to the target service,

Example: If se

[2020-06-11 16:14] root2squared commented on #1629
Using latest netty specific jars resolved the issue.

[2020-06-11 16:14] #1629 closed

[2020-06-12 07:37] vietj commented on #1630
currently there is a hook to do that that was introduced in 3.9, if you are wrapping the HttpClient then you can set a connectionHandler that will be aware of all created connections. From this you can call shutdown with a timeout that will close the connection when the timeout fires.

we will use this as a configurable solution in HttpClient when users have reported this works the way they expect

[2020-06-12 14:40] iranna90 commented on #1630
It's good to have TTL also part of the core pool implementation defaulting to the -1 if not configured.

And we need this feature to continue running vertx-web-client in production, So if it is fine with you we can probably create a pull request with TTL implementation,

let us know.

[2020-06-12 16:31] vietj commented on #1630
you should first test what I recommended and then see if it solves your
problem.

On Fri, Jun 12, 2020 at 4:41 PM Iranna Nk <notifications@github.com> wrote:

[2020-06-13 17:16] jvican commented on #149
Why are client-side redirects not handled automatically by the web client? My expectation is that vertx would just do the redirect and wouldn't return the 30x status code, especially when I enable manually `setFollowRedirects` in the web client options. Am I missing something?

[2020-06-13 17:19] rogelio-o commented on #1625
Following up the conversation of the PR:

I think it should exist the possibility of calling `next` in a callback. Checking `if (v == current)` after the execution of an interceptor wouldn't allow this.

Maybe something like this can replace `next` method:

[code]

The only advantage I see with this will be not having a structure like an iterator, what will make the object lighter. Iterators shoul

[2020-06-13 19:29] vietj commented on #1625
I don't get what you are saying, the only goal of this issue is to record the fact that I would like to keep short stack trace when iterating over interceptors and not change the API or add a new feature

[2020-06-13 20:00] vietj commented on #1625
here is what this issue meant to do https://github.com/vert-x3/vertx-web/tree/rework-client-interceptor

[2020-06-15 08:15] iranna90 commented on #1630
Sure, I will try the proposed solution and let you know the result.

[2020-06-15 11:15] wjtien opened #1634 "io.vertx:vertx-web-openapi:4.0.0-milestone5 OpenAPIHolderImpl throw FileSystemNotFoundException"
### Questions

Caused by: java.lang.RuntimeException: java.nio.file.FileSystemNotFoundException
	at io.vertx.ext.web.openapi.impl.OpenAPIHolderImpl.<clinit>(OpenAPIHolderImpl.java:58)
	... 3 more
Caused by: java.nio.file.FileSystemNotFoundException
	at com.sun.nio.zipfs.ZipFileSystemProvider.getFileSystem(ZipFileSystemProvider.java:171)
	at com.sun.nio.zipfs.ZipFileSystemProvider.getPath(ZipFileSy

[2020-06-15 15:44] iranna90 commented on #1630
@vietj The solution you suggested works fine, thanks for the support.

[2020-06-15 16:19] vietj commented on #1630
thanks for the feedback

On Mon, Jun 15, 2020 at 5:44 PM Iranna Nk <notifications@github.com> wrote:

[2020-06-15 16:40] #1634 closed

[2020-06-16 03:02] tienquanutc opened #1637 "Repeat redirects 301 same location"
### Questions

Repeat redirects 301 same location

### Version

vertx-web-client 3.9.1

### Context

I encountered an exception which looks suspicious while use get request to non utf8 url.

### Do you have a reproducer?
It was redirects 16 times with a single location.
[code]
I think maybe the problem is due to the encode path

[2020-06-16 07:44] mohamnag opened #1638 "OpenAPI 's not exploded query parameter shall tolerate empty values"
### Version

- 3.9.1

### Context

having following resource defined in OpenAPI spec:

[code]

when making a request as `GET /values?param1=value1,value2` everything goes fine, but if `GET /values?param1=value1,value2,` or `GET /values?param1=value1,,value2` is executed, a `class io.vertx.ext.web.api.validation.ValidationException` is thrown with `ValidationException{parameterName='param1', valida

[2020-06-16 07:52] mohamnag commented on #1638
also adding `nullable: true` in any level does not change results.

[2020-06-16 18:27] #1619 closed

[2020-06-17 10:14] slinkydeveloper commented on #1638
@mohamnag can you show me the stacktrace of `ValidationException` when you enable `allowEmptyValue`?

[2020-06-17 10:43] mohamnag commented on #1638
sure, this is the stacktrace when `allowEmptyValue` is not set (or is false):

[code]

and this is when it is set to `true`:

[code]

[2020-06-18 09:50] gabrielguernikatdiscovery opened #1641 "Router path matching does not match documentation not previous behaviour"
### Version

Vertx-web 3.9.1, but it seems present since 3.8.3

### Context

The documentation in https://vertx.io/docs/vertx-web/java/#_routing_by_paths_that_begin_with_something mentions that a route with path `/some/path/*` should match a request to `/some/path` but it does not. It did match before (at least in version 3.7.1) and thus this bug introduces a backwards incompatible change, in addi

[2020-06-18 10:46] shenzhou-6 commented on #1637
If the path is "你好", then it is illegal in HttpUrl

[2020-06-18 17:25] jareddellitt-vertex opened #1642 "OpenAPI3RouterFactoryImpl rootHandler returns null instead of instance"
### Version

4.0.0-milestone5

### Context

When building up a `RouterFactory` in a fluent style, I encountered a null pointer because `rootHandler` returns null instead of `this`.

[code]

### Do you have a reproducer?

no

### Steps to reproduce
1. create a RouterFactory
2. on success, attempt to chain another call to the RouterFactory after calling `rootHandler`

[2020-06-18 18:24] jareddellitt-vertex opened #1643 "Can't use application/octet-stream as OpenAPI request body type"
### Version

4.0.0-milestone5

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

[code]

### Steps to reproduce

1. Try to specify `application/octet-stream` as the content type of a request
2. Create an OpenAPI RouterFactory and call `createRouter()`
3. A `RouterFactoryException` exception is thrown because it couldn't find a `BodyProcessorGe

[2020-06-22 08:07] #1642 closed

[2020-06-22 08:12] slinkydeveloper commented on #1643
The `RouterFactory` supports onIy those content-types because is the only one is able to validate. I think we need to add a "noop" validator for other unsupported content-types, so you will just get the body as buffer in the `RequestParameters`.

[2020-06-22 10:30] slinkydeveloper commented on #1643
This fix should do it, can you take a look at it? https://github.com/vert-x3/vertx-web/pull/1645

[2020-06-22 13:08] jareddellitt-vertex commented on #1643
@slinkydeveloper looks good, thank you!

[2020-06-22 13:10] #1643 closed

[2020-06-23 11:49] AlexandruGhergut opened #1646 "Vertx does not update query params map when rerouting"
### Version
3.9.1 - 4.0

### Context
When rerouting a request we can change it's URI (path + query string) and this [method](https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/impl/HttpServerRequestWrapper.java#L36) is called on the request wrapper. The problem is that the wrapper has its own internal state that is updated and while the [query](https://github

[2020-06-24 02:53] bunthatcodes opened #1647 "Content-Type-based Routing not working properly"
### Version
3.8.5
3.9.0

### Context
I am trying to handle 405 and 415 for same path, different content-type routes. However I've been facing this issue where the resulted status code is not as expected. Given the following routing definition,
[code]
I expect the following requests to have each respective behavior.
[code]
Please note case no. 2 and 4. Both have the same Content-Type header, which

[2020-06-24 08:01] gabrielguernikatdiscovery commented on #1641
See it is scheduled for 3.9.2, is the plan to restore the behaviour to what is in the documentation? Or to fix the documentation to match the current behaviour? @vietj @pmlopes

[2020-06-24 09:45] vietj commented on #1641
@pmlopes call, I scheduled so it gets resolved one way or another for 3.9.2

[2020-06-24 13:24] marcinus opened #1648 "WebClientBase request method does not populate headers from RequestOptions"
### Version

Validated it occurs `3.7.1`, `4.0.0`

### Context

When using request `RequestOptions`
[code]
The request does not contain the headers from RequestOptions.

### Do you have a reproducer?

See the code above.

* Link to github project/gist

### Steps to reproduce

See the code above

### Extra

Windows 10, JDK1.8.0_202

[2020-06-28 14:39] gaol commented on #1647
I think it is a bug. Each route defined in the router is tested for the matching one by one, the matching failure in the former route does not mean it fails to match the route at all. But HTTP method should be taken as the umbrella for other matching elements after matching the path, like consumes, produces, etc. Once we get a `405`, it should be sufficient to return the failure IMO.

[2020-07-01 15:46] vietj commented on #1638
@slinkydeveloper what's your opinion on this ?

[2020-07-01 16:47] pmlopes commented on #1641
@gabrielguernikatdiscovery, this should be the expected new behavior. In 3.8 we clearly defined the routing matching behavior to work on routers and sub-routers.

The expectation is that if we're matching with a wildcard, we consider everything before the wildcard., while before we were allowing ignoring `/` on routers but not on sub-routers.

So the bug is on the documentation, a match for: `/som

[2020-07-01 16:51] vietj commented on #1637
the fix was great, however not all cases were tested (i.e getRawPath() was used but the code not tested) - I updated it in https://github.com/eclipse-vertx/vert.x/issues/3472

[2020-07-01 16:51] #1637 closed

[2020-07-01 16:53] vietj commented on #1637
fixed by https://github.com/eclipse-vertx/vert.x/issues/3472

[2020-07-01 16:58] #1641 closed

[2020-07-02 09:11] #1647 closed

[2020-07-02 09:19] gaol commented on #1646
I think so, it may need `io.vertx.core.http.impl.HttpUtils.params(String uri)` to be `public` so that it is possible to be reused to compose the parameters.

[2020-07-02 13:20] slinkydeveloper commented on #1638
It seems like the problem is not `allowEmptyValue`, because `allowEmptyValue` means "all the parameter is empty", not just the single array element. The following schema:

            schema:
              type: array
              items:
                type: string

Should just accept the array `value1,,value2`, no matter the `allowEmptyValue`... I'm debugging it to figure out where the problem

[2020-07-02 14:07] slinkydeveloper commented on #1638
Ok It seems like the problem is inside the validation logic, and it's pretty nested into it. I'm not sure if we can easily fix it without changing a lot of code of the validation logic...

Are you creating a new application? Or maintaining an existing one? Because in the former case, you can give a look at the new module called `vertx-web-openapi` which is going to replace in vert.x 4 the old modu

[2020-07-03 01:23] gaol commented on #1646
@AlexandruGhergut After reading through the vertx-web doc, especially [reroute section](https://vertx.io/docs/vertx-web/java/#_reroute):

looks it is designed this way. You need to use context data to share between routes.

@pmlopes May I know why we need to clear the parameters in case of reroute? I understand it is liking `forward` in Servlet world which is possible to adjust the parameters. Tha

[2020-07-03 07:25] mohamnag commented on #1638
I'm maintaining one, but the application is anyway on latest vertx 3 version and will be upgraded to v4 as soon as its released.

[2020-07-03 08:12] slinkydeveloper commented on #1638
Can you try if you experience the same problem with the new module `vertx-web-openapi`?

[2020-07-04 14:10] jaikiran opened #1654 "[3.9.x] HttpServerRequest#absoluteURI runs into URI parsing error and then returns null"
This was raised as an issue in Quarkus, here https://github.com/quarkusio/quarkus/issues/10177. However, looking into the details, it turns out to be an issue in vertx-web project.

If the request URI path contains special character like `[`, any calls to `HttpServerRequest.absoluteURI` will (internally) run into a URI parsing exception (which is only logged) and the method ends up returning `null

[2020-07-04 21:08] jonrosner opened #1655 "OpenAPI3RouterFactory does not use server and basepath specified in yaml file"
### Version

[code]

### Context

OpenAPI3RouterFactory does not use server specified in yaml file.

### Do you have a reproducer?

[code]

[code]

### Steps to reproduce

1. Deploy a verticle with the router specified above
2. Have it load the yaml file specified above
3. curl localhost:1337/api/ping
=> 404 Not found
4. curl localhost:1337/ping
=> {"status": "OK", "version": "v1"}

### Extra

Whe

[2020-07-06 07:22] slinkydeveloper commented on #1655
Hi, did you tried the latest version 3.9?

[2020-07-06 10:49] AlexandruGhergut commented on #1646
Thank you for looking into this @gaol. I must have missed that piece of documentation.

I think I understand the design. Our use-case is that in case a query parameter is badly encoded, we want to handle that ourselves and not have vertx throw 400 when `request.params()` is called. I think we could extract the query parameters, do our own decoding and persist them into the `RoutingContext` as a ma

[2020-07-06 11:45] pmlopes commented on #1620
Using:

[code]

Making a request to cookie, set the cookie on my browser, making a request to other does not set any cookie as expected. I think if there was a bug it has been fixed on the 3.9.x series.

[2020-07-06 11:45] #1620 closed

[2020-07-06 14:00] hjhill opened #1656 "CorsHandlerImpl does not add Vary headers"
### Version

3.8.5

### Context

When using `CorsHandlerImpl` (the default implementation of `CorsHandler`), I noticed that it does not add the `Vary` response header. In order to prevent caching servers from re-using responses retrieved with a different set of CORS headers (or even without CORS headers), the name of every CORS-related request header that changes the response should be added to th

[2020-07-08 01:40] tienquanutc commented on #1637
Thank you for fixing it.

[2020-07-08 02:54] stuartwdouglas opened #1658 "StaticHandlerImpl does not redirect on index page"
Originally reported here: https://github.com/quarkusio/quarkus/issues/6760

If I have a directory /foo with an index page of index.html there is a difference in how the request is served based on the URL entered in the browser. Assuming index.html references bar.css:

If I enter '/foo' in the browser then the browser will interpret bar.css as being in the root of the application, so will request /

[2020-07-08 08:35] pmlopes commented on #1658
This is already the behavior in:

https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/StaticHandlerImpl.java#L228-L236

[2020-07-08 09:01] stuartwdouglas commented on #1658
Any chance you could backport it to the next 3.x release?

[2020-07-08 09:16] pmlopes commented on #1658
Ok, it shouldn't be too complicated.

[2020-07-08 14:48] pmlopes commented on #1654
brackets should be url encoded if i'm not mistaken. Also this isn't reproducible on master, in order to fix it we need to apply on core what we now do on web.

[2020-07-08 14:49] pmlopes commented on #1654
@vietj should we be less strict on core? and fix this for 3.9.2?

[2020-07-09 03:21] gaol commented on #1616
@salmonb The possible reason that the project failed in your IDE is that `jackson-databind-2.10.2` is used in `vertx 3.9.x`, which has `module-info.java` explicitly declared. I have no idea why it failed, but that may not be error in vertx.

I tried to make some changes for both `3.8.5` and `3.9.1` to your project:
* https://github.com/salmonb/vertx-3-9-1-issue/compare/master...gaol:fix_in_3.8.5
*

[2020-07-09 13:37] pmlopes commented on #1627
Fixed on master

[2020-07-09 13:37] #1627 closed

[2020-07-09 13:39] #1617 closed

[2020-07-09 13:40] #1611 closed

[2020-07-09 19:00] #1556 closed

[2020-07-10 08:08] #1656 closed

[2020-07-10 08:08] #1582 closed

[2020-07-10 08:10] pmlopes opened #1660 "Consistent validation of Origin header"
The validation or origin is not consistent across handlers and does not always follow the spec.

See the validation on Cors and apply the same functionality where ever needed CSRF (for example)

[2020-07-10 10:36] amorozow42 opened #1661 "Internal exception when sending null to response"
Version 3.9.1

Example code:

[code]

When `error` is `null` server always returns 500.
It would be better just to ignore body in this cause.

[2020-07-10 17:49] pmlopes commented on #1661
That API is from vertx core perhaps @vietj can give his insights

[2020-07-14 12:17] romero opened #1662 "Server error when incorrect content type used"
Vertx 3.9.1.

Sample code:

[code]

If I try to execute request with header `Content-Type: application/x-www-form-urlencoded` it will end up with 500 code and empty body. After adding error handler I can see that it is an inner exception `IllegalStateException`. Status code in this case set to -1, which is also strange. So I have to manually process this error:

[code]

[2020-07-15 14:45] labullard7 commented on #1662
I'd be happy to fix this, but I wasn't able to replicate this locally with Vert.x 3.9.1. Do you mind providing more info?

[2020-07-15 14:49] romero commented on #1662
Sure!
I think that's why I missed this:

[code]

[2020-07-15 15:34] labullard7 commented on #1662
Awesome, thanks, I see the issue now.

Is there any particular reason you want to do a multipart request with a `GET` call? Vert.x shouldn't be exposing an internal exception like this regardless, but was wondering what the use case here was before I change anything.

[2020-07-15 17:13] labullard7 commented on #1412
What do you mean when you say no error is issued? Are you expecting a 404 to be returned in this case?

[2020-07-15 17:40] ukr15 commented on #1412
we expected a status code 415, but tat problem was solved by a separate route

Mit freundlichem Gruß
---ukriegel

On 15. Jul 2020, at 19:13, labullard7 <notifications@github.com> wrote:

﻿

What do you mean when you say no error is issued? Are you expecting a 404 to be returned in this case?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<

[2020-07-15 17:59] labullard7 commented on #1412
Awesome, thanks - this can be closed then

[2020-07-16 09:46] romero commented on #1662
I have created service that accepts only GET request for resource.
Because it is public service, sometimes clients can send unpredictable requests :)
As I know it is ok to send request body for GET requests.
HTTP protocol doesn't prohibit this.

[2020-07-16 13:57] labullard7 commented on #1662
I wouldn't necessarily say it's "okay" to do that, considering:

   sending a payload body on a GET request might cause some existing
   implementations to reject the request. ([RFC7731 4.3.1](https://tools.ietf.org/html/rfc7231#section-4.3.1))

and,

   encountered an unexpected condition that prevented it from fulfilling
   the request. ([RFC7731 6.6.1](https://tools.ietf.org/html/rfc7231#sectio

[2020-07-16 14:15] labullard7 commented on #1662
@vietj Seems I don't have write permissions on this account - I've made commits in the past under @LukeAustinBullard, any chance this account can have write permissions as well?

[2020-07-16 15:02] romero commented on #1662
  @labullard7 Yes, I think this is right solution.
Nothing prevents server to process GET request in this case.

[2020-07-17 14:33] himanshumps opened #1663 "Support for offloading SSL to seperate thread/event loop"
Hi,

Is there the support for offloading SSL processing to seperate executor group which was introduced in Netty 4.1.35 in vertx-web.

The flag that was introduced was -Dio.netty.handler.ssl.openssl.useTasks=true

Please see release notes @ https://netty.io/news/2019/04/17/4-1-35-Final.html

Thanks,
Himanshu

[2020-07-17 16:29] tsegismont commented on #1663
Hi, we have not planned to support it yet. If we did the changes would be in Vert.x core (mostly `SSLHelper` class). Pull requests are welcome.

Closing as this is not related to Vert.x Web.

[2020-07-17 16:29] #1663 closed

[2020-07-17 18:44] elR1co opened #1665 "Duplicated private static final TYPE_ARG properties in Rxified version of WebClient"
### Questions

Is this normal to have so many duplicated private static final TYPE_ARG properties in Rxified version of WebClient ? There are 37 in version 3.9.1.

### Version

3.9.x

3.8.5 is not impacted.

[2020-07-18 07:23] vietj commented on #1665
can you show the generated code ?

[2020-07-18 13:26] elR1co commented on #1665
In WebClient version 3.9.1 :

[code]

In WebClient 3.8.5 :

[code]

[2020-07-18 14:58] vietj commented on #1665
so that is normal because this is a fix for a bug, however we should try
optimize that and reduce the number of type args (i.e group them).

On Sat, Jul 18, 2020 at 3:26 PM elR1co <notifications@github.com> wrote:

[2020-07-18 16:53] elR1co commented on #1665
Sure. Actually I saw that during a profiling session. I was wondering if we were doing something wrong in our code, but then I compared with 3.8.5 version that we were using before, and I saw these differences.

[2020-07-22 01:00] zimahaba commented on #505
i'm using version 3.9.2 and i'm having the exact same problem... when i respond with the encodePrettily, the route is called twice

[2020-07-22 16:29] yatindra opened #1667 "WebClient fails to correctly encode Form for OAuth 2"
When attempting an token request to Azure REST API the WebClient does not encode the form correctly.

Reproducer:
Note: AZURE_DOMAIN, AZURE_CLIENT_ID, AZURE_CLIENT_SECRET are to be replaced with actual values
[code]

Same thing works if I manually create the URL Encoded body string
[code]

Env:
vertx and vertx-web version: 3.9.1
JDK: 11.0.2
Host OS: macOS

[2020-07-23 14:10] cvgaviao opened #1668 "[vertx-web-openapi] validation of parameter is not supporting content as data type"
### Version

4.0.0-SNAPSHOT

### Context

The openapi 3 spec describes that a parameter data type can be a `schema` or a `content`: https://swagger.io/docs/specification/describing-parameters/

When trying to use a OAS3 model file that is using a parameter with `content` instead of a `schema`, `vertx-web-openapi` throws an error that is bellow.

But investigating it I found that there is another v

[2020-07-24 06:45] slinkydeveloper commented on #1668
To me this sounds like a problem of the json schema we use to validate openapi specs: https://github.com/vert-x3/vertx-web/blob/master/vertx-web-openapi/src/main/java/io/vertx/ext/web/openapi/impl/OpenAPI3Utils.java#L328
I'm gonna bump it to the latest version and let's see if this solves the problem.

[2020-07-26 05:08] nitishgoyal13 commented on #1137
@silentbalanceyh I am facing the same issue. Possible for you to share the repository link where you resolved this issue. Been stuck on this for more than a week now, not able to figure out what is wrong in WebClient of vertx

[2020-07-28 04:23] nitishgoyal13 opened #1670 "Caused by: org.jvnet.mimepull.MIMEParsingException: Reached EOF, but there is no closing MIME boundary"
Questions
Vertx Webclient is throwing the above exception for multipart/form-data content-type

Version
3.8.5

Context
The service receives the multipart request from mobile client and passes on the request to downstream service for uploading the image. Service is throwing
[code]

Code snippet of WebClient code
[code]

API signature of my downstream service
[code]

Steps to reproduce
Using the ste

[2020-07-28 08:47] glassfox opened #1671 "context.getBodyAsJson throw io.vertx.core.json.DecodeException in case when body not sent"
### Version

4.0.0-milestone5

### Context

when request do not contains body, ctx.getBodyAsJson throw  io.vertx.core.json.DecodeException

### Do you have a reproducer?

curl --request GET \
  --url http://localhost/44227

server handler:
ObjectUtils.defaultIfNull(ctx.getBodyAsJson(), new JsonObject());

[2020-07-28 08:55] pmlopes commented on #1671
@glassfox can you verify the behavior on `beta1` as this part of the code has been refactored recently to properly signal the missing body.

[2020-07-28 11:10] glassfox commented on #1671
thanks @pmlopes .
I approve that above issue has been fixed in `beta1`.

[2020-07-28 11:17] #1671 closed

[2020-07-29 13:02] cvgaviao commented on #1668
To me, seems that this issue is related to using `$ref` for any Path's parameters. I'm saying that because I've substituted the parameter using OneOf by one using a simple integer schema and still a validation error occurred.

[2020-07-29 13:20] himanshumps commented on #1455
We are also injecting vertx instance using guice. Will that create a issue?

[2020-07-29 13:21] himanshumps commented on #1455
@vietj I think this is closed but needs a look.

[2020-07-30 13:06] #1660 closed

[2020-07-30 18:46] #1654 closed

[2020-07-30 19:23] pmlopes commented on #1368
Currently there isn't bandwidth to verify all bits work on native and downstream projects such as quarkus do solve this.

[2020-07-30 19:23] #1368 closed

[2020-07-31 12:26] elR1co opened #1674 "Router behavior change for static files between 3.9.1 and 3.9.2"
### Version

3.9.2

Not reproducible in 3.9.1

### Context

We are trying to serve static files using vertx-web Router with StaticHandler, and we observe a difference of behavior with the same application code, except the Vertx version : 3.9.1 is working as before, 3.9.2 does not work as expected.
We have been searching in 3.9.2 Release notes what could be the origin of the change, and we did not

[2020-07-31 14:53] pmlopes commented on #1674
This was a bad behavior that has been fixed by https://github.com/vert-x3/vertx-web/issues/1658

To explain that this was a bug, see the given reproducer you have 2 files:

* index.html
* check.js

Both are on the same directory but the html refers to the script as `static/check.js` as this is a relative path, the location is not correct as both files reside on the same dir. Update the reference t

[2020-07-31 14:53] #1674 closed

[2020-07-31 15:23] elR1co commented on #1674
Hi Paulo,

do you mean this bug fix is missing in 3.9.2 Release notes ? https://github.com/vert-x3/wiki/wiki/3.9.2-Release-Notes

[2020-07-31 17:38] pmlopes commented on #1674
Yes, I'll add it.

[2020-07-31 20:45] elR1co commented on #1674
Thanks a lot for the work done !

[2020-08-05 18:00] nitishgoyal13 commented on #1455
@vietj Facing similar issue of performance degradation using vertx web client. Using guice for injection . Can you reopen this and take a look once

[2020-08-06 16:28] UkonnRa commented on #1668
Facing the same issue, any update?

[code]

[2020-08-06 16:37] slinkydeveloper commented on #1668
Not yet, I'm still looking at it...

[2020-08-06 20:43] elR1co opened #1676 "SockJSSocket end handler not called anymore when idle timeout occurs or client close connection without sending WS close message"
### Version

Since version 3.9.0.

Works with 3.8.5.

### Context

We have a SockJS server application which has different behavior since migrating to 3.9.0 (version 3.8.5 has expected behavior). Our SockJSSocket end handler is not called anymore in 2 cases :

1. When we set an idle timeout to 7 seconds for example, the timeout occurs, the websocket connection is closed, but the SockJSSocket end h

[2020-08-07 10:30] slinkydeveloper commented on #1668
@cvgaviao I've tried to take your openapi def and validate here https://apitools.dev/swagger-parser/online/ and it seems like it's failing, same with https://editor.swagger.io/. They all fail on `oneOf`, so it seems like the problem is on your contract

[2020-08-07 10:30] slinkydeveloper commented on #1668
@UkonnRa can you post a complete openapi contract, so i can try to parse it?

[2020-08-07 10:50] UkonnRa commented on #1668
Sorry, there are something wrong on my yaml, false alert

BTW, it is really hard to write a correct openapi config

[2020-08-07 11:21] cvgaviao commented on #1668
@slinkydeveloper , the apitools doens't support `content` yet. And the https://editor.swagger.io/ gave me the detailed message that the problem is the we can't use examples when using `content`. I removed the examples and it parsed without error..

I've pushed the fix already ;)

[2020-08-07 12:20] slinkydeveloper commented on #1668
cool! can we close this issue?

[2020-08-08 10:22] salmonb commented on #1616
Thanks @gaol for looking at this, much appreciated.

But as opposed to your solution, I would like to run/debug my Java9+ application directly in the IDE (IntelliJ IDEA in my case). This issue raises a module problem when running the project **using the Java9+ module system** in the IDE. The module system fails to find the the Jackson databind module when the Vert.x code tries to access it (NoClas

[2020-08-10 04:46] himanshumps opened #1678 "HTTP/2 File Upload / BodyHandler Issue"
### Version

3.9.2

### Context

I am trying to setup a simple file upload server which should be able to upload files on HTTP/2. The upload works fine with HTTP 1.1 and it hangs on HTTP/2.

Also the file getting copied is 0 KB.

### Do you have a reproducer?

Refer to the github project: https://github.com/himanshumps/vertx-fileupload.git

### Steps to reproduce

1. Run the command _**`curl -ikv

[2020-08-10 07:40] himanshumps commented on #1678
Not a bug. After reading through this example, I was clear on what was happening.

[code]

[2020-08-10 07:40] #1678 closed

[2020-08-10 19:31] jekkel commented on #1372
After starting to implement a fix I realized that there are 3 different interacting standards to respect:

1. [RFC 3986 - Uniform Resource Identifier (URI): Generic Syntax Section 2.2](https://tools.ietf.org/html/rfc3986#section-2.2)
2. [OpenAPI v3.0.3, Section 4.17.12.3 "Style Values"](http://spec.openapis.org/oas/v3.0.3#style-values)
3. [RFC 6570 URI Template, Section 3.2.2](https://tools.ietf.o

[2020-08-11 06:44] nitishgoyal13 commented on #1670
Any update on this issue? Not able to send multipart form using vertx web client

[2020-08-11 07:39] vietj commented on #1670
we schedule resolution for 3.9.3

[2020-08-11 07:40] vietj commented on #1670
can you provide a reproducer project ?

[2020-08-11 07:58] #1372 closed

[2020-08-11 09:31] nitishgoyal13 commented on #1670
I will try to extract this code out to sample project over the weekend,  our current project involves integration with sentinel and extracting out would be a big task

I have pasted the sample code above. Will that be of any help?

Can you try to replicate this in your own environment where you can try sending multipart form data to another service using vertx web client (3.8.5)

[2020-08-11 12:09] vietj commented on #1676
did you check the WebSocket exception handler and close handler ? you should use the close handler to perform cleanup task

[2020-08-11 12:22] elR1co commented on #1676
I am not sure to understand. I am using Rxified SockJSSocket onComplete to do the cleanup. Without RxJava, I have tried with SockJSSocket.endHandler. I do not see any closeHandler. Sorry, but which close handler are you talking about ?

[2020-08-11 12:52] elR1co commented on #1676
I have checked, and I do not see any close handler : https://vertx.io/docs/apidocs/io/vertx/ext/web/handler/sockjs/SockJSSocket.html

[2020-08-11 12:53] vietj commented on #1676
does exception handler work SockJSSocket ?

I think we should add a close handler on SockJSSocket.

[2020-08-11 13:07] elR1co commented on #1676
Exception handler seems to be working with SockJSSocket.
My SockJSSocket end handler is called only when a specific close message is sent :

- `ws("Close WS").close` with Gatling
- `/disconnect` with https://dwst.github.io/

Maybe, in case of idle timeout, a close handler is needed to SockJSSocket.

[2020-08-11 21:26] jekkel commented on #1431
I want to give this a try. After studying a bit here's what think would do the trick.

In https://github.com/vert-x3/vertx-micrometer-metrics/issues/34#issuecomment-462356893 Julien proposed `vertx-web` should call an extended metric SPI `void requestRouted(R requestMetric, String route)`. But this means we would have to allow access to the metric object (of type `<R>`, i.e. `Object`) through `Htt

[2020-08-13 07:32] gdurandrexel opened #1680 "[vertx-web-openapi] Make all handlers optional (for usage as subrouter)"
Please, can you avoid forcing handlers on the generated routes, typically the BodyHandler currently.
I use the generated router as a subrouter and my main route already contains a BodyHandler.
Allow to set the bodyHandler to null or add options as for ResponseContentTypeHandler.

[2020-08-13 08:50] slinkydeveloper commented on #1680
Can you check out the #1681?

[2020-08-13 13:43] gdurandrexel commented on #1680
Hello. Thanks for the quick answer.
The proposed fix seems fine to me.

[2020-08-17 18:36] #1412 closed

[2020-08-19 05:56] barainilesh opened #1683 "Web client - sending multiform post with in memory byte array"
Using Vertx Web Client, while sending multipart form post request [file upload] one needs to provide file path.

Example:

[code]

This feature requires the file to be present on file system [needs IO operation].

Can Vertx team provide a overload of `binaryFileUpload` method in which one can pass a byte array (represents file)?
Just to use this feature we need to integrate Apache HTTP client in o

[2020-08-19 09:07] tsegismont commented on #1683
Closing as duplicate of #1344

[2020-08-19 09:07] #1683 closed

[2020-08-19 09:10] #1344 closed

[2020-08-19 10:10] vietj commented on #935
@NavidMitchell can you contact us privately about this to give more details ? we checked and the latest vertx version will not log anything when a client sends `GET /` which triggers the invalid HTTP version, unless you log yourself the exception in the `HttpConnection` exception handler (which might be possible).

Also the `Http1xOrH2CHandler` is not enabled when running an HTTPS server.

[2020-08-19 13:29] cpdyj commented on #1344
@vietj Sometimes, if we upload a huge object, the memory will be a problem?

[2020-08-20 07:36] vietj commented on #1344
@cpdyj you should use this with care indeed

[2020-08-20 12:48] cpdyj commented on #1344
@vietj soune, I think the better way is supported ReadStream. But to implement it more difficult for me.

[2020-08-22 06:48] chengenzhao opened #1685 "StatusCode still remains -1 when catching a runtime exception"
### Questions

The status code in failure handler remains -1 when catching a runtime exception

### Version

3.9.2, 4.0.0beta1

### Do you have a reproducer?

try this example:
[code]

[2020-08-24 09:10] #1685 closed

[2020-08-26 08:27] AlexandruGhergut opened #1687 "Vert.x reroute fails with 500 when params map cannot be constructed"
### Version
3.9.2 but it's present in current master as well

### Context

Given a request containing an invalid encoded query parameter e.g. `parameter1=%%value1%%`, Vert.x reroute will fail because it will not be able to [clear the params map](https://github.com/vert-x3/vertx-web/blob/master/vertx-web/src/main/java/io/vertx/ext/web/impl/RoutingContextImpl.java#L396). Currently, the `params()` me

[2020-08-26 09:26] pmlopes commented on #1687
I think the best option would be having a `clearParams()` in core, which would be a no-op if the params haven't been decoded yet (fixing the issue as demo'ed here).

However it would still throw the error if any other handler does try to read a param in between the start of the request and the `reroute`. So the `try-catch` is still needed I'm afraid.

What is your opinion @vietj ?

[2020-08-26 09:32] pmlopes commented on #1687
A compromise solution is to leave core as-is and cache the params on the vertx-web side, this ways, on redirect we take the params from the redirect, not the request, like we do for `path`, `verb`, etc...

[2020-08-26 09:58] pmlopes commented on #1687
@AlexandruGhergut Check my PR above, this alternative avoids touching vertx-core. It passes your test but as I wrote before, if any handler attempts to do a `params()` call before the `reroute` the IllegalStateException` is thrown and should be handled.

[2020-08-26 23:06] therockstorm opened #1690 "`anyOf` with differing types in schema results in incorrect validation error"
### Version

4.0.0-milestone4

### Do you have a reproducer?

Using the below schema, if I make the below request with an invalid field name such that if fails to match any of the `anyOf` types, I get the error, `$.data.relationships.source.data.id: object found, string expected`. However, the field can be either a `string` or an `object`.

<details><summary>Minimal reproducible schema</summary>
<

[2020-08-27 08:29] tsegismont commented on #1690
@slinkydeveloper can you have a look? Thanks!

[2020-08-29 03:48] chefhoobajoob opened #1691 "RoutingContext.getBodyAsJson() hangs on some large payloads"
### Version

3.8.5, 3.9.2

### Context

While testing a vertx service implementation, I found that it is possible to block handling of inbound HTTP requests using a single request containing a large invalid payload consisting of just integer characters in the POST body to a path configured with a handler using vertx-web's `Router` if the `BodyHandler` is also configured as a global handler, and `R

[2020-08-29 09:19] vietj commented on #1691
@chefhoobajoob do you mean it is blocking because the processing takes lot of time ? or is it indefinitely blocking ? it is not clear

[2020-08-29 09:21] vietj commented on #1691
perhaps for getBodyAsJson for large payload we should switch to the non blocking JSON parser. but the issue is that the method is synchronous and would not leave the opportunity to parse the JSON body in several steps.

Another way would be to simply throw an exception when this happens hover a body limit

[2020-08-29 09:21] vietj commented on #1691
WDYT @pmlopes ?

[2020-08-29 09:34] pmlopes commented on #1691
I need to check the test, because the text version is throwing 400 and that sounds suspicious too.

[2020-08-29 20:17] elaatifi opened #1692 "OAuth handler failing due to a missing redirect_uri"
I'm migrating an appfrom 3.x to v4 Beta1, I have issue with OAuth handlers

I think there is a problem with this line:
[OAuth2AuthHandlerImpl.java:242](https://github.com/vert-x3/vertx-web/blob/e09a4004e53d12ee9a8e1db279df6b306863bcbe/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/OAuth2AuthHandlerImpl.java#L242)

Should not be config.setRedirectUri directly ?

_it's a little bit confusing

[2020-08-31 13:31] slinkydeveloper commented on #1690
Hi @therockstorm thanks for opening the issue, can you open the issue here? https://github.com/eclipse-vertx/vertx-json-schema

I think the reason is that we're just picking one of the validation failures https://github.com/eclipse-vertx/vertx-json-schema/blob/master/src/main/java/io/vertx/ext/json/schema/common/AnyOfValidatorFactory.java

[2020-08-31 14:08] #1431 closed

[2020-08-31 14:20] therockstorm commented on #1690
Created https://github.com/eclipse-vertx/vertx-json-schema/issues/14

[2020-08-31 14:20] #1690 closed

[2020-08-31 17:58] chefhoobajoob commented on #1691
@vietj : i haven't measured the total blocking duration for that specific payload, but it is multiple minutes (4+ or more), I think. With a single instance of a verticle that has that routing configuration, if another request arrives while that one request is blocking, that new request, even if it's on an unrelated path, does not get forwarded to its handler - it will also block until the initial

[2020-08-31 18:01] chefhoobajoob commented on #1691
@pmlopes - the HTTP 400 response code is in the handler implementation, it isn't coming from vertx core or web

[2020-08-31 18:43] pmlopes commented on #1691
Hi I just went over the issue. The root cause is that the payload is 3Mb long digits. This is assumed to be a `BigInteger` by Jackson.

If you try to instantiate a big integer with that payload it will also take the same time.

So the CPU is being consumed there. Making the parsing asynchronous would not fix it in this case.

I just looked at how express handles this. They have a configuration tha

[2020-09-01 08:05] vietj commented on #1676
I think we can close this issue @elR1co ?

[2020-09-01 14:05] #1680 closed

[2020-09-01 18:07] pmlopes commented on #1691
@chefhoobajoob please have a look at #1693

[2020-09-01 18:08] pmlopes commented on #1687
Fixed on master

[2020-09-01 18:08] #1687 closed

[2020-09-01 18:22] AlexandruGhergut commented on #1687
Great to see this fixed! @pmlopes is it possible to also backport this to 3.9?

[2020-09-01 18:25] pmlopes commented on #1692
Hi @elaatifi , I've renamed some variables and added a small doc to explain it better. The code seems to be correct,the issue you're facing is related to not being able to compute the redirect url to your server. Can you show how you're instantiating the handler (excluding any keys, of course) :)

[2020-09-01 18:27] chefhoobajoob commented on #1691
@pmlopes : Good to include a distinction between JSON and other uploads. Can't tell for sure - can this be subverted by a client omitting or specifying a different value for `Content-Type`?

[2020-09-01 18:43] pmlopes commented on #1691
@chefhoobajoob yes that is possible. in that case the general upload limit is what can be used to control the data.

Maybe a simpler (and probably safer solution) is to have:

[code]

In the router itself and the 2 getters will throw if the buffer size is bigger than the limit.

This means that you could configure the max size per sub router too, but opens the door for mistakes if you forget to co

[2020-09-01 18:43] pmlopes commented on #1691
@vietj wdyt from the comments above?

[2020-09-01 18:44] AlexandruGhergut commented on #1646
The solution for https://github.com/vert-x3/vertx-web/issues/1687 also ended up fixing this issue and the points in my last reply

[2020-09-01 18:44] #1646 closed

[2020-09-01 21:45] elaatifi commented on #1692
I mean redirectUri already contains the information and contains the value used for redirection on authentication success.

Host is not required and can be null.
route.getPath could be part of subrouter so it's not enough to compute the redirect uri.

Could you please tell me why we can't use that value for credentials config object too ?

Thank you 😊

[2020-09-02 01:11] hjx27000cs opened #1694 "VertxNetServerMetrics connect nullpoint"
### Questions

Do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.

### Version

version:3.8.5

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

A reproducer is a simple project hosted on GitHub (or another forge supporting git clone

[2020-09-02 06:20] vietj commented on #1694
https://github.com/vert-x3/vertx-web/issues/1694 duplicate

[2020-09-02 06:20] #1694 closed

[2020-09-02 12:10] pmlopes commented on #1692
So, I've added a extra comment why the redirect uri is the callback uri and not the resource. On the other hand I think on the validation we can relax the rule and ensure that if the value is present it can't be empty so `null` becomes allowed.

[2020-09-03 15:00] elaatifi commented on #1692
Thank you, it is a good solution for my problem to relax validation !

[2020-09-03 16:09] pmlopes commented on #1692
Fixed on auth

[2020-09-03 16:09] #1692 closed

[2020-09-06 12:46] FelixGaebler commented on #1334
Still the same in 3.9.2 #push

[2020-09-07 09:03] jwvmarkus opened #1695 "Vertx-Pac4J 5.0.0 generates LinkedHashMap which cannot be serialized by SharedDataSessionImpl"
### Questions

The new version of pac4j and pac4j-saml now wrappes claims into a LinkedHashMap which cannot be serialised in SharedDataSessionImpl. Can we extend the serialisation with a type MAP.
I can provide a PR.

### Version

Version 3.9.2

### Context

We use SAML login with pac4j-saml-opensamlv3 (4.0.3) and vertx-pac4j (5.0.0)
I encountered an exception when a pac4j user is serialised in Sh

[2020-09-07 11:53] pmlopes commented on #1691
@chefhoobajoob I agree that the the old PR was unsafe as it would be easily bypassed by sending an incorrect mime type. The new PR avoids this by overloading the context methods `getBodyAsJson*()` with a alternative that enforces a max allowed body buffer length.

It also documents on the main manual about the dangers of running without a limit and the javadocs document how the limit works. This w

[2020-09-08 07:36] tsegismont commented on #1695
vertx-pack4j is not maintained by the Vert.x community, please file an issue on this repository: https://github.com/pac4j/vertx-pac4j

[2020-09-08 07:36] #1695 closed

[2020-09-09 23:55] chefhoobajoob commented on #1691
@pmlopes : looks good paulo, thanks!

[2020-09-10 19:55] #1691 closed

[2020-09-10 19:57] pmlopes commented on #1667
This seems to be caused by the resource being an `url`.

[2020-09-12 22:06] LouizFC commented on #1459
I got a use case for response validation:

I have a very very bare bones prototype implementation of a dynamic "OpenAPIWebClient". I wrapped a WebClient with a OpenAPIRouter. I wrap the produced HttpRequest<Buffer> into a "fake" RoutingContext interface and feed it to the router handler without a proper server.

If there was an optional response validator, I could validate the responses from this

[2020-09-14 06:40] slinkydeveloper commented on #1459
@LouizFC please try with the new vertx-web-openapi package, because vertx-web-api-contract is deprecated. The new package should help you with the new vertx-json-schema and the methods to the get the operation model

[2020-09-14 08:54] Sandeepjn commented on #140
HI Team,
This is closed ticket,  but we are facing 404 error randomly for one verticle.
our deployment strategy is, one pod having multiple http service verticle and all are in cluster mode with Hazelcast.
for one verticle which have added we are getting 404 most of the time.
Can this issue still be relevant?
we are using Vertx 3.8.0

[2020-09-16 11:26] paulswithers opened #1701 "OpenAPI Parameter with schema but no type"
### Version

4.0.0.Beta1

### Context

We are building our OpenAPI specs with [Apicurio](https://studio.apicur.io). By default when adding a parameter it doesn't force a type to be selected, so the path parameter has `schema: {}`. This generates an NPE error in OpenAPI3RequestValidationHandlerImpl.resolveInnerSchemaPrimitiveTypeValidator, on line 125 because `schema.getType()` is null - https://gi

[2020-09-16 13:51] slinkydeveloper commented on #1701
@paulswithers Did you tried the latest module vertx-web-openapi? It's going to replace vertx-web-api-contract in Vert.x and fixes this issue (among many others)

[2020-09-16 13:57] paulswithers commented on #1701
Thanks for pointing me in the direction of that module. I'll try that instead.

[2020-09-16 13:57] #1701 closed

[2020-09-16 13:58] slinkydeveloper commented on #1701
You're welcome, let me know if you need something else

[2020-09-17 09:44] ahoora08 commented on #876
The same error on `4.0.0-milestone4`
`com.networknt.schema.JsonMetaSchema newValidator - Unknown keyword nullable - you should define your own Meta Schema. If the keyword is irrelevant for validation, just use a NonValidationKeyword`

[2020-09-17 10:37] slinkydeveloper commented on #876
@ahoora08 did you tried using the new vertx-web-openapi? https://vertx-web-site.github.io/docs/vertx-web-openapi/java/

[2020-09-17 11:39] paulswithers opened #1702 "Filename difference for io.vertx.ext.web.openapi.RouterFactory.create(Vertx, filename, Handler)"
### Version

4.0.0.Beta1

### Context

Using `RouterFactory.create()` when switching from `OpenAPI3RouterFactory.create()`.

Both can take a filename. OpenAPI3RouterFactory.create() can map to a file in `src/main/resources` but expects it to be prefixed with "/", e.g. "/openapi.json". `RouterFactory.create()` throws a FileNotFoundException with that format, and expects "openapi.json".

### Steps t

[2020-09-17 11:58] paulswithers opened #1703 "RouterFactory validation for properties of type string and format password"
# Version

4.0.0.Beta1

### Context

When converting from OpenAPI3RouterFactory to io.vertx.ext.web.openapi.RouterFactory, there seems to be stronger validation on property types in component schemas. The schema used had a property of type "string" and format "password". This was generated from Apicurio, but cross-referencing to the [OpenAPI documentation](https://swagger.io/docs/specification/dat

[2020-09-17 12:10] #1667 closed

[2020-09-17 12:11] pmlopes commented on #1667
The issue is not applicable in the latest main branch.

[2020-09-17 16:28] slinkydeveloper commented on #1702
The new `RouterFactory` uses the Vert.x file resolver, which is a little bit more smart and checks alone if the file is in the classpath (resources) or in the pwd. I'm not really sure what we could do here, because I honestly prefer to keep the new behaviour because IMO it's smarter and it's consistent with the FS apis of Vert.x. We could definitely add it to the migration guide: https://github.co

[2020-09-17 16:32] paulswithers commented on #1702
I agree being consistent with the FS apis of Vert.x makes sense, and adding it to the migration guide would be sufficient.

[2020-09-17 16:32] #1702 closed

[2020-09-18 07:02] slinkydeveloper commented on #1703
I'm gonna fix this one directly in the vertx-json-schema repo https://github.com/eclipse-vertx/vertx-json-schema

[2020-09-18 07:07] slinkydeveloper commented on #1703
@paulswithers mind giving a look? https://github.com/eclipse-vertx/vertx-json-schema/pull/17

[2020-09-18 10:54] elR1co commented on #1676
Sorry, yes we can close. Thanks.

[2020-09-18 11:33] paulswithers commented on #1703
That looks right. I haven't been able to test it. But I debugged my code, simulated adding "password" to a List comprising ignoringFormats, and ran the `.contains()` check, which returned true.

[2020-09-18 11:33] #1703 closed

[2020-09-21 08:21] tsegismont opened #1705 "vertx-web static tests: intermittent failures"
Sometimes `StaticHandlerTest` or `StaticDirectoryListHandlerTest` fail because some tests create a `webroot` directory in the `vertx-web` module directory and then the following tests find content that is not expected.

[2020-09-22 09:56] paulswithers opened #1707 "ParsedParameters.toJson() fails on optional parameters"
### Version

4.0.0.Beta3

### Context

Context is having an OpenAPI spec that has optional query string parameters, when you get the parameters using routingContext.get("parsedParameters") and try to convert that to a JsonObject for handling. If an optional parameter is omitted, an NPE is generated.
I tracked it down to io.vertx.ext.web.validation.impl.RequestParametersImpl.mapToJsonObject(), http

[2020-09-23 07:18] slinkydeveloper commented on #1707
That should do it https://github.com/vert-x3/vertx-web/pull/1709

[2020-09-23 11:52] #1221 closed

[2020-09-24 04:58] pmlopes commented on #1705
This is being fixed on core https://github.com/eclipse-vertx/vert.x/pull/3581

[2020-09-24 04:58] #1705 closed

[2020-09-24 08:19] pmlopes commented on #1662
I think the right solution here is to be specific of which verbs the body handler should apply:

[code]

We could do a try catch and ignore if the multi part decode fails, but I think it could introduce an unexpected behavior for trully wrong requests. What makes this a complicated issue is that the http spec has no well defined behavior for GET with content type requests...

[2020-09-24 08:21] #1630 closed

[2020-09-24 08:23] #1597 closed

[2020-09-24 08:30] gunnarmorling commented on #1597
Are you closing this as "Won't fix", or is there a solution actually? If
so, would you have any pointer to the details? Thanks!

[2020-09-24 08:44] #1574 closed

[2020-09-24 08:45] #1569 closed

[2020-09-24 08:46] #1542 closed

[2020-09-24 09:10] #1501 closed

[2020-09-24 09:13] pmlopes commented on #1471
Chain auth is now capable of doing this

[2020-09-24 09:13] #1471 closed

[2020-09-24 09:18] pmlopes commented on #1421
If the developer knows that the application will receive POST requests with a body, vertx-web expects that you enabled the body handler on the beginning of the request processing.

The design decision back then was that if the developer does not enable body handler, then we shall discard any uploads as they will just introduce latency as CPU and RAM will be used to process that upload, when the ap

[2020-09-24 09:18] #1421 closed

[2020-09-24 09:22] pmlopes commented on #1340
According to the other issue, this wasn't valid.

[2020-09-24 09:22] #1340 closed

[2020-09-25 12:06] pmlopes commented on #1597
I've added the "won't fix" label now. The reasons are on the link I had posted before, in Vert.x 4, we got rid of the use of class loaders, so this constructor is also gone. We are aligning that all file system access is done using core filesystem class, so there should be the sole place where all FS access happens.

If having the a class loader is really a requirement, then we should discuss it a

[2020-09-25 12:16] gunnarmorling commented on #1597
I'm all for aligning how to access file system resources with Vert.x (or resources on the classpath/module path, as in my case), but I'm afraid "we got rid of the use of class loaders" isn't a satisfactory answer to that :-) How do you envision to load resources from JPMS modules without any means of any control over how class-loading happens? Happy to contribute to this discussion elsewhere (wher

[2020-09-25 12:29] pmlopes commented on #1597
Ok, then in this case I think the best is that you join the forum discussion:

https://groups.google.com/g/vertx-dev/c/HekNEkkyAp0/m/dSA-ZfT8AQAJ

This discussion took place more than 1 year ago. Also note that we discussed JPMS support and the agreement is to use automatic modules:

https://github.com/vert-x3/wiki/wiki/Post-Java-8-Support

(Please be gentle if I am saying something wrong here as

[2020-09-25 14:23] gaol commented on #1497
I would like to give it a try if nobody is working on this yet. :)

[2020-09-26 05:00] LLfam opened #1714 "[Security] Path Traversal In Windows"
Hi, I think there is a potential vul in io.vertx.ext.web.handler.StaticHandler.

Example code:
https://github.com/vert-x3/vertx-examples/blob/3.x/web-examples/src/main/java/io/vertx/example/web/staticsite/Server.java

Use PoC below will lead to Path Traversal in Windows
PoC:
http://ip:8080/%5c..%5cServer.java

%5c..%5c is a legitimate path for the URI spec. But in Handler, directly use it to find

[2020-09-27 07:06] lygoing opened #1715 "Some cookies will be lost when sending the form."
### Version

3.9.3/4.0.0.beta3

### Context

I use WebClientSession instead of Webclient to send web requests to keep the session cookie. Unfortunately, some cookies will be lost when sending the form, and only one cookie will always be sent.

![image](https://user-images.githubusercontent.com/5944432/94358279-889c2a00-00d2-11eb-982d-d45db22f87d8.png)

[code]

If the `CookieStore` has multiple coo

[2020-09-27 07:30] lygoing opened #1716 "Some cookies will be lost when sending the form."
### Version

3.9.3/4.0.0.beta3

### Context

I use WebClientSession instead of Webclient to send web requests to keep the session cookie. Unfortunately, some cookies will be lost when sending the form, and only one cookie will always be sent.

![image](https://user-images.githubusercontent.com/5944432/94358279-889c2a00-00d2-11eb-982d-d45db22f87d8.png)

[code]

If the `CookieStore` has multiple coo

[2020-09-27 07:30] #1715 closed

[2020-09-27 08:53] lygoing commented on #1716
[code]

I tried to fix this issue and it worked very well.

[2020-09-27 09:09] lygoing commented on #1716
[code]

I tried to fix this issue and it worked very well.   But it is not perfect.

Best Regard.

[2020-09-28 08:59] #1625 closed

[2020-09-28 11:08] #1714 closed

[2020-09-29 07:41] paulswithers commented on #1707
Great, thanks as ever

[2020-09-29 07:41] #1707 closed

[2020-09-30 14:51] gaol opened #1720 "SockJSHandlerTest intermittent failures in CI"
### Questions

There is an intermittent failures about `SockJSHandlerTest` in CI

### Version

`master` branch

### Context

### Exceptions found

[code]

### Do you have a reproducer?

https://travis-ci.org/github/vert-x3/vertx-web/jobs/731209417 as reference

### Extra

* Looks like it happens in `OpenJDK8` mostly.

[2020-09-30 15:28] #1497 closed

[2020-09-30 22:07] kbobrowski commented on #1579
Hi @tsegismont I have a draft implementation of this feature, linked pull request contains example server for JWT auth with subscription and simple corresponding React app.

I added [`connectionParamsHandler`](https://github.com/vert-x3/vertx-web/pull/1721/files#diff-4cbee9f0a979f9668b955e5cd0db482cR124) method to `ApolloWSHandler`, which accepts `connectionParams` passed by the Apollo client and

[2020-10-01 08:00] tsegismont commented on #1579
Thanks for the PR, I'll review it asap

[2020-10-02 08:12] pmlopes opened #1723 "Implement a generic `authentication` api for web-client"
Currently `web-client` only supports out of the box authentication for `Basic` and `Bearer` tokens. The API is designed with specific method calls for each method. We could improve this by designing a new API that would be generic and would allow future additions without breaking the API.

In web-client `HttpRequest` interface we should add 2 new methods:

[code]

The `AuthenticationType` should b

[2020-10-02 08:15] pmlopes commented on #1723
The enum `AuthenticationType` could live in the `common` module as it can be shared between `web` and `web-client`. ATM we already have such enum on `web` `impl` package, so we can just promote it to be public.

[2020-10-02 09:16] vietj commented on #1723
can you set a fix version ?

[2020-10-02 09:22] pmlopes commented on #1723
I've setting a 4.next because it's a feature that is asked by the community, but not a blocker for the 4.0 release as there are hardcoded alternatives to the most common cases `basic` and `bearer`.

[2020-10-02 18:22] #1720 closed

[2020-10-02 18:50] pmlopes commented on #1720
@gaol it looked like the issue was a bad tear down that didn't wait for clients to properly shutdown + a lock on the exception handler that would lock errors to be propagated at the wrong order. I think this is fixed now. If not, please re-open! :)

[2020-10-04 17:20] hectorvent commented on #1723
Do the class **User** exists or do I need to create it?

[2020-10-04 19:11] pmlopes commented on #1723
It exists, it comes from the auth-common module. `io.vertx.ext.auth.User`

[2020-10-05 12:30] vietj opened #1725 "Expose an unwrap() method on TemplateEngine to provide access to the underlying engine"

[2020-10-05 12:30] vietj commented on #1495
See https://github.com/vert-x3/vertx-web/issues/1725

[2020-10-05 12:30] #1495 closed

[2020-10-05 12:36] pmlopes commented on #1303
The current CORS handler follows, the OWASP recommended rules, so I'll close this issue and PR

[2020-10-05 12:36] #1303 closed

[2020-10-05 12:43] vietj commented on #1411
This needs to be documented

[2020-10-05 12:46] vietj commented on #1333
@slinkydeveloper can we close this issue then ?

[2020-10-05 13:06] #981 closed

[2020-10-05 13:27] slinkydeveloper commented on #1333
I close it, reopen if you need it

[2020-10-05 13:27] #1333 closed

[2020-10-05 13:32] pmlopes commented on #841
This has been fixed on 3.9 releases

[2020-10-05 13:32] #841 closed

[2020-10-05 13:39] #599 closed

[2020-10-05 20:01] vietj opened #1726 "Update org.yaml:snakeyaml version"
https://ossindex.sonatype.org/vuln/4e1d093b-9ce9-4fc1-8089-5a1c4e519473

[2020-10-06 06:59] slinkydeveloper commented on #1726
This dependency is brought in by jackson-databind-yaml, defined in vertx-dependencies pom. You probably need to fix this one for the whole stack updating to latest jackson minors (2.10.5 should be fine https://mvnrepository.com/artifact/com.fasterxml.jackson.dataformat/jackson-dataformat-yaml/2.10.5)

[2020-10-06 09:12] #1411 closed

[2020-10-06 09:24] #1725 closed

[2020-10-06 09:49] #1472 closed

[2020-10-06 10:04] paweld2 opened #1730 "Template engine not working for parametrized paths like "/:project/""
### Version

4.0.0.Beta3

### Context

I am trying to use a template for this routing:

[code]

### Do you have a reproducer?

I created a test that shows the problem. The result is a java.lang.StringIndexOutOfBoundsException:

https://github.com/paweld2/vertx-web/commit/ea2fed6591f449da614ace36e4a4deab89774bc5

### Steps to reproduce

The test shows the resulting exception. To reproduce on a proj

[2020-10-06 12:32] #1730 closed

[2020-10-07 13:49] tmousaw-ptc commented on #1714
Any chance that this will be backported to a 3.9.x patch release since this has a pretty high CVSS score per Sonatype?

[2020-10-07 14:29] LLfam commented on #1714
Hi, when I search CVE for this issue, i found [CVE-2018-12542](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-12542).
The vul I found is same as vul mentioned in [issue#1025](https://github.com/vert-x3/vertx-web/issues/1025). This vul is fixed in Release [3.5.4](https://github.com/vert-x3/vertx-web/blob/3.5.4/vertx-web/src/main/java/io/vertx/ext/web/handler/impl/StaticHandlerImpl.java#L14

[2020-10-07 14:37] vietj commented on #1714
yes it will be backported and released in 3.9.4

On Wed, Oct 7, 2020 at 3:49 PM tmousaw-ptc <notifications@github.com> wrote:

[2020-10-08 05:04] hectorvent commented on #1723
PR is done. Then I will be working on the **Digest** implementation.

[2020-10-08 07:16] vinaysajjanapu commented on #1501
@pmlopes Can this fix be available in 3.9.4?

[2020-10-08 09:19] #1716 closed

[2020-10-09 10:16] slinkydeveloper commented on #1668
I'm gonna close it, reopen if you need it

[2020-10-09 10:16] #1668 closed

[2020-10-09 10:25] slinkydeveloper commented on #1655
Hi, I think this was already discussed in past in ml.

The problem is that `servers` is an array, so we cannot automatically determine which is the base path we should use because there may be several `basePath`s.

If you need to specify a subpath, mount the generated router as subrouter in another router specifying the subpath:

[code]

Reopen if you need it

[2020-10-09 10:25] #1655 closed

[2020-10-09 10:26] slinkydeveloper commented on #1638
I'm gonna close it as won't fix, if the problem persists in `vertx-web-openapi` please reopen this issue so we can fix it in the new module

[2020-10-09 10:26] #1638 closed

[2020-10-09 10:30] slinkydeveloper commented on #1571
This should be fixed in `vertx-web-openapi`, reopen if you need it

[2020-10-09 10:30] #1571 closed

[2020-10-09 10:32] slinkydeveloper commented on #1527
@st-h Can you check if this one is fixed in `vertx-web-openapi`? The new validator is far more customizable and we have `Object getRaw()` on `RequestParameter`

[2020-10-09 10:41] slinkydeveloper commented on #1524
Hi @mohamnag, I'm looking again at this issue and I wonder: Do you want to file a PR with the ideas you proposed here (in particular the generic `OperationResponse` which now is named `ServiceResponse`)?

[2020-10-09 10:42] slinkydeveloper commented on #1517
`vertx-web-openapi` solves this issue

[2020-10-09 10:42] #1517 closed

[2020-10-09 10:43] #1515 closed

[2020-10-09 10:44] slinkydeveloper commented on #1500
Italian is not a thing :disappointed:, I close it. Reopen if you need it

[2020-10-09 10:44] #1500 closed

[2020-10-09 10:46] slinkydeveloper commented on #1459
I'm going to close it as wontfix, as validating responses is out of the scope of the project. However, using the new `vertx-web-openapi` in vert.x 4 package combined with `vertx-json-schema` should help you implement this functionality.

[2020-10-09 10:46] #1459 closed

[2020-10-09 10:48] slinkydeveloper commented on #1422
Solved in the new module `vertx-web-openapi`, which is going to replace `vertx-web-api-contract` in vert.x 4

[2020-10-09 10:48] #1422 closed

[2020-10-09 11:24] pmlopes commented on #1500
This is odd as I've changed the test to look for the filename + `accessExternalDTD` so it should match, unless in Italian the system identifier is not `null` and that is the cause

[2020-10-09 11:26] st-h commented on #1527
@slinkydeveloper I just installed 4.0.0-Beta3, but I could not spot any `getRaw()` method on `io.vertx.ext.web.validation.RequestParameter`. In which exact version is this available? And can I use the 4.0.0 beta validator together with vertx 3.9.x?

[2020-10-09 12:49] slinkydeveloper commented on #1394
This is solved in `vertx-web-openapi`, because we don't use swagger-parser anymore. I'm going to close it, reopen if you need it

[2020-10-09 12:49] #1394 closed

[2020-10-09 12:49] slinkydeveloper commented on #1416
Is this still relevant?

[2020-10-09 12:52] slinkydeveloper commented on #1500
It seems like in the latest jdk 8 and jdk 14 builds on fedora this doesn't reproduce anymore

[2020-10-09 12:54] slinkydeveloper commented on #1527
Sorry the name is `get()` :smile:

No, you need to port your application to vert.x 4, sorry :disappointed:

[2020-10-09 15:12] #1518 closed

[2020-10-09 15:16] slinkydeveloper commented on #1369
This is not relevant anymore in Vert.x 4, since the new module `vertx-web-openapi` (that will replace `vertx-web-api-contract`) will use our new internal json validator, `vertx-json-schema`. Reopen if you need it

[2020-10-09 15:16] #1297 closed

[2020-10-09 15:17] slinkydeveloper commented on #1249
This is not relevant anymore in Vert.x 4, since the new module `vertx-web-openapi` (that will replace vertx-web-api-contract) will use our new internal json validator, `vertx-json-schema`. This particular validation case is solved by the new validator. Reopen if you need it

[2020-10-09 15:17] #1249 closed

[2020-10-09 15:19] slinkydeveloper commented on #1191
This is not relevant anymore in Vert.x 4, since the new module `vertx-web-openapi` (that will replace vertx-web-api-contract) will use our new http requests validator, `vertx-web-validation`, that solves this issue. Updating to Vert.x 4 and the new module `vertx-web-openapi` should fix the issue. Reopen if you need it

[2020-10-09 15:19] #1191 closed

[2020-10-09 15:21] slinkydeveloper commented on #1159
I close as we don't have enough informations to fix this issue. Reopen if you need it and provide more context

[2020-10-09 15:21] #1159 closed

[2020-10-09 15:23] slinkydeveloper commented on #1143
This is not relevant anymore in Vert.x 4, since the new module `vertx-web-openapi` (that will replace vertx-web-api-contract) uses an internal parser that replaces `swagger-parser`. Porting your application to vert.x 4 and the new module `vertx-web-openapi` should solve the issue (look at the https://github.com/vert-x3/vertx-4-migration-guide/blob/master/asciidoc/openapi.adoc to learn more about i

[2020-10-09 15:23] #1143 closed

[2020-10-09 17:44] MeYoGui commented on #1143
Thank you. I'll update soon to Vert.x 4 so I'll be able to give you feedback on that when done.

[2020-10-10 09:18] gaol commented on #1547
looks like this has been fixed in https://github.com/vert-x3/vertx-web/commit/9a9257383ffd8bef0d49bc7e8013e31bd769f068 :)

[2020-10-10 13:59] #1547 closed

[2020-10-10 16:19] slinkydeveloper commented on #1527
Cool! For now i close it since it's fixed in vert.x 4, reopen if you need it

[2020-10-10 16:19] #1527 closed

[2020-10-12 15:20] #1723 closed

[2020-10-12 21:47] chefhoobajoob opened #1739 "Include X-Forwarded-Prefix header in 'allowForwarded' implementation"
#### Describe the feature

vertx support of `X-Forwarded-*` header processing should consider including support for the non-standard but actively used `X-Forwarded-Prefix` header, which provides path prefixes that the client's original url included, typically used with api gateways like apigee, kong, and others. Spring Boot includes support for this in their `X-Forwarded-*` support.

#### Use case

[2020-10-13 04:57] glassfox commented on #599
Finally, reroute mode have any indication in RoutingContext ?

[2020-10-13 05:13] glassfox opened #1740 "RoutingContext.reroute do not restore contextual data"
Hi,
As part of implementation Contextual Logging mechanism as described in below repository, we found that reroute function do not restore contextual data.

https://github.com/tsegismont/vertx-contextual-logging

It easy to implement workaround by copy required data from Context to RoutingContext in the start of reroute and copy back to Context in the end. But required several functionality:

I pr

[2020-10-13 09:22] pmlopes commented on #1740
Hi @glassfox , can you detail a bit more the issue, if I understand it correctly in some handler you do:

[code]

And on re-route, this handler gets called again and the put is overwritten?

If this is the case, wouldn't it make more sense to update the contextual logging to allow, appending instead of put? so the whole trace is logged? (I may be missing the point here, as I don't have the full pi

[2020-10-13 09:30] pmlopes commented on #1739
@chefhoobajoob `envoy` rejected the issue, claiming that there are now `standard` headers for this (the ones vertx-web, also follows).

While `X-Forward-{For|Proto|Port}` do seen quite common, `Prefix` is not common and many proxies seem reluctant to allow/accept it.

The quick workaround is to have a handler that inspects that header and strips it from the context `uri`.

[2020-10-13 09:31] pmlopes commented on #1739
References:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Forwarded
https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/x-forwarded-headers.html

[2020-10-13 10:38] glassfox commented on #1740
Hi @pmlopes ,

Yes, top level handler put requestId into context -> I expect to receive same value from Context after reroute.

The aim is to receive the same requestId in whole flow. The actual issue is: Contextualdata.get("requestId") return null after re-route.

Following example:

[code]

Great Idea! I didn't this about this, Its not difficult to measure the depth of reroute(s) at least you ha

[2020-10-13 11:40] stanlyDoge commented on #1416
Sorry. Should I check or adding a label means it still is?

[2020-10-13 16:05] chefhoobajoob commented on #1739
Separate question: is the `X-Forwarded-*` support targeted for a future `3.9.x` release, or only for `4.x`?

[2020-10-13 16:43] aesteve opened #1741 "GraphQLHandler requires BodyHandler (in 4.0.0.Beta3)"
### Version

4.0.0.Beta3

### Context

Did not happen with 4.0.0-milestone4

### Do you have a reproducer?

* https://github.com/aesteve/reproducers-4-0-0-beta

### Steps to reproduce

Just setup a GraphQLHandler without a BodyHandler both in 3.9 and in 4.0.0.Beta3. Works in 3.9 not in Beta3.

[2020-10-13 18:35] pmlopes commented on #1741
Hi, this was intentional. Before graphql handler implemented a subset of body handler to support posts.

This had a few issues. It would not work on re route. Also it would not cover all multipart uploads. Finally it would stream upload data to ram and not apply all the security checks body handler does allowing ddos.

For this reason the incomplete implementation was removed and a warning that bo

[2020-10-13 18:35] #1741 closed

[2020-10-13 18:54] aesteve commented on #1741
Thanks, could you point me at the warning please ? It’s not in the breaking
changes doc.

Le mar. 13 oct. 2020 à 20:35, Paulo Lopes <notifications@github.com> a
écrit :

[2020-10-13 19:51] pmlopes commented on #1741
The warning you will get at runtime:

https://github.com/vert-x3/vertx-web/commit/bacecd9c85758fd9c27a816f7ecb57b0ac48a0b3#diff-30f9a356644b1b339870a5e27861b682c6a0d0880c9093c68fd6f7cc87293275R102

Because you body handler is only needed on a specific case: Http POST. For GET or WS nothing changed. But indeed a note on the breaking changes should be added .

[2020-10-14 07:05] aesteve commented on #1741
Ok, that's the 500 error I got indeed.
Note that it's absolutely not a "warning" though, it's a breaking change.
It broke my app, basically. It used to return proper HTTP 200, upgrading
the exact same code to Beta3 made it return 500.

On Tue, Oct 13, 2020 at 9:51 PM Paulo Lopes <notifications@github.com>
wrote:

[2020-10-14 10:26] tsegismont commented on #1741
Paulo, I think Arnaud is right, can you update the breaking change wiki
page and the migration guide?

[2020-10-15 09:13] pnsantos opened #1742 "ResponsePredicateResult::response returns null when requiresBody is false"
### Version

`3.9.3`

### Context

I have a very simple `ErrorConverter` whose `ResponsePredicateResult` is returning `null` for `response()` when `requiresBody()` is set to `false`. It works fine (valid `HttpResponse` instance) if `requiresBody()` is set to `true`.

I would expect to be able to assess all response properties _except_ `body()` by having `requiresBody` set to `false`.

### Do you h

[2020-10-15 09:58] tsegismont commented on #1742
Can you share the complete reproducer?

[2020-10-15 11:04] pnsantos commented on #1742
I will try to create a one this weekend (this code is part of a larger private project so I'll have to create a proj from scratch that I can share)

[2020-10-15 21:08] vietj commented on #1714
This has been recorded as CVE-2019-17640

[2020-10-16 08:46] tsegismont commented on #1740
@glassfox yes please provide a unit test or share a simple project on GH to demonstrate the issue. Thank you

[2020-10-18 06:58] glassfox commented on #1740
Hi @tsegismont / @pmlopes ,
After short investigation I found that NO issue in reroute function.
The unexpected behavior in my side referenced to following eventbus issue.
https://github.com/eclipse-vertx/vert.x/issues/3601#issuecomment-709923570

Anyway, please find below unit test that proof the **reroute behave correct**.
One thing that will help to implement ContextualHandler is to implement 2

[2020-10-18 17:34] pnsantos commented on #1742
@tsegismont here you go: https://github.com/pnsantos/vertx-predicate-npe-repro

[2020-10-20 07:16] cpdyj commented on #1494
Can I or for that?(xD

[2020-10-21 05:29] soumyadey commented on #1501
Hi @pmlopes , Should we create a new issue for a fix in 3.9.x version?

[2020-10-21 17:40] pnsantos commented on #1742
I've been looking at the code, maybe I'm completely off track here but I wonder if

https://github.com/vert-x3/vertx-web/blob/638727b38b917deafc9541811779a1d790e1896f/vertx-web-client/src/main/java/io/vertx/ext/web/client/impl/predicate/PredicateInterceptor.java#L54-L56

should instead be
[code]
?

[2020-10-23 14:04] knotenpunkt opened #1748 "Race-Bug the Session-Implementation"
https://github.com/vert-x3/vertx-web/blob/bfe12934ec1251928c4744f41c898ee2d0dfc101/vertx-web/src/main/java/io/vertx/ext/web/sstore/impl/LocalSessionStoreImpl.java#L104

we discussed in the past already about this bug. Maybe you have a solution for this.

Its a race-bug, Sometimes there can be two or more unrelated Sessions be written, if different eventloops are on the same time on line 110 for ex

[2020-10-28 11:02] swimmesberger opened #1751 "OpenAPI3RouterFactory path matching order"
### Version
Vertx 3.9.4

### Context
When using an openapi specification which has specific but also patterened paths the order is defined by the occurence in the openapi spec file. According to the openapi specification (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.1.0.md#patterned-fields) there is specific defined order that the specific path must be processed before the p

[2020-10-28 14:44] pmlopes commented on #1501
@vinaysajjanapu @soumyadey you could try to backport the fix to 3.9 if you like. If all tests pass I'll merge it for 3.9!

[2020-10-28 20:01] luben93 opened #1753 "Basic Auth Handler responds to bad user input with Internal server error, instead of 4XX client error"
### Questions

im not sure if its intended behavior but i think its a bug,
i expect the wrong Authorization header to cause a 4XX status code, not a server error 5XX

### Version

3.8.3
3.9.4

### Context

sending a request like with garbage input to the BasicAuthHandler, that ends with ==

### Do you have a reproducer?

https://github.com/luben93/basicauthexample

### Steps to reproduce

1. `curl

[2020-10-29 09:59] slinkydeveloper commented on #1751
This is a bug in the new module `vertx-web-openapi` as well

[2020-10-29 15:56] ranjitaskdesis opened #1755 "Fetch client IP address during SSL handshake"
#### Description

Currently during the SSL handshake it is not possible to retrieve the client IP address using a custom TrustOptions class. The existing vertx API does not return the client IP address. There are cases where we need to distinguish the type of clients during the handshake to retrieve the right certificate from the trust store.

#### Use cases

- If there are internal and external c

[2020-10-29 18:28] pmlopes commented on #1753
@luben93 indeed, the parsing should be handled gracefully and bad request 400 not 500 should be returned.

[2020-10-29 18:57] luben93 commented on #1753
Do you think that My PR #1754 is the correct approach or should it be solved at a möte generic level?